.dropdown-menu {

  &.pull-right,
  .pull-right & {
    right: 0;
    left: auto;
  }

  .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
  }

  .dropdown-item {
    display: block;
    width: 100%;
    padding: .3rem 1.5rem;
    clear: both;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.42857143;
    color: #292b2c;
    text-align: inherit;
    white-space: nowrap;
    background: transparent;
    border: 0;

    &:active,
    &.active {
      color: $white;
      text-decoration: none;
      background-color: #0275d8;
    }

    a,
    button {
      &:hover,
      &:focus {
        span {
          color: #262626;
        }
        color: #262626;
        text-decoration: none;
        background-color: #f5f5f5;
      }
    }
    button {
      background: transparent;
      padding: .2rem 0;
      font-size: 1.2rem;
    }
    .nav-link {
      width: 100%;
      display: block;
    }
  }

  .user-menu & {
    right: 0;
    left: auto;
    padding: 2rem;

    .dropdown-item {
      &:active,
      &:hover,
      &:focus,
      &.active {
        color: #292b2c;
      }
    }
  }
}