.filters-group {
  text-align: center;
  position: relative;

  select {
    width: 22.4rem !important;
  }

  .projects-counter {
    position: absolute;
    right: 0;
    top: 0;
    .entries-count {
      padding: 1rem 0;
      font-size: 1.44rem;
      p {
        margin-bottom: 0;
      }
    }
  }
}