.modal-dialog {
  margin: 0 auto;
}

@media only screen and (min-width: 992px) {
  .modal-lg, .modal-dialog {
    max-width: 1110px;
  }

  .delete-promodal {
    .modal-dialog {
      max-width: 700px !important;
    }
  }
  .modal-sm {
    width: 29%;
  }
}