/* Logs API state, forms errors,.... */
.logs {
  margin: 1rem 0;
  .log-item {
    width: 100%;
    display: block;
    span {
      color: $white;
      padding: .2rem .5rem;
      width: 100%;
      margin: .3rem 0;
      display: block;
    }
    &.success {
      span {
        background-color: $highlight-bright-blue;
      }
    }
    &.info {
      span {
        background-color: $dark-grey;
      }
    }
    &.error {
      span {
        background-color: $highlight-red;
      }
    }
  }
}

/* alerts */
.alert {
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border-radius: .25rem;
  &.-small {
    font-size: 1.2rem;
  }
  &-danger {
    background-color: #f2dede;
    color: $vivid-red;
  }
  &-info {
    background-color: #d9edf7;
    color: #31708f;
  }
  &-success {
    background-color: #dff0d8;
    color: #3c763d;
  }
  &-warning {
    background-color: #fcf8e3;
    color: #8a6d3b;
  }
  span {
    width: 100%;
    display: block;
  }
}

/* Notifications container () */
.notifications-container {
  margin-bottom: 100px;
  background-color: #330000;
  border-solid: 1px #333 solid;
  z-index: 100 !important;
  .notification {
    text-align: center !important;
    font-size: 1.6rem !important;
    padding: 1rem 0 !important;
    &.success {
      background-color: $highlight-bright-blue !important;
      border-bottom: .1rem solid $highlight-bright-blue !important;
    }
    &.warning {
      background-color: $dark-grey !important;
      border-bottom: .1rem solid $dark-grey !important;
    }
    &.error {
      background-color: $highlight-red !important;
      border-bottom: .1rem solid $highlight-red !important;
    }

    .message {
      margin-top: 1rem;
      color: $white !important;
    }
    .close-click {
      position: absolute;
      right: 1rem;
      top: auto;
      padding: 0 10px;
      font-size: 2rem !important;
      color: rgba($white, .8);
      &:hover {
        color: $white !important;
      }
    }
  }
}
