.profile {
  &-overlay {
    position: fixed;
    z-index: 1000;
    background: rgba(25, 25, 25, 0.9);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: none;
  }
  &-sidebar {
    color: $main-grey * 0.7;
    hr {
      border-color: $light-grey;
      margin: 1.5rem 0 1rem;
    }
    .progress {
      font-size: 1.2rem;
      line-height: 1.6rem;
      margin-bottom: 1rem;
      .progress-bar {
        height: 1.6rem;
      }
    }

    a:not([href]):not([tabindex]).edit-your-profile {
      display: block;
      background-color: $highlight-red;
      padding: 1rem;
      text-align: center;
      color: $white;
      font-size: 1.76rem;
      i {
        margin-right: 1rem;
      }
    }
    .single-icon {
      width: 100%;
      img {
        width: 3.4rem;
        height: 4rem;
        padding: .3rem;
      }
      p {
        margin-bottom: .1rem;
        line-height: normal;
        padding: 1rem 0;
      }
    }
    .interests {
      margin: 0;
    }
    a.add {
      padding: .5rem;
      font-size: 1.5rem !important;
      width: 100%;
      text-align: right;
      margin: .5rem 0;
      white-space: normal;
      border: .1rem solid $dark-grey;
      color: $dark-grey;
      i {
        font-size: 2.2rem;
        padding-top: .4rem;
        text-align: left;
        float: left;
        color: $dark-grey;
      }
    }
    .profile-container {
      background-color: $white;
      padding: 0 1.5rem 1.5rem;
      width: 100%;
      font-size: 1.2rem;
      margin-bottom: 2rem;
      position: relative;
      @include boxShadow(.2rem, .2rem, .8rem, $light-grey);
      &.indexProfile {
        z-index: 9999;
        @include boxShadow(0, 0, 0, $light-grey);
      }
      .container-override {
        margin-left: -1.5rem;
        margin-right: -1.5rem;
        .profile-message {
          display: block;
          width: 100%;
          font-size: 1.92rem;
        }
      }
      li,
      p {
        font-size: 1.44rem;
        line-height: 1.5rem;
        a {
          color: $highlight-bright-blue;
        }
      }
      i {
        width: 25px;
      }
      .global-title {
        @include card-header-font-sm();
        margin-bottom: 1rem;
        margin-top: 1rem;
        font-size: 2.24rem;
        color: $dark-grey;
        text-transform: capitalize;

      }
      .placeholder-text {
        color: $light-grey;
        &.motto-placeholder {
          @include card-header-font-sm();
          color: $light-grey;
          font-size: 1.6rem;
        }
      }
      .image-container {
        position: relative;
        overflow: hidden;
        img {
          width: 100%;
          height: auto;
        }
      }
      .profile-group {
        position: relative;
        .card-type {
          font-size: 21.6em !important;
          right: -3.2rem;
          top: -13rem;
        }
        .profile-pic {
          position: relative;

          img {
            height: 100%;
            width: 100%;
            background-color: rgba(25, 25, 25, 0.6);
          }
          a {
            z-index: 1;
            position: absolute;
            text-align: center;
            font-size: 1.5rem;
            right: 0;
            bottom: 0;
          }
          .first-photo-upload a {
            left: 0;
            bottom: 16.5rem;
            background: $white;
            width: 17rem;
            margin: auto;
            padding: 1.5rem;
            border: .1rem solid #4f4f4f;
          }
          .profile-type {
            position: absolute;
            bottom: 1rem;
            right: 1rem;
            background-color: rgba(255, 255, 255, 0.58);
            padding: 0 .8rem 0 .8rem;
            font-size: 1.3rem;
            font-weight: bold;
            font-family: serif;
          }
        }
        .btn {
          width: 100%;
          max-width: 22rem;
          margin: 0;
        }
      }
      .profile-info {
        margin-top: 1.6rem;
        font-size: 1.6rem;
        .userInfo {
          position: relative;
          min-height: 7rem;
          .placeholder-text {
            margin-bottom: 0;
          }
        }
        .profile-share {
          position: absolute;
          right: 0;
          top: .5rem;
          i {
            color: $highlight-bright-blue;
            &:hover {
              color: $highlight-bright-blue*0.8;
            }
          }
          .btn-soft-grey, a:not([href]):not([tabindex]).btn-soft-grey {
            border: .1rem solid $highlight-bright-blue;
            color: $highlight-bright-blue;
            padding: .8rem 1rem;
            &:hover {
              border-color: $highlight-bright-blue*0.8;
              color: $highlight-bright-blue*0.8;
            }
          }
        }
        .profile-fullname {
          @include card-header-font-sm ();
          font-size: 2.4rem;
          color: $dark-grey;
          text-align: left;
        }
        .profile-nickname {
          @include desc-font-2 ();
          color: $light-grey;
          margin-top: .5rem;
          margin-bottom: 0;
        }
        .location {
          @include desc-font-2 ();
          color: $dark-grey;
          margin-top: .5rem;
          margin-bottom: .5rem;
        }
        .profile-describe-yourself {
          @include desc-font-5 ();
          color: $light-grey;
          font-size: 1.92rem;
          line-height: 2.88rem;
          font-weight: normal;
        }
        .badges {
          @include desc-font-2 ();
          color: $text-color-1;
          line-height: 130%;
          margin-left: .5rem;
        }
        .bio {
          @include desc-font-1 ();
          line-height: 150% !important;
          font-size: 1.44rem;
          color: $dark-grey;
          .read-less {
            display: block;
            font-size: 1rem;
            text-align: right;
            cursor: pointer;
            color: $highlight-bright-blue;
          }
          .read-more {
            color: $highlight-bright-blue;
            font-family: $font-messina-regular;
            cursor: pointer;
            font-size: 1.44rem;
          }
        }
        .makerspaces,
        .websites {
          a {
            color: $highlight-bright-blue;
            font-size: 1.6rem;
            margin-bottom: .5rem;
            cursor: pointer;
            text-decoration: none;
          }
          div {
            font-size: 1.92rem;
          }
        }
        .awards {
          margin-top: 2rem;
          margin-bottom: 1.2rem;
          li {
            padding-bottom: 1.5rem;
            img {
              width: 2.6rem;
              height: 2.6rem;
              margin-right: .5rem;
            }
          }
        }
        .interests {
          li {
            display: inline-block;
            margin-bottom: .5rem;
            max-width: 10rem;
            vertical-align: bottom;
            &.btn {
              padding: .5rem .8rem;
              white-space: normal;
              font-weight: bold;
              font-size: 1.6rem;
              background-color: white;
              color: $main-grey * 0.8;
              border: .1rem solid $main-grey;
              display: initial;
            }
          }
        }
        .makerspaces {
          li {
            margin-top: 1.5rem;
            color: $title-color;
          }
        }
        .my-web {
          li {
            background-color: $light-grey * 0.8;
            font-weight: bold;
            display: inline;
            padding: .5rem;
            border-radius: .4rem;
            i {
              width: 1.8rem;
              font-size: 1.7rem;
            }
          }
        }
        .how {
          p {
            margin-top: 2rem;
          }
        }
        .topic-tags {
          color: $medium-grey;
          font-size: 1.6rem;
          position: relative;
          font-style: normal;
        }
      }
      .report-div {
        position: relative;
        .report {
          line-height: 6.4rem;
          font-size: 1.44rem;
        }
      }
    }
    .report {
      font-size: 12px;
      text-decoration: none;
      color: $highlight-bright-blue !important;
      &:hover {
        color: $highlight-bright-blue !important;
      }
    }
  }
}

.toggleProfile {
  position: absolute;
  right: 15px;
  bottom: 0;
  width: 35px;
  height: 35px;
  border: 1px solid $blue;
  display: none;
  i {
    padding: 7px;
    color: $blue;
    font-size: 1.2rem;
    width: auto !important;
    &.close {
      display: none;
    }
    &.open {
      display: block;
    }
  }
}

.hideData {
  display: block;
  span{
    font-size: 0.8rem;

  }
  &.topic-tags {
    span {
      color: $shade-5;
      font-size: 1rem;
      position: relative;
      font-style: normal;

    }
  }
}
.showData {
  display: block !important;
}