.universal-footer {
	position: relative;
	.row { 
		width: 100%; 
		display: flex !important;
		flex-wrap: wrap;
	}
	.newsletter-footer form {
		input[type="email"] {
			padding-bottom: 4px;
		}
		.error-message {
			position: absolute;
			top: 0px;
			left: 90px;
			display: block;
			font-size: 12px;
			animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
			transform: translate3d(0, 0, 0);
			backface-visibility: hidden;
			perspective: 1000px;
			color: #fff!important;
			padding: 0;
		}
		.hidden { display: none !important; }
		@media screen and (max-width: 768px) {
			input[type="submit"], input[type="submit"]:hover {
				 right: -20px !important;
			}
		}
	}
	.magazine-footer {
      img {
         margin-right: -36px;
         &.float-right {
            display: block;
            width: 100%;
            @media screen and (max-width: 991px) {
               width: 430px;
               margin: 0 auto;
               float: none !important;
            }
         }
      }
      ul li {
         font-family: "Roboto", sans-serif;
         font-weight: 200;
         width: 500px;
         max-width: 190%;
      }
	}
	.bottom-footer {
		.footer-legal {
			padding: 0px;
		}
		@media screen and (max-width: 768px) {
			.footer-legal {
				position: relative;
				top: -30px;
				padding-left: 20px
			}
		   .footer-copyright {
				position: relative;
				top: 30px;
				padding-left: 20px;
			}
		}
	}
	.link-footer .container {
		.footer-branding {
			img { 
				max-width: 150px;
				margin-bottom: 10px;
				@media screen and (max-width: 1187px) {
					max-width: 140px;
				}
			}
			span {
				font-size: 20px;
				color: #989898;
				float: left;
				margin-right: 8px;
				margin-bottom: 15px;
			}
			a { 
				cursor: pointer;
				display: block;
			}
			a:nth-of-type(2) {
				img { 
					margin-top: 0px !important;
					float: left;
					margin-bottom: 0px;
				}
				span:nth-of-type(1) { 
					margin-right: 0px;
					margin-left: 8px;
				}
			}
			a:nth-of-type(3) {
				img { margin-top: -6px; }
			}
		}
	}
	hr { margin-left: -150px !important; }
	.btn-red { 
		padding: 15px 50px; 
		@media screen and (max-width: 991px) {
         width: 100% !important;
         max-width: 340px;
         white-space: normal;
		}
		@media screen and (max-width: 400px) {
    		width: 100% !important;
		}
	}
	.bottom-footer .footer-copyright {
		font-family: "Roboto";
	}  
	.col-sm-offset-2 {
		@media screen and (min-width: 768px) {
			padding-left: 16.66666667%;
		}
	}
	.col-md-offset-2 {
		@media screen and (min-width: 992px) {
			padding-left: 16.66666667%;
		}
	}
	@media screen and (max-width: 576px) {
		.col-sm-5 {
			 -webkit-box-flex: 0;
			 -webkit-flex: 0 0 41.666667%;
			 -ms-flex: 0 0 41.666667%;
			 flex: 0 0 41.666667%;
			 max-width: 41.666667%;
		}
		.col-sm-7 {
			 -webkit-box-flex: 0;
			 -webkit-flex: 0 0 58.333333%;
			 -ms-flex: 0 0 58.333333%;
			 flex: 0 0 58.333333%;
			 max-width: 58.333333%;
		}
		.col-sm-4 {
			  -webkit-box-flex: 0;
			 -webkit-flex: 0 0 33.333333%;
			 -ms-flex: 0 0 33.333333%;
			 flex: 0 0 33.333333%;
			 max-width: 33.333333%;
		}
	}
}

/*footer {
  padding-top: 25px;
  padding-bottom: 25px;
  min-height: 35px;
  font-size: 14px;
  background: white;
  border-top: 5px solid $blue;
  font-family: $font-messina-regular;
  position: relative;
  z-index: 9;
  .newsletter {
    p {
      font-size: 1rem;
      color: $medium-grey;
      line-height: 1.2rem;
      margin-bottom: 0;
    }
  }
  .footer-copyright {
    color: $medium-grey;
  }

  .first-logo {
    width: 100px;
    max-width: 100px;
  }
  p {
    margin: 0;
    font-size: 12px;
  }
  .copyright {
    padding-top: 8px;
  }
  .fa-stack-2x {
    font-size: 1.7em;
  }
  .fa-stack {
    position: relative;
    display: inline-block;
    width: 1.7em;
    height: 1.7em;
    line-height: 1.7em;
    vertical-align: middle;
  }
  .socials-newsletter {
    div {
      padding-bottom: 4px;
    }
    .newsletter {
      .input-group-addon {
        background: none;
        background-color: $text-color-6;
        color: white;
      }
    }
  }
  .footer-subtitle {
    color: $dark-blue;
    font-size: 1.3em;
    width: 100%;
    padding-bottom: 4px;
    margin: 0px;
  }
  .sitemap-1, .sitemap-2 {
    a {
      font-size: 1.1em;
      padding: 3px 0;
      color: $medium-grey;
      line-height: 25px;
    }
  }
  .footer-social-links {
    // margin-bottom: 15px;
    a {
      position: relative;
      text-align: center;
      width: 0px;
      height: 0px;
      padding: 15px;
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
      border-bottom-right-radius: 20px;
      border-bottom-left-radius: 20px;
      -moz-border-radius: 20px 20px 20px 20px;
      -webkit-border-radius: 20px 20px 20px 20px;
      -khtml-border-radius: 20px 20px 20px 20px;
      color: #FFFFFF;
      i {
        font-size: 1.5rem;
        position: absolute;
        left: 0;
        right: 0;
        top: 1rem;
      }
    }

    a.social {
      float: left;
      margin: 0 5px 0 0;
      cursor: pointer;
      background: $shade-2;
      color: #fff;

    }
    a.social:hover {
      &.fb {
        background-color: #014c8c;
      }
      &.tw {
        background-color: #33ccff;
      }
      &.pin {
        background-color: #cc2127;
      }
      &.in {
        background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%),
        radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
        radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
        radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%),
        radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
        radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%),
        radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),
        linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
      }
    }
  }
}*/