#universal-nav {
	.nav-level-1 .nav-level-1-nav {
		margin-left: 160px;
		@media screen and (max-width: 1199px) and (min-width: 992px) {
			margin-left: 88px;
		}
		@media screen and (max-width: 991px) and (min-width: 768px) {
			margin-left: 76px;
		}
	}
	.bs-tooltip-top {
		margin-top: -40px;
	}
	#nav-flyout {
		@media screen and (max-width: 768px) and (min-width: 574px) {
			.container { width: 680px; }
		}
		a.expanding-underline {
			display: flex;
			@media screen and (max-width: 768px) {
				margin-top: 0px;
			}
			@media screen and (max-width: 580px) {
				display: block;
			}
			h3 {
				padding-bottom: 8px;
				&::after {
					bottom: 0px;
				}
			}
		}
		strong { font-family: "Roboto Bold"; }
		.auth-target {
			.nav-level-1-auth {
				position: relative;
				margin-top: 45px;
			}
		}
	}
}

#nav-level-2 .container {
	.nav-2-banner {
		margin-left: -40px;
		display: flex;
		@media screen and (max-width: 991px) {
			margin-left: 0px;
		}
	}
}



.nav-level-1-auth {
  position: absolute;
  right: 0px;
  top: 0px;
  @media screen and (max-width: 576px) {
    display: none;
  }
  li {
    display: inline-block;
    float: left;
	 align-items: center;
    display: flex;
    justify-content: center;
    a { 
        position: relative;
        top: -3px;
        z-index: 999;
    }
    button {
      border: none;
      background: transparent;
      opacity: .6;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: stretch;
      font-size: 14px;
      @media screen and (min-width: 768px) and (max-width: 991px) {
        font-size: 14px;
      }
      &:hover, &:active {
        opacity: 1;
        text-decoration: none;
      }
    }
    span { padding: 0; }
  }
  #qsLoginBtn { 
      display: none; 
      color: #eb002a;
      font-weight: 500;
      font-size: 14px;
      font-family: $font-roboto, sans-serif;
	   border: solid #eb002a 1px;
	   border-radius: 2px;
	   padding: 8px 10px 7px;
      height: auto;
	   opacity: 1;
	   @media screen and (min-width: 577px) and (max-width: 767px) {
			margin-right: -10px;
	   }
	   &:hover, &:active, &:focus {
		  color: #fff;
		  background: #ff0000;
		  border-color: #ff0000;
	  }
  }
  .hide-mobile { 
      float: left; 
      position: relative; 
      z-index: 999; 
      top: 87px;
	   height: auto;
      @media screen and (min-width: 767px) {
          display: block !important;
      }
      .add-project-header-button {
          background: none;
          font-size: 28px;
			 color: #fff;
			 opacity: 1;
          &:hover, &:focus, &:active {
              background: none;
          }
      }
      .bs-tooltip-top {
          top: -33px !important;
      }
  }
  #profile-view {
      padding-left: 15px; 
	   display: flex !important;
	   #user_avatar.avatar { display: block; } // it's always on on makershare
      #dropdownMenuLink, #userMenu {
          position: relative;
          z-index: 1001;
          opacity: 1;
          background: transparent;
          border: none;
			 line-height: normal !important;
          &:active {
              box-shadow: none;
              -webkit-box-shadow: none;
              background: transparent;
              border: none;
          }
          &:hover, &:focus {
              background: transparent;
              border: none;
          }
          &::after {
              display: none;
          }
      }
      .dropdown-menu {
          padding: 90px 25px 25px;
          right: -440px;
          margin-top: -63px;
          width: 660px;
          border-radius: none;
          z-index: 97;
          font-family: $font-roboto, sans-serif;
          @media screen and (min-width: 576px) and (max-width: 768px) {
              margin-left: -175px;
          }
          @media screen and (max-width: 576px) {
              margin-left: -55px;
              padding-left: 55px;
              width: 400px;
          }
          &:after {
            font-family: 'Linearicons-Free';
            content: "\e870";
            color: #ED1C24;
            font-size: 36px;
            position: absolute;
            top: 33px !important;
            left: 35%;
            border: none;
            @media screen and (min-width: 568px) and (max-width: 768px) {
                display: none;
            }
          }
          h3 { 
              margin-top: 0px; 
              margin-bottom: 20px;
              display: block;
              position: relative;
              line-height: .8em;
              color: #333;
              padding-bottom: 2px;
              opacity: .85;
              font-size: 20px;
              font-weight: 500;
              font-family: $font-roboto, serif;
              transition: font-weight .1s ease-in-out;
              line-height: 1em;
              display: inline;
              position: relative;
              overflow: hidden;
              &:after {
                  content: "";
                  position: absolute;
                  z-index: -1;
                  left: 0;
                  right: 50%;
                  bottom: -5px;
                  background: #ED1C24;
                  height: 4px;
                  transition-property: left right;
                  transition-duration: 0.3s;
                  transition-timing-function: ease-out;
                }
                @media screen and (min-width: 768px) and (max-width: 991px) {
                    font-size: 18px;
                }
                @media screen and (min-width: 576px) and (max-width: 767px) {
                    font-size: 16px;
                }
                @media screen and (max-width: 576px) {
                    margin-top: 35px;
                    display: block;
                    overflow: visible;
                    text-align: left;
                }
          }
          a {
              margin-bottom: 5px !important;
              margin-top: 0px !important;
              font-size: 16px;
              padding: 0px;
              font-weight: 400;
              cursor: pointer;
          }
          .dropdown-item {
              width: 41%;
              color: #333;
              font-size: 16px;
				 .list-group {
					 margin-top: 20px;
					 .view-all { 
						 color: #00AEEF;
						 &:hover {
							 color: #262626;
						 }
					 }
				 }
          }
      }
  }
  // ye olde version
  .nav-link {
      font-size: 16px;
      margin-top: 0px !important;
      opacity:.6;
      color: #000 !important;
      @media screen and (min-width: 1275px) {
          margin-top: 5px;
      }
      &:hover {
          opacity: 1;
      }
  }
}


#hamburger-text { font-size: 16px; }

// Nav Level 2

.universal-nav.main-nav-scrolled {
  .hide-mobile {
    position: fixed;
    top: 12px;
	  .add-project-header-button {
		  position: relative;
		  left: -50px;
	  }
  }
  .search-button {
    top: 5px;
	 right: 0%;
    position: fixed;
    z-index: 999;
    transform: translate(-50%);
	 @media screen and (min-width: 767px) {
		 right: 5%;
	 }
  }
  .nav-level-2 {
	  position: fixed;
	  width: 100%;
	  top: 0;
	  z-index: 96;
	}
}

.nav-level-2 {
  height: 55px;
  background-color: #333;
  position: relative;
  @media screen and (max-width: 767px) {
    display: none;
  }
  .container {
    height: 100%;
    @media screen and (min-width: 992px) {
        padding: 0px;
      }
  }
  #menu-secondary_universal_menu {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    @media screen and (max-width: 991px) {
        margin-left: 0px;
		 li:nth-child(3) {
			 padding: 0px 10px;
		 }
    }
    li {
        border-right: 1px solid #999;
        margin-top: 10px;
    }
    li:last-child {
        border-right: none;
		 @media screen and (max-width: 991px) {
			 margin-left: 20px;
		 }
    }
	  li:nth-child(4) {
		  @media screen and (max-width: 991px) {
			  padding: 0 10px;
		  }
	  }
    li.second-nav-banner {
        padding: 0px;
        max-width: 178px;
        transition: .4s ease-in-out;
        @media screen and (min-width: 768px) and (max-width: 991px) {
            min-width: 120px;
            max-width: 120px;
        }
        span { 
			  padding: 0 5px;
			  img { width: 100%; }
		  }
        a { opacity: 1; }
    }
    a {
      color: #fff;
      font-weight: 300;
      line-height: 1.2em;
      padding: 0;
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: .6;
      &:hover {
        background-color: transparent;;
        opacity: 1;
      }
    }
    li{
        a.active { opacity: 1; }
    }
    span {
      font-size: 16px;
      font-family: $font-roboto-light, sans-serif;
      height: 35px;
      min-width: 90px;
      padding: 0 32px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: font-weight .1s ease-in-out;
      @media screen and (min-width: 992px) and (max-width: 1199px) {
        padding: 0 19px;
      }
      @media screen and (min-width: 768px) and (max-width: 991px) {
        font-size: 14px;
        padding: 0px;
		  min-width: 80px;
      }
    }
  }
}

#search-box-input {
	@media screen and (max-width: 576px) {
		width: 100% !important;
		font-size: 15px !important;
	}
}
.search-button {
    position: absolute;
    right: 0%;
    top: 80px;
	 z-index: 999;
	 @media screen and (max-width:767px) {
		 top: 5px;
		 right: 60px;
	 }
    @media screen and (max-width: 576px) {
		 right: 2%;
    }
    li { list-style: none; }
  .sb-search {
    position: relative;
    width: 0%;
    min-width: 32px;
    height: 32px;
    float: right;
    overflow: hidden;
    cursor: pointer;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    transition: width 0.3s;
    -webkit-backface-visibility: hidden;
    top: 10px;
    @media (max-width: 767px) {
       bottom: 12px;
    }
    .fa-search {
      color: #fff;
      width: 32px;
      height: 32px;
      display: block;
      z-index: 101;
      font-size: 22px;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      text-align: center;
      -webkit-font-smoothing: antialiased;
      @media (max-width: 767px) {
        color: #ED1C24;
      }   
    }
  }
}

// Specifically for highlighting the appropriate category in the secondary nav
app-header[class^="/makers"], app-header[class^="/portfolio"] {
    #universal-nav #menu-secondary_universal_menu .nav-item:nth-of-type(1) a { opacity: 1; }
}
app-header[class^="/projects"] #universal-nav #menu-secondary_universal_menu .nav-item:nth-of-type(2) a { opacity: 1; }
app-header[class^="/missions"] #universal-nav #menu-secondary_universal_menu .nav-item:nth-of-type(3) a { opacity: 1; }