.user-menu {
  .profile-photo {
    width: 35px;
    height: 35px;
    margin-top: -5px;
  }
  .dropdown-toggle {
    line-height: 0;
    cursor: pointer;

    &:after {
      right: -1.4rem !important;
    }
  }
}

.right-menu {
  position: fixed;
  > div {
    width: 100%;
  }
}