.user-menu {
  .profile-photo {
    width: 3.5rem;
    height: 3.5rem;
  }
  .dropdown-toggle {
    line-height: 0;
    cursor: pointer;

    &:after {
      right: -1.4rem !important;
    }
  }
}
@include phone() {
 .show>.dropdown-menu {
    left: auto;
    width: 100vw;
    position: fixed;
    top: 109px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: 0;
 } 
}