<div *hideItBootstrap="['sm', 'xs']">

  <div class="project-like " *ngIf="project || showcase">
    <a class="btn btn-soft-grey btn-fit">
      <img ngbTooltip="{{like}}" (click)="likeThis($event)" *ngIf="isLiked" src="/assets/images/icons/light-selected.png">
      <img ngbTooltip="{{like}}" (click)="likeThis($event)" *ngIf="!isLiked" src="/assets/images/icons/light-not-selected.png">
      <span *ngIf="countlikes &&  whoLike " class="projects-count new-tooltip">{{countlikes}}
      <span class="new-tooltiptext"> 
       <span *ngFor="let liker of whoLike;"> {{liker?.first_name}} {{liker?.last_name}}<br>
    </span>
      <span *ngIf="!LoadCount" (click)="open(content)">+ {{LoadCount}} more</span>
      </span>
      </span>
      <span *ngIf="!countlikes">
      0
    </span>

    </a>


    <!-- Model Who Like -->

    <ng-template #content let-c="close" let-d="dismiss" class="like-modal">
      <div class="model-likes">
        <div class="modal-header">
          <span *ngIf="countLikers">{{countLikers}} Likes</span>
          <button type="button" class="close ml-auto" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
        </div>
        <div class="modal-body" *ngIf="whoLike2">
          <div class="model-likes">
            <span *ngFor="let liker2 of whoLike2; "> 
       <img *ngIf="liker2?.portfolio_photo && liker2.profile_url " class="like-photo" src="{{liker2?.portfolio_photo}}" (click)="goToProfile(liker2.profile_url)" (click)="d('Cross click')"><span *ngIf="liker2?.portfolio_photo && liker2.profile_url " class="new-tooltiptext like-name"> {{liker2?.first_name}} {{liker2?.last_name}} </span><br>
            <img *ngIf="!liker2?.portfolio_photo && liker2.profile_url " class="like-photo" src="./assets/images/Gears-Grey.svg" (click)="goToProfile(liker2.profile_url)"
              (click)="d('Cross click')"><span *ngIf="!liker2?.portfolio_photo && liker2.profile_url " (click)="goToProfile(liker2.profile_url)" (click)="d('Cross click')" class="new-tooltiptext like-name"> {{liker2?.first_name}} {{liker2?.last_name}} </span><br>


            </span>
          </div>
          <div class="text-center pt-3 pb-5" *ngIf="!hideloadmorelike && whoLike2.length > 0 ">
            <div *ngIf="!hideloadmoreproject && whoLike2.length > 0 ">
              <a class="btn btn-load-more" (click)="loadMoreLike()">Load more</a>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="list-unstyled actions d-flex flex-row">
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>
<div *hideItBootstrap="['lg', 'xl','md']">

  <div class="project-like " *ngIf="project || showcase">
    <a class="btn btn-soft-grey btn-fit">
      <img ngbTooltip="{{like}}" (click)="likeThis($event)" *ngIf="isLiked" src="/assets/images/icons/light-selected.png">
      <img ngbTooltip="{{like}}" (click)="likeThis($event)" *ngIf="!isLiked" src="/assets/images/icons/light-not-selected.png">
      <span *ngIf="countlikes &&  whoLike " class="projects-count new-tooltip" (click)="open(content)">{{countlikes}}
      <!--<span class="new-tooltiptext"> 
       <span *ngFor="let liker of whoLike;"> {{liker?.first_name}} {{liker?.last_name}}<br>
    </span>
      <span *ngIf="!LoadCount" (click)="open(content)">+ {{LoadCount}} more</span>
      </span>-->
      </span>
      <span *ngIf="!countlikes">
      0
    </span>

    </a>


    <!-- Model Who Like -->

    <ng-template #content let-c="close" let-d="dismiss" class="like-modal">
      <div class="model-likes">
        <div class="modal-header">
          <span *ngIf="countLikers">{{countLikers}} Likes</span>
          <button type="button" class="close ml-auto" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
        </div>
        <div class="modal-body" *ngIf="whoLike2">
          <div class="model-likes">
            <span *ngFor="let liker2 of whoLike2; "> 
       <img *ngIf="liker2?.portfolio_photo && liker2.profile_url " class="like-photo" src="{{liker2?.portfolio_photo}}" (click)="goToProfile(liker2.profile_url)" (click)="d('Cross click')"><span *ngIf="liker2?.portfolio_photo && liker2.profile_url " class="new-tooltiptext like-name"> {{liker2?.first_name}} {{liker2?.last_name}} </span><br>
            <img *ngIf="!liker2?.portfolio_photo && liker2.profile_url " class="like-photo" src="./assets/images/Gears-Grey.svg" (click)="goToProfile(liker2.profile_url)"
              (click)="d('Cross click')"><span *ngIf="!liker2?.portfolio_photo && liker2.profile_url " (click)="goToProfile(liker2.profile_url)" (click)="d('Cross click')" class="new-tooltiptext like-name"> {{liker2?.first_name}} {{liker2?.last_name}} </span><br>


            </span>
          </div>
          <div class="text-center pt-3 pb-5" *ngIf="!hideloadmorelike && whoLike2.length > 0 ">
            <div *ngIf="!hideloadmoreproject && whoLike2.length > 0 ">
              <a class="btn btn-load-more" (click)="loadMoreLike()">Load more</a>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="list-unstyled actions d-flex flex-row">
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>