<div class="page-workshop-individual">
  <section class="col-sm-12 width-fix">
    <div *ngIf="workshop">
      <div class="top-content-wrapper">
        <img src="{{workshop.cover_photo}}" alt="" class="workshop-coverphoto">
        <div class="container">
          <div class="col-md-12">
            <ul class="list-unstyled workshop-actions pull-right">
              <app-like [nodeNid]="workshop.nid"></app-like>
              <app-bookmark [nodeNid]="workshop.nid"></app-bookmark>
              <!--<div *ngIf="currentuser.user">
                <app-like  [nodeNid]="workshop.nid" [user]="uid"></app-like>
                <app-bookmark  [nodeNid]="workshop.nid"></app-bookmark>
                </div>-->
              <app-shared-buttons *ngIf="workshop.nid" [PageTitle]="customTitle" [PageDescription]="customDescription" [PageImage]="customImage" ></app-shared-buttons>
            </ul>
            <div class="list-unstyled workshop-tags pull-left">
              <a *ngFor="let tags of workshop.tags" class="btn btn-grey">{{tags}}</a>
            </div>
            <div class="clearfix"></div>
            <h2 [innerHTML]="workshop.workshop_title"> </h2>
          </div>
        </div>
        <!-- End container -->
      </div>
      <!-- End top-content-wrapper-->
    </div>
    <!-- End workshop checker-->
    <div class="container">
      <div class="row">
        <div class="region region-content col-sm-8">
          <div class="workshop-content">
            <div *ngIf="workshop">
              <div class="intro" id="intro">
                <h4>Introduction</h4>
                <div [innerHTML]="workshop?.brief_description"> </div>
                <div [innerHTML]="workshop?.introductory_video"></div>
              </div>
              <!-- End intro -->
            </div>
            <!-- End of workshop ngIf -->
            <div *ngFor="let object of objects; let i=index">
              <!---FOR PDF CONTENT TYPE -->
              <div *ngIf="object.learning_content_type == 'PDF' ">
                <div class="fun-fact" id="OB{{object?.nid}}">
                  <h4>{{object.lesson_name}}</h4>
                  <div class="media">
                    <div class="image-container d-flex mr-1">
                      <img src="{{object.object_image}}" alt="" (click)="open(content,i,'preview')" data-toggle="modal" data-target="#previewer"
                        height="150" width="200">
                    </div>
                    <div class="media-body">
                      <p>
                        <span><b>{{object.learning_content_type}}  ..  </b>  
                           <b> From Getting Started with Arduino by {{object.author_name}} </b>  
                           <div *ngIf="object.pages" > Number of Pages: {{object.pages}} </div>
                           </span>
                      </p>
                      <div [innerHTML]="object.lesson_description"> </div>
                    </div>
                  </div>
                   <ul class="list-unstyled recommended">
                      <h5 *ngIf="object.related_projects"> Now try these projects: </h5>
                      <a href="">
                        <div [innerHTML]="object.related_projects"> </div>
                      </a>
                    </ul>
                </div>
              </div>
              <!-- End  ngif of pdf object -->
              <!---FOR Video CONTENT TYPE -->
              <div *ngIf="object.learning_content_type == 'Video' ">
                <div class="fun-fact" id="OB{{object?.nid}}">
                  <h4>{{object.lesson_name}}</h4>
                  <div class="media">
                    <div class="image-container d-flex mr-1" (click)="open(content,i,'overlay')" data-toggle="modal" data-target="#previewer">
                      <img *ngIf="object.videoImage" [src]="object.videoImage" alt="" class="media-object" height="150" width="200">
                      <!--<div *ngIf="object.videoPic"  class="youtube-pic">
                        <img [src]="object.videoPic" alt="" class="media-object" height="150" width="200">
                        <img class="play-image" src="./assets/images/video-icon.png" alt="">                        
                      </div>-->
                      <!--<img src ="assets/images/video-icon.png" alt="" class="media-object" position:"absolute">-->
                      <!--<div [innerHTML]="object.videolink"></div>-->
                      <!--<iframe width="150" height="150" [src]="videoImage" frameborder="0" ></iframe>-->
                    </div>
                    <div class="media-body">
                      <p>
                        <span><b>{{object.learning_content_type}}   .. </b>
                        <b> From Getting Started with Arduino by {{object.author_name}} </b>  
                           <div [innerHTML]= "object.lesson_description"> </div>
                           <div *ngIf="object.minutes" > Number of minutes: {{object.minutes}} </div>
                             </span>
                      </p>
                    </div>
                    <ul class="list-unstyled recommended">
                      <h5 *ngIf="object.related_projects"> Now try these projects: </h5>
                      <a href="">
                        <div [innerHTML]="object.related_projects"> </div>
                      </a>
                    </ul>
                  </div>
                  <!-- End fun-fact -->
                </div>
                <!-- End of Object ngIf -->
              </div>
              <!-- End  ngFor of Video object -->
              <!---FOR Book CONTENT TYPE -->
              <div *ngIf="object.learning_content_type == 'Book' ">
                <div class="fun-fact" id="OB{{object.nid}}">
                  <h4>{{object.lesson_name}}</h4>
                  <div class="media">
                    <div class="image-container d-flex mr-1">
                      <img src="{{object.object_image}}" alt="" class="media-object" (click)="open(content,i,'preview')" data-toggle="modal" data-target="#previewer"
                        height="150" width="200">
                    </div>
                    <div class="media-body">
                      <p>
                        <span><b>{{object.learning_content_type}}  ..  </b> 
                        <b> From Getting Started with Arduino by {{object.author_name}} </b>  
                           <div *ngIf="object.chapter" > Number of Chapters: {{object.chapter}} </div>
                             </span>
                      </p>
                      <div [innerHTML]="object.lesson_description"> </div>
                    </div>
                    <ul class="list-unstyled recommended">
                      <h5 *ngIf="object.related_projects"> Now try these projects: </h5>
                      <a href="">
                        <div [innerHTML]="object.related_projects"> </div>
                      </a>
                    </ul>
                  </div>
                </div>
                <!-- End fun-fact -->
              </div>
              <!-- End of Object ngIf -->
            </div>
            <!-- End  ngFor of learning content type -->
          </div>
          <!-- End worksop-content -->
        </div>
        <!-- End region-content -->
        <aside class="col-sm-4">
          <div *ngIf="workshop" class="workshop-instructor">
            <div class=" profile-container">
              <app-user-card *ngIf="workshop.uid" [uid]="workshop.uid"></app-user-card>
            </div>
            <!-- End profile card -->
          </div>
          <!-- End Profile-container -->
          <ul class="list-unstyled content-list">
            Contents:
            <li><a pageScroll href="#intro">Introduction</a></li>
            <div *ngFor="let object of objects; let i=index;">
              <li><a pageScroll href="#OB{{object.nid}}">{{object.lesson_name}}</a></li>
            </div>

           <div *ngFor="let lesson of lessons">
            <div *ngIf="lesson.o_reilly || lesson.barnes_noble || lesson.amazon">
            <li ><a pageScroll href="#lesson">Resources</a></li>
          </div>
          </div>
          </ul>
        </aside>
        <!-- End aside -->

        <div *ngFor="let lesson of lessons" class="related-books mt-3 mb-3">
          <div *ngIf="lesson.o_reilly || lesson.barnes_noble || lesson.amazon">
           <h4> Like these lessons? Learn more:</h4>
            <ul class="list-unstyled suggested" id="lesson">
              <li>
                <div class="media">
                  <div *ngIf= "lesson.book_cover" class="image-container d-flex mr-1">
                    <img src="{{lesson.book_cover}}" alt="">
                  </div>
                  <div class="media-body">
                    <p> {{lesson.book_title}}</p>
                    <a href="{{lesson.o_reilly}}">
                      <p> {{lesson.o_reilly}}</p>
                    </a>
                    <a href="{{lesson.barnes_noble}}">
                      <p> {{lesson.barnes_noble}} </p>
                    </a>
                    <a href="{{lesson.amazon}}">
                      <p> {{lesson.amazon}}</p>
                    </a>
                  </div>
                </div>
              </li>
             </ul>

            <!-- End suggested -->
          </div>
          <!-- End of more lesson Checker -->
        </div>
        <!-- End of Lesson ngFor -->
      </div>
    </div>
    <!-- End of container -->
  </section>
</div>

<template #content let-c="close" let-d="dismiss" ngbModalContainer>
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div [innerHTML]="popupPreview"></div>
    <div *ngIf="epubFile">
      <app-book [link]="epubLink"></app-book>
    </div>
  </div>

</template>

