<div class="feedback-card" *ngFor="let comment of comments.value; let i=index">
  <div class="media content-section" *ngIf="comment?.comment">
    <div class="user-pic">
      <img *ngIf="comment?.photo" class="d-flex" src="{{comment?.photo}}" alt="">
      <img *ngIf="!comment?.photo" class="d-flex" src="./assets/images/defaultprofile.png" alt="">
    </div>
    <div class="media-body mt-auto">
      <div class="user-info">
        <div class="user-details col-sm-12 d-flex">
          <p *ngIf="!comment?.nickname" href="#" class="user-fullname">{{comment?.first_name}} {{comment?.last_name}}</p>
          <p *ngIf="comment?.nickname" class="user-nickname">{{comment?.nickname}}</p>
        </div>
      </div>
    </div>
  </div>
  <p class="feed-timestamp" *ngIf="comment?.comment"> {{comment?.post_date}}</p>
  <div class="media-body">
    <div class="comment-body">
      <p>{{comment?.comment}}</p>
    </div>
  </div>
  </div>
  <div class="media content-section pl-3" *ngIf="comments.value?.length == 1 && comments.value[0].comment == ''">
    <p>{{titlecomment.ifempty}}</p>
  </div>
