<form class="new-comment" [formGroup]="commentForm" (ngSubmit)="onSubmit($event)" id="postComment">
  <label class="feedback-label">Feedback</label>
  <div class="comment-body d-flex justify-content-around">
    <textarea name="new-feedback" placeholder="What would you like to say?" cols="100" rows="6" class="col" formControlName="comment_body"></textarea>
    <button class="send-comment" type="submit">
      <span class="fa-stack fa-lg">
        <i class="fa fa-angle-right" aria-hidden="true"></i>
      </span>
    </button>
  </div>
</form>