<form [formGroup]="commentForm" (ngSubmit)="onSubmit($event)" id="postComment" class="form-horizontal">
  <div class="col-lg-10">
    <div class=""><img *ngIf="currentuser?.photo" width="60px;" height="60px;" src="{{currentuser?.photo}}" alt="" class="img-responsive"></div>

    <div class=""><img *ngIf="!currentuser?.photo" width="60px;" height="60px;" src="./assets/images/maker-robot.png" alt="" class="img-responsive"></div>
    <textarea class="form-control" rows="5" id="comment" formControlName="comment_body"></textarea>
    <input type="submit" class="btn btn-info" value="Post">
  </div>
</form>