p, .paragraph {
  font-weight: 300;
  margin-bottom: 1rem;

  &.card-description {
    font-size: 1.5rem;
  }

  .card-description & {
    line-height: 1.9rem;
  }

  &.check-entered {
    margin-bottom: 0;
    color: $highlight-bright-blue;
  }

  &.title-tab {
    color: $highlight-red;
  }
}
