$callout: (
  'size': 6.4,
  'line-height': 7.4
);
$header-main: (
  'size': 3.2,
  'line-height': 4.16
);
$header-small: (
  'size': 1.8,
  'line-height': 2
);
$header-sub: (
  'size': 1.6,
  'line-height': 2.6
);
$body: (
  'size': 1.44,
  'line-height': 2.4
);

h1, h3, h5 {
  font-family: $font-messina-modern-regular;
}

.callout {
  font-size: map-get($callout, 'size') * 1rem;
  line-height: map-get($callout, 'line-height') * 1rem;
}

.header-main, h1 {
  font-family: $font-messina-modern-regular;
  font-size: map-get($header-main, 'size') * 1rem;
  line-height: map-get($header-main, 'line-height') * 1rem;

  &.big {
    font-size: 6.4rem;
    line-height: 7.68rem;
  }
}

.header-small, h2 {
  font-size: map-get($header-small, 'size') * 1rem;
  line-height: map-get($header-small, 'line-height') * 1rem;

  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
}

h3 {
  font-size: 3.3rem;
  line-height: 3.3rem;
}

h4 {

}

h5 {
  font-size: 2.4rem;
  line-height: 2.64rem;
}

.header-sub, h6 {
  font-size: map-get($header-sub, 'size') * 1rem;
  line-height: map-get($header-sub, 'line-height') * 1rem;
  text-transform: uppercase;
}

.body-text, p, body {
  font-size: map-get($body, 'size') * 1rem;
  line-height: map-get($body, 'line-height') * 1rem;
}

.tac {
  text-align: center;
}


@include phone() {
  html {
    font-size: 6px;
  }
}
@include tablet() {
  html {
    font-size: 7.5px;
  }
}
