<div class="col-md-12 project-cover">
  <div class="projectsingle-card row">
    <div class="col-md-8 left-side">
      <div class="image-container">
        <img src="{{project.field_cover_photo.url}}" alt="" class="img-responsive">
      </div>
      <div class="project-card-footer-3 d-flex justify-content-end">
        <ul class="project-card-badges mr-auto">
          <li class="project-badge"><img src="./assets/images/badges/awards@2x.png.png" alt="" class="img-responsive"></li>
          <li class="project-badge"><img src="./assets/images/badges/challenge-winner@2x.png.png" alt="" class="img-responsive"></li>
          <li class="project-badge"><img src="./assets/images/badges/community-manager@2x.png.png" alt="" class="img-responsive"></li>
          <li class="project-badge"><img src="./assets/images/badges/productivity@2x.png.png" alt="" class="img-responsive"></li>
        </ul>
        <ul class="d-flex align-content-start flex-wrap actions-button pull-right">
          <li class="project-report"><a href="#" class="btn btn-soft-grey btn-transparent btn-fit">Report this</a></li>
          <app-fork *ngIf="userLogin" [nodeNid]="project.nid" [user]="userLogin.user"></app-fork>
          <app-like [nodeNid]="project.nid" [user]="userId"></app-like>
          <app-bookmark *ngIf="userLogin" [nodeNid]="project.nid" [user]="userLogin.user"></app-bookmark>
          <app-shared-buttons *ngIf="customTitle" [PageTitle]="customTitle" [PageDescription]="customDescription" [PageImage]="customImage"></app-shared-buttons>
          <li><a class="btn btn-soft-grey btn-fit" href="/project/edit/{{project.nid}}">Edit project</a></li>
        </ul>
      </div>
    </div>
    <!-- End image-container -->
    <div class="col-md-4 right-side">
      <div class="card-container">
        <div class="card">
          <div class="projects-circle">
            < Next project - Project name>
          </div>
          <h3 class="card-title" innerHTML="{{project.title.value}}"></h3>
          <div class="card-description">
            <p innerHTML="{{project.field_teaser?.value}}"></p>
          </div>
          <div class="card-date">
            <span class="project-date pr-2">Created on: {{project.created}}</span><span class="project-date">Updated on: {{project.changed}}</span>
          </div>
          <div class="card-tags">
            <span class="project-tag pr-2" *ngFor="let tag of project.field_tags">{{tag.tag_name}},</span>
          </div>
          <div class="project-card-footer d-flex">
            <ul class="list-unstyled project-aside">
              <li id="project-story-tab"><a class="btn btn-tabs read-story active">Read Story</a></li>
              <li id="how-to-tab"><a class="btn btn-tabs build-project">Build project</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- End card-container -->
    </div>
    <!-- End col-md-6 -->
  </div>
</div>


<!--



<div *ngIf="project">
  <ul class="d-flex align-content-start flex-wrap actions-button pull-right">
    <li class="project-report"><a href="#" class="btn btn-soft-grey btn-transparent btn-fit">Report this</a></li>
    <app-fork *ngIf="userLogin" [nodeNid]="project.nid" [user]="userLogin.user"></app-fork>
    <app-like [nodeNid]="project.nid" [user]="userId"></app-like>
    <app-bookmark *ngIf="userLogin" [nodeNid]="project.nid" [user]="userLogin.user"></app-bookmark>
    <app-shared-buttons *ngIf="customTitle" [PageTitle]="customTitle" [PageDescription]="customDescription" [PageImage]="customImage"></app-shared-buttons>
    <li><a class="btn btn-soft-grey btn-fit" href="/project/edit/{{project.nid}}">Edit project</a></li>
  </ul>
  <ul class="list-unstyled project-tags pull-left">
    <li><a class="btn btn-grey">electronics</a></li>
    <li><a class="btn btn-grey">Arduino</a></li>
    <li><a class="btn btn-grey">microcontrollers</a></li>
    <li><a class="btn btn-grey">electronics</a></li>
    <li><a class="btn btn-grey">Arduino</a></li>
    <li><a class="btn btn-grey">microcontrollers</a></li>
  </ul>
  <div class="clearfix"></div>

  <h2 class="project-title" *ngIf="project.title" innerHTML="{{project.title.value}}"></h2>

  <div *ngIf="projectdata">
    <p>Entered In Challenge <a (click)="challengePage(projectdata.challenge_nid)">{{projectdata.challenge_name}}</a></p>
  </div>
</div>-->