<div class="col-md-12 project-cover">
  <div class="projectsingle-card row">
    <div class="col-lg-8 col-md-12 left-side">
      <div class="image-container">
        <div *ngIf="!project.field_show_tell_video.value || project.field_show_tell_video_as_default.value == 0">
          <img *ngIf="project.field_cover_photo.styled_url" src="{{project.field_cover_photo?.styled_url}}" alt="" class="img-responsive">
          <img *ngIf="!project.field_cover_photo.styled_url" src="http://placehold.it/800x450" alt="" class="img-responsive">
        </div>
        <div *ngIf="project.field_show_tell_video.value && project.field_show_tell_video_as_default.value == 1">
          <video-viewer [link]="project.field_show_tell_video.value"></video-viewer>
        </div>

        <ul class="project-card-badges d-flex" *ngIf="badges" (click)="ShowProjectDetails(project.nid)">
          <li class="project-badge" *ngFor="let badge of badges;">
            <img src="{{badge?.goal_image}}" alt="" ngbTooltip="{{badge?.title}}">
          </li>
        </ul>
      </div>
      <div class="project-card-footer-3 d-flex justify-content-end">
        <ul class="d-flex align-content-start flex-wrap actions-button pull-right">
          <!--<app-fork *ngIf="userLogin" [nodeNid]="project.nid" [user]="userLogin.user"></app-fork>-->
          <li ngbTooltip="{{toolTips.bookmark}}"> 
            <app-bookmark *ngIf="userLogin" [nodeNid]="project.nid" [user]="userLogin.user"></app-bookmark>
          </li>
          <li ngbTooltip="{{toolTips.share}}"> 
            <app-shared-buttons *ngIf="customTitle" [PageTitle]="customTitle" [PageDescription]="customDescription" [PageImage]="customImage"></app-shared-buttons>
          </li>
          <li ngbTooltip="{{toolTips.like}}"> 
            <app-like [nodeNid]="project.nid" [user]="userId" [project]="true"></app-like>
          </li>
          <li class="project-views">
            <img src="./assets/images/icons/views.png" alt="">
            <span>{{project.views_count}}</span>
          </li>
        </ul>
      </div>
    </div>
    <!-- End image-container -->
    <div class="col-lg-4 col-md-12 right-side">
      <div class="card-container">
        <div class="card">
          <div class="projects-circle">
            <div class="projects-circle m-auto d-flex justify-content-start align-items-center" *ngIf="showcaseInfo">
              <a *ngIf="showcaseInfo.index > 0" (click)="SwitchProjectFunc($event,'back')" class="go-previous d-flex"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
              <h3 class=" showcase-nav" *ngIf="showcaseInfo.name"><a>{{showcaseInfo.name}}: project {{showcaseInfo.index+1}} of {{showcaseInfo.length}}</a></h3>
              <a *ngIf="showcaseInfo.totalNumber && showcaseInfo.index != showcaseInfo.totalNumber.length-1" (click)="SwitchProjectFunc($event,'next')"
                class="go-next d-flex"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
            </div>
          </div>
          <h3 class="card-title" innerHTML="{{project.title.value}}"></h3>
          <div class="card-description">
            <p innerHTML="{{project.field_teaser?.value}}"></p>
          </div>
          <div class="card-date mt-auto">
            <span class="project-date pr-2">Created on: {{project.created}}</span>
            <br>
            <span class="project-date">Updated on: {{project.changed}}</span>
          </div>
          <div class="topics d-flex flex-row mt-auto mb-3">
            <div class="card-tags" *ngIf="project.field_categories">
              <span>Topics:</span>
              <span class="project-tag" *ngFor="let category of project.field_categories">
              <span *ngIf="!category.is_parent"> {{category.name}}<span class="tags-comma">,</span></span>
              </span>
              <!--<span class="project-tag pr-1" *ngFor="let tag of tags">{{tag.tag_name}}<span class="tags-comma">,</span></span>-->
            </div>
          </div>
          <div class="project-card-footer d-flex mt-auto"  *ngIf="project.field_parts || project.field_tools || project.field_materials || project.field_resources || project.field_how_to.value">
            <ul class="list-unstyled project-aside d-flex">
              <li id="read-story" [ngClass]="{'active': ActiveTab == 'project-story'}"><a class="btn btn-tabs read-story" (click)="SwitchTabFunc('project-story')">Project Story</a></li>
              <li id="build-project" [ngClass]="{'active': ActiveTab == 'project-how-to'}"><a class="btn btn-tabs build-project" (click)="SwitchTabFunc('project-how-to')">How-to</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- End card-container -->
    </div>
    <!-- End col-md-6 -->
  </div>
</div>


<!--


<div *ngIf="project">
  <ul class="d-flex align-content-start flex-wrap actions-button pull-right">
    <li class="project-report"><a href="#" class="btn btn-soft-grey btn-transparent btn-fit">Report this</a></li>
    <app-fork *ngIf="userLogin" [nodeNid]="project.nid" [user]="userLogin.user"></app-fork>
    <app-like [nodeNid]="project.nid" [user]="userId"></app-like>
    <app-bookmark *ngIf="userLogin" [nodeNid]="project.nid" [user]="userLogin.user"></app-bookmark>
    <app-shared-buttons *ngIf="customTitle" [PageTitle]="customTitle" [PageDescription]="customDescription" [PageImage]="customImage"></app-shared-buttons>
    <li><a class="btn btn-soft-grey btn-fit" href="/project/edit/{{project.nid}}">Edit project</a></li>
  </ul>
  <ul class="list-unstyled project-tags pull-left">
    <li><a class="btn btn-grey">electronics</a></li>
    <li><a class="btn btn-grey">Arduino</a></li>
    <li><a class="btn btn-grey">microcontrollers</a></li>
    <li><a class="btn btn-grey">electronics</a></li>
    <li><a class="btn btn-grey">Arduino</a></li>
    <li><a class="btn btn-grey">microcontrollers</a></li>
  </ul>
  <div class="clearfix"></div>

  <h2 class="project-title" *ngIf="project.title" innerHTML="{{project.title.value}}"></h2>

  <div *ngIf="projectdata">
    <p>Entered In Challenge <a (click)="challengePage(projectdata.challenge_nid)">{{projectdata.challenge_name}}</a></p>
  </div>
</div>-->