<div class="col-md-12 project-cover">
  <div class="projectsingle-card row">
    <div class="col-md-8 left-side">
      <div class="image-container">
        <img src="{{project.field_cover_photo?.styled_url}}" alt="" class="img-responsive">
      </div>
      <div class="project-card-footer-3 d-flex justify-content-end">
        <ul class="project-card-badges d-flex mr-auto">
          <li class="project-badge"><img src="./assets/images/badges/awards@2x.png.png" alt="" class="img-responsive"></li>
          <li class="project-badge"><img src="./assets/images/badges/challenge-winner@2x.png.png" alt="" class="img-responsive"></li>
          <li class="project-badge"><img src="./assets/images/badges/community-manager@2x.png.png" alt="" class="img-responsive"></li>
          <li class="project-badge"><img src="./assets/images/badges/productivity@2x.png.png" alt="" class="img-responsive"></li>
        </ul>
        <ul class="d-flex align-content-start flex-wrap actions-button pull-right">
          <li class="project-report"><a href="#" class="btn btn-soft-grey btn-transparent btn-fit">Report this</a></li>
          <!--<app-fork *ngIf="userLogin" [nodeNid]="project.nid" [user]="userLogin.user"></app-fork>-->
          <app-like [nodeNid]="project.nid" [user]="userId"></app-like>
          <app-bookmark *ngIf="userLogin" [nodeNid]="project.nid" [user]="userLogin.user"></app-bookmark>
          <app-shared-buttons *ngIf="customTitle" [PageTitle]="customTitle" [PageDescription]="customDescription" [PageImage]="customImage"></app-shared-buttons>
          <li><a class="btn btn-soft-grey btn-fit" href="/project/edit/{{project.nid}}">Edit project</a></li>
          <li class="project-likes">
            <img src="./assets/images/icons/light-not-selected.png" alt="">
            <span *ngIf="project.count_flag.like">{{project.count_flag.like}}</span>
            <span *ngIf="!project.count_flag.like">0</span>
          </li>
          <li class="project-views">
            <img src="./assets/images/icons/views.png" alt="">
            <span>70</span>
          </li>
        </ul>
      </div>
    </div>
    <!-- End image-container -->
    <div class="col-md-4 right-side">
      <div class="card-container">
        <div class="card">
          <div class="projects-circle">
            <div class="projects-circle d-flex justify-content-between col-md-12" *ngIf="showcaseInfo">
              <a *ngIf="showcaseInfo.index > 0" (click)="switchProject($event,'back')" class="go-previous"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i></a>
              <h3 class="m-auto" *ngIf="showcaseInfo.name"><a href="">{{showcaseInfo.name}}: project {{showcaseInfo.index+1}} of {{showcaseInfo.length}}</a></h3>
              <a *ngIf="showcaseInfo.totalNumber && showcaseInfo.index != showcaseInfo.totalNumber.length-1" (click)="switchProject($event,'next')" class="go-next"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
            </div>
          </div>
          <h3 class="card-title" innerHTML="{{project.title.value}}"></h3>
          <div class="card-description">
            <p innerHTML="{{project.field_teaser?.value}}"></p>
          </div>
          <div class="card-date">
            <span class="project-date pr-2">Created on: {{project.created}}</span><span class="project-date">Updated on: {{project.changed}}</span>
          </div>
          <div class="card-tags" *ngIf="project.field_tags">
            <span class="project-tag pr-2" *ngFor="let tag of tags">{{tag.tag_name}},</span>
          </div>
          <div class="project-card-footer d-flex mt-auto">
            <ul class="list-unstyled project-aside">
              <li id="read-story" class="active"><a class="btn btn-tabs read-story" (click)="SwitchTabFunc('project-story')">Read Story</a></li>
              <li id="build-project"><a class="btn btn-tabs build-project" (click)="SwitchTabFunc('project-how-to')">Build project</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- End card-container -->
    </div>
    <!-- End col-md-6 -->
  </div>
</div>


<!--



<div *ngIf="project">
  <ul class="d-flex align-content-start flex-wrap actions-button pull-right">
    <li class="project-report"><a href="#" class="btn btn-soft-grey btn-transparent btn-fit">Report this</a></li>
    <app-fork *ngIf="userLogin" [nodeNid]="project.nid" [user]="userLogin.user"></app-fork>
    <app-like [nodeNid]="project.nid" [user]="userId"></app-like>
    <app-bookmark *ngIf="userLogin" [nodeNid]="project.nid" [user]="userLogin.user"></app-bookmark>
    <app-shared-buttons *ngIf="customTitle" [PageTitle]="customTitle" [PageDescription]="customDescription" [PageImage]="customImage"></app-shared-buttons>
    <li><a class="btn btn-soft-grey btn-fit" href="/project/edit/{{project.nid}}">Edit project</a></li>
  </ul>
  <ul class="list-unstyled project-tags pull-left">
    <li><a class="btn btn-grey">electronics</a></li>
    <li><a class="btn btn-grey">Arduino</a></li>
    <li><a class="btn btn-grey">microcontrollers</a></li>
    <li><a class="btn btn-grey">electronics</a></li>
    <li><a class="btn btn-grey">Arduino</a></li>
    <li><a class="btn btn-grey">microcontrollers</a></li>
  </ul>
  <div class="clearfix"></div>

  <h2 class="project-title" *ngIf="project.title" innerHTML="{{project.title.value}}"></h2>

  <div *ngIf="projectdata">
    <p>Entered In Challenge <a (click)="challengePage(projectdata.challenge_nid)">{{projectdata.challenge_name}}</a></p>
  </div>
</div>-->