<div class="main-container container-fluid">
       <div class="row">
         <section class="col-sm-12 width-fix">
           <div class="region region-content">
             <header class="explore-header">
               <h3>What kind of projects are you interested in?</h3>
               <ul class="list-unstyled explore-tags">
                 <li><a href="#" class="btn btn-grey" id="arts-sub">Arts &amp; Crafts</a></li>
                 <li><a href="#" class="btn btn-grey" id="technology-sub">Technology</a></li>
                 <li><a href="#" class="btn btn-grey" id="workshop-sub">Workshop</a></li>
                 <li><a href="#" class="btn btn-grey" id="things-sub">Things That Move</a></li>
                 <li><a href="#" class="btn btn-grey" id="world-sub">Home &amp; The World</a></li>
               </ul>
               <div class="submenus">
                 <ul class="list-unstyled arts-sub">
                   <li><a href="#" class="btn btn-grey">3D Imaging</a></li>
                   <li><a href="#" class="btn btn-grey">Technology</a></li>
                   <li><a href="#" class="btn btn-grey">Workshop</a></li>
                   <li><a href="#" class="btn btn-grey">Fabrication</a></li>
                   <li><a href="#" class="btn btn-grey">Robotics</a></li>
                 </ul>
                 <ul class="list-unstyled technology-sub">
                   <li><a href="#" class="btn btn-grey">Arts &amp; Crafts</a></li>
                   <li><a href="#" class="btn btn-grey">Technology</a></li>
                   <li><a href="#" class="btn btn-grey">Workshop</a></li>
                   <li><a href="#" class="btn btn-grey">CNC</a></li>
                   <li><a href="#" class="btn btn-grey">Home &amp; The World</a></li>
                 </ul>
                 <ul class="list-unstyled workshop-sub">
                   <li><a href="#" class="btn btn-grey">3D Imaging</a></li>
                   <li><a href="#" class="btn btn-grey">3D Printing</a></li>
                   <li><a href="#" class="btn btn-grey">CNC</a></li>
                   <li><a href="#" class="btn btn-grey">Fabrication</a></li>
                   <li><a href="#" class="btn btn-grey">Laser Cutting</a></li>
                   <li><a href="#" class="btn btn-grey">Robotics</a></li>
                   <li><a href="#" class="btn btn-grey">Woodworking</a></li>
                 </ul>
                 <ul class="list-unstyled things-sub">
                   <li><a href="#" class="btn btn-grey">3D Printing</a></li>
                   <li><a href="#" class="btn btn-grey">Fabrication</a></li>
                   <li><a href="#" class="btn btn-grey">Robotics</a></li>
                   <li><a href="#" class="btn btn-grey">Things That Move</a></li>
                   <li><a href="#" class="btn btn-grey">CNC</a></li>
                 </ul>
                 <ul class="list-unstyled world-sub">
                   <li><a href="#" class="btn btn-grey">Arts &amp; Crafts</a></li>
                   <li><a href="#" class="btn btn-grey">Technology</a></li>
                   <li><a href="#" class="btn btn-grey">Workshop</a></li>
                   <li><a href="#" class="btn btn-grey">Things That Move</a></li>
                   <li><a href="#" class="btn btn-grey">Home &amp; The World</a></li>
                 </ul>
               </div>
             </header><!--/header -->
             <div class="filters container-fluid">
               <div class="row">
                 <p class="col-md-2">128 Entries</p>
                 <div class="projects-filter col-md-1 col-md-offset-7">
                   <button class="btn btn-transparent dropdown-toggle" type="button" data-toggle="dropdown">All Projects
                   <span class="caret"></span></button>
                   <ul class="dropdown-menu">
                     <li><a href="#" class="btn">All projects</a></li>
                     <li><a href="#" class="btn">Winners Only</a></li>
                   </ul>
                 </div><!-- End projects-filter -->
                 <div class="sorting-filter col-md-2">
                   <button class="btn btn-transparent dropdown-toggle" type="button" data-toggle="dropdown">Most recent
                   <span class="caret"></span></button>
                   <ul class="dropdown-menu">
                     <li><a href="#" class="btn">Most recent</a></li>
                     <li><a href="#" class="btn">Oldest</a></li>
                     <li><a href="#" class="btn">Title A-Z</a></li>
                     <li><a href="#" class="btn">Title Z-A</a></li>
                     <li><a href="#" class="btn">Most Liked</a></li>
                     <li><a href="#" class="btn">Most Forked</a></li>
                   </ul>
                 </div><!-- End sorting-filter -->
               </div>
             </div><!-- End filters -->
             <div class="container-fluid">
               <div class="projects-grid row">
                 <div class="col-md-3">
                   <div class="project">
                     <div class="project-title">
                       <p>Flaming Simon</p>
                     </div>
                     <div class="project-image">
                       <img src="./assets/images/flaming-simon.jpg" alt="" class="img-responsive">
                     </div>
                   </div>
                 </div>
                 <div class="col-md-3">
                   <div class="project">
                     <div class="project-title">
                       <p>Xylobot - They Might Be Giants Version</p>
                     </div>
                     <div class="project-image">
                       <img src="./assets/images/XyloBot.jpg" alt="" class="img-responsive">
                     </div>
                   </div>
                 </div>
                 <div class="col-md-3">
                   <div class="project">
                     <div class="project-title">
                       <p>LEMUR-tron</p>
                     </div>
                     <div class="project-image">
                       <img src="./assets/images/LEMUR.jpg" alt="" class="img-responsive">
                     </div>
                   </div>
                 </div>
                 <div class="col-md-3">
                   <div class="project">
                     <div class="project-title">
                       <p>Flaming Simon</p>
                     </div>
                     <div class="project-image">
                       <img src="./assets/images/flaming-simon.jpg" alt="" class="img-responsive">
                     </div>
                   </div>
                 </div>
                 <div class="col-md-3">
                   <div class="project">
                     <div class="project-title">
                       <p>Flaming Simon</p>
                     </div>
                     <div class="project-image">
                       <img src="./assets/images/flaming-simon.jpg" alt="" class="img-responsive">
                     </div>
                   </div>
                 </div>
                 <div class="col-md-3">
                   <div class="project">
                     <div class="project-title">
                       <p>Flaming Simon</p>
                     </div>
                     <div class="project-image">
                       <img src="./assets/images/flaming-simon.jpg" alt="" class="img-responsive">
                     </div>
                   </div>
                 </div>
                 <div class="col-md-3">
                   <div class="project">
                     <div class="project-title">
                       <p>Flaming Simon</p>
                     </div>
                     <div class="project-image">
                       <img src="./assets/images/flaming-simon.jpg" alt="" class="img-responsive">
                     </div>
                   </div>
                 </div>
                 <div class="col-md-3">
                   <div class="project">
                     <div class="project-title">
                       <p>Xylobot - They Might Be Giants Version</p>
                     </div>
                     <div class="project-image">
                       <img src="./assets/images/XyloBot.jpg" alt="" class="img-responsive">
                     </div>
                   </div>
                 </div>
                 <div class="col-md-3">
                   <div class="project">
                     <div class="project-title">
                       <p>LEMUR-tron</p>
                     </div>
                     <div class="project-image">
                       <img src="./assets/images/LEMUR.jpg" alt="" class="img-responsive">
                     </div>
                   </div>
                 </div>
                 <div class="col-md-3">
                   <div class="project">
                     <div class="project-title">
                       <p>Flaming Simon</p>
                     </div>
                     <div class="project-image">
                       <img src="./assets/images/flaming-simon.jpg" alt="" class="img-responsive">
                     </div>
                   </div>
                 </div>
                 <div class="col-md-3">
                   <div class="project">
                     <div class="project-title">
                       <p>Flaming Simon</p>
                     </div>
                     <div class="project-image">
                       <img src="./assets/images/flaming-simon.jpg" alt="" class="img-responsive">
                     </div>
                   </div>
                 </div>
                 <div class="col-md-3">
                   <div class="project">
                     <div class="project-title">
                       <p>Flaming Simon</p>
                     </div>
                     <div class="project-image">
                       <img src="./assets/images/flaming-simon.jpg" alt="" class="img-responsive">
                     </div>
                   </div>
                 </div>
               </div>
             </div>
             <div class="col-xs-4 col-xs-offset-4 load-more">
                   <a href="#" class="btn btn-white">Load more</a>
             </div>

           </div><!-- End region-content -->
         </section>
       </div><!-- End row -->
     </div><!-- End main-container -->
