<div class="page-explore">
<div class="main-container container-fluid">
       <div class="row">
         <section class="col-sm-12 width-fix">
           <div class="region region-content">
             <header class="explore-header">
               <h3>What kind of projects are you interested in?</h3>
               <ul class="list-unstyled explore-tags">

                 <li *ngFor="let parent of categories"><a class="btn btn-grey" id="parent_{{parent.tid}}">{{parent.name}}</a></li>

               </ul>
               <div class="submenus">


                 <ul *ngFor="let parent of categories" class="list-unstyled parent_{{parent.tid}}">

                   <li *ngFor="let term of parent.children"><a (click)="projectsById($event)" class="btn btn-grey" data-id="{{term.tid}}">{{term.name}}</a></li>

                 </ul>

               </div>
             </header><!--/header -->
             <div class="filters container-fluid">
               <div class="row">
                 <p class="col-md-2">128 Entries</p>
                 <div class="projects-filter col-md-1 col-md-offset-7">
                   <button class="btn btn-transparent dropdown-toggle" type="button" data-toggle="dropdown">All Projects
                   <span class="caret"></span></button>
                   <ul class="dropdown-menu">
                     <li><a href="#" class="btn">All projects</a></li>
                     <li><a href="#" class="btn">Winners Only</a></li>
                   </ul>
                 </div><!-- End projects-filter -->
                 <div class="sorting-filter col-md-2">
                   <button class="btn btn-transparent dropdown-toggle" type="button" data-toggle="dropdown">Most recent
                   <span class="caret"></span></button>
                   <ul class="dropdown-menu">
                     <li><a href="#" class="btn">Most recent</a></li>
                     <li><a href="#" class="btn">Oldest</a></li>
                     <li><a href="#" class="btn">Title A-Z</a></li>
                     <li><a href="#" class="btn">Title Z-A</a></li>
                     <li><a href="#" class="btn">Most Liked</a></li>
                     <li><a href="#" class="btn">Most Forked</a></li>
                   </ul>
                 </div><!-- End sorting-filter -->
               </div>
             </div><!-- End filters -->
             <div class="container-fluid">
               <div class="projects-grid row">

                 <div *ngFor="let project of projects" class="col-md-3" (click)="ShowProjectDetails(project.nid)">
                   <div class="project" >
                     <div class="project-title">
                       <p>{{project.project_name}}</p>
                     </div>
                     <div class="project-image">
                       <img src="{{project.cover_photo}}" alt="" class="img-responsive">
                     </div>
                   </div>
                 </div>

               </div>
             </div>
             <div class="col-xs-4 col-xs-offset-4 load-more">
                   <a href="#" class="btn btn-white">Load more</a>
             </div>

           </div><!-- End region-content -->
         </section>
       </div><!-- End row -->
     </div><!-- End main-container -->
</div>