<div class="challenge-summary">
  <div class="col-md-9 summary-content">
    <h3 >Summary  </h3>
    <div class="description" *ngIf="challenge" [innerHTML]="challenge.body">
      <p *ngIf="challenge.body" >{{challenge.body}} </p>
      <p>See <a href="">Rules &amp; Instructions</a> for more details.</p>
    </div>
    <div class="filters">
        <div class="row">
        <p class="col-md-4" *ngIf="entries_count">{{entries_count}} Entries</p>
        <div class="sorting-filter col-md-3 col-md-offset-5">
          <button class="btn btn-transparent dropdown-toggle" type="button" data-toggle="dropdown">{{ActionName}}
          <span class="caret"></span></button>
          <ul class="dropdown-menu">

            <li><a (click)="mostRecent($event)" class="btn">Most  recent</a></li>
            <li><a (click)="oldest($event)" class="btn">Oldest</a></li>
            <li><a (click)="sortAsc($event)" class="btn">Title A-Z</a></li>
            <li><a (click)="sortDesc($event)"class="btn">Title Z-A</a></li>
            <li><a (click)="mostLiked($event)" class="btn">Most Liked</a></li>
            <li><a (click)="mostForked($event)" class="btn">Most Forked</a></li>
          </ul>
        </div><!-- End sorting-filter -->
      </div><!-- End row -->
    </div><!-- End filters -->
    <div class="entries" *ngIf="challenge"  >
      <div *ngIf="challenge.display_entries =='1'">
      <div *ngIf="projects">
      <div  *ngFor="let project of projects">
        <div class="col-md-4" *ngIf="project">
        <div class="entry-container">
          <div class="image-container">
            <img *ngIf="project.cover_photo" src="{{project.cover_photo}}" alt="" class="img-responsive">
            <div class="entry-description">
              <p>This is a brief description description This is a brief description description This is a brief description description This is a brief description description}</p>
            </div>
            <div class="vote"><a href="">Vote</a></div>
          </div>
          <h4>{{project.title}}</h4>
          <p class="submitter">By <a href="">{{project.name}}</a></p>
          <p class="entry-date">12.21.16</p>
        </div><!-- End entry-container -->
        </div>
      </div>
      </div></div>

  
  
      <div class="row">
        <div class="col-xs-4 col-xs-offset-4 load-more">
           <!-- <a class="btn btn-white" (click)="loadmore()">Load more</a>-->
        </div>
      </div>
    </div>
  </div><!-- End summary-content -->
  <aside class="col-sm-3 summary-aside">
        <div class="col-sm-12 summary-aside-content">
        <div *ngFor="let award of awards;let i = index;">
          <div class="award-container" *ngIf="award">
            <p class="name" *ngIf="award.award_name">{{award.award_name}}</p>
            <img *ngIf="award.photo" src="{{award.photo}}" alt="">
            <p class="description" *ngIf="award.prize_description">{{award.prize_description}}</p>
            <div class="clearfix"></div>
            <p class="value" *ngIf="award.cash[0] && no_of_awards">{{no_of_awards}} available;Cash value: {{award.cash[0]['Amount']['#markup']}}{{award.cash[0]['Currency']['#markup']}}</p>
          </div>
        </div>
        <ul class="list-unstyled" *ngIf="challenge">
          <h5>Challenge Timeline:</h5>
          <li *ngIf="challenge.challenge_start_date" >Project submissions open:{{challenge.challenge_start_date}} </li>
          <li>Deadline to apply for free devices: November 20, 2016 at 11:55 PM PT</li>
          <li *ngIf="challenge.challenge_end_date"> Project submissions close:{{challenge.challenge_end_date}}</li>
          <li *ngIf="challenge.winners_announcement_date">Winners announced by: {{challenge.winners_announcement_date}}</li>
        </ul>
        </div>
  </aside><!-- End aside -->
</div><!-- End challenge-summary -->
