<div class="user-card-msg" *ngIf="card">
  <div class="profile-container mb-1" >
    <div class="media d-flex align-items-stretch">
      <div class="profile-pic-container flex-column align-self-start">
        <img class="maker-photo-msg" *ngIf="!card.photo" src="{{card.default_profile_photo}}">
        <img class="maker-photo-msg" *ngIf="card.photo" src="{{card.photo}}">
      </div>
      <div class="media-body d-flex align-items-start flex-column pl-2">
        <h5 class="user-name" *ngIf="(card.first_name) && (card.last_name)">{{card.first_name}} {{card.last_name}}</h5>
        <h5 class="user-name" *ngIf="(!card.first_name) && (!card.last_name)">{{card.name}}</h5>
        <p class="user-city" *ngIf="(card.city.country)" [innerHTML]="card.city.country"></p>
      </div>
    </div>
  </div>
</div>

