<div *ngIf="card">
  <div *hideItBootstrap="['xs','sm','md']">
    <div class="maker-card card" *ngIf="card" (click)="goToProfile(card.profile_url)" (mouseover)='over()' (mouseleave)='leave()'>
      <div class="card-type-grey">
        <div class="type-layer-2">
          Maker
        </div>
      </div>
      <div class="image-top">
        <div class="overlay"></div>
        <img *ngIf="card.photo_lg" [class.show]="!swtichImage" class="card-img-top maker-card-photo step" src="{{card.photo_lg}}"
          alt="">
        <img *ngIf="latestPorjectImg" [class.show]="swtichImage" class="card-img-top latest-project-image step" src="{{latestPorjectImg}}"
          alt="">
        <img *ngIf="!card.photo_lg" [class.show]="!swtichImage" class="step" src="./assets/images/placeholder.png" alt="">
      </div>
      <div class="card-block d-flex flex-column justify-content-around">
        <div class="icons-side-project d-flex flex-row" *ngIf="badgesLarge">
          <div class="project-icon" *ngFor="let badge of badgesLarge;">
            <img src="{{badge?.goal_image}}" alt="" ngbTooltip="{{badge?.title}}">
          </div>
        </div>
        <h4 class="maker-name" *ngIf="card.first_name && card.last_name">{{card.first_name}} {{card.last_name}}</h4>
        <h4 class="maker-name" *ngIf="!card.first_name && !card.last_name">{{card.username}}</h4>
        <p class="maker-nickname" *ngIf="card.nickname" innerHTML="{{card.nickname}}"></p>
        <p class="maker-city" *ngIf="card.location_locality && card.country && card.country != 'United States'">{{card.location_locality}} , {{card.country}}</p>
        <p class="maker-city" *ngIf="card.city && card.country && card.country == 'United States'">{{card.location_locality}}, {{card.city}}</p>
        <p class="maker-descripe" *ngIf="card.descripe_yourself" innerHTML="{{card.descripe_yourself}}"></p>
        <div class="content-side col d-flex flex-column justify-content-start">
          <div class="card-stats mt-auto">
            <ul class="list-unstyled d-flex justify-content-between">
              <li>
                <img src="./assets/images/icons/light-not-selected.png" class="project-likes" alt="">
                <span *ngIf="card.profile_likes">{{card.profile_likes}}</span>
                <span *ngIf="!card.profile_likes">0</span>
              </li>
              <li>
                <img src="./assets/images/icons/views.png" class="project-views" alt="">
                <span *ngIf="card.profile_views">{{card.profile_views}}</span>
              </li>
              <li *ngIf="projectsCount">
                <span *ngIf="projectsCount == 1">{{projectsCount}} project</span>
                <span *ngIf="projectsCount != 1">{{projectsCount}} projects</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *hideItBootstrap="['lg','xl']">
    <div class="maker-mobile-card card" (click)="goToProfile(card.profile_url)">
      <div class="card-type-grey">
        <div class="type-layer-2">
          Maker
        </div>
      </div>
      <div class="icons-side-project d-flex flex-row" *ngIf="badgesSmall">
        <div class="project-icon" *ngFor="let badge of badgesSmall;">
          <img src="{{badge?.goal_image}}" alt="" ngbTooltip="{{badge?.title}}">
        </div>
      </div>
      <div class="content-container d-flex flex-column">
        <div class="d-flex">
          <div class="maker-pic-container mr-2">
            <img *ngIf="card.photo_lg" class="card-img-top" src="{{card.photo_lg}}" alt="">
            <img *ngIf="!card.photo_lg" src="./assets/images/placeholder.png" alt="">
          </div>
          <div class="maker-data d-flex flex-column">
            <h4 class="maker-name" *ngIf="card.first_name && card.last_name">{{card.first_name}} {{card.last_name}}</h4>
            <h4 class="maker-name" *ngIf="!card.first_name && !card.last_name">{{card.username}}</h4>
            <p class="maker-nickname" *ngIf="card.nickname" innerHTML="{{card.nickname}}"></p>
            <p class="maker-city" *ngIf="card.city && card.country && card.country != 'United States'">{{card.location_locality}} , {{card.country}}</p>
            <p class="maker-city" *ngIf="card.city && card.country && card.country == 'United States'">{{card.location_locality}}, {{card.city}}</p>
            <p class="maker-descripe" *ngIf="card.descripe_yourself" innerHTML="{{card.descripe_yourself}}"></p>
          </div>
        </div>
        <div class="card-stats mt-auto">
          <ul class="list-unstyled d-flex justify-content-between">
            <li>
              <img src="./assets/images/icons/light-not-selected.png" class="project-likes" alt="">
              <span *ngIf="project.number_of_likes">{{project.number_of_likes}}</span>
              <span *ngIf="!project.number_of_likes">0</span>
            </li>
            <li>
              <img src="./assets/images/icons/views.png" class="project-views" alt="">
              <span>70</span>
            </li>
            <li *ngIf="projectsCount">
              <span *ngIf="projectsCount == 1">{{projectsCount}} project</span>
              <span *ngIf="projectsCount != 1">{{projectsCount}} projects</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>