<header class="main-header">
  <nav class="container navbar navbar-toggleable-md navbar-light bg-faded justify-content-md-start navbar-toggleable-sm flex-row">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#MainNav" aria-controls="MainNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" [routerLink]="['/']"><img src="./assets/images/logo.png" alt=""></a>
      <div class="log-block d-flex flex-row flex-last ml-auto align-items-center">
        <ul class="list-unstyled login-block">
          <li class="search-icon">
            <a (click)="openSearchBox()"><img src="./assets/images/icons/search.svg" alt=""></a>
          </li>
          <li *ngIf="!auth.authenticated()"><a class="login-div" (click)="auth.login()">Log in</a></li>
          <li class="min-user-img" *ngIf="auth.authenticated()">
            <div ngbDropdown class="d-inline-block account-controls dropdown">
              <button class="btn btn-transparent dropdown-toggle" id="dropdownMenu1" ngbDropdownToggle>
              <img src="{{user_photo}}" alt="" class="img-responsive">
            </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <button class="dropdown-item" [routerLink]="['/portfolio']">Profile</button>
                <button class="dropdown-item" [routerLink]="['/inbox']">Inbox</button>
                <button class="dropdown-item" [routerLink]="['/account/collection/bookmark']">Bookmarks</button>
                <button class="dropdown-item" [routerLink]="['/account/settings/notifications']">Account Settings</button>
                <button class="dropdown-item" (click)="auth.logout()">Logout</button>
              </div>
            </div>
        </li>
<li>
        <app-feedback></app-feedback>
  </li>     
        <!--<li>

          <div ngbDropdown class="d-inline-block account-controls dropdown">
            <button class="btn btn-transparent dropdown-toggle" id="dropdownMenu1" ngbDropdownToggle>{{ActionName}} <i class="fa fa-lg fa-bars"></i></button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <button class="dropdown-item" (click)="mostRecent($event)">Most recent</button>
              <button class="dropdown-item" (click)="oldest($event)">Oldest</button>
              <button class="dropdown-item" (click)="sortAsc($event)">Title A-Z</button>
              <button class="dropdown-item" (click)="sortDesc($event)">Title Z-A</button>
            </div>
          </div>
        </li>-->
          
          <li class="nav-item dropdown  hidden-sm-down">
            <a href="#" class="nav-link dropdown-toggle navbar-left" data-toggle="dropdown" data-target="makerMenu" role="button" aria-haspopup="true"
              aria-expanded="false">
              <img src="./assets/images/icons/hamburger.png" alt="">
              </a>
              <div class="dropdown-menu" id="makerMenu" aria-labelledby="makerMenu">
                <div class="intel-sites ">
                  <a [routerLink]="['the-maker-movement']" class="dropdown-item">The Maker Movement</a>
                  <a [routerLink]="['intel-make']" class="dropdown-item">Intel + Make</a>
                  <a [routerLink]="['about-badges']" class="dropdown-item greyed">About Badges</a>
                  <a [routerLink]="['terms-of-use']" class="dropdown-item greyed">Terms of Use</a>
                </div>
                <div class="maker-sites ">
                  <a [routerLink]="['other-sites']" class="dropdown-item greyed">Other Sites</a>
                  <a [routerLink]="['makezine']" class="dropdown-item">Makezine</a>
                  <a [routerLink]="['maker-faire']" class="dropdown-item">Maker Faire</a>
                  <a [routerLink]="['makers-intel']" class="dropdown-item">Makers.Intel.com</a>
                  <a [routerLink]="['maker-camp']" class="dropdown-item">Maker Camp</a>
                  <a [routerLink]="['intel-innovation-programs']" class="dropdown-item">Intel Innovation Programs</a>
                </div>
              </div>
          </li>
        </ul>
      </div>
      <div class="collapse navbar-collapse justify-content-md-start" id="MainNav">
        <ul class="navbar-nav justify-content-md-between">
          <li class="nav-item hidden-md-up">
            <a href="" class="nav-link color-text"><i class="fa fa-lg fa-plus"></i> Add a Project</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['explore']">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['showcases']">Showcases</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['missions']">Missions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['workshops']">Workshops</a>
          </li>
          <li class="nav-item hidden-md-up">
            <a class="nav-link color-text" *ngIf="auth.authenticated()" (click)="auth.logout()">Log Out</a>
          </li>
          <li class="nav-item button-container-main-1" *ngIf="auth.authenticated()"><a class="btn btn-main btn-sharp" [routerLink]="['/project/create']"><i class="fa fa-lg fa-plus"></i> <span>Add a</span> Project</a></li>
        </ul>
      </div>
  </nav>

  <app-search-box *ngIf="showSearchBox" [boxStatus]="showSearchBox" (notify)="onNotify($event)"></app-search-box>

</header>
<notification-bar></notification-bar>