<section class="banner">
  <div id="homeBanner" class="text-center mx-auto">
    <h2>Hello Makers</h2>
    <h1>Head here to start your project portfolio, find a mission, or learn new skills.
    </h1>
    <div (click)="auth.login()" *ngIf="!auth.authenticated()" class="button-container-main-1">
      <a class="btn btn-main">Join Us</a>
    </div>
  </div>
</section>

<section class="carousel-slider">
  <div class="carousel-slider-slick">
    <div class="carousel-img-container">
      <img class="img-fluid" src="./assets/images/slider/Maker-Share-Intro-1.jpg" alt="" />
    </div>
    <div class="carousel-img-container">
      <img class="img-fluid" src="./assets/images/slider/Maker-Share-Intro-2.jpg" alt="" />
    </div>
    <div class="carousel-img-container">
      <img class="img-fluid" src="./assets/images/slider/Maker-Share-Intro-3.jpg" alt="" />
    </div>
    <div class="carousel-img-container">
      <img class="img-fluid" src="./assets/images/slider/Maker-Share-Intro-4.jpg" alt="" />
    </div>
    <div class="carousel-img-container">
      <img class="img-fluid" src="./assets/images/slider/Maker-Share-Intro-7.jpg" alt="" />
    </div>
    <div class="carousel-img-container">
      <img class="img-fluid" src="./assets/images/slider/Maker-Share-Intro-8.jpg" alt="" />
    </div>
    <div class="carousel-img-container">
      <img class="img-fluid" src="./assets/images/slider/Maker-Share-Intro-9.jpg" alt="" />
    </div>
    <div class="carousel-img-container">
      <img class="img-fluid" src="./assets/images/slider/Maker-Share-Intro-10.jpg" alt="" />
    </div>
    <div class="carousel-img-container">
      <img class="img-fluid" src="./assets/images/slider/Maker-Share-Intro-13.jpg" alt="" />
    </div>
    <div class="carousel-img-container">
      <img class="img-fluid" src="./assets/images/slider/Maker-Share-Intro-16.jpg" alt="" />
    </div>
    <div class="carousel-img-container">
      <img class="img-fluid" src="./assets/images/slider/Maker-Share-Intro-18.jpg" alt="" />
    </div>
    <div class="carousel-img-container">
      <img class="img-fluid" src="./assets/images/slider/Maker-Share-Intro-19.jpg" alt="" />
    </div>
    <div class="carousel-img-container">
      <img class="img-fluid" src="./assets/images/slider/Maker-Share-Intro-20.jpg" alt="" />
    </div>
    <div class="carousel-img-container">
      <img class="img-fluid" src="./assets/images/slider/Maker-Share-Intro-21.jpg" alt="" />
    </div>
    <div class="carousel-img-container">
      <img class="img-fluid" src="./assets/images/slider/Maker-Share-Intro-22.jpg" alt="" />
    </div>
    <div class="carousel-img-container">
      <img class="img-fluid" src="./assets/images/slider/Maker-Share-Intro-25.jpg" alt="" />
    </div>
    <div class="carousel-img-container">
      <img class="img-fluid" src="./assets/images/slider/Maker-Share-Intro-26.jpg" alt="" />
    </div>
    <div class="carousel-img-container">
      <img class="img-fluid" src="./assets/images/slider/Maker-Share-Intro-30.jpg" alt="" />
    </div>
    <div class="carousel-img-container">
      <img class="img-fluid" src="./assets/images/slider/Maker-Share-Intro-31.jpg" alt="" />
    </div>
    <div class="carousel-img-container">
      <img class="img-fluid" src="./assets/images/slider/Maker-Share-Intro-35.jpg" alt="" />
    </div>
  </div>
</section>

<section class="what-is-ms">
  <div class="container">
    <h2 class="text-center">WHAT IS MAKERSHARE?</h2>
    <div class="row">
      <div class="col-12 home-body-logos d-flex align-items-center justify-content-center">
        <a href="www.makezine.com" target="_blank"><img src="./assets/images/icons/Make-Logo-2x.png" alt="Maker Share Logo" class="img-fluid home-body-logo maker"/></a>
        <span class="border"></span>
        <a href="www.intel.com" target="_blank"><img src="./assets/images/icons/Intel-Logo-2x.png" alt="Intel logo" class="img-fluid home-body-logo intel"/></a>
      </div>
      <div class="col-12">
        <p>In 2005, Make: introduced to the world a simple idea: We are all Makers.
        Makers integrate science and technology with art to create a world that is more productive, creative and inclusive.
        We unite around one idea: any ordinary object can be transformed into an innovation.
        Intel is a technology giant whose products empower us to change the future. Intel asks simply: What will you make?
        With Maker Share, Make: and Intel come together to support collaboration between Makers around the world.</p>
      </div>
    </div>
  </div>
</section>

<div class="parallax-scroll">
  <section class="info-w-parallax parallax-bg">
    <img src="assets/images/Home-Page-Science-Drawing.jpg" alt="Science drawing background" />
    <div class="parallax-container">
      <div class="container">
        <div class="row">
          <div class="col-12 offset-lg-1 col-lg-10 offset-xl-2 col-xl-8 add-animation">
            <div class="info-card">
              <h2>Portfolios</h2>
              <h3>Start your project portfolio.</h3>
              <p>Makers already share their work; your Maker Share portfolio organizes and documents your work, whether you’re a weekend Maker or a professional, to help you tell the story behind your projects.</p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12 offset-lg-1 col-lg-10 offset-xl-2 col-xl-8 add-animation">
            <div class="info-card">
              <h2>Missions</h2>
              <h3>Participate in a mission.</h3>
              <p>Maker Share brings makers together to build with a purpose. Here you find Missions to motivate you and connect
                you with opportunities that focus your skills on making for social good.</p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12 offset-lg-1 col-lg-10 offset-xl-2 col-xl-8 add-animation">
            <div class="info-card">
              <h2>Learning Workshops</h2>
              <h3>Learn new skills.</h3>
              <p>Makers never stop learning. On Maker Share, Make: and Intel deliver lessons from accomplished makers and educators on topics from basic electronics to building a business.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>