<section class="banner pb-3">
  <div id="homeBanner" class="text-center mx-auto">
    <h2>Welcome to Maker Share</h2>
    <h1>A community of makers sharing what they can do.</h1>
    <img src="./assets/images/Makers-min.png" alt="" class="img-fluid" />
    <div (click)="auth.login()" *ngIf="!auth.authenticated()" class="button-container-main-1">
      <a class="btn btn-main">Add a Project</a>
    </div>
  </div>
</section>
<div class="parallax-scroll">
  <section class="info-w-parallax parallax-bg">
    <img src="assets/images/Home-Page-Science-Drawing.jpg" alt="Science drawing background" />
    <div class="parallax-container">
      <div class="container">
        <div class="row">
          <div class="col-12 offset-lg-1 col-lg-10 offset-xl-2 col-xl-8 add-animation">
            <div class="info-card">
              <h2>Portfolios</h2>
              <h3>From Passion to Profession</h3>
              <p>Your Maker Portfolio organizes and documents your work, whether you’re a weekend Maker or a professional. Tell
                the story behind each project: what it is, how you made it and why. What inspired you, who helped you, what
                went right, what went wrong, what have you learned?</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 offset-lg-1 col-lg-10 offset-xl-2 col-xl-8 add-animation">
            <div class="info-card">
              <h2>Missions</h2>
              <h3>Making that Matters</h3>
              <p>Participating in a mission means using your skills to positively impact people’s lives. On Maker Share, you
                find missions that allow you to join others and focus your projects on an objective.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 offset-lg-1 col-lg-10 offset-xl-2 col-xl-8 add-animation">
            <div class="info-card">
              <h2>Learning Workshops</h2>
              <h3>Push Your Progress</h3>
              <p>Learn new skills and acquire new capabilities as a maker. Maker Share workshops guide you through learning
                paths on topics like electronics, robotics, Internet of Things and more.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 offset-lg-1 col-lg-10 offset-xl-2 col-xl-8 add-animation">
            <div class="info-card">
              <h2>Get Started</h2>
              <h3>Create Your Maker Portfolio</h3>
              <div class="button-container-onboarding">
                <div class="project-button button-container-main-1" *ngIf="auth.authenticated()">
                  <a class="btn btn-main btn-sharp" [routerLink]="['/project/create']"> + Add a Project
                  </a>
                </div>
                <div class="project-add button-container-main-1" *ngIf="!auth.authenticated()">
                  <a class="btn btn-main btn-sharp" (click)="auth.login()"> + Add a Project
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<section class="what-is-ms">
  <div class="container">
    <h2 class="text-center">A Project By:</h2>
    <div class="row">
      <div class="col-12 home-body-logos d-flex align-items-center justify-content-center">
        <a href="http://www.makezine.com" target="_blank"><img src="./assets/images/icons/Make-Logo-2x.png" alt="Maker Share Logo" class="img-fluid home-body-logo maker" /></a>
        <span class="border"></span>
        <a href="http://www.intel.com" target="_blank"><img src="./assets/images/icons/Intel-Logo-2x.png" alt="Intel logo" class="img-fluid home-body-logo intel" /></a>
      </div>
      <div class="col-12">
        <h5>Make: and Intel</h5>
        <h5>supporting innovation and collaboration among Makers around the world.</h5>
      </div>
    </div>
  </div>
</section>
<section class="what-is-ms p-0 mt-4" *ngIf="!auth.authenticated()">
  <div class="container">
    <div class="explore-maker-share">
      <h1 class="text-center">Explore Maker Share</h1>
    </div>
  </div>
</section>