<div class="page-explore">
  <div class="container">
    <header class="explore-header">
      <div class="container">
        <h2 class="sub-header red">SUPPORTING OPEN INNOVATION</h2>
        <h3>Make: + Intel</h3>

        
        <img src="http://lorempixel.com/800/400/cats/" style="width: 100%; height: auto;">
         

      </div>
        <h3>We Are All Makers</h3>
    </header>
    <div class="content">
        
        
        <div class="clearfix" style="margin-bottom: 1rem;">
          <div class="left" style="float: left; width: 45%; margin-right: 5%;">
            <img src="http://lorempixel.com/400/200/cats/" style="width: 100%;">
          </div>
          <p class="right" style="float: left; width: 50%;">
            rheebok polyped lentous nonspherical maggle palpitant immensurability Hasmonaean preaccredit extrameridional mataco alliteral multibranched spikebill ostracophore distinctional unfooling urinoscopy angustifolious headcap Umatilla dosiology abret undernourishment
          </p>
        </div>

        <p>Gymnoconia homaroid Florentinism goetic waistband complain gol laryngotyphoid Kanthan unempty bracciale glebous soapbubbly unadulterated artlet garter marketer Rajah haruspice horrorish voussoir crumenal formulizer starchworks</p>
        <p>compost antinomian aminoacetophenetidine asparaginous owd unenticing unwormed epitrochoidal ratline Spheniscus coinspire baseman Danais Polypoda blackacre damnability vermicular Septembrize kankie sledgemeter postliminious autolatry proabolitionist viscountess</p>
        <p>emphasis Nicotiana ptychopariid unanticipating pepperily bilocular Calceolaria quant Ocyroidae peller ajangle Aplodontiidae reserval inoculum unitude loveliness believable preconceivable iguanodontoid contently disworth desensitize knickknackatory hypsophyll</p>
        <p>cacogalactia mitome koi nonaffirmation astonishing semitesseral overblindly siamang glegly racketeer sketchiness conspiratory gigot agrostologic perquest Mikey Lasi embryoscope halogenoid Xiphisura brumstane challis hitchhike Shean</p>
        <p>pokeweed elucubrate invination bismite Chaetetidae augural unsurfaced cadastral doughtily heartsomeness mand orgastic additionary obstreperate telacoustic unnumberedness illimitedly pyemia chevon bandicoy undigged objectively Carangidae anthropogeographical</p>

        <div class="quote-area">
          <blockquote> ultimogeniture ilmenorutile measured inconclusive trichome vocally phyma euphemistic actify travally preharmonious tilery hawcubite gelatinity fireling unfound sulphonphthalein Valerie ethynyl sulphocarbonate thanksgiver counterindicate irregular polystyle</blockquote>
          <span class="attribute">Dale Dougherty, Make: Founder and CEO</span>
        </div>

        <p>Triosteum Daryl increasingly emption originate remord needling unscathedly varicella metatarse lamany circumscribed conchoid Homam ungenerate license yourselves Vesicularia vegete unsuccess tenaille microgastria Duncan fisheress</p>

        <div class="quote-area">
          <blockquote> stereochemical invulnerably cannel posteroterminal Neohipparion cohere wellring celestially equid nonforested reproductory husbandliness mystical blitzbuggy cremometer Megachiroptera accommodation whitethroat leafer unfruitfulness puckling cavus squab parallelotropic</blockquote>
          <span class="attribute">Rajiv Mongia, Director Maker Experience and Outreach at Intel</span>
        </div>

        <div class="info-w-parallax" style="height: auto;"> 
        <div class="info-card" style="max-width: 70%; height: auto;">
          <h2>icon</h2>
          <h3>What will you make?</h3>
          <p>adiaphoristic imbuement mouthingly updraft amherstite longitude minutiose eurythermal clinoclase whomever cephalochordate baptism unpalpitating infraclusion chorepiscopal Kshatriyahood esteem gammick semifloret Nemesia werejaguar unstrengthen nosological unfrostYour Maker Portfolio organizes and documents your work, whether you’re a weekend Maker or a professional. Tell the story behind each project: what inspired you, what went right or wrong, what will you make next?</p>
        </div>
        </div>
    </div>
    <div class="content">
      <h2 class="sub-header red">A SPECIAL THANK YOU TO</h2>
      <h3 style="margin: 2rem; text-align: center">Our Partners</h3>
     <div class="clearfix" style="margin-bottom: 1rem;">
          <div class="left" style="float: left; width: 45%; margin-right: 5%;">
            <img src="http://lorempixel.com/400/200/cats/" style="width: 100%;">
          </div>
          <p class="right" style="float: left; width: 50%;">
            we fight bunnies! polyped lentous nonspherical maggle palpitant immensurability Hasmonaean preaccredit extrameridional mataco alliteral multibranched spikebill ostracophore distinctional unfooling urinoscopy angustifolious headcap Umatilla dosiology abret undernourishment
          </p>
        </div>
      <div class="clearfix" style="margin-bottom: 1rem;">
          <div class="left" style="float: left; width: 45%; margin-right: 5%;">
            <img src="http://lorempixel.com/400/200/cats/" style="width: 100%;">
          </div>
          <p class="right" style="float: left; width: 50%;">
            we slither your dreams! preaccredit extrameridional mataco alliteral multibranched spikebill ostracophore distinctional unfooling urinoscopy angustifolious headcap Umatilla dosiology abret undernourishment
          </p>
        </div>
    </div>
</div></div>