<template #rt let-r="result" let-t="term">
  {{ r.name}}
</template>

<div class="region region-content col-md-8" [formGroup]="HowToForm">
  <div class="how-to">
    <div class="form-group tools">
      <label>Tools</label>
      <div formArrayName="field_tools">
        <div class="container p-0">
          <div class="row" [formGroupName]="HowToForm.controls['field_tools']['controls'].length-1">
            <div class="col-md-6 inputs-container flex-column flex-md-row">
              <div class="form-group w-100">
                <input [inputFormatter]="formatter" [ngClass]="{valError: formErrors.field_tools[HowToForm.controls['field_tools']['controls'].length-1].field_tool_name}"
                  *ngIf="!AddingValues && !HowToForm.controls['field_tools']['controls'][HowToForm.controls['field_tools']['controls'].length-1]['controls'].field_tool_name.value"
                  type="text" id="tool-name-{{HowToForm.controls['field_tools']['controls'].length}}" placeholder="Tools used to create this project."
                  class="tool form-control" [resultTemplate]="rt" [ngbTypeahead]="search" (selectItem)="TempSelectedToolMaterialPart['tool'] = $event.item;InputToolMaterialPart['tool'] = ''"
                  ngbTooltip="{{TooltipText.tool_name.guide}}">
                <div class="item-notfound item-notfound d-flex flex-row pt-2" *ngIf="InputToolMaterialPart['tool']">
                  <a class="add-button" (click)="AddNewToolMaterialPart('tool')"><i class="lnr lnr-plus-circle"></i>Add</a>
                </div>
                <small *ngIf="formErrors.field_tools[HowToForm.controls['field_tools']['controls'].length-1].field_tool_name" class="text-danger">
                  {{formErrors.field_tools[HowToForm.controls['field_tools']['controls'].length-1].field_tool_name}}
                </small>
              </div>
            </div>
            <div class="col-md-6 inputs-container flex-column flex-md-row">
              <div class="form-group w-100">
                <!--<label>Quantity</label>-->
                <input id="tool-quantity-{{HowToForm.controls['field_tools']['controls'].length}}" min="1" type="text" placeholder="Quantity"
                  class="form-control" [formControl]="HowToForm.controls['field_tools']['controls'][HowToForm.controls['field_tools']['controls'].length-1]['controls'].field_quantity">
              </div>
            </div>
            <a class="add-button" *ngIf="TempSelectedToolMaterialPart['tool']" (click)="SetToolMaterialPart('tool','field_tools',TempSelectedToolMaterialPart['tool'],HowToForm.controls['field_tools']['controls'].length-1);"><i class="lnr lnr-plus-circle"></i>Add</a>
          </div>
        </div>
        <span *ngIf="HowToForm.controls['field_tools']['controls'].length > 1" class="tool-list">PROJECT SUPPLY LIST:</span>
        <div *ngFor="let Tool of HowToForm.controls['field_tools']['controls']; let i=index" class="result col-md-6">
          <div class="d-flex flex-row" *ngIf="i != HowToForm.controls['field_tools']['controls'].length-1">
            <div>{{Tool.value.field_tool_name|EntityReferenceNoNid}}, Quantity: {{Tool.value.field_quantity}}</div>
            <i class="lnr lnr-cross-circle ml-auto pt-1" (click)="RemoveRow(i,'field_tools')"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group parts">
      <label>Boards and Kits</label>
      <div formArrayName="field_parts">
        <div class="container p-0">
          <div class="row" [formGroupName]="HowToForm.controls['field_parts']['controls'].length-1">
            <div class="col-md-6 inputs-container flex-column flex-md-row">
              <div class="form-group w-100">
                <!--<label>Name</label>-->
                <input [inputFormatter]="formatter" [ngClass]="{valError: formErrors.field_parts[HowToForm.controls['field_parts']['controls'].length-1].field_part_name}"
                  *ngIf="!AddingValues && !HowToForm.controls['field_parts']['controls'][HowToForm.controls['field_parts']['controls'].length-1]['controls'].field_part_name.value"
                  type="text" id="part-name-{{HowToForm.controls['field_parts']['controls'].length-1 + 1}}" placeholder="Boards and Kits used"
                  class="part form-control" [resultTemplate]="rt" [ngbTypeahead]="search" (selectItem)="TempSelectedToolMaterialPart['part'] = $event.item;InputToolMaterialPart['part'] = ''">
                <div class="item-notfound item-notfound d-flex flex-row pt-2" *ngIf="InputToolMaterialPart['part']">
                  <a class="add-button" (click)="AddNewToolMaterialPart('part')"><i class="lnr lnr-plus-circle"></i>Add</a>
                </div>
                <small *ngIf="formErrors.field_parts[HowToForm.controls['field_parts']['controls'].length-1].field_part_name" class="text-danger">
                  {{formErrors.field_parts[HowToForm.controls['field_parts']['controls'].length-1].field_part_name}}
                </small>
              </div>
            </div>
            <div class="col-md-6 inputs-container flex-column flex-md-row">
              <div class="form-group w-100">
                <!--<label>Quantity</label>-->
                <input id="part-quantity-{{HowToForm.controls['field_parts']['controls'].length-1 + 1}}" min="1" type="text" placeholder="Quantity"
                  class="form-control" [formControl]="HowToForm.controls['field_parts']['controls'][HowToForm.controls['field_parts']['controls'].length-1]['controls'].field_quantity">
              </div>
            </div>
            <a class="add-button" *ngIf="TempSelectedToolMaterialPart['part']" (click)="SetToolMaterialPart('part','field_parts',TempSelectedToolMaterialPart['part'],HowToForm.controls['field_parts']['controls'].length-1);"><i class="lnr lnr-plus-circle"></i>Add</a>
          </div>
        </div>
        <div *ngFor="let Part of HowToForm.controls['field_parts']['controls']; let i=index" class="result col-md-6">
          <div class="d-flex flex-row" *ngIf="i != HowToForm.controls['field_parts']['controls'].length-1">
            <div>{{Part.value.field_part_name|EntityReferenceNoNid}},Quantity:{{Part.value.field_quantity}}</div>
            <i class="lnr lnr-cross-circle ml-auto pt-1" (click)="RemoveRow(i,'field_parts')"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group materials">
      <label>Parts and Materials</label>
      <div formArrayName="field_materials">
        <div class="container p-0">
          <div class="row" [formGroupName]="HowToForm.controls['field_materials']['controls'].length-1">
            <div class="col-md-6 inputs-container flex-column flex-md-row">
              <div class="form-group w-100">
                <!--<label>Name</label>-->
                <input [inputFormatter]="formatter" [ngClass]="{valError: formErrors.field_materials[HowToForm.controls['field_materials']['controls'].length-1].field_material_name}"
                  *ngIf="!AddingValues && !HowToForm.controls['field_materials']['controls'][HowToForm.controls['field_materials']['controls'].length-1]['controls'].field_material_name.value"
                  type="text" id="material-name-{{HowToForm.controls['field_materials']['controls'].length-1 + 1}}" placeholder="Parts and Material used"
                  class="material form-control" [resultTemplate]="rt" [ngbTypeahead]="search" (selectItem)="TempSelectedToolMaterialPart['material'] = $event.item;InputToolMaterialPart['material'] = ''">
                <div class="item-notfound item-notfound d-flex flex-row pt-2" *ngIf="InputToolMaterialPart['material']">
                  <a class="add-button" (click)="AddNewToolMaterialPart('material')"><i class="lnr lnr-plus-circle"></i>Add</a>
                </div>
                <small *ngIf="formErrors.field_materials[HowToForm.controls['field_materials']['controls'].length-1].field_material_name"
                  class="text-danger">
                  {{formErrors.field_materials[HowToForm.controls['field_materials']['controls'].length-1].field_material_name}}
                </small>
              </div>
            </div>
            <div class="col-md-6 inputs-container flex-column flex-md-row">
              <div class="form-group w-100">
                <!--<label>Quantity</label>-->
                <input id="material-quantity-{{HowToForm.controls['field_materials']['controls'].length-1 + 1}}" min="1" type="text" placeholder="Quantity or Amount"
                  class="form-control" [formControl]="HowToForm.controls['field_materials']['controls'][HowToForm.controls['field_materials']['controls'].length-1]['controls'].field_material_quantity">
              </div>
            </div>
            <a class="add-button" *ngIf="TempSelectedToolMaterialPart['material']" (click)="SetToolMaterialPart('material','field_materials',TempSelectedToolMaterialPart['material'],HowToForm.controls['field_materials']['controls'].length-1);"><i class="lnr lnr-plus-circle"></i>Add</a>
          </div>
        </div>
        <div *ngFor="let Material of HowToForm.controls['field_materials']['controls']; let i=index" class="result col-md-6">
          <div class="d-flex flex-row" *ngIf="i != HowToForm.controls['field_materials']['controls'].length-1">
            <div>{{Material.value.field_material_name|EntityReferenceNoNid}},Quantity:{{Material.value.field_material_quantity}}</div>
            <i class="lnr lnr-cross-circle ml-auto pt-1" (click)="RemoveRow(i,'field_materials')"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="container form-group p-0">
      <div class="row">
        <div *ngIf="Difficulties" class="form-group difficulties col-md-6">
          <label for="">Difficulty</label>
          <i class="dropdownIcon lnr lnr-chevron-down" *ngIf="HowToForm.controls.field_difficulty.value == '_none'"></i>
          <select id="difficulty" *ngIf="HowToForm.controls.field_difficulty.value == '_none'" class="shadowed form-control col-lg-8"
            title="Select one" formControlName='field_difficulty'>
            <option value="_none" disabled>Choose one</option>
            <option *ngFor="let Difficulty of Difficulties; let i=index" value="{{Difficulty.tid}}" >{{Difficulty.name}}</option>
          </select>
          <div *ngIf="HowToForm.controls.field_difficulty.value != '_none'">
            <div *ngFor="let Difficulty of Difficulties; let i=index">
              <div class="how-to-select d-flex flex-row" *ngIf="Difficulty.tid == HowToForm.controls.field_difficulty.value">
                <span>{{Difficulty.name}}</span>
                <i class="lnr lnr-cross-circle ml-auto pt-1" (click)="HowToForm.controls.field_difficulty.patchValue('_none')"></i>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="Durations" class="form-group durations col-md-6">
          <label for="">Duration</label>
          <i class="dropdownIcon lnr lnr-chevron-down" *ngIf="HowToForm.controls.field_duration.value == '_none'"></i>
          <select id="duration" *ngIf="HowToForm.controls.field_duration.value == '_none'" class="shadowed form-control col-lg-8" title="Select one"
            formControlName='field_duration'>
            <option value="_none" disabled>Choose one</option>
            <option *ngFor="let Duration of Durations; let i=index" value="{{Duration.tid}}" >{{Duration.name}}</option>
          </select>
          <div *ngIf="HowToForm.controls.field_duration.value != '_none'">
            <div *ngFor="let Duration of Durations; let i=index">
              <div class="how-to-select d-flex flex-row" *ngIf="Duration.tid == HowToForm.controls.field_duration.value">
                <span>{{Duration.name}}</span>
                <i class="lnr lnr-cross-circle ml-auto pt-1" (click)="HowToForm.controls.field_duration.patchValue('_none')"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group resources-row">
      <label>Resources</label>
      <div formArrayName="field_resources">
        <div>
          <div class="" [formGroupName]="HowToForm.controls['field_resources']['controls'].length-1">
            <div class="inputs-container row flex-column flex-md-row">
              <div class="form-group col-xs-12 col-md-6">
                <input *ngIf="!AddingValues" type="text" class="form-control" formControlName="field_label" placeholder="Name of resource.">
                <small *ngIf="formErrors.field_resources[HowToForm.controls['field_resources']['controls'].length-1].field_label" class="text-danger">
                  {{formErrors.field_resources[HowToForm.controls['field_resources']['controls'].length-1].field_label}}
                </small>
              </div>
              <div class="col-md-6 d-flex col-xs-12 resources-button">
                <p class="resource-float-text">Upload files or save URL links.</p>
                <button *ngIf="!ResourceFileSelected && !ResourceRepoLinkSelected" (click)="OpenModal(resourcefile)" class="btn btn-load-more">Choose a file</button>
                <button *ngIf="!ResourceFileSelected && !ResourceRepoLinkSelected" class="btn btn-load-more fake-btn" (click)="OpenModal(linkreop)">URL Link <i class="lnr lnr-plus-circle"></i></button>
                <div class="selected" *ngIf="ResourceFileSelected">{{ResourceFileSelected.filename}}</div>
                <div class="selected" *ngIf="ResourceRepoLinkSelected">{{ResourceRepoLinkSelected}}</div>
                <a class="add-button" class="selected" *ngIf="ResourceFileSelected" (click)="SetResourceFile()"><i class="lnr lnr-plus-circle"></i>Add</a>
                <a class="add-button" class="selected" *ngIf="ResourceRepoLinkSelected" (click)="SetResourceByRepoLink()"><i class="lnr lnr-plus-circle"></i>Add</a>
              </div>
            </div>
          </div>
        </div>
        <span *ngIf="HowToForm.controls['field_resources']['controls'].length > 1" class="tool-list">RESOURCES:</span>
        <div *ngFor="let Resource of HowToForm.controls['field_resources']['controls']; let i=index" class="result col-md-6">
          <div class="d-flex flex-row" *ngIf="i != HowToForm.controls['field_resources']['controls'].length-1">
            <div>{{Resource.value.field_label}}</div>
            <i class="lnr lnr-cross-circle ml-auto pt-1" (click)="RemoveRow(i,'field_resources')"></i>
          </div>
        </div>
      </div>
      <div class="form-group projectSteps">
        <div class="form-group project-steps">
          <label for="how-to-make">Steps</label>
          <ckeditor #ckeditor id="how-to-make" rows="5" [config]="CKEditorConfig" formControlName='field_how_to' [(ngModel)]="project.field_how_to.und[0].value"></ckeditor>
        </div>
      </div>
    </div>
  </div>
  <!-- End how-to -->
</div>
<aside class="col-md-4">
  <div class="how-to-guide hidden-sm-down">
    <h2 class="col-12">Helpful Hints</h2>
    <p class="col-12">This tab isn't required to publish your project.</p>
    <br>
    <div class="guideline">
      <div class="pull-left question-mark"><i class="fa fa-2x fa-question-circle"></i></div>
      <div class="pull-left content">
        <h4>{{sidebarText.tools.title}}</h4>
        <p>{{sidebarText.tools.guide}}</p>
      </div>
    </div>
    <div class="guideline">
      <div class="pull-left question-mark"><i class="fa fa-2x fa-question-circle"></i></div>
      <div class="pull-left content">
        <h4>{{sidebarText.difficulties_duration.title}}</h4>
        <p>{{sidebarText.difficulties_duration.guide}}</p>
      </div>
    </div>
    <div class="guideline">
      <div class="pull-left question-mark"><i class="fa fa-2x fa-question-circle"></i></div>
      <div class="pull-left content">
        <h4>{{sidebarText.credit_your_inspiration.title}}</h4>
        <p>{{sidebarText.credit_your_inspiration.guide}}</p>
      </div>
    </div>
  </div>
</aside>

<!-- MODALS -->
<template #resourcefile let-c="close" let-d="dismiss">
  <div class="upload-cover-modal">
    <div class="modal-header">
      <h4 class="modal-title">Choose resource file</h4>
      <button type="button" class="close ml-auto" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body" ng2FileDrop (ng2FileDropFileAccepted)="dragFileAccepted($event,CloseButton)">
      <div id="portfolio-photo" class="w-100 container">
        <div class="upload-tab row">
        <div class="drop-section col-md-7">
          <img class="image-background" src="./assets/images/icons/Photos Icon.png" alt="">
          <div>
            <p class="drag-photo">Drag a File Here</p>
            <p class="drag-or">or</p>
          </div>
          <a class="btn btn-load-more" (click)="fileinput.click()">
      Upload
      <input #fileinput type="file" (change)="ResourceFileUploaded($event.target.files[0],CloseButton)" id="upload" style="display:none;" />
    </a>
        </div>
        <div class="recommended-section col-md-4">
          <p class="drag-text mt-4 mb-0">Recommended minimum resolution 600 by 400 pixels</p>
        </div>
      </div>
      </div>
    </div>
    <div class="modal-footer">
      <button #CloseButton type="button" class="btn btn-load-more" (click)="c('Close click')">Close</button>
    </div>
  </div>
</template>

<template #linkreop let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Enter the repository link</h4>
    <button type="button" class="close ml-auto" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <input name="urllink" type="text" url required #urllink="ngModel" add-protocol [(ngModel)]="TempSelectedToolMaterialPart['link']"
      class="form-control" placeholder="URL Link" />
    <small *ngIf="urllink.errors && urllink.dirty" class="text-danger">
      URL not valid, please enter a valid url:http://example.com.
    </small>
  </div>
  <div class="modal-footer">
    <button [hidden]="true" #CloseButton type="button" class="btn btn-load-more" (click)="c('Close click')">Close</button>
    <button type="button" class="btn btn-primary" [disabled]="!urllink.valid" (click)="SaveRepoLink(urllink,CloseButton)">Save</button>
  </div>
</template>