<div *ngIf="challenges.length==0">
  <p>No followed challenges yet</p>
  </div>
<div *ngIf="challenges.length>0">
<input type="checkbox" name="all" [checked]="isAllChecked()" (change)="checkAll($event)"> Select all
<a class="btn btn-transparent delete" (click)=" deleteMessages()">Delete</a>
<table class="table">
  <thead>
    <tr>
       <th></th>
        <th>Challenge Name</th>
        <th>Challenge Image</th>
        <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let challenge of challenges let i=index;">
      <div class="select" *ngIf="challenge">
        <input type="checkbox" value="{{challenge.nid}}"  [(ngModel)]="challenge.state"  (change)="valueChanged(challenge.nid,$event)">
      </div>
      <td *ngIf="challenge.challenge_name">{{challenge.challenge_name}}</td>
       <td *ngIf="challenge"><img class="d-flex mr-3" src="{{challenge.image}}" alt="" class="img-responsive">  </td>             
      <td class="delete"><a class="fa fa-2x fa-trash delete-message" (click)="deleteMessage(i)"></a></td>

    </tr>
  </tbody>
</table>
</div>
<div class="text-center">
  <div class="button-container-main-2" *ngIf="!hideloadmorefollowchallenge">
    <a class="btn btn-main-2" (click)="loadMoreEntries()">Load more</a>
  </div>
</div>