<div *ngIf="challenges.length==0">
  <h3>You haven't followed any missions yet.</h3><br>
  <p>Head over to any mission page you want to keep track of and click the Follow button.<br> Once you do, you can easily find
    the mission again from this page.</p>
</div>
<div *ngIf="challenges.length>0">
  <!--<input type="checkbox" name="all" [checked]="isAllChecked()" (change)="checkAll($event)"> Select all
  <a class="btn btn-transparent delete" (click)=" deleteMessages()">Delete</a>-->
  <div class="media bookmark-item bookmark-challenge" *ngFor="let challenge of challenges let i=index;">
    <div class="media-left">
      <div class="book-img" [routerLink]="['/missions/',challenge.nid]" *ngIf="challenge"><img class="d-flex mr-3" src="{{challenge.image}}" alt="" class="img-responsive"></div>
    </div>
    <div class="media-body">
      <!--<div class="select" *ngIf="challenge">-->
      <!--<input type="checkbox" value="{{challenge.nid}}"  [(ngModel)]="challenge.state"  (change)="valueChanged(challenge.nid,$event)">-->
      <!--</div>-->
      <div class="title" [routerLink]="['/missions/',challenge.nid]" *ngIf="challenge.challenge_name"><span>{{challenge.challenge_name}}</span></div>
    </div>
    <div class="media-right">
      <div class="delete">
        <a class="lnr lnr-trash delete-message" (click)="deleteMessage(i)"></a>
      </div>
    </div>
  </div>
</div>
<div class="text-center">
  <div class="button-container-main-2" *ngIf="!hideloadmorefollowchallenge">
    <a class="btn btn-main-2" (click)="loadMoreEntries()">Load more</a>
  </div>
</div>