<div class="row project-body">
  <div class="region region-content col-lg-8 col-md-8">
    <div class="project-story-tab">
      <div class="project-image">
        <img src="{{project.field_cover_photo?.url}}" alt="" class="img-responsive" *ngIf="project.field_cover_photo">
        <img src="http://placehold.it/350x350" alt="" class="img-responsive" *ngIf="!project.field_cover_photo">
      </div>
      <div class="project-stats">
        <ul class="list-unstyled">
          <li><i class="fa fa-lg fa-eye" *ngIf="project.field_visibility2"></i>{{project.field_visibility2[0]?.tid}}</li>
          <li *ngIf="project.flag_count"><i class="fa fa-lg fa-thumbs-up" *ngIf="project.flag_count"></i>{{project?.flag_count}}</li>
          <li><i class="fa fa-lg fa-comment"></i>2</li>
          <li><i class="fa fa-lg fa-retweet" *ngIf="project.field_total_forks"></i>{{project.field_total_forks[0].value}}</li>
        </ul>
      </div>
      <hr>
      <div class="project-body">
        <p [innerHTML]="project.field_teaser?.value"></p>
        <p [innerHTML]="project.field_story?.value"></p>
      </div>
      <!-- End body -->
      </div>
      <div class="feedback-group">
        <app-comment [nid]="project.nid"></app-comment>
      </div>
  </div>
    <aside class="side-bar col-lg-4 col-md-4">
      <div class="timestamp" *ngIf="project.created && project.changed">Created On: {{project.created}} - Last Updated: {{project.changed}} </div>
      <div class="sidebar-container">
        <div class="project-story-tab">
          <div class="project-awards"><i class="fa fa-lg fa-trophy"></i><a href="#">Vehicles Challenge</a> Winner</div>
          <div class="project-collaborates">
            <div class="collaborate" *ngFor="let collaborator of project.field_collaborators; let i=index">
              <app-user-card [uid]="collaborator.target_id"></app-user-card>
              <div class="role" *ngIf="project.field_maker_memberships[i]">
                <h4>Role on the project</h4>
                <p>{{project.field_maker_memberships[i].membership_role}}</p>
              </div>
            </div>
            <!-- End Collaborate -->
          </div>
          <!-- End project-collaborates -->
          <div class="card aha">
            <div class="card-heading">
              <h3><i class="fa fa-lightbulb-o"></i>AHA! Moment</h3>
            </div>
            <div class="card-block" *ngIf="project.field_aha_moment">
              <p>{{project.field_aha_moment?.value}}</p>
            </div>
          </div>
          <div class="card uh-oh">
            <div class="card-heading">
              <h3><i class="fa fa-bomb"></i>UH-OH! Moment</h3>
            </div>
            <div class="card-block" *ngIf="project.field_aha_moment">
              <p>{{project.field_uh_oh_moment?.value}}</p>

            </div>
          </div>
          
          <div *ngIf="projectInfo.challenge_status =='375'"><div *ngIf="projectInfo.sponsor_bar">  Sponsor BY <img  src="{{projectInfo.sponsor_bar}}" width="30px" height="30px"></div></div>

          <div class="block-style fork">
            <p>
              Forked from: <a href="#">Name of the Last Project it came from</a>
            </p>
            <p>
              by <a href="#">Margot Jacobs</a>
            </p>
          </div>
          <!-- End fork -->
        </div>
      </div>
    </aside>
  </div>
