<div class="region region-content col-sm-8">
  <div class="project-story-tab">
    <div class="project-image">
      <img src="{{project.field_cover_photo.url}}" alt="" class="img-responsive" *ngIf="project.field_cover_photo.url"> 
      <img src="http://placehold.it/350x350" alt="" class="img-responsive" *ngIf="!project.field_cover_photo.url"> 
    </div>
    <div class="project-stats">
      <ul class="list-unstyled">
        <li><i class="fa fa-lg fa-eye" *ngIf="project.field_visibility2.tid"></i>{{project.field_visibility2.tid}}</li>
        <li><i class="fa fa-lg fa-thumbs-up" *ngIf="project.flag_count"></i>{{project.flag_count}}</li>
        <li><i class="fa fa-lg fa-comment"></i>2</li>
        <li><i class="fa fa-lg fa-retweet" *ngIf="project.field_total_forks[0].value"></i>{{project.field_total_forks[0].value}}</li>
      </ul>
    </div>
    <hr>
    <div class="project-body">
      <p>{{project.field_teaser.value}}</p>
      <p>{{project.field_story.value}}</p>
    </div><!-- End body -->              
    <div class="feedback-group">
      <div class="feedback" *ngFor="let comment of comments; let i=index">
        <div class=" feed-user">
          <img src="{{comment.photo}}" alt="" class="img-responsive pull-left">
          <div class="pull-left name">
            <h5><a href="#">{{comment.name}}</a></h5>
            <p>{{comment.nickname}}</p>
          </div>
        </div>
        <div class=" feed-body">
          <p>{{comment.subject}}</p>
        </div>
        <div class=" feed-timestamp">{{comment.changed | date:'medium'}}</div>
      </div><!-- End feedback -->
      <form>
        <div class="feedback col-md-10">
          <div class=""><img src="./assets/images/maker-robot.png" alt="" class="img-responsive"></div>
          <div class=""><textarea name="new-feedback" id="" cols="61" rows="2"></textarea></div>
        </div>
        <a href="" class="btn btn-white btn-sharp">Send</a>
      </form>
    </div>
  </div>
</div><!-- End region-content -->

<aside class="col-sm-4">
  <div class="timestamp" *ngIf="project.created && project.changed" >Created On: {{project.created}} - Last Updated: {{project.changed}} </div>
  <div>
    <div class="project-story-tab">
      <div class="project-awards"><i class="fa fa-lg fa-trophy"></i><a href="#" >Vehicles Challenge</a> Winner</div>
      <div class="project-collaborates">
        <div class="collaborate" *ngFor="let collab of collabs; let i=index">
          <div class=" profile-container"><!-- start profile card-->
            <div class="profile-card">
              <div class="left col-sm-4">
                <div class="profile-pic">
                  <img *ngIf="!collab.photo" src="http://placehold.it/140x140" alt="" class="img-responsive">
                  <img *ngIf="collab.photo" src="{{collab.photo}}" alt="" class="img-responsive">
                </div>
                <a href="#" class="btn btn-blue">Message</a>
              </div>
              <div class="right col-sm-8">
                <h4 class="profile-name" *ngIf="(collab.first_name) && (collab.last_name)"><a href="#">{{collab.first_name}} {{collab.last_name}}</a></h4>
                <div class="trophies">
                  <i class="fa fa-lg fa-child"></i>
                  <i class="fa fa-lg fa-certificate"></i>
                  <i class="fa fa-lg fa-trophy"></i>
                </div>
                <p class="count">6 projects</p>
                <p class="profile-tag" *ngIf="collab.descripe_yourself">{{collab.descripe_yourself}}</p>
                <p class="user-city" *ngIf="(collab.location_locality) && (collab.location_administrative_area)">{{collab.location_locality}}, {{collab.location_administrative_area}}</p>
              </div>
            </div><!-- End profile card -->
          </div><!-- End Profile-container -->
          <div class="role" *ngIf="project.field_maker_memberships[i]">
            <h4>Role on the project</h4>
            <p>{{project.field_maker_memberships[i].membership_role}}</p>
          </div>
        </div><!-- End Collaborate -->
      </div><!-- End project-collaborates -->
      <div class="panel panel-default aha">
        <div class="panel-heading">
          <h3><i class="fa fa-lightbulb-o"></i>AHA! Moment</h3>
        </div>
        <div class="panel-body">
          <p>{{project.field_aha_moment.value}}</p>
        </div>
      </div>
      <div class="panel panel-default uh-oh">
        <div class="panel-heading">
          <h3><i class="fa fa-bomb"></i>UH-OH! Moment</h3>
        </div>
        <div class="panel-body">
          <p>{{project.field_uh_oh_moment.value}}</p>
        </div>
      </div>
      <div class="block-style fork">
        <p>
          Forked from: <a href="#">Name of the Last Project it came from</a>
        </p>
        <p>
          by <a href="#">Margot Jacobs</a>
        </p>
      </div><!-- End fork -->
    </div>
  </div>
</aside>