<footer>
	<div class="container">
		<div class="row">
			<div class="copy col-md-2 ">
				<nav class="nav flex-column">
					<a class="nav-link hidden-sm-down" href="#"><img src="./assets/images/logo.png" alt="" class="img-responsive"></a>
					<a class="nav-link">&copy;2017 Maker Share <br> All rights reserved</a>
				</nav>
			</div>
			<div class="col-md-2  sitemap-1">
				<nav class="nav flex-column">
					<a class="nav-link" href="#">About us</a>
					<a class="nav-link hidden-sm-down" href="#">Be a Maker</a>
					<a class="nav-link hidden-sm-down" href="#">FAQs</a>
					<a class="nav-link" href="#">Sitemap</a>
					<a class="nav-link" href="#">Contact Us</a>
				</nav>
			</div>
			<div class="col-md-2  sitemap-2">
				<nav class="nav flex-column">
					<a class="nav-link hidden-sm-down" href="#">Advertise with Us</a>
					<a class="nav-link hidden-sm-down" href="#">Careers</a>
					<a class="nav-link hidden-sm-down" href="#">Help</a>
					<a class="nav-link" href="#">Privacy Policy</a>
					<a class="nav-link" href="#">Terms of Use</a>
				</nav>
			</div>
			<div class="col-md-4 newsletter">
				<form>
					<div class="form-group">
						<label for="newsletter">Sign up for Newsletter:</label>
						<div class="input-group">
							<input type="email" class="form-control" id="newsletter" aria-describedby="emailHelp" placeholder="Enter Address">
							<button type="submit" class="input-group-addon">Submit</button>
						</div>
					</div>
				</form>
			</div>
			<div class="col-md-2 col-sm-12 socials ">
				<nav class="nav flex-row flex-wrap ">
					<a class="nav-link" href="#">
						<span class="fa-stack fa-lg">
							<i class="fa fa-circle fa-stack-2x"></i>
							<i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
						</span>
					</a>
					<a class="nav-link" href="#">
						<span class="fa-stack fa-lg">
							<i class="fa fa-circle fa-stack-2x"></i>
							<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
						</span>
					</a>
					<a class="nav-link" href="#">
						<span class="fa-stack fa-lg">
							<i class="fa fa-circle fa-stack-2x"></i>
							<i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
						</span>
					</a>
					<a class="nav-link" href="#">
						<span class="fa-stack fa-lg">
							<i class="fa fa-circle fa-stack-2x"></i>
							<i class="fa fa-pinterest fa-stack-1x fa-inverse"></i>
						</span>
					</a>
				</nav>
			</div>
		</div>
	</div>
</footer>