<footer>
	<div class="container">
		<div class="row d-flex flex-row">
			<div class="row col-lg-4 col-sm-6 copy">
				<nav class="nav flex-row">
					<a class="nav-link first-logo-link" [routerLink]="['/']"><img src="./assets/images/icons/Maker-Share-Logo-BETA.svg" alt="" class="img-responsive first-logo"></a>
					<a class="nav-link second-logo-link" [routerLink]="['/make-intel']">
						<p class="nav-link logo-title">a project by</p>
						<img src="./assets/images/icons/Make-Intel-Grey-Lockup.svg" alt="" class="img-responsive second-logo">
					</a>
				</nav>
			</div>
			<div class="sitemap-1 col-lg-2 col-sm-6">
				<nav class="nav flex-column">
					<span class="footer-subtitle">Explore Making</span>
					<a class="nav-link" target="blank" href="http://makerfaire.com/">Maker Faire</a>
					<a class="nav-link" target="blank" href="http://makercamp.com/">Maker Camp</a>
					<a class="nav-link" target="blank" href="http://makezine.com/">Make: magazine</a>
					<a class="nav-link" target="blank" href="http://makezine.com/join/">e-Newsletters</a>
				</nav>
			</div>
			<div class="sitemap-2 col-lg-3 col-sm-6">
				<nav class="nav flex-column">
					<span class="footer-subtitle">About Our Company</span>
					<a class="nav-link" target="blank" href="http://makermedia.com/">About Us</a>
					<a class="nav-link" target="blank" href="http://makermedia.com/work-with-us/advertising/">Advertise With Us</a>
					<a class="nav-link" target="blank" href="http://makermedia.com/jobs/">Careers</a>
					<a class="nav-link" target="blank" href="https://help.makermedia.com/hc/en-us">Help</a>
				</nav>
			</div>
			<div class="socials-newsletter col-lg-3 col-sm-6">
				<div class="socials">
					<div class=" flex-row flex-wrap social-links">
						<p class="footer-subtitle">Follow Us</p>
						<div class="social-footer">
							<a class="nav-link social fb" target="_blank" href="http://facebook.com/makemagazine">
								<i class="fa fa-facebook fa-lg"></i>
							</a>
							<a class="nav-link social tw" target="_blank" href="http://twitter.com/make">
								<i class="fa fa-twitter fa-lg"></i>
							</a>
							<a class="nav-link social pin" target="_blank" href="https://www.pinterest.com/makemagazine">
								<i class="fa fa-pinterest-p fa-lg"></i>
							</a>
							<a class="nav-link social in" target="_blank" href="https://www.instagram.com/makemagazine">
								<i class="fa fa-instagram fa-lg"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="newsletter">
			
						<div class="form-group">
							<label for="newsletter" class="footer-subtitle mt-2">Sign Up</label>
 							<form ngNoForm class="whatcounts-signup" action="http://whatcounts.com/bin/listctrl" method="POST" target="_blank">
                <p for="newsletter" class="footer-subtitle mt-2">Stay inspired with the Make: community newsletter</p>
                <input type="hidden" name="slid_1" value="6B5869DC547D3D46072290AE725EC932" /><!-- Make Share -->
                <input type="hidden" name="multiadd" value="1" />
                <input type="hidden" name="cmd" value="subscribe" />
                <input type="hidden" name="custom_source" value="Maker Share footer" />
                <input type="hidden" name="custom_incentive" value="none" />
                <input type="hidden" name="custom_url" value="http://preview.makershare.com/" /><!-- TO DO: add dynamic function to insert curent page url in this value attribute -->
                <input type="hidden" id="format_mime" name="format" value="mime" />
                <input type="hidden" name="goto" value="" />
                <input type="hidden" name="custom_host" value="http://preview.makershare.com/" />
                <div class="mz-form-horizontal input-group">
                  <input id="wc-email" class="form-control" name="email" placeholder="Enter your Email" required type="text">
                  <button class="input-group-addon" type="submit">GO</button>
                </div>
              </form>
						</div>
	
				</div>
			</div>
		</div>
		<div class="row footer-copyright">
			<div class="col-12">
				<p class="text-center">Maker Share and Make: are registered trademarks of Maker Media, Inc. | <a href="http://makermedia.com/privacy/" target="_blank">Privacy</a>					| <a href="http://makermedia.com/terms/" target="_blank">Terms</a><br /> Copyright ©2017 Maker Media, Inc. All rights
					reserved
				</p>
			</div>
		</div>
	</div>
</footer>