<div class=" profile-container" *ngIf="card.invited_user=='0' || card.invited_user==''">
  <!-- start profile card-->
  <div class="card spotlight-item ">
    <div class="card-block user-card-small align-content-stretch content ">
      <div class="media d-flex align-items-stretch">
        <div class="profile-pic-container flex-column align-self-start">
          <img *ngIf="!card.photo_lg" src="{{card.default_profile_photo}}" alt="" class="img-responsive maker-photo">
          <img *ngIf="card.photo_lg" src="{{card.photo_lg}}" alt="" class="img-responsive maker-photo">
        </div>
        <div class="media-body d-flex align-items-start flex-column">
          <div class="card-type">Maker</div>
          <h4 class="user-name" *ngIf="(card.first_name) && (card.last_name)"><a href="#">{{card.first_name}} {{card.last_name}}</a></h4>
          <h4 class="user-name" *ngIf="(!card.first_name) && (!card.last_name)"><a href="#">{{card.name}}</a></h4>
          <p class="user-city" *ngIf="(card.city.country)" [innerHTML]="card.city.country"></p>
          <div class="icons-side-user">
            <div class="user-icon" *ngFor="let badge of badges;">
              <img src="{{badge?.goal_image}}" alt="" ngbTooltip="{{badge?.title}}">
            </div>
          </div>
          <div class="card-stats w-100 mt-auto">
            <ul class="list-unstyled d-flex flex-row justify-content-between align-items-center count-list">
              <li>
                <img src="./assets/images/icons/light-not-selected.png" class="project-likes" alt="">
                <span>1234</span>
              </li>
              <li>
                <img src="./assets/images/icons/views.png" class="project-views" alt="">
                <span>70</span>
              </li>
              <li *ngIf="projectCount" class="count">{{projectCount.project_count}} projects</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End profile card -->
</div>
<div class=" profile-container" *ngIf="card.invited_user=='1'">
  <!-- start profile card If Invited-->
  <div class="card spotlight-item ">
    <div class="card-block user-card-small  align-content-stretch content ">
      <div class="media">
        <div class="profile-pic-container flex-column align-self-start mr-3">
          <img *ngIf="card.default_profile_photo" src="{{card.default_profile_photo}}" alt="" class="img-responsive maker-photo">
        </div>
        <div class="media-body">
          <p class="user-nickname" *ngIf="card.contact_email">{{card.contact_email}}</p>
          <h4 class="user-name">invitation Was Sent </h4>
        </div>
      </div>
    </div>
  </div>
  <!-- End profile card Invited-->
</div>