<div class="main-container container-fluid">
  <div class="row">
    <section class="col-sm-12 width-fix">
      <div class="page-enter-challenge">
        <div class="top-content-wrapper">
          <div class="container">
            <div class="col-md-12 challenge-cover" *ngIf="challangeData">
              <div class="challenge-card row">
                <div class="col-md-4 left-side">
                  <div class="image-container">
                    <img src="{{challangeData.cover_image}}" alt="" *ngIf="challangeData.cover_image" class="img-responsive">
                    <img src="{{challangeData.sponsor_bar}}" alt="" *ngIf="challangeData.sponsor_bar" class="sponsor_bar img-responsive">
                    <div class="card-type-grey">
                      <div class="type-layer-2">
                        Mission
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End image-container -->
                <div class="col-md-8">
                  <div class="card-container">
                    <div class="card">
                      <div class="card-partership">
                        <p *ngIf="challangeData.sponsored_by">Sponsored by {{challangeData.sponsored_by}}</p>
                      </div>
                      <h3 class="card-title">{{challangeData.title}}</h3>
                      <div class="card-description">
                        <p [innerHTML]="challangeData.body"></p>
                      </div>
                      <div class="challene-card-footer d-flex">
                        <div class="challenge-card-footer-2">
                          <div class="challenge-card-count">
                            <span class="entries-count">{{countProjects}}
                       <span *ngIf="countProjects>1">Entries</span>
                            <span *ngIf="countProjects==0">Entries</span>
                            <span *ngIf="countProjects == 1">Entry</span>
                            </span>
                            <span class="follow-count">{{challangeData.followers}}
                            <span *ngIf="challangeData.followers>1">Followers</span>
                            <span *ngIf="challangeData.followers==1">Follower</span>
                            <span *ngIf="!challangeData.followers">0 Followers</span>
                            </span>
                          </div>
                          <div class="challenge-card-status">
                            <span class="closed-status" *ngIf="challangeData.diffDays>1">{{challangeData.diffDays}} DAYS</span>
                            <span class="closed-status" *ngIf="challangeData.diffDays<=1">{{challangeData.diffDays}} DAY</span>
                            <span class="closed-status" *ngIf="challangeData.status_id == 376">{{challangeData.challenge_status}}</span>
                            <span class="open-status" *ngIf="challangeData.status_id != 376">{{challangeData.challenge_status}}</span>
                            <span class="challenge-end-date" *ngIf="challangeData.status_id != 376">{{challangeData.challenge_end_date.value | date:'d/M/y'}}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- End card-container -->
                </div>
                <!-- End col-md-6 -->
              </div>
            </div>
          </div>
          <!-- End container -->
        </div>
        <!--<div class="top-content-wrapper">
          <div class="container">
            <div class="col-md-12 challenge-cover">
              <img src="{{challangeData.cover_image}}" alt="">
              <div class="sponsor">
                <h4 *ngIf="challangeData.sponsored_by">Sponsored By: {{challangeData.sponsored_by}} </h4>
              </div>
              <div class="challenge-status">
                <p>{{challangeData.challenge_status}} :{{challangeData.challenge_end_date.value}}<p>
              </div>
              <div class="challenge-title" *ngIf="challangeData.title">
                <h1>{{challangeData.title}}</h1>
              </div>
              <div class="challenge-countdown" *ngIf="challangeData.opened">
                <p class="number">{{challangeData.diffDays}} </p>
                <p>Days left</p>
              </div>
              <ul class="list-unstyled challenge-actions pull-right">
                 <app-bookmark [nodeNid]="challangeData.nid"></app-bookmark>
                <li><a class="btn btn-soft-grey btn-fit"><i class="fa fa-lg fa-share"></i></a></li>
              </ul>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>-->
        <div class="container">
          <div class="region region-content col-sm-12">
            <div class="content-wrapper row">
              <div class="challenge-enter col-md-4">
                <div *ngIf="projects?.length > 0 && enterStatus==true">
                  <p *ngIf="enterStatus==true">Select an existing project from your portfolio.</p>
                  <form>
                    <div class="form-group" *ngIf="enterStatus==true">
                      <select class="form-control" #item (change)="updateSelectedProject($event)">
                      <option [value]="none" disabled>Select a project</option>
                      <option *ngFor="let p of projects" [value]="p.nid">{{p.project_name}}</option>
                     </select>
                    </div>
                    <div class="enter-form-buttons d-flex" *ngIf="enterStatus==true">
                      <div class="button-container-sec-2 w-50">
                        <span class="btn btn-main-2 w-100" (click)="onCancel()">Cancel</span>
                      </div>

                      <div class="button-container-main-1 w-50">
                        <span class="btn btn-main w-100" *ngIf="enterStatus==true" (click)="open(content)">Submit</span>
                      </div>
                    </div>
                  </form>
                  <p class="text-center">OR</p>
                </div>
                <p>Want to create a new project for this Challenge? Add it to your Portfolio now</p>
                <div class="button-container-main-1 w-100">
                  <span class="btn btn-main w-100 create" (click)="createNewProjectForChallenge()">Create a new project for this challenge</span>
                </div>
              </div>
            </div>
            <!-- End content-wrapper -->
          </div>
          <!-- End region-content -->
        </div>
      </div>
    </section>
  </div>
  <!-- End row -->
</div>
<template #content let-c="close" let-d="dismiss" ngbModalContainer>
  <div class="challenge-enter-modal">
    <div class="modal-header">
      <button type="button" class="close ml-auto" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="addProjectForm">
        <div>
          <p>
            I have read and agree to the challenge rules and eligibility requirements. I understand that my project may be disqualified
            if it does not meet project requirements. I agree to allow the Challenge Organizer to contact me via email if
            I win the Challenge
          </p>
          <div>
            <label class="md-check">
          <input type="checkbox" (change)="checkBoxValue($event)" formControlName="field_agreement"/>  I Agree<br>
          </label>
          </div>
          <div *ngIf="error" class="alert alert-danger error-msg">
            {{error}}
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <div class="list-unstyled actions d-flex flex-row">
        <div class="ml-2">
          <button #closebtn type="button" class="btn btn-load-more" (click)="c('Close click')">Close</button>
        </div>
        <div class="ml-2" *ngIf="button == true">
          <button type="button" class="btn btn-load-more" [disabled]="!addProjectForm.valid" (click)="onSubmit($event)" (click)="c('Close click')">Submit</button>
        </div>
      </div>
    </div>
  </div>
</template>