<div class="main-container container-fluid">
  <div class="row">
    <section class="col-sm-12 width-fix">
      <div class="page-enter-challenge">
        <div class="top-content-wrapper">
          <div class="container">
            <div class="col-md-12 challenge-cover">
              <img src="{{challangeData.cover_image}}" alt="">
              <div class="sponsor">
                <h4 *ngIf="challangeData.sponsored_by">Sponsored By: {{challangeData.sponsored_by}} </h4>
              </div>
              <div class="challenge-status">
                <p>{{challangeData.challenge_status}} :{{challangeData.challenge_end_date.value}}<p>
              </div>
              <div class="challenge-title" *ngIf="challangeData.title">
                <h1>{{challangeData.title}}</h1>
              </div>
              <div class="challenge-countdown" *ngIf="challangeData.opened">
                <p class="number">{{challangeData.diffDays}} </p>
                <p>Days left</p>
              </div>
              <ul class="list-unstyled challenge-actions pull-right">
                 <app-bookmark [nodeNid]="challangeData.nid"></app-bookmark>
                <li><a class="btn btn-soft-grey btn-fit"><i class="fa fa-lg fa-share"></i></a></li>
              </ul>
              <div class="clearfix"></div>
            </div>
          </div>
          <!-- End container -->
        </div>
        <!-- End top-content-wrapper -->
        <div class="container">
          <div class="region region-content col-sm-12">
            <div class="content-wrapper row">
              <div class="challenge-enter col-md-4">
                <p>Select an existing project from your portfolio.</p>
                <form>
                  <div class="form-group">
                    <select class="form-control" #item (change)="updateSelectedProject($event) ">
                      <option [value]="none" disabled>Select a project</option>
                      <option *ngFor="let p of projects" [value]="p.nid">{{p.project_name}}</option>
                     </select>
                  </div>
                  <button class="btn btn-white btn-sharp static-btn cancel" (click)="onCancel()">Cancel</button>
                  <a *ngIf="enterStatus==true" class="btn btn-main static-btn submit" (click)="onSubmit()">Submit</a>
                  <button *ngIf="hiddenAfterSubmit" class="btn btn-main static-btn submit" (click)="onMyEntries()">My Entries</button>
                </form>
                <p class="text-center">OR</p>
                <p>Want to create a new project for this Challenge? Add it to your Portfolio now</p>
                <button class="btn btn-main btn-sharp create" (click)="createNewProjectForChallenge()">Create a new project for this challenge</button>
              </div>
            </div>
            <!-- End content-wrapper -->
          </div>
          <!-- End region-content -->
        </div>
      </div>
    </section>
  </div>
  <!-- End row -->
</div>