<div class="card maker {{state}}" *ngIf="card" (click)="goToProfile(card.profile_url)">
  <div class="card-image" [style.background-image]="'url('+card.photo_lg+')'"></div>
  <div class="card-info">
    <div class="info-top">
      <div class="card-image alt" [style.background-image]="'url('+latestPorjectImg+')'"></div>
      <div class="flag maker">maker</div>
       <app-card-badges [badges]="badges"></app-card-badges>
    </div>
    <div class="info-bottom">
      <div class="card-owner-meta">
        <img class="card-owner-media" src="{{card.photo_lg}}"/>
        <div class="card-owner-meta-info">
            <a class="card-owner-link" *ngIf="card.first_name && card.last_name" href="javascript:void(0);" innerHTML="{{card.first_name}} {{card.last_name}}"></a>
            <a class="card-owner-link" *ngIf="!card.first_name && !card.last_name" innerHTML="{{card.username}}"></a>

          <div class="card-meta-row" *ngIf="card.nickname">
            <span class="lnr card-meta-row-icon maker-card-ico lnr-user"></span>
            <p class="maker-nickname card-meta-row-description" innerHTML="{{card.nickname}}"></p>
          </div>
          

          <div class="card-meta-row" *ngIf="card.location_locality && card.country && card.country == 'United States'">
            <span class="lnr card-meta-row-icon maker-card-ico lnr-map-marker"></span>
            <p class="maker-city card-meta-row-description">{{card.location_locality}}, {{card.city}}</p>
          </div>

          <div class="card-meta-row" *ngIf="card.location_locality && card.country && card.country != 'United States'">
            <span class="lnr card-meta-row-icon maker-card-ico lnr-map-marker"></span>
            <p class="maker-city card-meta-row-description">{{card.location_locality}}, {{card.country}}</p>
          </div>

          <div class="card-meta-row" *ngIf="card.descripe_yourself">
            <span class="lnr card-meta-row-icon maker-card-ico lnr-bullhorn"></span>
            <p class="maker-description card-meta-row-description" innerHTML="{{card.descripe_yourself}}"></p>
          </div>


        </div>

      </div>
      <ul class="social-stat-group">
        <li class="social-stat"> <!-- will need ngIf here for followers -->
          <i class="fa fa-users"></i>
          <span class="info">0</span>
        </li>
        <li class="social-stat" *ngIf="card.profile_views">
          <i class="fa fa-eye"></i>
          <span class="info">{{card.profile_views}}</span>
        </li>
        <li class="social-stat" *ngIf="projectsCount">
          <span class="icon">{{projectsCount}}</span>
          <span class="info" *ngIf="projectsCount == 1">project</span>
          <span class="info" *ngIf="projectsCount != 1">projects</span>
        </li>
      </ul>

    </div>
  </div>
</div>