<div id="search-box-layer">
  <span (click)="closeSearchBox()" class="lnr lnr-cross close-search-layer" aria-hidden="true"></span>
  <div class="text-center" id="search-box-form">
    <h3>Search</h3>
    <div class="search-form-group">
      <form (keydown)="keyDownFunction($event)">
        <input [(ngModel)]="searchQuery" type="text" (input)="searchQuery = $event.target.value" name="searchQuery" #searchBox id="search-box-input" placeholder="What are you searching for?" />
        <span (click)="goSearch()" class="go-search" aria-hidden="true">Search</span>
        <span (click)="clearSearch()" [hidden]="searchQuery == ''" class="lnr lnr-cross clear-search" aria-hidden="true"></span>
      </form>
    </div>
  </div>
</div>