
<div class="followers conatiner" *ngIf="followers">
  <p *ngIf="followers" class="title-tab">Followers</p>
  <div class="followers-cards row d-flex align-items-stretch">
    <app-maker-card class="col-lg-6 col-md-12 mb-4 card-wrapper"
                    *ngFor="let follower of followers"
                    [uid]="follower.uid"
                    [state]="'tall'"
                    [showFlag]="false"></app-maker-card>
  </div>
  <div class="text-center mt-5">
    <div class="button-container-sec-3"
         *ngIf="!hideloadmorefollower">
      <button class="grey -no-bg -border -slim"
         (click)="loadMoreFollower($event)">Load more</button>
    </div>
  </div>
</div>
<!-- End followers -->