  <div class="page-create-profile" *ngIf="userProfile">
    <div class="main-container container-fluid">
      <div class="row">
        <section class="col-sm-12 width-fix">
          <div class="top-content-wrapper">
            <div class="container">
              <div class="col-md-12 create-cover">
                <h3 class="pt-1">Welcome To Maker Share, <span *ngIf="userProfile.full_name">{{userProfile.full_name}}!</span></h3>
                <p class="m-0">Get your profile started here. You can edit it at any time.</p>
              </div>
            </div><!-- End container -->
          </div><!-- End top-content-wrapper -->
          <header class="create-nav">
            <div class="container">
              <ul class="list-unstyled">
                <li><a (click)="saveNext('basic')" class="btn btn-light-grey btn-sharp" [ngClass]="{'active': currentTab == 'basic'}" id="basic-info">Basic Info</a></li>
                <li><a (click)="saveNext('optional')" class="btn btn-light-grey btn-sharp" [ngClass]="{'active': currentTab == 'optional'}" id="optional-info">Optional Info</a></li>
              </ul>
            </div>
            <!--<p class="bg-danger text-white">
              *There are some required fields need to be filled
            </p>-->
            <!--<notification-bar></notification-bar>-->
          </header>
          <div class="container">
            <div *ngIf="userProfile" class="region region-content col-sm-12">
              <app-basic-info *ngIf="currentTab == 'basic'" (emitter)="EmmitHandler($event)" (CoverImage)="CoverImage = $event" [userProfile]="userProfile"></app-basic-info>
              <app-optional-info *ngIf="currentTab == 'optional'"  (emitter)="EmmitHandler($event)" [userProfile]="userProfile"  ></app-optional-info>
            </div><!-- End region-content -->
            <div class="w-100 d-flex mb-3">
              <a *ngIf="BasicInfoSaved" [routerLink]="['/portfolio']" class="btn btn-blue btn-sharp save-next ml-auto">skip</a>
              <a *ngIf="!BasicInfoSaved" (click)="saveNext('optional')" class="btn btn-blue btn-sharp save-next ml-auto">Save &amp; Next</a>
              <a *ngIf="BasicInfoSaved" (click)="SaveAndExit()" class="btn btn-blue btn-sharp save-next ml-auto">Save and exit</a>
            </div>
          </div>
        </section>
      </div><!-- End row -->
    </div><!-- End main-container -->
  </div>