  <div class="page-create-profile">
    <div class="main-container container-fluid">
      <div class="row">
        <section class="col-sm-12 width-fix">
          <div class="top-content-wrapper">
            <div class="container">
              <div class="col-md-12 create-cover">
                <h3>Welcome to the Make: Community, <span *ngIf="userProfile">{{userProfile.full_name}}!</span></h3>
                <p>You are now part of a worldwide community of makers eager to exchange ideas and projects with you. We are all Makers. But our interests are infinite.</p>
                <h5>What kind of maker are you?</h5>
              </div>
            </div><!-- End container -->
          </div><!-- End top-content-wrapper -->
          <header class="create-nav">
            <div class="container">
              <ul class="list-unstyled">
                <li><a (click)="saveNext('basic')" class="btn btn-light-grey btn-sharp" [ngClass]="{'active': currentTab == 'basic'}" id="basic-info">Basic Info</a></li>
                <li><a (click)="saveNext('optional')" class="btn btn-light-grey btn-sharp" [ngClass]="{'active': currentTab == 'optional'}" id="optional-info">Optional Info</a></li>
              </ul>
              <a *ngIf="BasicInfoSaved" [routerLink]="['/portfolio']" class="btn btn-blue btn-sharp save-next">skip</a>
              <a *ngIf="!BasicInfoSaved" (click)="saveNext('optional')" class="btn btn-blue btn-sharp save-next">Save &amp; Next</a>
              <a *ngIf="BasicInfoSaved" (click)="SaveAndExit()" class="btn btn-blue btn-sharp save-next">Save and exit</a>
            </div>
            <!--<p class="bg-danger text-white">
              *There are some required fields need to be filled
            </p>-->
            <!--<notification-bar></notification-bar>-->
          </header>
          <div class="container">
            <div *ngIf="userProfile" class="region region-content col-sm-12">
              <app-basic-info *ngIf="currentTab == 'basic'" (emitter)="EmmitHandler($event)" [userProfile]="userProfile"></app-basic-info>
              <app-optional-info *ngIf="currentTab == 'optional'" (CoverImage)="CoverImage = $event" (emitter)="EmmitHandler($event)" [userProfile]="userProfile"  ></app-optional-info>
            </div><!-- End region-content -->
          </div>
        </section>
      </div><!-- End row -->
    </div><!-- End main-container -->
  </div>