<form>
  <fieldset class="form-group container">
    <div>
      <br>
      <div class="form-check row">
        <label class="form-check-label col-9">
            <h5>Send me a notification when:</h5>
          </label>
        <label class="form-check-label custom-safari text-center p-0 col-1">Email
          </label>
        <label class="form-check-label custom-safari text-center p-0 col-1">Web </label>
      </div>
      <!--<div class="form-check row">
          <label class="form-check-label col-9">
            I am subscribed to the Newsletter
          </label>
            <div>
              <label class="custom-control custom-checkbox">
            <input type="checkbox" class="col-1" class="custom-control-input" name="subscribed_email" id="subscribed_email" value="option" [checked]= "email_notifications.indexOf('1') !== -1" (change)="checkedEmail('1',$event)" >          
            <span class="custom-control-indicator"></span>
            </label>
            </div>
        </div>
        <div class="form-check row">
          <label class="form-check-label col-9">
            I receive other promotional mailings
          </label>
            <div>
              <label class="custom-control custom-checkbox">
            <input type="checkbox" class="col-1" class="custom-control-input" name="receive_email" id="receive_email" value="option" [checked]= "email_notifications.indexOf('2') !== -1" (change)="checkedEmail('2',$event)" >          
            <span class="custom-control-indicator"></span>
            </label>
            </div>
        </div>-->
      <div class="form-check row">
        <label class="form-check-label col-9">
            I earn a new badge
          </label>
        <div class="col-1 check-label">
          <label class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" name="earn_email"  id="earn_email" value="option" [checked]= "email_notifications.indexOf('3') !== -1" (change)="checkedEmail('3',$event)" >
          <span class="custom-control-indicator"></span>
          </label>
        </div>
        <div class="col-1 check-label">
          <label class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" name="earn_web" id="earn_web" value="option"[checked]= "web_notifications.indexOf('1') !== -1" (change)="checkedWeb('1',$event)" >
          <span class="custom-control-indicator"></span>
          </label>
        </div>
      </div>
      <div class="form-check row">
        <label class="form-check-label col-9">
            I win a Challenge
          </label>
        <div class="col-1 check-label">
          <label class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" name="win_email" id="win_email" value="option" [checked]= "email_notifications.indexOf('4') !== -1" (change)="checkedEmail('4',$event)" >
          <span class="custom-control-indicator"></span>
          </label>
        </div>
        <div class="col-1 check-label">
          <label class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" name="win_web" id="win_web" value="option" [checked]= "web_notifications.indexOf('2') !== -1" (change)="checkedWeb('2',$event)" >
          <span class="custom-control-indicator"></span>
          </label>
        </div>
      </div>
      <div class="form-check row">
        <label class="form-check-label col-9">
            A deadline is coming up for a challenge I’m following
          </label>
        <div class="col-1 check-label">
          <label class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" name="deadline_email" id="deadline_email" value="option" [checked]= "email_notifications.indexOf('5') !== -1" (change)="checkedEmail('5',$event)" >
          <span class="custom-control-indicator"></span>
          </label>
        </div>
        <div class="col-1 check-label">
          <label class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" name="deadline_web" id="deadline_web" value="option" [checked]= "web_notifications.indexOf('3') !== -1" (change)="checkedWeb('3',$event)" >
          <span class="custom-control-indicator"></span>
          </label>
        </div>
      </div>
      <div class="form-check row">
        <label class="form-check-label col-9">
            Someone submits a new entry for a challenge I’m following
          </label>
        <div class="col-1 check-label">
          <label class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" name="submits_email" id="submits_email" value="option" [checked]= "email_notifications.indexOf('6') !== -1" (change)="checkedEmail('6',$event)" >
          <span class="custom-control-indicator"></span>
          </label>
        </div>
        <div class="col-1 check-label">
          <label class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" name="submits_web" id="submits_web" value="option" [checked]= "web_notifications.indexOf('4') !== -1" (change)="checkedWeb('4',$event)" >
          <span class="custom-control-indicator"></span>
          </label>
        </div>
      </div>
      <div class="form-check row">
        <label class="form-check-label col-9">
            Someone votes on a Challenge entry I’ve submitted
          </label>
        <div class="col-1 check-label">
          <label class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" name="votes_email" id="votes_email" value="option" [checked]= "email_notifications.indexOf('7') !== -1" (change)="checkedEmail('7',$event)"  >
          <span class="custom-control-indicator"></span>
          </label>
        </div>
        <div class="col-1 check-label">
          <label class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" name="votes_web"id="votes_web" value="option" [checked]= "web_notifications.indexOf('5') !== -1" (change)="checkedWeb('5',$event)" >
        <span class="custom-control-indicator"></span>
        </label>
        </div>
      </div>
      <div class="form-check row">
        <label class="form-check-label col-9">
            My project is featured on the Home Page
          </label>
        <div class="col-1 check-label">
          <label class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" name="project_home_email"  id="project_home_email" value="option" [checked]= "email_notifications.indexOf('8') !== -1" (change)="checkedEmail('8',$event)" >
          <span class="custom-control-indicator"></span>
          </label>
        </div>
        <div class="col-1 check-label">
          <label class="custom-control custom-checkbox">
         <input type="checkbox" class="custom-control-input" name="project_home_web" id="project_home_web" value="option" [checked]= "web_notifications.indexOf('6') !== -1" (change)="checkedWeb('6',$event)" >
         <span class="custom-control-indicator"></span>
         </label>
        </div>
      </div>
      <div class="form-check row">
        <label class="form-check-label col-9">
            My profile is featured on the Home Page
          </label>
        <div class="col-1 check-label">
          <label class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" name="profile_email"  id="profile_email" value="option" [checked]= "email_notifications.indexOf('9') !== -1" (change)="checkedEmail('9',$event)" >
          <span class="custom-control-indicator"></span>
          </label>
        </div>
        <div class="col-1 check-label">
          <label class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" name="profile_web" id="profile_web" value="option" [checked]= "web_notifications.indexOf('7') !== -1" (change)="checkedWeb('7',$event)" >
          <span class="custom-control-indicator"></span>
          </label>
        </div>
      </div>
      <div class="form-check row">
        <label class="form-check-label col-9">
            My project is featured in a Showcase
          </label>
        <div class="col-1 check-label">
          <label class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" name="project_Showcase_email" clas id="project_Showcase_email" value="option" [checked]= "email_notifications.indexOf('10') !== -1" (change)="checkedEmail('10',$event)" >
          <span class="custom-control-indicator"></span>
          </label>
        </div>
        <div class="col-1 check-label">
          <label class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" name="project_Showcase_web" id="project_Showcase_web" value="option" [checked]= "web_notifications.indexOf('8') !== -1"(change)="checkedWeb('8',$event)" >
            <span class="custom-control-indicator"></span>
            </label>
        </div>
      </div>
      <div class="form-check row">
        <label class="form-check-label col-9">
            Someone messages me
          </label>
        <div class="col-1 check-label">
          <label class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" name="messages_email" clas id="messages_email" value="option" [checked]= "email_notifications.indexOf('11') !== -1" (change)="checkedEmail('11',$event)" >
          <span class="custom-control-indicator"></span>
          </label>
        </div>
        <div class="col-1 check-label">
          <label class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" name="messages_web" id="messages_web" value="option" [checked]= "web_notifications.indexOf('9') !== -1" (change)="checkedWeb('9',$event)" >
          <span class="custom-control-indicator"></span>
          </label>
        </div>
      </div>
      <div class="form-check row">
        <label class="form-check-label col-9">
            Someone adds me to a project team
          </label>
        <div class="col-1 check-label">
          <label class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" name="collaborator_email" clas id="collaborator_email" value="option" [checked]= "email_notifications.indexOf('12') !== -1" (change)="checkedEmail('12',$event)" >
          <span class="custom-control-indicator"></span>
          </label>
        </div>
        <div class="col-1 check-label">
          <label class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" name="collaborator_web" id="collaborator_web" value="option" [checked]= "web_notifications.indexOf('10') !== -1" (change)="checkedWeb('10',$event)" >
          <span class="custom-control-indicator"></span>
          </label>
        </div>
      </div>
      <!--<div class="form-check row">
          <label class="form-check-label col-9">
            Someone has credited me in a project
          </label>
          <div>
            <label class="custom-control custom-checkbox">
          <input type="checkbox" class="col-1" class="custom-control-input" name="credited_email" clas id="credited_email" value="option" [checked]= "email_notifications.indexOf('13') !== -1" (change)="checkedEmail('13',$event)" >
          <span class="custom-control-indicator"></span>
          </label>
          </div>
          <div>
            <label class="custom-control custom-checkbox">
          <input type="checkbox" class="col-1" class="custom-control-input" name="credited_web" id="credited_web" value="option" [checked]= "web_notifications.indexOf('11') !== -1" (change)="checkedWeb('11',$event)" >
          <span class="custom-control-indicator"></span>
          </label>
          </div>
        </div>
        <div class="form-check row">
          <label class="form-check-label col-9">
            Someone new Liked one of my projects
          </label>
          <div>
            <label class="custom-control custom-checkbox">
          <input type="checkbox" class="col-1" class="custom-control-input" name="liked_email" clas id="liked_email" value="option" [checked]= "email_notifications.indexOf('14') !== -1" (change)="checkedEmail('14',$event)" >
          <span class="custom-control-indicator"></span>
          </label>
          </div>
            <div>
              <label class="custom-control custom-checkbox">
            <input type="checkbox" class="col-1" class="custom-control-input" name="liked_web" id="liked_web" value="option" [checked]= "web_notifications.indexOf('12') !== -1" (change)="checkedWeb('12',$event)" >
            <span class="custom-control-indicator"></span>
            </label>
            </div>
        </div>-->
      <div class="form-check row">
        <label class="form-check-label col-9">
            There’s a new comment on one of my projects
          </label>
        <div class="col-1 check-label">
          <label class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" name="comment_email" id="comment_email" value="option" [checked]= "email_notifications.indexOf('15') !== -1" (change)="checkedEmail('15',$event)" >
          <span class="custom-control-indicator"></span>
          </label>
        </div>
        <div class="col-1 check-label">
          <label class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" name="comment_web" id="comment_web" value="option" [checked]= "web_notifications.indexOf('13') !== -1" (change)="checkedWeb('13',$event)" >
          <span class="custom-control-indicator"></span>
          </label>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-soft-grey pull-right mt-5" (click)="updateNotificationSettings($event)">Save changes</button>
  </fieldset>
</form>
<hr class="w-100">
<div class="delect-account mb-5">
    <button (click)="open(potato)" class="delete-account">Delete My Account</button>
</div>

<template #potato let-c="close" let-d="dismiss">
  <div class="modal-header">
    <button type="button" class="close ml-auto" (click)="d('Cross click')" aria-label="Close">
      <span aria-hidden="true" >&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>This will delete your profile and all your individual projects as well as team projects for which you are the project
      admin. This action cannot be undone. If you have questions about managing your projects, please contact community management.</p>
  </div>
  <div class="modal-footer mt-auto">
    <button href="" class="btn btn-load-more" (click)="c('Close click')">Cancel</button>
    <button type="submit" class="btn btn-load-more" (click)="deleteMyAcount()" (click)="c('Close click')">Delete</button>
  </div>
</template>