<form class="basic-info" [formGroup]="basicForm" (ngSubmit)="compeleteProfile($event)">
	<div class="form-group userName">
		<label for="userName">Tell us your name</label>
		<div class="guide">
			<p>You may add your searchable “nickname” if you are known by another name in the Maker community.</p>
		</div>
		<input type="text" formControlName="nickname" class="form-control" id="userName" placeholder="Type your nickname (optional)">

		<div *ngIf="formErrors.nickname" class="alert alert-danger error-msg">
			{{ formErrors.nickname }}
		</div>
	</div>
	<div class="form-group userName">
		<label for="userName">Tell us your firstName</label>

		<div class="guide">
			<p>You may add your searchable firstName Name if you are known by another name in the Maker community.</p>
		</div>
		<input type="text" formControlName="first_name" class="form-control" id="firstName" placeholder="Type your firstName ">
		<div *ngIf="formErrors.first_name" class="alert alert-danger error-msg">
			{{ formErrors.first_name }}
		</div>
	</div>
	<div class="form-group userName">
		<label for="userName">Tell us your First name</label>

		<div class="guide">
			<p>You may add your searchable last Name if you are known by another name in the Maker community.</p>
		</div>
		<input type="text" formControlName="last_name" class="form-control" id="lastName" placeholder="Type your lastName ">
		<div *ngIf="formErrors.last_name" class="alert alert-danger error-msg">
			{{ formErrors.last_name }}
		</div>
	</div>
	<div class="form-group userCity">
		<label for="userCity">Where do you live?</label>
		<div class="row" formGroupName="address">
			<div class="col-md-3">
				<select formControlName="country" name="Select country" (ngModelChange)="setCountry($event)" class="ui fluid search selection dropdown"> 
        <option *ngFor="let ctry of allCountries" [attr.value]="ctry.value">{{ctry.label}}</option>
      </select>

				<div *ngIf="formErrors.address.country" class="alert alert-danger error-msg">
					{{ formErrors.address.country }}
				</div>
			</div>

			<div class="col-md-3">
			<div class="col-md-2">
				<select *ngIf="!isCity" formControlName="state" name="Select country" class="ui fluid search selection dropdown"> 
        <option *ngFor="let stat of items" [attr.value]="stat">{{stat}}</option>
      </select>

				<div *ngIf="formErrors.address.state" class="alert alert-danger error-msg">
					{{ formErrors.address.state }}
				</div>
				</div>
				<div class="col-md-6">
					<input *ngIf="isCity" ng2-auto-complete formControlName="city" blank-option-text="Select city" [source]="items" placeholder="enter text"
					/>
					<div *ngIf="formErrors.address.city" class="alert alert-danger error-msg">
						{{ formErrors.address.city }}
					</div>
			</div>
				<!--<div *ngIf="postalCode" class="col-md-4">
					<input formControlName="postal_code" type="text" placeholder="Postal Code">
				</div>-->
		</div>
		<input type="checkbox" formControlName="address_publish" name="publish" id="publish" checked="true">Publish this info
		<div class="guide">
			<p>If you allow, only the city, State, and country will show on your profile; we ask for this so we can on Maker demographics.</p>
				</div>
				<div *ngIf="postalCode" class="col-md-4">
					<input formControlName="postal_code" type="text" placeholder="Postal Code">
				</div>
			</div>

		</div>
	</div>

	<div class="form-group describe">
				<input type="checkbox" formControlName="address_publish" name="publish" id="publish" checked="true">Publish this info
			<div class="guide">
				<p>If you allow, only the city, State, and country will show on your profile; we ask for this so we can on Maker demographics.</p>
			</div>
		<label for="describe">How do you describe yourself as a Maker?</label>
		<div class="guide">
			<p>
				How do you introduce yourself to other makers? For example, I am a welder. I am an artist. I am a newbie. I am a professional
				fabricator. I am an educator. Etcetera!
			</p>
		</div>
		<textarea type="text" formControlName="describe_yourself" class="form-control" name="describe" id="describe" placeholder="Enter up to 60 characters"
			maxlength="60"></textarea>
		<div *ngIf="formErrors.describe_yourself" class="alert alert-danger error-msg">
			{{ formErrors.describe_yourself }}
		</div>
	</div>
	<div class="form-group birthday">
		<label for="birthday">What is your birthday?</label>

		<ic-datepicker formControlName="birthday_date" options="datepickerOptions"></ic-datepicker>

		<div *ngIf="formErrors.birthday_date" class="alert alert-danger error-msg">
			{{ formErrors.birthday_date }}
		</div>
		<input type="checkbox" formControlName="birthday_status" name="birthday-alt">I prefer not to answer. I attest that I’m
		over 13 years old
		<div class="guide">
			<p>
				This info will not be published on your profile; we ask because this platform is designed for Makers age 13 and above and
				some of our Challenges have age requirements.
			</p>
		</div>
	</div>
	<div class="form-group email">
		<label for="email">Enter your email address</label>
		<input type="email" class="form-control" name="email" id="email" formControlName="mail" placeholder="email@example.com">

		<div *ngIf="formErrors.mail" class="alert alert-danger error-msg">
			{{ formErrors.mail }}
		</div>
		<div class="guide">
			<p>
				This does not change the address you use to login; this is where we will send administrative emails and forward messages
				from other Makers. It can match your login email or not; you can change it at any time.
			</p>
		</div>
		<input type="checkbox" formControlName="newsletter_subscription" name="subscribe" checked="true">Subscribe to the Make:
		weekly newsletter
	</div>

</form>