<ul class="list-group menutool-notification">
  <li class="d-flex justify-content-end">
    <a class="view-all mr-auto"
       [routerLink]="['/inbox-notifications']">View All</a>
    <a class="notf-gear">
      <i class="lnr lnr-cog float-right p-2"
         [routerLink]="['/account/settings/notifications']"
         aria-hidden></i>
    </a>
    <a class="notf-Cancel">
      <i class="lnr lnr-cross float-right p-2"
         aria-hidden
         style="position: absolute;top: -220px;left: 285px;"></i>
    </a>
  </li>
</ul>

<div class="dropdown-notification">
  <div *ngIf="notifications.length === 0"
       class="text-center pt-2">
    <p class="no-notfy">You do not have any notifications</p>
  </div>
  <div *ngIf="notifications.length > 0">
    <ul class="list-group">
      <notification-tpl [ngClass]="{'not-seen': notification.seen == 0 }"
                        [notification]="notification"
                        *ngFor="let notification of notifications"></notification-tpl>
    </ul>
  </div>
</div>
