<div class="card showcase full"
     [ngClass]="{'single-view': singleView}"
     *ngIf="showcaseCard">
  <div class="card-image"
       *ngIf="!singleView"
       [style.background-image]="'url('+(showcaseCard.Cover_Photo || showcaseCard.cover_photo || './assets/images/placeholder.png')+')'"></div>

  <div class="card-info">
    <div class="info-top">
      <div class="image-container"
           *ngIf="singleView">
        <img [src]="showcaseCard.Cover_Photo || showcaseCard.cover_photo || './assets/images/placeholder.png'"
             alt=""
             class="img-responsive">
      </div>
      <div *ngIf="singleView">
        <app-user-card *ngIf="showcaseCard.uid"
                       [uid]="showcaseCard.uid"
                       [showMessage]="false"
                       [communityManager]="true"></app-user-card>
      </div>
    </div>

    <div class="info-bottom">
      <div class="card-owner-meta">
        <div class="card-owner-meta-info">
          <h3 class="card-title">{{showcaseCard.showcase_name}}</h3>

          <app-feature *ngIf="Manager && showcaseCard.nid"
                       [id]="showcaseCard.nid"
                       [type]="'node'" (Featured)="emitFeatured()"></app-feature>

          <div class="card-description"
               *ngIf="showcaseCard.description">
            <p [innerHTML]="showcaseCard.description"></p>
          </div>
          <div class="projects-count-div"
               *ngIf="showcaseCard.projects_makers_count || projectsCount">
            <span class="projects-count">
              <span>{{showcaseCard.projects_makers_count || projectsCount}} {{showcaseCard.showcase_type}}{{(showcaseCard.projects_makers_count || projectsCount) > 1 ? 's' : ''}}</span>
            </span>
          </div>
        </div>
      </div>
      <ul class="social-stat-group d-flex">
        <!-- Not a single view -->
        <li>
          <button class="button"
                  *ngIf="!singleView"
                  (click)="showSingleShowcase(showcaseCard.path)">See Showcase
          </button>
        </li>

        <li class="showcase-date w-100"
            *ngIf="showcaseCard.last_updated && singleView">
          <span class="update-date">Last updated: {{showcaseCard.last_updated}}</span>
        </li>

        <li class="stats-list ml-4 d-flex flex-row"
            *ngIf="showcaseCard.nid">
          <app-likes [likesCount]="showcaseCard.likes_count"
                     [nodeNid]="showcaseCard.nid"
                     [userId]="userId"
                     (countNumber)="likesCounter($event)"></app-likes>
          <app-views [viewsCount]="showcaseCard.views_count"></app-views>
          <app-bookmark *ngIf="singleView"
                        [nodeNid]="showcaseCard.nid"
                        [nodeType]="'showcase'"></app-bookmark>
          <div class="profile-share"
               *ngIf="singleView">
            <app-btn-share [showLabel]="false"
                           [PageTitle]="'Maker Portfolio'"
                           [PageDescription]="customDescription"
                           [PageImage]="showcaseCard.cover_photo"></app-btn-share>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <!--showcase card for mobile-->
  <div class="showcase-card-backlayer-mobile hidden-sm-up">
    <div class="showcase-card-backlayer-mobile-2">
      <div class="showcase-card " *ngIf="showcaseCard" (click)="showSingleShowcase(showcaseCard.path)">
        <div class="content-container h-100">
          <div class="card-container">
            <div class="card">
              <div class="showcase-type">
                <p>Showcase</p>
              </div>
              <h2 class="card-title">{{showcaseCard.showcase_name}}</h2>
              <div class="card-description" *ngIf="showcaseCard.description_trim">
                <p [innerHTML]="showcaseCard.description_trim"></p>
              </div>
              <div class="showcase-card-footer mt-auto mb-3 d-flex">
                <div class="showcase-card-footer-2">
                  <div class="showcase-card-count d-felx">
                    <div class="projects-count-div">
                      <span class="projects-count" *ngIf="projects_makers_count !=1">{{showcaseCard.projects_makers_count}} {{showcaseCard.showcase_type}}s</span>
                      <span class="projects-count" *ngIf="projects_makers_count ==1">{{showcaseCard.projects_makers_count}} {{showcaseCard.showcase_type}}</span>
                    </div>
                    <div class="likes-count-div">
                      <img class="showcase-likes" *ngIf="numLikes >0" src="./assets/images/icons/light-selected.png"
                           alt="">
                      <span class="likes-count" *ngIf="numLikes >0">{{numLikes}} </span>
                      <img class="showcase-likes" *ngIf="numLikes == 0"
                           src="./assets/images/icons/light-not-selected.png" alt="">
                      <span class="likes-count" *ngIf="numLikes == 0">{{numLikes}}</span>
                    </div>
                    <div class="views-count-div">
                      <img src="./assets/images/icons/views.png" alt="">
                      <span class="views-count">{{showcaseCard.views_count}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--End card-container -->
        </div>
      </div>
    </div>
  </div>

</div>