<div class="card showcase full"
     [ngClass]="{'single-view': singleView}"
     *ngIf="showcaseCard">
  <div class="card-image"
       *ngIf="!singleView"
       [routerLink]="['/showcases/', showcaseCard.path]" [ngStyle]="{'background-image':'url('+(showcaseCard.Cover_Photo || showcaseCard.cover_photo || './assets/images/placeholder.png')+')'}"></div>

  <div class="card-info">
    <div class="info-top" [routerLink]="['/showcases/', showcaseCard.path]">
      <div class="image-container"
           *ngIf="singleView">
        <img  [src]="showcaseCard.Cover_Photo || showcaseCard.cover_photo || './assets/images/placeholder.png'"
             alt=""
             class="img-responsive">
      </div>
      <div *ngIf="singleView">
        <app-user-card *ngIf="showcaseCard.uid"
                       [uid]="showcaseCard.uid"
                       [showMessage]="false"
                       [communityManager]="true"></app-user-card>
      </div>
    </div>

    <div class="info-bottom">
      <div class="card-owner-meta">
        <div class="card-owner-meta-info">
          <h3 [routerLink]="['/showcases/', showcaseCard.path]" class="card-title">{{showcaseCard.showcase_name}}</h3>

          <app-feature *ngIf="Manager && showcaseCard.nid"
                       [id]="showcaseCard.nid"
                       [type]="'node'" (Featured)="emitFeatured()"></app-feature>

          <div class="card-description"
               *ngIf="showcaseCard.description">
            <p class="inner-html" [innerHTML]="showcaseCard.description"></p>
          </div>
          <!-- <div class="projects-count-div"
               *ngIf="showcaseCard.projects_makers_count || projectsCount">
            <span class="projects-count">
              <span>{{showcaseCard.projects_makers_count || projectsCount}} {{showcaseCard.showcase_type}}{{(showcaseCard.projects_makers_count || projectsCount) > 1 ? 's' : ''}}</span>
            </span>
          </div> -->
        </div>
      </div>

      <ul class="social-stat-group">
        <li class="social-stat">
          <button class="button"
                  *ngIf="!singleView"
                  (click)="showSingleShowcase(showcaseCard.path)">See Showcase
          </button>
        </li>

        <li class="social-stat"
            *ngIf="showcaseCard.last_updated && singleView">
          <span class="update-date">Last updated: {{showcaseCard.last_updated}}</span>
        </li>

        <li class="social-stat">
          <app-likes *ngIf="showcaseCard.nid" [nodeNid]="showcaseCard.nid"></app-likes>
        </li>

        <li class="social-stat">
          <app-views [viewsCount]="showcaseCard.views_count"></app-views>
        </li>

        <li class="social-stat fl-r">
          <div class="profile-share"
               *ngIf="singleView">
            <app-btn-share [showLabel]="false"
                           [PageTitle]="'Maker Share'"
                           [PageDescription]="customDescription"
                           [PageImage]="showcaseCard.cover_photo"></app-btn-share>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <!--showcase card for mobile-->
  

</div>