<div *ngIf="fileCard">
  <img *ngIf="fileCard.type == 'image'" [src]="fileCard.url">
  <div *ngIf="fileCard.type != 'image'">No Preview available</div>
  <button *ngIf="type == 'browse'" (click)="SelectFile()"> select </button>
  <button (click)="CheckFileBeforeDelete(ConfirmDelete)"> delete </button>
</div>

<!-- Add Description Modal -->
<template #ConfirmDelete let-c="close" let-d="dismiss" ngbModalContainer>
	<div class="modal-body">
    This file is used in the following projects and cannot be deleted "WIP": 
    {{this.fileCard.usage|json}} 
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
		<!--<button type="button" class="btn btn-primary" (click)="DeleteFile(closebtn)">Save</button>-->
	</div>
</template>