<div class="portfolio-public">
  <div class="portfolio-header">
    
  </div>
  <!-- End portfolio-header -->
  <div *ngIf="Projects" class="projects-grid row" dnd-sortable-container [sortableData]="Projects">
    <project-card-portfolio *ngFor="let project of Projects;let i = index" [type]="DefaultView" [Project]="project" [Visibility]="status" (emitter)="UpdateProjects()" [ngClass]="{'col-md-6': DefaultView == 'grid','col-md-12': DefaultView == 'showcase' }" dnd-sortable (onDropSuccess)="SaveProjectsOrder()" [sortableIndex]="i"></project-card-portfolio>
  </div>
  <!-- End project-grid -->
</div>
<!-- End portfolio-public -->