<div *ngIf="project" class="card project {{state}}">
  <div class="card-image" [style.background-image]="'url('+project.cover_photo+')'"></div>
  <div class="card-info">
    <div class="info-top">
      <div class="card-image alt" [style.background-image]="'url('+project.cover_photo+')'"></div>
      <!-- no alt bg for projects but we still need the div here for hovers -->
      <div class="flag project">project</div>

      <app-feature *ngIf="Manager && project.nid" [id]="project.nid" [type]="'node'"> </app-feature>
      <app-card-badges [badges]="badges"></app-card-badges>
      <a class="flex-text-container" href="projects/{{project.path}}">
        <p class="card-description-long" *ngIf="project.teaser" innerHTML="{{project.teaser}}"></p>
        <p class="card-description-long" *ngIf="project.challenge_name"> Entered in <a (click)="challengePage(project.challenge_nid)">{{project.challenge_name}}</a></p>
      </a>
    </div>
    <div class="info-bottom">
      <div class="card-owner-meta">
        <img class="card-owner-media" src="{{project.maker_photo}}" />
        <div class="card-owner-meta-info">
          <span class="card-title" innerHTML="{{project.project_name}}"></span>
          <div class="card-owners-group">
            <a class="card-owner-link" href="{{project.maker_url}}" innerHTML="By {{project.first_name}} {{project.last_name}}"></a>
          </div>
        </div>
      </div>
      <ul class="social-stat-group">
        <li class="social-stat" *ngIf="project.nid && !userId">
          <app-like [nodeNid]="project.nid" [project]="true"></app-like>
          <!-- <i class="fa fa-lightbulb-o"></i> -->
          <!-- <span class="info">54678</span> -->
        </li>
        <li class="social-stat" *ngIf="project.nid && userId">
          <app-like [nodeNid]="project.nid" [user]="userId" [project]="true"></app-like>
          <!-- <i class="fa fa-lightbulb-o"></i> -->
          <!-- <span class="info">54678</span> -->
        </li>
        <li class="social-stat">
          <i class="fa fa-eye"></i>
          <span class="info">{{project.number_of_views}}</span>
        </li>
        <!--   <li class="social-stat">
          <span class="icon">15</span>
          <span class="info">Projects</span>
        </li> -->
      </ul>

    </div>
  </div>
</div>