<form>
   <fieldset class="form-group row">
      <!--<legend class="col-form-legend col-sm-2">Radios</legend>-->
      <div class="col-sm-10" >
        <div class="form-check">
          <label class="form-check-label">
            I am subscribed to the Newsletter
            <input type="checkbox" name="subscribed_email" id="subscribed_email" value="option" [checked]= "email_notifications.indexOf('1') !== -1" (change)="checkedEmail('1',$event)" >
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            I receive other promotional mailings
            <input type="checkbox" name="receive_email" id="receive_email" value="option" [checked]= "email_notifications.indexOf('2') !== -1" (change)="checkedEmail('2',$event)" >
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            I earn a new badge
            <input type="checkbox" name="earn_email" id="earn_email" value="option" [checked]= "email_notifications.indexOf('3') !== -1" (change)="checkedEmail('3',$event)" >
            <input type="checkbox" name="earn_web" id="earn_web" value="option"[checked]= "web_notifications.indexOf('1') !== -1" (change)="checkedWeb('1',$event)" >
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            I win a Challenge
            <input type="checkbox" name="win_email" id="win_email" value="option" [checked]= "email_notifications.indexOf('4') !== -1" (change)="checkedEmail('4',$event)" >
            <input type="checkbox" name="win_web" id="win_web" value="option" [checked]= "web_notifications.indexOf('2') !== -1" (change)="checkedWeb('2',$event)" >
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            A deadline is coming up for a challenge I’m following
            <input type="checkbox" name="deadline_email" id="deadline_email" value="option" [checked]= "email_notifications.indexOf('5') !== -1" (change)="checkedEmail('5',$event)" >
            <input type="checkbox" name="deadline_web" id="deadline_web" value="option" [checked]= "web_notifications.indexOf('3') !== -1" (change)="checkedWeb('3',$event)" >
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            Someone submits a new entry for a challenge I’m following
            <input type="checkbox" name="submits_email" id="submits_email" value="option" [checked]= "email_notifications.indexOf('6') !== -1" (change)="checkedEmail('6',$event)" >
            <input type="checkbox" name="submits_web" id="submits_web" value="option" [checked]= "web_notifications.indexOf('4') !== -1" (change)="checkedWeb('4',$event)" >
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            Someone votes on a Challenge entry I’ve submitted
            <input type="checkbox" name="votes_email" id="votes_email" value="option" [checked]= "email_notifications.indexOf('7') !== -1" (change)="checkedEmail('7',$event)"  >
            <input type="checkbox" name="votes_web" id="votes_web" value="option" [checked]= "web_notifications.indexOf('5') !== -1" (change)="checkedWeb('5',$event)" >
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            My project is featured on the Home Page
            <input type="checkbox" name="project_home_email" id="project_home_email" value="option" [checked]= "email_notifications.indexOf('8') !== -1" (change)="checkedEmail('8',$event)" >
            <input type="checkbox" name="project_home_web" id="project_home_web" value="option" [checked]= "web_notifications.indexOf('6') !== -1" (change)="checkedWeb('6',$event)" >
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            My profile is featured on the Home Page
            <input type="checkbox" name="profile_email" id="profile_email" value="option" [checked]= "email_notifications.indexOf('9') !== -1" (change)="checkedEmail('9',$event)" >
            <input type="checkbox" name="profile_web" id="profile_web" value="option" [checked]= "web_notifications.indexOf('7') !== -1" (change)="checkedWeb('7',$event)" >
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            My project is featured in a Showcase
            <input type="checkbox" name="project_Showcase_email" id="project_Showcase_email" value="option" [checked]= "email_notifications.indexOf('10') !== -1" (change)="checkedEmail('10',$event)" >
            <input type="checkbox" name="project_Showcase_web" id="project_Showcase_web" value="option" [checked]= "web_notifications.indexOf('8') !== -1"(change)="checkedWeb('8',$event)" >
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            Someone messages me
            <input type="checkbox" name="messages_email" id="messages_email" value="option" [checked]= "email_notifications.indexOf('11') !== -1" (change)="checkedEmail('11',$event)" >
            <input type="checkbox" name="messages_web" id="messages_web" value="option" [checked]= "web_notifications.indexOf('9') !== -1" (change)="checkedWeb('9',$event)" >
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            Someone adds me as a collaborator to a project
            <input type="checkbox" name="collaborator_email" id="collaborator_email" value="option" [checked]= "email_notifications.indexOf('12') !== -1" (change)="checkedEmail('12',$event)" >
            <input type="checkbox" name="collaborator_web" id="collaborator_web" value="option" [checked]= "web_notifications.indexOf('10') !== -1" (change)="checkedWeb('10',$event)" >
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            Someone has credited me in a project
            <input type="checkbox" name="credited_email" id="credited_email" value="option" [checked]= "email_notifications.indexOf('13') !== -1" (change)="checkedEmail('13',$event)" >
            <input type="checkbox" name="credited_web" id="credited_web" value="option" [checked]= "web_notifications.indexOf('11') !== -1" (change)="checkedWeb('11',$event)" >
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            Someone new Liked one of my projects
            <input type="checkbox" name="liked_email" id="liked_email" value="option" [checked]= "email_notifications.indexOf('14') !== -1" (change)="checkedEmail('14',$event)" >
            <input type="checkbox" name="liked_web" id="liked_web" value="option" [checked]= "web_notifications.indexOf('12') !== -1" (change)="checkedWeb('12',$event)" >
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            There’s a new comment on one of my projects
            <input type="checkbox" name="comment_email" id="comment_email" value="option" [checked]= "email_notifications.indexOf('15') !== -1" (change)="checkedEmail('15',$event)" >
            <input type="checkbox" name="comment_web" id="comment_web" value="option" [checked]= "web_notifications.indexOf('13') !== -1" (change)="checkedWeb('13',$event)" >
          </label>
        </div>
      </div>
    </fieldset>
    <button type="submit" class="btn btn-blue btn-sharp" (click)="updateNotificationSettings($event)" >Save</button>       
</form>