  <!-- Start Maker Spotlight -->
  <section class="maker-spotlight">
    <header class="default-header container">
      <div class="container">
        <h3>Maker Spotlight</h3>
      </div>
    </header>
    <div class="container">
      <!-- Start Spotlight Single Item -->

      <div *ngFor="let spotlight of spotlights" class="spotlight col-md-4">
        <app-user-card [uid]="spotlight.uid"></app-user-card>
      </div>

    </div><!-- End container -->
  </section>
  <!-- End Maker Spotlight -->
