<section class="maker-spotlight">
  <header class="container">
    <h3>Maker Spotlight</h3>
  </header>
  <div class="container">
    <div class="row">
      <!-- Start Spotlight Single Item -->
      <div class="col-md-6 d-flex align-items-stretch">
        <div class="card spotlight-item ">
          <div class="image-container">
            <img class="card-img-top" src="./assets/images/issues_robotics.jpg" alt="Card image cap">
            <span class="card-type">Spotlight</span>
          </div>
          <div class="card-block user-card align-content-stretch content ">
            <div class="media">
              <div class="profile-pic-container flex-column align-self-start mr-3">
                <img src="./assets/images/user.png" alt="Maker Photo" class="maker-photo">
                <div class="icons d-flex flex-row justify-content-start">
                  <img src="./assets/images/icons/icon-blue-ribbon.svg" alt="">
                  <img src="./assets/images/icons/icon-challenge-winner.svg" alt="">
                </div>
                <a href="#" class="message-btn"><i class="fa fa-lg fa-envelope-o"></i></a>
              </div>
              <div class="media-body">
                <h4 class="user-name"><a href="#">Margot Jacobs</a></h4>
                <p class="user-nickname"><a href="#">aka Goodmen</a></p>
                <p class="user-city title">San Francisco, CA</p>
                <p class="profile-tag">Make Stuff Happen kind of person!</p>
                <p class="count align-self-end">6 projects</p>
              </div>
            </div>
          </div>
        </div>
        <!-- End Spotlight-item -->
      </div>
      <!-- Enc col -->
    </div>
    <!-- End row -->
  </div>
  <!-- End container -->
</section>