<div class="challenge-card row" *ngIf="challenge && !front">
  <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 image-container">
    <img *ngIf="challenge.cover_image" src="{{challenge.cover_image}}" alt="" class="img-responsive" (click)="ShowChallengeDetails(challenge.nid)">
    <img *ngIf="!challenge.cover_image" src="./assets/images/placeholder.png" alt="">
    <img src="{{challenge.sponsor_bar}}" alt="" *ngIf="challenge.sponsor_bar" class="sponsor_bar img-responsive">
    <div class="card-type-grey">
      <div class="type-layer-2">
        Mission
      </div>
    </div>
  </div>
  <!--End image-container -->
  <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
    <div class="card-container">
      <div class="card">
        <!--<div class="challenge-type-badge">
          <p>Mission</p>
        </div>-->
        <div class="card-partership" *ngIf="challenge.sponsored_by">
          <p>Sponsored by {{challenge.sponsored_by}}</p>
        </div>
        <h3 class="card-title" *ngIf="challenge.title" (click)="ShowChallengeDetails(challenge.nid)" innerHTML="{{challenge.title}}"></h3>
        <div class="card-description" *ngIf="challenge.summary_trim">
          <p [innerHTML]="challenge.summary_trim"></p>
        </div>
        <div class="challene-card-footer d-flex">
          <div class="challene-card-footer-1">
            <!--<div class="button-container-main-1" *ngIf="challenge.status_id != 376">
              <span class="btn btn-main" *ngIf="challenge.status_id != 376" (click)="enterToChallengeProject(challenge.nid)">Participate</span>
            </div>
            <div class="button-container-sec-2" *ngIf="challenge.status_id == 376">
              <span class="btn btn-main-2" *ngIf="challenge.status_id == 376" (click)="ShowChallengeDetails(challenge.nid)">View Mission</span>
            </div>-->
            <div class="button-container-main-1" >
              <span class="btn btn-main" (click)="ShowChallengeDetails(challenge.nid)">View Mission</span>
            </div>
          </div>
          <div class="challenge-card-footer-2 ml-3">
            <div class="challenge-card-count">
              <span class="entries-count">{{countProjects}}
                <span *ngIf="countProjects>1">Entries</span>
                <span *ngIf="countProjects==1">Entry</span>
                <span *ngIf="countProjects <= 1">Entries</span>
              </span>
              <span class="follow-count">{{challenge.followers}}
                <span *ngIf="challenge.followers>1">Followers</span>
                <span *ngIf="challenge.followers==1">Follower</span>
                <span *ngIf="!challenge.followers">0 Followers</span>
              </span>
            </div>
            <div class="challenge-card-status">
              <!--<span class="closed-status" *ngIf="challenge.diffDays>1">{{challenge.diffDays}} DAYS</span>
              <span class="closed-status" *ngIf="challenge.diffDays<=1">{{challenge.diffDays}} DAY</span>
              <span class="closed-status" *ngIf="challenge.status_id == 376">{{challenge.status}}</span>
              <span class="open-status" *ngIf="challenge.status_id != 376">{{challenge.status}}</span>-->
              <span class="challenge-end-date" *ngIf="challenge.status_id == 375"> Submissions close: {{challenge.challenge_end_date.value | date:'M/d/y'}}</span>
              <span class="challenge-end-date" *ngIf="challenge.status_id == 1107"> In review. Winners to be announced: {{challenge.winners_announcement_date.value | date:'M/d/y'}}</span>
              <span class="challenge-end-date" *ngIf="challenge.status_id == 1108"> Closed for submissions. Winners announced: {{challenge.winners_announcement_date.value | date:'M/d/y'}}</span>
              <span class="challenge-end-date" *ngIf="challenge.status_id == 376"> Closed for submissions. Winners announced: {{challenge.winners_announcement_date.value | date:'M/d/y'}}</span>
               
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--End card-container -->
  </div>
</div>
<!-- End col-md-6 -->





<div class="front-challenge-card row" *ngIf="challenge && front && !first">
  <div class="col-md-6 col-sm-12">
    <div *showItBootstrap="['sm','xs']">
      <div class="card-partnership-mobile" *ngIf="challenge.sponsored_by">
        <p>Sponsored by {{challenge.sponsored_by}}</p>
      </div>
    </div>
    <div class="image-container">
      <img *ngIf="challenge.challenge_home_photo" src="{{challenge.challenge_home_photo}}" alt="" class="img-responsive" (click)="ShowChallengeDetails(challenge.nid)">
      <img *ngIf="!challenge.challenge_home_photo" src="./assets/images/placeholder.png" alt="">
    </div>
    <div class="card-type-grey">
      <div class="type-layer-2">
        Mission
      </div>
    </div>
  </div>
  <!--End image-container -->
  <div class="col-md-6 col-sm-12 content-container">
    <div class="card-container h-100">
      <div class="card h-100">
        <div *hideItBootstrap="['sm','xs']">
          <div class="card-partership" *ngIf="challenge.sponsored_by">
            <p>Sponsored by {{challenge.sponsored_by}}</p>
          </div>
        </div>
        <h3 class="card-title" *ngIf="challenge.title" (click)="ShowChallengeDetails(challenge.nid)" innerHTML="{{challenge.title}}"></h3>
        <div class="card-description" *ngIf="challenge.summary_trim">
          <p [innerHTML]="challenge.summary_trim"></p>
        </div>
        <div class="challene-card-footer d-flex flex-row mt-auto align-items-center">
          <div class="challene-card-footer-1" *ngIf="challenge.nid">
            <div class="button-container-main-1">
             <span class="btn btn-main" (click)="ShowChallengeDetails(challenge.nid)">View Mission</span>
            </div>

          </div>
          <div class="challenge-card-footer-2 ml-md-3">
            <div class="challenge-card-count">
              <span class="entries-count">{{countProjects}}
              <span *ngIf="countProjects != 1">Entries</span>
              <span *ngIf="countProjects == 1">Entry</span>
              </span>
              <!--<span class="follow-count">{{challenge.followers}}
                      <span *ngIf="challenge.followers>1">Followers</span>
              <span *ngIf="challenge.followers==1">Follower</span>
              <span *ngIf="!challenge.followers">0 Follower</span>
              </span>-->
            </div>
            <div class="challenge-card-status">
              <!--<span class="closed-status" *ngIf="challenge.diffDays>1">{{challenge.diffDays}} DAYS</span>-->
              <!--<span class="closed-status" *ngIf="challenge.diffDays<=1">{{challenge.diffDays}} DAY</span>-->
              <!--<span class="closed-status" *ngIf="challenge.status_id == 376">{{challenge.status}}</span>-->
              <!--<div class="open-status" *ngIf="challenge.status_id != 376">{{challenge.status}}</div>-->
              <!--<span class="challenge-end-date" *ngIf="challenge.status_id != 376">Submission Close <br> {{challenge.challenge_end_date.value | date:'MM/dd/yyyy'}}</span>-->
                <span class="challenge-end-date" *ngIf="challenge.status_id == 375"> <br>Submissions close: {{challenge.challenge_end_date.value | date:'M/d/y'}}</span>
              <span class="challenge-end-date" *ngIf="challenge.status_id == 1107"> <br>In review. Winners to be announced: {{challenge.winners_announcement_date.value | date:'M/d/y'}}</span>
              <span class="challenge-end-date" *ngIf="challenge.status_id == 1108"> <br>Closed for submissions. Winners announced: {{challenge.winners_announcement_date.value | date:'M/d/y'}}</span>
              <span class="challenge-end-date" *ngIf="challenge.status_id == 376"> <br>Closed for submissions. Winners announced: {{challenge.winners_announcement_date.value | date:'M/d/y'}}</span>
               
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--End card-container -->
  </div>
</div>
<!-- End col-md-6 -->



<div class="front-challenge-card challenge-card-full row" *ngIf="challenge && front && first">
  <div class="image-container">
    <img *ngIf="challenge.hero_mission_cover" src="{{challenge.hero_mission_cover}}" alt="" class="img-responsive" (click)="ShowChallengeDetails(challenge.nid)">
    <img *ngIf="!challenge.hero_mission_cover" src="./assets/images/placeholder.png" alt="">
    <div class="card-type-grey">
      <div class="type-layer-2">
        Mission
      </div>
    </div>
  </div>
  <!--End image-container -->
  <div class="card-container">
    <div class="card">
      <h3 class="card-title" *ngIf="challenge.title" (click)="ShowChallengeDetails(challenge.nid)" innerHTML="{{challenge.title}}"></h3>
    </div>
    <div class="d-flex flex-md-row flex-column">
      <div class="challenge-card-footer-2 d-flex">
        <div class="card-partership mr-5" *ngIf="challenge.sponsored_by">
          <p>Sponsored by {{challenge.sponsored_by}}</p>
        </div>
        <div class="mt-auto mb-auto ml-5 d-flex flex-md-row flex-column">
          <div class="challenge-card-count">
            <span class="entries-count">{{countProjects}}
              <span *ngIf="countProjects>1">Entries</span>
            <span *ngIf="countProjects <= 1">Entry</span>
            </span>
          </div>
          <div class="challenge-card-status">
            <!--<span class="closed-status" *ngIf="challenge.diffDays>1">{{challenge.diffDays}} DAYS</span>
            <span class="closed-status" *ngIf="challenge.diffDays<=1">{{challenge.diffDays}} DAY</span>
            <span class="closed-status" *ngIf="challenge.status_id == 376">{{challenge.status}}</span>
            <span class="open-status" *ngIf="challenge.status_id != 376">{{challenge.status}}</span>
            <span class="challenge-end-date" *ngIf="challenge.status_id != 376">{{challenge.challenge_end_date.value | date:'MM/dd/yyyy'}}  </span>
        -->
            <span class="challenge-end-date" *ngIf="challenge.status_id == 375"> Submissions close: {{challenge.challenge_end_date.value | date:'M/d/y'}}</span>
              <span class="challenge-end-date" *ngIf="challenge.status_id == 1107"> In review. Winners to be announced: {{challenge.winners_announcement_date.value | date:'M/d/y'}}</span>
              <span class="challenge-end-date" *ngIf="challenge.status_id == 1108"> Closed for submissions. Winners announced: {{challenge.winners_announcement_date.value | date:'M/d/y'}}</span>
              <span class="challenge-end-date" *ngIf="challenge.status_id == 376"> Closed for submissions. Winners announced: {{challenge.winners_announcement_date.value | date:'M/d/y'}}</span>
               
          </div>
        </div>
      </div>
      <div class="ml-auto">
        <div class="button-container-main-1">
          <span class="btn btn-main" (click)="ShowChallengeDetails(challenge.nid)">View Mission</span>
        </div>
      </div>
    </div>
  </div>
  <!--End card-container -->
</div>