<div class="challenge-card row hidden-md-down" *ngIf="challenge && !front">
  <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 image-container">
    <img *ngIf="challenge.cover_image" src="{{challenge.cover_image}}" alt="" class="img-responsive" (click)="ShowChallengeDetails(challenge.path)">
    <img *ngIf="!challenge.cover_image" src="./assets/images/placeholder.png" alt="">
    <img src="{{challenge.sponsor_bar}}" alt="" *ngIf="challenge.sponsor_bar" class="sponsor_bar img-responsive">
    <div class="card-type-grey">
      <div class="type-layer-2">
        Mission
      </div>
    </div>
  </div>
  <!--End image-container -->
  <div class="card-container col-lg-8 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
      <!--<div class="challenge-type-badge">
          <p>Mission</p>
        </div>-->
      <div class="card-partership" *ngIf="challenge.sponsored_by">
        <p>Sponsored by {{challenge.sponsored_by}}</p>
      </div>
      <h3 class="card-title" *ngIf="challenge.title" (click)="ShowChallengeDetails(challenge.path)" innerHTML="{{challenge.title}}"></h3>
      <div class="card-description" *ngIf="challenge.summary_trim">
        <p [innerHTML]="challenge.summary_trim"></p>
      </div>
      <div class="challene-card-footer d-flex">
        <div class="challene-card-footer-1 hidden-xs-down">
          <!--<div class="button-container-main-1" *ngIf="challenge.status_id != 376">
              <span class="btn btn-main" *ngIf="challenge.status_id != 376" (click)="enterToChallengeProject(challenge.nid)">Participate</span>
            </div>
            <div class="button-container-sec-2" *ngIf="challenge.status_id == 376">
              <span class="btn btn-main-2" *ngIf="challenge.status_id == 376" (click)="ShowChallengeDetails(challenge.nid)">View Mission</span>
            </div>-->
          <div class="button-container-main-1">
            <span class="btn btn-main" (click)="ShowChallengeDetails(challenge.path)">View Mission</span>
          </div>
        </div>
        <div class="challenge-card-footer-2 ml-3 hidden-xs-down">
          <div class="challenge-card-count">
            <span class="entries-count">{{countProjects}}
                <span *ngIf="countProjects>1">Entries</span>
            <span *ngIf="countProjects==1">Entry</span>
            <span *ngIf="countProjects < 1">Entries</span>
            </span>
            <span class="follow-count">{{challenge.followers}}
                <span *ngIf="challenge.followers>1">Followers</span>
            <span *ngIf="challenge.followers==1">Follower</span>
            <span *ngIf="!challenge.followers">0 Followers</span>
            </span>
          </div>
          <div class="challenge-card-status">
            <!--<span class="closed-status" *ngIf="challenge.diffDays>1">{{challenge.diffDays}} DAYS</span>
              <span class="closed-status" *ngIf="challenge.diffDays<=1">{{challenge.diffDays}} DAY</span>
              <span class="closed-status" *ngIf="challenge.status_id == 376">{{challenge.status}}</span>
              <span class="open-status" *ngIf="challenge.status_id != 376">{{challenge.status}}</span>-->
            <span class="challenge-end-date" *ngIf="challenge.status_id == 375"> Submissions close: {{challenge.challenge_end_date.value}}</span>
            <span class="challenge-end-date" *ngIf="challenge.status_id == 1107"> In review. Winners to be announced: {{challenge.winners_announcement_date.value}}</span>
            <span class="challenge-end-date" *ngIf="challenge.status_id == 1108"> Closed for submissions. Winners announced: {{challenge.winners_announcement_date.value}}</span>
            <span class="challenge-end-date" *ngIf="challenge.status_id == 376 && announce_date < 0"> Closed for submissions. Winners announced: {{challenge.winners_announcement_date.value}}</span>
            <span class="challenge-end-date" *ngIf="challenge.status_id == 376 && announce_date > 0"> Closed for submissions. Winners to be announced: {{challenge.winners_announcement_date.value}}</span>
          </div>
        </div>
        <div class="challenge-card-footer-2 hidden-sm-up">
          <div class="challenge-card-count">
            <span class="entries-count">{{countProjects}}
                <span *ngIf="countProjects>1">Entries</span>
            <span *ngIf="countProjects==1">Entry</span>
            <span *ngIf="countProjects < 1">Entries</span>
            </span>
            <span class="follow-count">{{challenge.followers}}
                <span *ngIf="challenge.followers>1">Followers</span>
            <span *ngIf="challenge.followers==1">Follower</span>
            <span *ngIf="!challenge.followers">0 Followers</span>
            </span>
          </div>
          <div class="challenge-card-status">
            <!--<span class="closed-status" *ngIf="challenge.diffDays>1">{{challenge.diffDays}} DAYS</span>
              <span class="closed-status" *ngIf="challenge.diffDays<=1">{{challenge.diffDays}} DAY</span>
              <span class="closed-status" *ngIf="challenge.status_id == 376">{{challenge.status}}</span>
              <span class="open-status" *ngIf="challenge.status_id != 376">{{challenge.status}}</span>-->
            <span class="challenge-end-date" *ngIf="challenge.status_id == 375"> Submissions close: {{challenge.challenge_end_date.value}}</span>
            <span class="challenge-end-date" *ngIf="challenge.status_id == 1107"> In review. Winners to be announced: {{challenge.winners_announcement_date.value}}</span>
            <span class="challenge-end-date" *ngIf="challenge.status_id == 1108"> Closed for submissions. Winners announced: {{challenge.winners_announcement_date.value}}</span>
            <span class="challenge-end-date" *ngIf="challenge.status_id == 376 && announce_date < 0"> Closed for submissions. Winners announced: {{challenge.winners_announcement_date.value}}</span>
            <span class="challenge-end-date" *ngIf="challenge.status_id == 376 && announce_date > 0"> Closed for submissions. Winners to be announced: {{challenge.winners_announcement_date.value}}</span>
          </div>
        </div>
      </div>
      <div class="challene-card-footer-1 hidden-sm-up">
        <!--<div class="button-container-main-1" *ngIf="challenge.status_id != 376">
              <span class="btn btn-main" *ngIf="challenge.status_id != 376" (click)="enterToChallengeProject(challenge.nid)">Participate</span>
            </div>
            <div class="button-container-sec-2" *ngIf="challenge.status_id == 376">
              <span class="btn btn-main-2" *ngIf="challenge.status_id == 376" (click)="ShowChallengeDetails(challenge.nid)">View Mission</span>
            </div>-->
        <div class="button-container-main-1 button-container-main-1 w-100 mt-2">
          <span class="btn btn-main w-100" (click)="ShowChallengeDetails(challenge.path)">View Mission</span>
        </div>
      </div>
    </div>
  </div>
  <!--End card-container -->
</div>
<!-- End col-md-6 -->

<!--Challenge card for tablets and ipad-->
<div class="tablet-challenge-card row hidden-lg-up" *ngIf="challenge && !front">
  <div class="col-md-6 col-sm-12">
    <div *showItBootstrap="['sm','xs']">
      <div class="card-partnership-mobile" *ngIf="challenge.sponsored_by">
        <p>Sponsored by {{challenge.sponsored_by}}</p>
      </div>
    </div>
    <div class="image-container">
      <img *ngIf="challenge.challenge_home_photo" src="{{challenge.challenge_home_photo}}" alt="" class="img-responsive" (click)="ShowChallengeDetails(challenge.path)">
      <img *ngIf="!challenge.challenge_home_photo" src="./assets/images/placeholder.png" alt="">
    </div>
    <div class="card-type-grey">
      <div class="type-layer-2">
        Mission
      </div>
    </div>
  </div>
  <!--End image-container -->
  <div class="col-md-6 col-sm-12 content-container">
    <div class="card-container h-100">
      <div class="card h-100">
        <div *hideItBootstrap="['sm','xs']">
          <div class="card-partership" *ngIf="challenge.sponsored_by">
            <p>Sponsored by {{challenge.sponsored_by}}</p>
          </div>
        </div>
        <h3 class="card-title" *ngIf="challenge.title" (click)="ShowChallengeDetails(challenge.path)" innerHTML="{{challenge.title}}"></h3>
        <div class="card-description" *ngIf="challenge.summary_trim">
          <p [innerHTML]="challenge.summary_trim"></p>
        </div>
        <div class="challene-card-footer d-flex flex-row mt-auto align-items-center">
          <div class="challene-card-footer-1" *ngIf="challenge.nid">
            <div class="button-container-main-1">
              <span class="btn btn-main" (click)="ShowChallengeDetails(challenge.path)">View Mission</span>
            </div>
          </div>
          <div class="challenge-card-footer-2 ml-md-3">
            <div class="challenge-card-count hidden-xs-down">
              <span class="entries-count">{{countProjects}}
                <span *ngIf="countProjects>1">Entries</span>
              <span *ngIf="countProjects==1">Entry</span>
              <span *ngIf="countProjects < 1">Entries</span>
              </span>
              <span class="follow-count">{{challenge.followers}}
                <span *ngIf="challenge.followers>1">Followers</span>
              <span *ngIf="challenge.followers==1">Follower</span>
              <span *ngIf="!challenge.followers">0 Followers</span>
              </span>
            </div>
            <div class="challenge-card-count hidden-sm-up">
              <span class="entries-count" style="border: none !important;">{{countProjects}}
                <span *ngIf="countProjects>1">Entries</span>
              <span *ngIf="countProjects==1">Entry</span>
              <span *ngIf="countProjects < 1">Entries</span>
              </span>
            </div>
            <div class="challenge-card-status">
              <!--<span class="closed-status" *ngIf="challenge.diffDays>1">{{challenge.diffDays}} DAYS</span>-->
              <!--<span class="closed-status" *ngIf="challenge.diffDays<=1">{{challenge.diffDays}} DAY</span>-->
              <!--<span class="closed-status" *ngIf="challenge.status_id == 376">{{challenge.status}}</span>-->
              <!--<div class="open-status" *ngIf="challenge.status_id != 376">{{challenge.status}}</div>-->
              <!--<span class="challenge-end-date" *ngIf="challenge.status_id != 376">Submission Close <br> {{challenge.challenge_end_date.value | date:'MM/dd/yyyy'}}</span>-->
              <span class="challenge-end-date" *ngIf="challenge.status_id == 375">Submissions close: {{challenge.challenge_end_date.value}}</span>
              <span class="challenge-end-date" *ngIf="challenge.status_id == 1107">In review. Winners to be announced: {{challenge.winners_announcement_date.value}}</span>
              <span class="challenge-end-date" *ngIf="challenge.status_id == 1108">Closed for submissions. Winners announced: {{challenge.winners_announcement_date.value}}</span>
              <span class="challenge-end-date" *ngIf="challenge.status_id == 376 && announce_date < 0">Closed for submissions. Winners announced: {{challenge.winners_announcement_date.value}}</span>
              <span class="challenge-end-date" *ngIf="challenge.status_id == 376 && announce_date > 0">Closed for submissions. Winners to be announced: {{challenge.winners_announcement_date.value}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--End card-container -->
  </div>
</div>
<!-- End col-md-6 -->


<div class="front-challenge-card row" *ngIf="challenge && front && !first">
  <div class="col-md-6 col-sm-12">
    <div *showItBootstrap="['sm','xs']">
      <div class="card-partnership-mobile" *ngIf="challenge.sponsored_by">
        <p>Sponsored by {{challenge.sponsored_by}}</p>
      </div>
    </div>
    <div class="image-container">
      <img *ngIf="challenge.challenge_home_photo" src="{{challenge.challenge_home_photo}}" alt="" class="img-responsive" (click)="ShowChallengeDetails(challenge.path)">
      <img *ngIf="!challenge.challenge_home_photo" src="./assets/images/placeholder.png" alt="">
    </div>
    <div class="card-type-grey">
      <div class="type-layer-2">
        Mission
      </div>
    </div>
  </div>
  <!--End image-container -->
  <div class="col-md-6 col-sm-12 content-container">
    <div class="card-container h-100">
      <div class="card h-100">
        <div *hideItBootstrap="['sm','xs']">
          <div class="card-partership" *ngIf="challenge.sponsored_by">
            <p>Sponsored by {{challenge.sponsored_by}}</p>
          </div>
        </div>
        <h3 class="card-title" *ngIf="challenge.title" (click)="ShowChallengeDetails(challenge.path)" innerHTML="{{challenge.title}}"></h3>
        <div class="card-description" *ngIf="challenge.summary_trim">
          <p [innerHTML]="challenge.summary_trim"></p>
        </div>
        <div class="challene-card-footer d-flex flex-row mt-auto align-items-center">
          <div class="challene-card-footer-1" *ngIf="challenge.nid">
            <div class="button-container-main-1">
              <span class="btn btn-main" (click)="ShowChallengeDetails(challenge.path)">View Mission</span>
            </div>

          </div>
          <div class="challenge-card-footer-2 ml-md-3">
            <div class="challenge-card-count">
              <span class="entries-count">{{countProjects}}
              <span *ngIf="countProjects != 1">Entries</span>
              <span *ngIf="countProjects == 1">Entry</span>
              </span>
              <!--<span class="follow-count">{{challenge.followers}}
                      <span *ngIf="challenge.followers>1">Followers</span>
              <span *ngIf="challenge.followers==1">Follower</span>
              <span *ngIf="!challenge.followers">0 Follower</span>
              </span>-->
            </div>
            <div class="challenge-card-status">
              <!--<span class="closed-status" *ngIf="challenge.diffDays>1">{{challenge.diffDays}} DAYS</span>-->
              <!--<span class="closed-status" *ngIf="challenge.diffDays<=1">{{challenge.diffDays}} DAY</span>-->
              <!--<span class="closed-status" *ngIf="challenge.status_id == 376">{{challenge.status}}</span>-->
              <!--<div class="open-status" *ngIf="challenge.status_id != 376">{{challenge.status}}</div>-->
              <!--<span class="challenge-end-date" *ngIf="challenge.status_id != 376">Submission Close <br> {{challenge.challenge_end_date.value | date:'MM/dd/yyyy'}}</span>-->
              <span class="challenge-end-date" *ngIf="challenge.status_id == 375">Submissions close: {{challenge.challenge_end_date.value}}</span>
              <span class="challenge-end-date" *ngIf="challenge.status_id == 1107">In review. Winners to be announced: {{challenge.winners_announcement_date.value}}</span>
              <span class="challenge-end-date" *ngIf="challenge.status_id == 1108">Closed for submissions. Winners announced: {{challenge.winners_announcement_date.value}}</span>
              <span class="challenge-end-date" *ngIf="challenge.status_id == 376 && announce_date < 0">Closed for submissions. Winners announced: {{challenge.winners_announcement_date.value}}</span>
              <span class="challenge-end-date" *ngIf="challenge.status_id == 376 && announce_date > 0">Closed for submissions. Winners to be announced: {{challenge.winners_announcement_date.value}}</span>

            </div>
          </div>
        </div>
      </div>
    </div>
    <!--End card-container -->
  </div>
</div>
<!-- End col-md-6 -->


<!-- Hero challenge desktop and tablet -->
<div class="front-challenge-card challenge-card-full row" *ngIf="challenge && front && first">
  <div class="image-container">
    <img *ngIf="challenge.hero_mission_cover" src="{{challenge.hero_mission_cover}}" alt="" class="img-responsive" (click)="ShowChallengeDetails(challenge.path)">
    <img *ngIf="!challenge.hero_mission_cover" src="./assets/images/placeholder.png" alt="">
    <div class="card-type-grey">
      <div class="type-layer-2">
        Mission
      </div>
    </div>
  </div>
  <!--End image-container -->
  <div class="card-container">
    <div class="card">
      <h3 class="card-title" *ngIf="challenge.title" (click)="ShowChallengeDetails(challenge.path)" innerHTML="{{challenge.title}}"></h3>
    </div>
    <div class="d-flex flex-md-row flex-column">
      <div class="challenge-card-footer-2 d-flex hidden-xs-down">
        <div class="card-partership mr-5" *ngIf="challenge.sponsored_by">
          <p>Sponsored by {{challenge.sponsored_by}}</p>
        </div>
        <div class="mb-auto d-flex flex-row hidden-xs-down">
          <div class="challenge-card-count">
            <span class="entries-count">{{countProjects}}
              <span *ngIf="countProjects>1">Entries</span>
            <span *ngIf="countProjects <= 1">Entry</span>
            </span>
          </div>
          <div class="challenge-card-status">
            <!--<span class="closed-status" *ngIf="challenge.diffDays>1">{{challenge.diffDays}} DAYS</span>
            <span class="closed-status" *ngIf="challenge.diffDays<=1">{{challenge.diffDays}} DAY</span>
            <span class="closed-status" *ngIf="challenge.status_id == 376">{{challenge.status}}</span>
            <span class="open-status" *ngIf="challenge.status_id != 376">{{challenge.status}}</span>
            <span class="challenge-end-date" *ngIf="challenge.status_id != 376">{{challenge.challenge_end_date.value | date:'MM/dd/yyyy'}}  </span>
            -->
            <span class="challenge-end-date" *ngIf="challenge.status_id == 375"> Submissions close: {{challenge.challenge_end_date.value}}</span>
            <span class="challenge-end-date" *ngIf="challenge.status_id == 1107"> In review. Winners to be announced: {{challenge.winners_announcement_date.value}}</span>
            <span class="challenge-end-date" *ngIf="challenge.status_id == 1108"> Closed for submissions. Winners announced: {{challenge.winners_announcement_date.value}}</span>
            <span class="challenge-end-date" *ngIf="challenge.status_id == 376 && announce_date < 0"> Closed for submissions. Winners announced: {{challenge.winners_announcement_date.value}}</span>
            <span class="challenge-end-date" *ngIf="challenge.status_id == 376 && announce_date > 0"> Closed for submissions. Winners to be announced: {{challenge.winners_announcement_date.value}}</span>

          </div>
        </div>
        <div class="mb-auto d-flex flex-column hidden-sm-up">
          <div class="challenge-card-count">
            <span class="entries-count" style="border-right: none !important;">{{countProjects}}
              <span *ngIf="countProjects>1"  style="border-right: none !important;">Entries</span>
            <span *ngIf="countProjects <= 1" style="border-right: none !important;">Entry</span>
            </span>
          </div>
          <div class="challenge-card-status">
            <!--<span class="closed-status" *ngIf="challenge.diffDays>1">{{challenge.diffDays}} DAYS</span>
            <span class="closed-status" *ngIf="challenge.diffDays<=1">{{challenge.diffDays}} DAY</span>
            <span class="closed-status" *ngIf="challenge.status_id == 376">{{challenge.status}}</span>
            <span class="open-status" *ngIf="challenge.status_id != 376">{{challenge.status}}</span>
            <span class="challenge-end-date" *ngIf="challenge.status_id != 376">{{challenge.challenge_end_date.value | date:'MM/dd/yyyy'}}  </span>
             -->
            <span class="challenge-end-date" *ngIf="challenge.status_id == 375"> Submissions close: {{challenge.challenge_end_date.value}}</span>
            <span class="challenge-end-date" *ngIf="challenge.status_id == 1107"> In review. Winners to be announced: {{challenge.winners_announcement_date.value}}</span>
            <span class="challenge-end-date" *ngIf="challenge.status_id == 1108"> Closed for submissions. Winners announced: {{challenge.winners_announcement_date.value}}</span>
            <span class="challenge-end-date" *ngIf="challenge.status_id == 376 && announce_date < 0"> Closed for submissions. Winners announced: {{challenge.winners_announcement_date.value}}</span>
            <span class="challenge-end-date" *ngIf="challenge.status_id == 376 && announce_date > 0"> Closed for submissions. Winners to be announced: {{challenge.winners_announcement_date.value}}</span>

          </div>
        </div>
      </div>
      <div class="challenge-card-footer-2 d-flex flex-column hidden-sm-up mb-3">
        <div class="card-partership mr-auto mb-2" *ngIf="challenge.sponsored_by">
          <p>Sponsored by {{challenge.sponsored_by}}</p>
        </div>
        <div class="mb-auto d-flex flex-row hidden-xs-down">
          <div class="challenge-card-count">
            <span class="entries-count">{{countProjects}}
              <span *ngIf="countProjects>1">Entries</span>
            <span *ngIf="countProjects <= 1">Entry</span>
            </span>
          </div>
          <div class="challenge-card-status">
            <!--<span class="closed-status" *ngIf="challenge.diffDays>1">{{challenge.diffDays}} DAYS</span>
            <span class="closed-status" *ngIf="challenge.diffDays<=1">{{challenge.diffDays}} DAY</span>
            <span class="closed-status" *ngIf="challenge.status_id == 376">{{challenge.status}}</span>
            <span class="open-status" *ngIf="challenge.status_id != 376">{{challenge.status}}</span>
            <span class="challenge-end-date" *ngIf="challenge.status_id != 376">{{challenge.challenge_end_date.value | date:'MM/dd/yyyy'}}  </span>
        -->
            <span class="challenge-end-date" *ngIf="challenge.status_id == 375"> Submissions close: {{challenge.challenge_end_date.value}}</span>
            <span class="challenge-end-date" *ngIf="challenge.status_id == 1107"> In review. Winners to be announced: {{challenge.winners_announcement_date.value}}</span>
            <span class="challenge-end-date" *ngIf="challenge.status_id == 1108"> Closed for submissions. Winners announced: {{challenge.winners_announcement_date.value}}</span>
            <span class="challenge-end-date" *ngIf="challenge.status_id == 376 && announce_date < 0"> Closed for submissions. Winners announced: {{challenge.winners_announcement_date.value}}</span>
            <span class="challenge-end-date" *ngIf="challenge.status_id == 376 && announce_date > 0"> Closed for submissions. Winners to be announced: {{challenge.winners_announcement_date.value}}</span>

          </div>
        </div>
        <div class="mb-auto d-flex flex-column hidden-sm-up">
          <div class="challenge-card-count">
            <span class="entries-count" style="border-right: none !important;">{{countProjects}}
              <span *ngIf="countProjects>1"  style="border-right: none !important;">Entries</span>
            <span *ngIf="countProjects <= 1" style="border-right: none !important;">Entry</span>
            </span>
          </div>
          <div class="challenge-card-status mt-1">
            <!--<span class="closed-status" *ngIf="challenge.diffDays>1">{{challenge.diffDays}} DAYS</span>
            <span class="closed-status" *ngIf="challenge.diffDays<=1">{{challenge.diffDays}} DAY</span>
            <span class="closed-status" *ngIf="challenge.status_id == 376">{{challenge.status}}</span>
            <span class="open-status" *ngIf="challenge.status_id != 376">{{challenge.status}}</span>
            <span class="challenge-end-date" *ngIf="challenge.status_id != 376">{{challenge.challenge_end_date.value | date:'MM/dd/yyyy'}}  </span>
        -->
            <span class="challenge-end-date" *ngIf="challenge.status_id == 375"> Submissions close: {{challenge.challenge_end_date.value}}</span>
            <span class="challenge-end-date" *ngIf="challenge.status_id == 1107"> In review. Winners to be announced: {{challenge.winners_announcement_date.value}}</span>
            <span class="challenge-end-date" *ngIf="challenge.status_id == 1108"> Closed for submissions. Winners announced: {{challenge.winners_announcement_date.value}}</span>
            <span class="challenge-end-date" *ngIf="challenge.status_id == 376 && announce_date < 0"> Closed for submissions. Winners announced: {{challenge.winners_announcement_date.value}}</span>
            <span class="challenge-end-date" *ngIf="challenge.status_id == 376 && announce_date > 0"> Closed for submissions. Winners to be announced: {{challenge.winners_announcement_date.value}}</span>

          </div>
        </div>
      </div>
      <div class="ml-auto hidden-sm-down">
        <div class="button-container-main-1">
          <span class="btn btn-main" (click)="ShowChallengeDetails(challenge.path)">View Mission</span>
        </div>
      </div>
    </div>
    <div class="ml-auto hidden-md-up">
      <div class="button-container-main-1">
        <span class="btn btn-main" (click)="ShowChallengeDetails(challenge.path)">View Mission</span>
      </div>
    </div>
  </div>
  <!--End card-container -->
</div>