
<div class="registration-page" *ngIf="showForm">
  <div id="search-box-layer">
    <div class="container">
      <div class="row">
        <div class="col-md-12 search-form-group">
          <div class="header-title">
            <h2> We have to ask... </h2>
            <p> Maker needs to be 13 or older to use Maker Share. <br> to continue, please provide us with your legal name and
              birthdate.</p>
          </div>
          <form ngNoForm action="https://makermedia.auth0.com/continue?state={{registrationFormState}}" method="post">
            <div class="body-input">
              <div class="form-group container name-section">
                <label for="firstname" class="row"> NAME </label>
                <div class="inputs-box row">
                  <input placeholder="First Name" type="text" id="firstname" name="firstname" value="" class="form-design col-md-5 firstname" required>
                  <input placeholder="Last Name" type="text" id="lastname" name="lastname" value="" class="form-design col-md-5 ml-md-auto lastname" required>
                </div>
              </div>
            </div>
            <div class="form-group container name-section">
              <label for="birthdate" class="row"> BIRTHDATE </label>
              <div class="row">
                <input placeholder="mm/dd/yyyy" pattern="(0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01])[- /.](19|20)\d\d" type="text" id="birthdate" name="birthdate" value="" class="form-design col-md-5" required>
                <div class="col-md-5 ml-md-auto save-btn-container">
                  <button type="submit" class="btn btn-simple-large" value="Save" id="reg-save">Save</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
