<!-- start company card test  -->
<div *ngIf="cardData" class="card project {{state}}">
  <div class="card-image" [style.background-image]="'url('+cardData.orgs_cover_photo+')'">
  </div>
  <div class="card-info">
    <div class="info-top">
      <div class="card-image alt" [style.background-image]="'url('+cardData.orgs_cover_photo+')'"></div>
      <app-card-badges [badges]="badges"></app-card-badges>
      <div class="d-flex align-items-start flex-column">
        <div class="mb-auto p-2">
          <img class="rounded-circle bg-danger" src="{{cardData.orgs_logo}}" />
        </div>
      </div>
      <!-- no alt bg for companies but we still need the div here for hovers -->
      <!-- <div class="flag project">Organization </div> -->
      <!-- Start Feature Company -->
       <app-feature *ngIf="Manager && cardData.nid" [id]="cardData.nid" [type]="'node'" (Featured)="emitFeatured()"></app-feature> 
      <!-- End Feature Company -->
      <span class="flex-text-container" *ngIf="cardData.path" [routerLink]="['/orgs/',cardData.path]">
      </span>
    </div>
    <div class="info-bottom">
      <div class="card-owner-meta">
        <div class="card-owner-meta-info">
          <span class="card-title" innerHTML="{{cardData.Orgs_name}}"></span>
          <p class="card-description-long" *ngIf="cardData.breif_info" innerHTML="{{cardData.breif_info}}"></p>
        </div>
      </div>
      <social-stats [followerCount]="cardData.followers_count" [profileViews]="cardData.ord_views" [projectsCount]="cardData.total_projects"></social-stats>
    </div>
  </div>
</div>
<!-- end company card test -->