<div class="page-explore">
  <div class="container">
    <header class="explore-header">
      <div class="container">
        <h3>Makers</h3>
        <div class="filters-group">
          <div class="dropdown-group">
            <i class="dropdownIcon lnr lnr-chevron-down"></i>
            <select class="shadowed explore-tags" (change)="selectParent($event.target.value);CurrentActiveChildIndex = -1">
              <option value="0">All Makers</option>
              <option *ngFor="let parent of categories_parents;let i = index" value="{{parent.tid}}" [innerHTML]="parent.name">
              </option>
            </select>
          </div>
          <div class="filters">
            <div class="dropdown-group">
              <i class="dropdownIcon lnr lnr-chevron-down"></i>
              <select class="shadowed explore-tags sorting-filter" id="filter-projects" (change)="sortMakers($event.target.value)">
                <option value="-1" disabled class="btn">Sort</option>
                <option value="0" class="btn">Mix 'Em Up</option>
                <option value="1" class="btn">Most projects</option>
                <option value="2" class="btn">Newest</option>
                <option value="3" class="btn">Name A-Z</option>
                <option value="4" class="btn">Name Z-A</option>
                <option value="5" class="btn">Most likes</option>
                <option value="6" class="btn">Most views</option>
              </select>
            </div>
          </div>
          <div class="filters projects-counter">
            <div *ngIf="makersCount" class="entries-count btn">
              <p *ngIf="makersCount != 1">{{makersCount}} Makers</p>
              <p *ngIf="makersCount == 1">{{makersCount}} Maker</p>
            </div>
          </div><!-- End filters -->
        </div>
        <div class="submenus" *ngIf="childCategory.length>0">
          <ul class="list-unstyled cat-filters">
            <li class="cat-filter-item" *ngFor="let term of childCategory;let i = index">
              <a [ngClass]="{'active':CurrentActiveChildIndex == i}" (click)="CurrentActiveChildIndex = i;selectCategory($event,term);"
                class="btn btn-category" data-id="{{term.tid}}" [innerHTML]="term.name"></a>
            </li>
          </ul>
        </div>
      </div>
    </header>
    <div class="projects-grid row">
      <app-maker-card class="col-md-6 col-lg-4 pull-left" *ngFor="let maker of makers" [uid]="maker.uid"></app-maker-card>
    </div>
  </div>
  <div class="text-center" *ngIf="hideloadmore">
    <a class="btn btn-load-more" (click)="loadMoreMakers()">Load more</a>
  </div>
</div>