<div class="row project-body">
  <div class="region region-content col-lg-8 col-md-8">
    <div class="how-to-tab">
      <p [innerHTML]="project.field_how_to?.value"></p>
    </div>
    <div class="feedback-group">
      <app-comment [nid]="project.nid"></app-comment>
    </div>
  </div>

  <aside class="side-bar col-lg-4 col-md-4">
    <div class="timestamp" *ngIf="project.created && project.changed">Created On: {{project.created}} - Last Updated: {{project.changed}} </div>
    <div class="sidebar-container">
      <div class="how-to-sidebar">
        <div class="block-style avg-time">
          <p class="average">Average Build Time:</p><i class="fa fa-clock-o hours" aria-hidden="true"><span>{{project.field_duration}} Hours</span></i>
        </div>
        <div class="block-style avg-time">
          <p>Difficulty : {{project.field_difficulty}}</p>
        </div>
        <ul class="list-group resources">
          <h3>Resources</h3>
          <li class="list-group-item" *ngFor="let resource of project.field_resources; let i=index">
            <a href="#">{{resource.resource_file}}</a>
          </li>
          <li class="list-group-item"><a href="#">Metal patterns- PDF - 3.6MB</a>
            <p>- Inventory of shapes you will need to cut for the flower part.</p>
          </li>
        </ul>
        <ul class="list-group tools">
          <h3>Tools</h3>
          <li class="list-group-item" *ngFor="let tool of project.field_tools; let i=index"><span class="amount">{{tool.tool_quantity}} - </span><span class="item"> {{tool.tool_name}}</span></li>
        </ul>
        <ul class="list-group boards-kits">
          <h3>Boards &amp; Kits</h3>
          <li class="list-group-item" *ngFor="let part of project.field_parts; let i=index"> <span class="amount">{{part.part_quantity}} - </span><span class="item"> {{part.part_name}}</span></li>
        </ul>
        <ul class="list-group materials">
          <h3>Materials</h3>
          <li class="list-group-item" *ngFor="let material of project.field_materials; let i=index"> <span class="amount">{{material.material_quantity}} - </span><span class="item"> {{material.material_id}}</span></li>
        </ul>
      </div>
    </div>
  </aside>
</div>