<div class="region region-content col-sm-8">
  <div class="how-to-tab">
    <h3>Praesent ut velit metus.</h3>
    <p>Sed facilisis urna at convallis posuere. Donec porttitor ac urna a luctus. Quisque rutrum pretium sem a euismod. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In mollis malesuada dui, dapibus semper ex dictum nec. Etiam sed justo eget tellus bibendum pretium vitae ut nisl. Aenean posuere lacinia risus et volutpat. Aenean vitae risus non nisl semper dignissim. Nunc lacinia nibh interdum, ultricies elit a, sodales odio.</p>
    <p>Praesent ut velit metus. Sed facilisis urna at convallis posuere. Donec porttitor ac urna a luctus. Quisque rutrum pretium sem a euismod. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In mollis malesuada dui, dapibus semper ex dictum nec. Etiam sed justo eget tellus bibendum pretium vitae ut nisl. Aenean posuere lacinia risus et volutpat.</p>
    <img src="http://placehold.it/900x350" alt="" class="img-responsive">
    <p>Praesent ut velit metus. Sed facilisis urna at convallis posuere. Donec porttitor ac urna a luctus. Quisque rutrum pretium sem a euismod. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In mollis malesuada dui, dapibus semper ex dictum nec. Etiam sed justo eget tellus bibendum pretium vitae ut nisl. Aenean posuere lacinia risus et volutpat.</p>
    <p>Praesent ut velit metus. Sed facilisis urna at convallis posuere. Donec porttitor ac urna a luctus. Quisque rutrum pretium sem a euismod. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In mollis malesuada dui, dapibus semper ex dictum nec. Etiam sed justo eget tellus bibendum pretium vitae ut nisl. Aenean posuere lacinia risus et volutpat.</p>
    <p>Praesent ut velit metus. Sed facilisis urna at convallis posuere. Donec porttitor ac urna a luctus. Quisque rutrum pretium sem a euismod. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In mollis malesuada dui, dapibus semper ex dictum nec. Etiam sed justo eget tellus bibendum pretium vitae ut nisl. Aenean posuere lacinia risus et volutpat.</p>
    <p>Praesent ut velit metus. Sed facilisis urna at convallis posuere. Donec porttitor ac urna a luctus. Quisque rutrum pretium sem a euismod. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In mollis malesuada dui, dapibus semper ex dictum nec. Etiam sed justo eget tellus bibendum pretium vitae ut nisl. Aenean posuere lacinia risus et volutpat.</p>  
  </div>
</div><!-- End region-content -->

<aside class="col-sm-4">
  <div class="timestamp">Created On: 04/12/2015 - Last Updated: 12/04/2016</div>
    <div>
    <div class="project-story-tab">
      <div class="project-awards"><i class="fa fa-lg fa-trophy"></i><a href="#" >Vehicles Challenge</a> Winner</div>
      <div class="project-collaborates">
        <div class="collaborate">
          <div class=" profile-container"><!-- start profile card-->
            <div class="profile-card">
              <div class="left col-sm-4">
                <div class="profile-pic">
                  <img src="http://placehold.it/140x140" alt="" class="img-responsive">
                </div>
                <a href="#" class="btn btn-blue">Message</a>
              </div>
              <div class="right col-sm-8">
                <h4 class="profile-name"><a href="#">Margot Jacobs</a></h4>
                <div class="trophies">
                  <i class="fa fa-lg fa-child"></i>
                  <i class="fa fa-lg fa-certificate"></i>
                  <i class="fa fa-lg fa-trophy"></i>
                </div>
                <p class="count">6 projects</p>
                <p class="profile-tag">Make Stuff Happen kind of person!</p>
                <p class="user-city">San Francisco, CA</p>
              </div>
            </div><!-- End profile card -->
          </div><!-- End Profile-container -->
          <div class="role">
            <h4>Role on the project</h4>
            <p>Welder of metal, shooter of video, booster of morale. Also, Concept, Design, and fabrication.</p>
          </div>
        </div><!-- End Collaborate -->
      </div><!-- End project-collaborates -->
      <div class="panel panel-default aha">
        <div class="panel-heading">
          <h3><i class="fa fa-lightbulb-o"></i>AHA! Moment</h3>
        </div>
        <div class="panel-body">
          <p>When we realized we could use the laser cutter to get a better result.</p>
        </div>
      </div>
      <div class="panel panel-default uh-oh">
        <div class="panel-heading">
          <h3><i class="fa fa-bomb"></i>UH-OH! Moment</h3>
        </div>
        <div class="panel-body">
          <p>Almost setting the workshop on fire by leaving the soldering iron on for 8 hours in a row. Remember to check your fire extinguishers!</p>
        </div>
      </div>
      <div class="block-style fork">
        <p>
          Forked from: <a href="#">Name of the Last Project it came from</a>
        </p>
        <p>
          by <a href="#">Margot Jacobs</a>
        </p>
      </div><!-- End fork -->
    </div>
  </div>
</aside>
