<div class="region region-content col-sm-8">
  <div class="how-to-tab" *ngIf="project.field_how_to">
    <p>{{project.field_how_to.value}}</p>
  </div>
</div><!-- End region-content -->

<aside class="col-sm-4">
  <div>
    <div class="how-to-tab">
      <div class="block-style avg-time">
        <p>Average Build Time: {{project.field_duration}} hours</p>
      </div>
      <div class="block-style avg-time">
        <p>Difficulty : {{project.field_difficulty}}</p>
      </div>
      <h3>Resources</h3>
      <ul class="list-group resources">
        <li class="list-group-item" *ngFor="let resource of project.field_resources; let i=index" >{{resource.resource_file}}</li>
      </ul>
      <h3>Tools</h3>
      <ul class="list-group tools">
        <li class="list-group-item " *ngFor="let tool of project.field_tools; let i=index"> <span class="amount">{{tool.tool_quantity}}</span><span class="item">{{tool.tool_name}}</span></li>
      </ul>
      <ul class="list-group boards-kits">
        <h3>Boards &amp; Kits</h3>
        <li class="list-group-item "  *ngFor="let part of project.field_parts; let i=index"> <span class="amount">{{part.part_quantity}}</span><span class="item">{{part.part_name}}</span></li>
      </ul>
      <h3>Materials</h3>
      <ul class="list-group materials">
        <li class="list-group-item " *ngFor="let material of project.field_materials; let i=index"> <span class="amount">{{material.material_quantity}}</span><span class="item">{{material.material_name}}</span></li>
        <li class="list-group-item "> <span class="amount">5 long pieces</span><span class="item"> Rebar</span></li>
      </ul>
    </div>  
  </div>
</aside>
