<div class="profile-content">
  <div class="projects-grid row">

    <div *ngFor="let project of profile_projects" class="project col-md-6">
      <!-- Start Project Card -->
      <app-project-card [projectCard]="project"></app-project-card>
      <!-- End Project Card -->

    </div>
    <div *ngIf="!profile_projects[0]">
      <div class="empty-content row">
        <div class="col-lg-12 col-md-12">
          <p>You do not have any projects yet.</p>
          <ul class="list-unstyled add-button d-flex justify-content-center">
            <li><a (click)="addProject($event)" class="btn btn-light-grey">Add a new project</a></li>
            <li>
              <a href="" class="btn btn-light-grey"> Upload photos</a>
            </li>
          </ul>
          <p>Is there an existing write-up? Enter the URL below and we'll import it.</p>
          <p>Note: We can only import one page at a time.</p>
          <input type="text" class="form-control" placeholder="Enter your URL">
          <a href="" class="btn btn-sharp import-page">Import page</a>
        </div>
      </div>
    </div>

  </div>
  <!-- End project grid -->
  <div class="col-xs-4 col-xs-offset-4 load-more" *ngIf="profile_projects[0]">
    <a href="#" class="btn btn-white">Load more</a>
  </div>
</div>
<!-- End profile content -->
