<div class="profile-content">
  <div class="projects-grid row">
    <app-project-card *ngFor="let project of profile_projects" [view]="view" [nid]="project.nid" class="project-item col-md-6"></app-project-card>
    <div *ngIf="!profile_projects[0]">
      <div class="empty-content row">
        <div class="col-lg-12 col-md-12">
          <p>You do not have any projects yet.</p>
          <ul class="list-unstyled add-button d-flex justify-content-center">
            <li><a (click)="addProject($event)" class="btn btn-light-grey">Add a new project</a></li>
            <li>
              <a href="" class="btn btn-light-grey"> Upload photos</a>
            </li>
          </ul>
          <p>Is there an existing write-up? Enter the URL below and we'll import it.</p>
          <p>Note: We can only import one page at a time.</p>
          <input type="text" class="form-control" placeholder="Enter your URL">
          <a href="" class="btn btn-sharp import-page">Import page</a>
        </div>
      </div>
    </div>
  </div>
  <!-- End project grid -->
  <div class="text-center">
    <div class="button-container-main-2">
      <a class="btn btn-main-2" *ngIf="!hideLoadMore" (click)="loadMoreProject($event)">Load more</a>
    </div>
  </div>
</div>
<!-- End profile content -->