<div class="front">
  <app-onboarding></app-onboarding>
  <!--<app-challenge></app-challenge>
  <app-showcases></app-showcases>-->
  <!--<div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <app-maker-card [uid]="1"></app-maker-card>
      </div>
    </div>
  </div>-->
  <div class="container">
    <div class="row">
      <div *ngFor="let item of homeCards;let i = index" [ngClass]="{'col-md-6 col-lg-4': item.type == 'project' ,'col-md-4': item.type == 'maker' ,'col-md-4': item.type == 'showcase', 'col-md-8': item.type == 'challenge' ,'col-md-8': item.type == 'learning_sequence' }">
        <div *ngIf="item.type == 'challenge'">
          <div class="challenge-page-data">
            <div class=" challenges-container">
              <app-challenge-card [challengeNid]="item.id" [front]=true></app-challenge-card>
            </div>
          </div>
        </div>
        <div *ngIf="item.type == 'showcase'">
          <div  class="">
            <div class="showcase-card-backlayer-home" *ngIf="item.id">
              <div class="showcase-card-backlayer-home-2" *ngIf="item.id">
                <app-showcase-gen-card [showcaseNid]="item.id"></app-showcase-gen-card>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="item.type == 'maker'"></div>
        <div *ngIf="item.type == 'project'">
          <app-project-card  [view]="view" [nid]="786" class=""></app-project-card>
        </div>
        <div *ngIf="item.type == 'learning_sequence'">
          <div class="container page-learn">
            <div class="page-learn">
              <div class="learn-card">
                <app-learn-card [workshopNid]="item.id" [front]=true></app-learn-card>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <app-spotlight></app-spotlight>

  <section class="modal-section">
    <!-- Trigger the modal with a button -->
    <!-- Modal -->
    <div id="joinus-modal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <h4>Start participating in <br>our worldwide community of makers!</h4>
          </div>
          <button type="button" class="btn btn-blue" data-dismiss="modal">Join now</button>
          <p>Already a member? <a href="#">Log in</a></p>
        </div>
      </div>
    </div>
  </section>

</div>