<div class="front">
  <app-slider></app-slider>
  <app-challenge></app-challenge>
  <app-showcases></app-showcases>
  <app-spotlight></app-spotlight>



    <section class="modal-section">
      <!-- Trigger the modal with a button -->
      <!-- Modal -->
      <div id="joinus-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <h4>Start participating in <br>our worldwide community of makers!</h4>
            </div>
            <button type="button" class="btn btn-blue" data-dismiss="modal">Join now</button>
            <p>Already a member? <a href="#">Log in</a></p>

          </div>
        </div>
      </div>
    </section>
</div>
