<header id="universal-nav" class="universal-nav">
  <div class="nav-level-1">
    <nav class="container">
      <ul class="nav-level-1-nav">
		  <li class="nav-item nav-faire">
          <a href="https://makerfaire.com/">
            <span title="Maker Faire">Maker Faire</span>
          </a>
          <div class="nav-level-2-arrow"></div>
        </li>
        <li class="nav-item nav-shed">
          <a href="https://makershed.com/">
            <span title="Shop">Shop</span>
          </a>
          <div class="nav-level-2-arrow"></div>
        </li>
		  <li class="nav-item nav-partnerships">
          <a href="https://make.co/make-corporate/" target="_blank">
            <span title="Partnerships">Partnerships</span>
          </a>
          <div class="nav-level-2-arrow"></div>
        </li>
		  <li class="nav-item nav-magazine">
          <a href="https://makezine.com/">
            <span title="Magazine">Magazine</span>
          </a>
          <div class="nav-level-2-arrow"></div>
        </li>
        <li class="nav-item nav-learn">
          <a href="https://learn.make.co/">
            <span title="Learn">Learn</span>
          </a>
          <div class="nav-level-2-arrow"></div>
        </li>
        <li class="nav-item nav-community">
          <a href="https://make.co">
            <span title="Support Us">Support Us</span>
          </a>
          <div class="nav-level-2-arrow active-site"></div>
        </li>
        
      </ul>
      <a href="https://make.co" class="navbar-brand">
        <img src="../assets/images/make-community-logo.png" class="img-fluid" alt="Make Community: brand logo">
      </a>
		 
      <ul class="search-button"> 
			<li class="nav-item">
			  <div id="sb-search" class="sb-search">
				 <span class="icon-search nav-link fa fa-search" (click)="openSearchBox()"></span>
			  </div>
			</li>
		</ul>
		 
      <ul class="nav-level-1-auth">
        <li class="nav-item" *ngIf="!auth.authenticated()">
          <!--<a class="nav-link">-->
          <!--<app-login></app-login>-->
          <!--</a>-->
          <button id="qsLoginBtn" style="display: flex;" (click)="auth.Auth0Login()">LOG IN</button>
        </li>

        <li class="nav-item hide-mobile" *ngIf="auth.authenticated()">
          <a class="button add-project-header-button" ngbTooltip="Add Project" [routerLink]="['/projects/create']">+</a>
			 <a class="button inbox-notifications-button" ngbTooltip="Inbox" [routerLink]="['/inbox-notifications']"><i class="fa fa-bell"></i></a>
        </li>
			
        <li class="nav-item" id="profile-view" *ngIf="auth.authenticated()">
          <div ngbDropdown
               class="dropdown dropdownMenuLink">
            <div class="dropdown-toggle" id="userMenu" ngbDropdownToggle>
              <img id="user_avatar" class="avatar"
                   src="./assets/images/icons/no-profile-pic.png"
                   alt="Profile Photo" style="width:38px;">
            </div>
            <div class="subnav dropdown-menu" aria-labelledby="userMenu">
				   <div class="profile-info">
						<img class="avatar" style="width:80px" alt="avatar">
						<div class="profile-name"></div>	
				   </div>
					<div class="dropdown-links">
					  <div class="profile-email"></div>
                 <!--<a class="dropdown-item" *ngIf="isManager"
                   target="_blank"
                   href="{{Back_End_Domain}}">Manage</a>-->
                 <a class="dropdown-item" [routerLink]="['/portfolio']"> <!-- need a page refresh here -->
                  <span class="nav-link">Maker Profile</span>
                 </a>
                 <a *ngIf="org_data && org_data.path"
                  class="dropdown-item" [routerLink]="[org_data.path,'edit']">
                    &nbsp;&nbsp;&nbsp;&nbsp;Group Profile
                 </a>
              <!--
                <a *ngIf="!org_data && isManager"
                  class="dropdown-item" [routerLink]="['/groups/create']">
                  <span class="nav-link">Create Group</span>
                </a>
                <a class="dropdown-item" [routerLink]="['/']" fragment="feed">
                  <span class="nav-link">My Feed</span>
                </a>
                 <a class="dropdown-item" [routerLink]="['/inbox-notifications']">
                    &nbsp;&nbsp;&nbsp;&nbsp;Inbox
                 </a>
                 <a class="dropdown-item" [routerLink]="['/account/settings/notifications']">
                    &nbsp;&nbsp;&nbsp;&nbsp;Account Settings
                 </a>
              -->
                 <a class="dropdown-item" href="https://www.makerfaire.com/manage-entries">
                    Maker Faire Portal
                 </a>
                 <a class="dropdown-item" href="https://make.co/myaccount">
                    My Member Account
                 </a>
					</div>
					<a (click)="auth.logout()" id="newLogoutBtn" title="Log Out">
					   <span class="logout">Log Out</span>
				   </a>
				   <!--<div class="dropdown-item">
					   <app-notification-panel></app-notification-panel>
				   </div>-->
            </div>
          </div>
			</li>
      </ul>
		 
    </nav>
  </div><!-- .nav-level-1 --> 
	

	
  <div id="nav-level-2" class="nav-level-2">
    <div class="container">
      <div class="nav-2-banner">
          <ul id="menu-secondary_universal_menu">
            <li id="nav-item" class="nav-item"><a title="Makers" [routerLink]="['makers']"><span>Makers</span></a></li>
            <li id="nav-item" class="nav-item"><a title="Projects" [routerLink]="['projects']"><span>Projects</span></a></li>
            <li id="nav-item" class="nav-item"><a title="Missions" [routerLink]="['missions']"><span>Missions</span></a></li>
				<li id="nav-item" class="nav-item"><a title="Makerspaces"  href="https://makerspaces.make.co"><span>Makerspaces</span></a></li>
          </ul>
      </div>
    </div>
  </div><!-- .nav-level-2 -->
  <app-search-box *ngIf="showSearchBox" [boxStatus]="showSearchBox" (notify)="onNotify($event)"></app-search-box>
  <app-registration-collect *ngIf="registrationFormStatus"
                            [registrationFormState]="registrationFormState"></app-registration-collect>
  <div id="nav-flyout">
     <div class="container">
        <div class="nav-flyout-logo">
          <a href="https://makezine.com/" class="navbar-brand">
            <img src="../assets/images/make-community-logo.png" class="img-fluid" alt="Make: brand logo" />
            <h2>We are all makers</h2>
          </a>
        </div>

        <div class="nav-flyout-columns">
			<div class="nav-flyout-column">
			  <a href="https://makezine.com/" class="expanding-underline">
				 <h3>Make: Magazine</h3>
				 <img class="nav-close-icon" src="https://make.co/wp-content/themes/memberships/img/plus-circle.svg" alt="Nav close icon">
			  </a>
			  <ul class="nav-flyout-ul">
				 <li class="hidden-md-up">
					<a href="https://makezine.com/">
					  <span title="Make Magazine Home">Make Magazine Home</span>
					</a>
				 </li>
				 <li>
					<a target="_blank" href="https://readerservices.makezine.com/mk/default.aspx">
					  <span title="Subscribe">Subscribe</span>
					</a>
				 </li>
				 <li>
					<a target="_blank" href="https://readerservices.makezine.com/mk/SubGiftSplash.aspx">
					  <span title="Gift Subscription">Gift Subscription</span>
					</a>
				 </li>
				 <li>
					<a target="_blank" href="https://readerservices.makezine.com/mk/SubInfo.aspx">
					  <span title="Manage Subscription">Manage Subscription</span>
					</a>
				 </li>
				 <li>
					<a target="_blank" href="https://www.makershed.com/collections/make-magazine">
					  <span title="Back Issues">Back Issues</span>
					</a>
				 </li>
				 <li>
					<a href="https://makezine.com/blog/">
					  <span title="All Stories">All Stories</span>
					</a>
				 </li>
				 <li>
					<a href="https://makezine.com/projects/">
					  <span title="Make: Tested Projects"><strong>Make:</strong> Tested Projects</span>
					</a>
				 </li>
				 <li>
					<a href="https://makezine.com/tag/guides/">
					  <span title="Tool Guides">Tool Guides</span>
					</a>
				 </li>
				 <li>
					<a href="http://makezine.com/tag/maker-spotlight/">
					  <span title="Maker Spotlights">Maker Spotlights</span>
					</a>
				 </li>
			  </ul>
			</div>

			<div class="nav-flyout-column nav-faire">
        		<a href="https://makerfaire.com/" class="expanding-underline">
				 <h3>Maker Faire</h3>
				 <img class="nav-close-icon" src="https://make.co/wp-content/themes/memberships/img/plus-circle.svg" alt="Nav close icon" />
        		</a>
			   <ul class="nav-flyout-ul">
				 <li class="hidden-md-up">
					<a href="https://makerfaire.com/">
					  <span title="Maker Faire Home">Maker Faire Home</span>
					</a>
				 </li>
				 <!--<li>
					<a href="https://makerfaire.com/bay-area/">
					  <span title="Maker Faire Bay Area">Maker Faire Bay Area</span>
					</a>
				 </li>
				 <li>
					<a href="https://makerfaire.com/new-york/">
					  <span title="World Maker Faire NY">World Maker Faire NY</span>
					</a>
				 </li>-->
				 <li>
					<a href="https://makerfaire.com/featured-faires/">
					  <span title="Featured Faires">Featured Faires</span>
					</a>
				 </li>
				 <li>
					<a href="https://makerfaire.com/map/">
					  <span title="Faires Around the World">Faires Around the World</span>
					</a>
				 </li>
				 <li>
					<a href="https://makerfaire.com/global/">
					  <span title="Start a Maker Faire">Start a Maker Faire</span>
					</a>
				 </li>
				 <li>
					<a href="https://makerfaire.com/makerfairehistory/">
					  <span title="What is a Maker Faire?">What is a Maker Faire?</span>
					</a>
				 </li>
				 <li>
					<a target="_blank" href="https://help.makermedia.com/hc/en-us/categories/200333245-Maker-Faire">
					  <span title="FAQs & Support">FAQs &amp; Support</span>
					</a>
				 </li>
				 <!-- <li class="get-tickets">
					<a href="https://makerfaire.com/get-tickets/">
					  <span title="Get Tickets">Get Tickets</span>
					</a>
				 </li> -->
			  </ul>
      </div>

			<div class="nav-flyout-column">
			  <a target="_blank" href="https://www.makershed.com/" class="expanding-underline">
				 <h3>Maker Shed</h3>
				 <img class="nav-close-icon" src="https://make.co/wp-content/themes/memberships/img/plus-circle.svg" alt="Nav close icon">
			  </a>
			  <ul class="nav-flyout-ul">
				  <li class="hidden-md-up">
					<a target="_blank" href="https://www.makershed.com//">
					  <span title="Maker Shed Home">Maker Shed Home</span>
					</a>
				 </li>
				 <li>
					<a target="_blank" href="https://www.makershed.com/collections/most-popular">
					  <span title="Best Sellers">Best Sellers</span>
					</a>
				 </li>
				 <li>
					<a target="_blank" href="https://www.makershed.com/collections/make-kits">
					  <span title="Hands-on Kits">Hands-on Kits</span>
					</a>
				 </li>
				 <li>
					<a target="_blank" href="https://www.makershed.com/collections/books">
					  <span title="Digital Books">Digital Books</span>
					</a>
				 </li>
				 <li>
					<a target="_blank" href="https://www.makershed.com/collections/make-gear">
					  <span title="Maker Faire Gear">Maker Faire Swag</span>
					</a>
				 </li>
				 <li>
					<a target="_blank" href="https://www.makershed.com/collections/just-arrived">
					  <span title="What's New">What's New</span>
					</a>
				 </li>
				 <li>
					<a target="_blank" href="https://help.makermedia.com/hc/en-us/articles/203708999-Processing-Shipping-Time">
					  <span title="Shipping">Shipping</span>
					</a>
				 </li>
				 <li>
					<a target="_blank" href="https://help.makermedia.com/hc/en-us/articles/203710909-Returns-Exchanges">
					  <span title="Returns">Returns</span>
					</a>
				 </li>
				 <li>
					<a target="_blank" href="https://www.makershed.com/pages/affiliate">
					  <span title="Become an Affiliate">Become an Affiliate</span>
					</a>
				 </li>
			  </ul>
			</div>

			<div class="nav-flyout-column nav-community">
			  <a href="https://makershare.com/" class="expanding-underline">
				 <h3>Maker Share</h3>
				 <img class="nav-close-icon" src="https://make.co/wp-content/themes/memberships/img/plus-circle.svg" alt="Nav close icon">
			  </a>
			  <ul class="nav-flyout-ul">
				 <li class="hidden-md-up">
					<a href="https://makeshare.com/">
					  <span title="Maker Share Home">Maker Share Home</span>
					</a>
				 </li>
				  <li>
					<a href="https://makershare.com/makers">
					  <span title="Maker Portfolios">Maker Portfolios</span>
					</a>
				 </li>
				 <li>
					<a href="https://makershare.com/groups-overview">
					  <span title="Maker Groups">Groups</span>
					</a>
				 </li>
				 <li>
					<a href="https://makershare.com/showcases">
					  <span title="Making Showcases">Showcases</span>
					</a>
				 </li>
				 <li>
					<a href="https://makershare.com/missions">
					  <span title="Participate in a Mission">Participate in a Mission</span>
					</a>
				 </li>
				 <li>
					<a href="https://makershare.com/guidelines">
					  <span title="Community Guidelines">Community Guidelines</span>
					</a>
				 </li>
				 <li>
					<a href="https://makershare.com/badges">
					  <span title="About Badges">About Badges</span>
					</a>
				 </li>
				 <li>
					<a href="https://makershare.com/why-portfolio">
					  <span title="About Portfolios">About Portfolios</span>
					</a>
				 </li>
			  </ul>
			</div>

     <div class="nav-flyout-column nav-make">
        <a href="https://community.make.co/" class="expanding-underline">
          <h3>Make Community</h3>
          <img class="nav-close-icon" src="https://make.co/wp-content/themes/memberships/img/plus-circle.svg" alt="Nav close icon" />
        </a>
        <ul class="nav-flyout-ul">
			 <li class="hidden-xs-up"><!-- never really necessary to show because Memberships links to the same place -->
            <a href="https://community.make.co/">
              <span title="Make Community">Make Community</span>
            </a>
          </li>
          <li>
            <a href="https://make.co/">
              <span title="Why join Make:?">Why join <strong>Make Community</strong>?</span>
            </a>
          </li>
          <li>
            <a href="https://community.make.co/video-library/">
              <span title="Video Playlists">Video Playlists</span>
            </a>
          </li>
          <li>
            <a href="https://community.make.co/digital-library/">
              <span title="Magazine Collection"><strong>Make:</strong> Magazine Collection</span>
            </a>
          </li>
          <li>
            <a href="https://community.make.co/video-library/">
              <span title="Live Learning">Live Learning</span>
            </a>
          </li>
          <li>
            <a href="https://make.co/faqs/">
              <span title="Membership FAQs">Membership FAQs</span>
            </a>
          </li>
        </ul>
      </div>
			<div class="auth-target"></div>
		 </div>
      </div>
  </div>
  <div id="nav-hamburger" class="nav-hamburger">
    <div class="container">
      <div id="hamburger-click-event">
        <div id="hamburger-icon">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <span id="hamburger-text">More</span>
      </div>
    </div>
  </div><!-- .nav-hamburger -->
</header>
<notification-bar></notification-bar>