<div *ngIf="challenge" class="page-challenge-summary">
  <div class="main-container container-fluid">
    <div class="row">
      <section class="col-sm-12 width-fix">
        <div class="top-content-wrapper">
          <div class="container">

            <div class="col-md-12 challenge-cover" *ngIf="challenge">
              <!--<div class="button-container-main-1 float-right">
                <button class="btn btn-main" (click)="myEnteriesProject()">My Entries</button>
                <button class="btn btn-main" (click)="getProjects()">All Project</button>
              </div>-->
              <div class="challenge-card row">
                <div class="col-md-4 left-side">
                  <div class="image-container">
                    <img src="{{challenge.cover_image}}" alt="" *ngIf="challenge.cover_image" class="img-responsive">
                    <img src="{{challenge.sponsor_bar}}" alt="" *ngIf="challenge.sponsor_bar" class="sponsor_bar img-responsive">
                    <div class="card-type-grey">
                      <div class="type-layer-2">
                        Mission
                      </div>
                    </div>
                  </div>
                  <div class="challene-card-footer-3 hidden-sm-down d-flex">
                     <!--<div class="button-container-main-1" *ngIf="challenge.status_id != 375">
                      <span class="btn btn-main" (click)="enterToChallengeProjectClosed($event)">Participate</span>
                    </div>-->
                    <div class="button-container-main-1" *ngIf="challenge.status_id == 375">
                      <span class="btn btn-main" *ngIf="challenge.status_id != 376 && hideButton==true && enterStatus==true" (click)="enterToChallengeProject(challenge.nid)">Participate</span>
                    </div>
                    <app-follow  [nodeNid]="challenge.nid" (countNumber)="followersCounter($event)" (HideLoadMore)="hideloadmorefollower = false"></app-follow>
                    <div class="ml-auto"><app-shared-buttons *ngIf="challenge.title" [PageTitle]="challenge.title" [PageDescription]="challenge.body" [PageImage]="challenge.cover_image"></app-shared-buttons></div>
                  </div>
                </div>
                <!-- End image-container -->
                <div class="col-md-8">
                  <div class="card-container">
                    <div class="card">
                      <div class="d-flex-flex-row pt-1">
                        <div class="card-partership pull-right">
                          <p *ngIf="challenge.sponsored_by">Sponsored by {{challenge.sponsored_by}}</p>
                        </div>
                        <ul class="list-unstyled challenge-actions pull-right">
                          <!--<app-bookmark [nodeNid]="challenge.nid"></app-bookmark>-->
                          <!--<li><a class="btn btn-soft-grey btn-fit"><i class="fa fa-lg fa-share"></i></a></li>-->
                        </ul>
                      </div>
                      <h3 class="card-title">{{challenge.title}}</h3>
                      <div class="card-description">
                        <p [innerHTML]="challenge.body"></p>
                      </div>
                      <div class="challene-card-footer d-flex">
                        <div class="challenge-card-footer-2 ml-3">
                          <div class="challenge-card-count">
                            <span class="entries-count">{{countProjects}}
                              <span *ngIf="countProjects>1">Entries</span>
                       <span *ngIf="countProjects==0">Entries</span>
                            <span *ngIf="countProjects == 1">Entry</span>
                            </span>
                            <span class="follow-count">{{no_of_followers}}
                            <span *ngIf="no_of_followers>1">Followers</span>
                            <span *ngIf="no_of_followers==1">Follower</span>
                            <span *ngIf="!no_of_followers">Followers</span>
                            </span>
                          </div>
                          <div class="challenge-card-status">
                            <!--<span class="closed-status" *ngIf="challenge.diffDays>1">{{challenge.diffDays}} DAYS</span>
                            <span class="closed-status" *ngIf="challenge.diffDays<=1">{{challenge.diffDays}} DAY</span>-->
                            <!--<span class="closed-status" *ngIf="challenge.status_id == 376">{{challenge.challenge_status}}</span>-->
                            <!--<span class="open-status" *ngIf="challenge.status_id != 376">{{challenge.challenge_status}}</span>-->
                            <p class="challenge-end-date" *ngIf="challenge.status_id == 375"> Submissions close: {{challenge.challenge_end_date | date:'M/d/y'}}</p>
                            <p class="challenge-end-date" *ngIf="challenge.status_id == 1107"> In review. Winners to be announced: {{challenge.winners_announcement_date | date:'M/d/y'}}</p>
                            <p class="challenge-end-date" *ngIf="challenge.status_id == 1108"> Closed for submissions. Winners announced: {{challenge.winners_announcement_date | date:'M/d/y'}}</p>
                            <p class="challenge-end-date" *ngIf="challenge.status_id == 376"> Closed for submissions. Winners announced: {{challenge.winners_announcement_date.value | date:'M/d/y'}}</p>

                          </div>
                        </div>
                      </div>
                      <div class="challene-card-footer-3 hidden-md-up">
                        <div class="button-container-main-1" *ngIf="challenge.status_id != 376">
                          <span class="btn btn-main" *ngIf="challenge.status_id != 376 && hideButton==true && enterStatus==true" (click)="enterToChallengeProject(challenge.nid)">Participate</span>
                        </div>
                        <app-follow *ngIf="hideButton==true" [nodeNid]="challenge.nid" (countNumber)="followersCounter($event)" (HideLoadMore)="hideloadmorefollower = false"></app-follow>
                      </div>
                    </div>
                  </div>
                  <!-- End card-container -->
                </div>
                <!-- End col-md-6 -->
              </div>
            </div>
          </div>
          <!-- End container -->
        </div>
        <!-- End top-content-wrapper -->
        <div class="container">
          <div class="region region-content col-sm-12 row">
            <div class="tabs-buttons col-md-4">
              <ul class="list-unstyled challenge-submenu">
                <li><a href="" class="btn button-item" [ngClass]="{'active': activeTab =='awards', 'disabled': isDisabled}" (click)="changeChallangeTab('awards',$event)">Awards &amp; Prizes <span class="badge"><!-- Count Followers {{no_of_awards}}--></span></a></li>
                <li><a href="" class="btn button-item" [ngClass]="{'active': activeTab =='rules', 'disabled': isDisabled}" (click)="changeChallangeTab('rules',$event)">Rules &amp; Instructions</a></li>
                <li *ngIf="challenge.discussion =='1' && challenge"><a href="" class="btn button-item" [ngClass]="{'active': activeTab =='discussion', 'disabled': isDisabled}"
                    (click)="changeChallangeTab('discussion',$event)">Questions</a></li>
                <li *ngIf="no_of_followers>0"><a href="" class="btn button-item" [ngClass]="{'active': activeTab =='followers', 'disabled': isDisabled}"
                    (click)="changeChallangeTab('followers',$event)">Followers  <span class="badge">{{no_of_followers}}
                   
                            </span></a></li>
              </ul>
            </div>
            <div class="challenge-details col-md-8 pt-2">
              <app-rules [projects]="projectsData" [challenge]="challenge" *ngIf="activeTab =='rules'"></app-rules>
              <app-discussion *ngIf="activeTab =='discussion'" [challenge]="challenge"></app-discussion>
              <app-followers  [hideloadmorefollower]="hideloadmorefollower" [currentUser]="currentuser.user" (sortType)="getSortType($event)"
                (pageNumber)="getPageNumberFollowers($event)" *ngIf="activeTab =='followers'" [challenge]="challenge" [followers]="followers"></app-followers>
              <app-awards *ngIf="activeTab =='awards'" [awards]="awards"></app-awards>
            </div>
            <!-- End content-wrapper -->
          </div>
          <div class="content-wrapper">
            <app-summary [hideLoadMore]="hideloadmoreproject" (sortType)="getSortType($event)" (pageNumber)="getPageNumber($event)" [projectsCount]="countProjects"
              [challenge]="challenge" [awards]="awards" [projectsChallenge]="projects"></app-summary>
          </div>
          <!-- End region-content -->
        </div>
      </section>
    </div>
    <!-- End row -->
  </div>
  <!-- End main-container -->