<div *ngIf="challenge" class="page-challenge-summary">
  <div class="main-container container-fluid">
    <div class="row">
      <section class="col-sm-12 width-fix">
        <div class="top-content-wrapper">
          <div class="container">
            <div class="col-md-12 challenge-cover" *ngIf="challenge">
              <img src="{{challenge.cover_image}}" alt="" class="img-responsive" *ngIf="challenge.cover_image">
              <div class="sponsor">
                <h4 *ngIf="challenge.sponsored_by">{{challenge.sponsored_by}} </h4>
                 
              </div>
              <div class="challenge-status">
                <p>{{challenge.challenge_status}} :{{challenge.challenge_end_date}}<p>
              </div>
              <div class="challenge-title" *ngIf="challenge.title">
                <h1>{{challenge.title}}</h1>
              </div>
              <div class="challenge-countdown" *ngIf="challenge.opened">
                <p class="number">{{challenge.diffDays}} </p>
                <p>Days left</p>
              </div>
              <div class="challenge-sponser-image" *ngIf="challenge.diffDays">
              <img *ngIf="challenge.sponsor_bar" src="{{challenge.sponsor_bar}}">
                </div>
              <ul class="list-unstyled challenge-actions pull-right">
                <!-- Start Bookmark -->
                 <app-bookmark [nodeNid]="challenge.nid"></app-bookmark>
                <!-- End Bookmark -->
                <li><a href="#" class="btn btn-soft-grey btn-fit"><i class="fa fa-lg fa-share"></i></a></li>
              </ul>
              <div class="clearfix"></div>
            </div>
          </div>
          <!-- End container -->
        </div>
        <!-- End top-content-wrapper -->
        <div class="container">
          <div class="region region-content col-sm-12">
            <div class="tabs-buttons">
              <ul class="list-unstyled challenge-submenu">
                <li><a class="btn btn-light-grey active" (click)="changeChallangeTab('summary',$event)">Challenge Summary</a></li>
                <li><a href="" class="btn btn-light-grey" (click)="changeChallangeTab('awards',$event)">Awards &amp; Prizes <span class="badge">{{no_of_awards}}</span></a></li>
                <li><a href="" class="btn btn-light-grey" (click)="changeChallangeTab('rules',$event)">Rules &amp; Instructions</a></li>
                <div *ngIf="challenge">
                  <div *ngIf="challenge.discussion =='1'">
                    <li><a href="" class="btn btn-light-grey" (click)="changeChallangeTab('discussion',$event)">Disscusson</a></li>
                  </div>
                </div>
                <li><a href="" class="btn btn-light-grey" (click)="changeChallangeTab('followers',$event)">Followers <span class="badge">{{no_of_followers}}</span></a></li>
              </ul>
              <ul class="list-unstyled challenge-follow" *ngIf="challenge">
                   <!-- Start Follow -->
                <app-follow *ngIf="hideButton==true" [nodeNid]="challenge.nid" (countNumber)="followersCounter($event)"></app-follow>
                   <!-- End Follow -->
                <li><a *ngIf="hideButton==true && enterStatus==true" (click)="enterToChallengeProject(challenge.nid)" class="btn btn-main static-btn btn-sharp">Enter</a></li>
              </ul>
            </div>
            <div class="content-wrapper row">
              <app-summary class="col-12" [hideLoadMore]="hideloadmoreproject" (sortType)="getSortType($event)" (pageNumber)="getPageNumber($event)" [projectsCount]="countProjects"
                [challenge]="challenge" [awards]="awards" [projectsChallenge]="projects" *ngIf="activeTab =='summary'"></app-summary>
                <app-rules [projects]="projectsData" [challenge]="challenge" *ngIf="activeTab =='rules'"></app-rules>

                <app-discussion *ngIf="activeTab =='discussion'" [challenge]="challenge">
                </app-discussion>

                <app-followers class="container" [hideloadmorefollower]="hideloadmorefollower" [currentUser]="currentuser.user" (sortType)="getSortType($event)"
                  (pageNumber)="getPageNumberFollowers($event)" *ngIf="activeTab =='followers'" [challenge]="challenge" [followers]="followers"></app-followers>
                  <app-awards *ngIf="activeTab =='awards'" [awards]="awards"></app-awards>

            </div>
            <!-- End content-wrapper -->
          </div>
          <!-- End region-content -->
        </div>
      </section>
    </div>
    <!-- End row -->
  </div>
  <!-- End main-container -->