<div class=" profile-container" *ngIf="card">
  <!-- start profile card-->
  <div class="profile-card">
    <div class="left col-sm-4">
      <div class="profile-pic">
        <img src="{{card.default_profile_photo}}" alt="" class="img-responsive">
      </div>
      <a href="#" class="btn btn-blue">Message</a>
    </div>
    <div class="right col-sm-8">
      <h4 class="profile-name" *ngIf="(card.first_name) && (card.last_name)"><a href="#">{{card.first_name}} {{card.last_name}}</a></h4>
      <div class="trophies">
        <i class="fa fa-lg fa-child"></i>
        <i class="fa fa-lg fa-certificate"></i>
        <i class="fa fa-lg fa-trophy"></i>
      </div>
      <p class="count">6 projects</p>
      <p class="profile-tag" *ngIf="(card.tags)" [innerHTML]="card.tags"></p>
      <p class="user-city" *ngIf="(card.city)" [innerHTML]="card.city"></p>
    </div>
  </div>
  <!-- End profile card -->
</div>
<!-- End Profile-container -->