.bookmark-page {
  .tabs-buttons {

  }

}

/* Bookmark */
.bookmark-page {
    .bookmark-menu {
        ul {
            li {
                .btn-create-tab:focus, a:not([href]):not([tabindex]).btn-create-tab:focus {
                    border: none !important;
                    outline: none !important;
                }
            }
        }
    }
    .content-wrapper {
      min-height: 250px;
      padding: 15px;
  }
}