.page-challenge-summary, .page-challenge-summary-closed,.page-enter-challenge {
	.top-content-wrapper {
		overflow: hidden;
		.challenge-cover {
			img {
			}
			.sponsor {
				text-align: center;
				position: absolute;
				width: 100%;
				z-index: 2;
				h4 {
				background-color: $main-grey;
				line-height: 30px;
				margin: 0;
				color: $white;	
				}
			}
			.challenge-status {
				position: absolute;
				top: 40px;
				left: 10px;
				background-color: $light-grey;
				@include opacity(0.8);
				display: inline-block;
				padding: 5px 15px;
				p{margin: 0;}
			}
			.challenge-title {
				background-color: rgba(0,0,0,0.5);
				display: inline-block;
				position: absolute;
				left: 10px;
				bottom: 10px;
				h1 {
					color: $white;
					font-weight: normal;
					margin: 0;
					font-size: 25px;
					padding: 10px 15px 15px;
				}
			}
			.challenge-countdown {
				position: absolute;
				right: 10px;
				top: 40px;
				background-color: $light-grey;
				@include opacity(0.8);
				display: inline-block;
				text-align: center;
				padding: 5px;
				p{
					color: #000;
					margin: 0;
					padding: 0;
					text-transform: uppercase;
					&.number {
						font-size: 30px;
						font-weight: bold;
					}
				}

			}
			.challenge-sponser-image {
				position: absolute;
				display: block;
				top: 40px;
				right: 120px;
				width: 50px;
				height: auto;
				img {
					width: 100%;
					height: auto;
				}
			}
			.challenge-actions {

				li {
					float: left;
					a.active {
						background-color: $main-grey;
						color: #fff;
					}
				}
			}
		}
	}
	.region-content {
		padding-right: 0px;
		padding-left: 0px;
		background-color: white;
		margin: 0px;
		padding: 10px;
		min-height: 360px;
		.tabs-buttons {
			width: 100%;
			overflow: hidden;
			.challenge-submenu {
				overflow: hidden;
				width: 77%;
				float: left;
				.button-item {
					clear: both;
				}
				a {
					color: $title-color;
				}
				span {
					color: $title-color;
				}
				li {
					.btn {
						padding: 8px 15px;
						border: none;
						margin-right: 2px;
						margin-top: 2px;
					}
					.active {
						color: $light-grey;
						.badge {
							background-color: $white;
							color: $main-grey;

						}
					}
				}
			}
			.challenge-follow {
				overflow: hidden;
				width: 23%;
				float: right;
				li {
					float: left;
					width: 50%;
					.btn{
						padding: 8px 34px;
						border: 1px solid $main-grey;
						width: 100%;
						color: #fff;
					}
					i {
						font-weight: normal;
						width: 25px;
						margin-left: -15px;
					}
				}
			}
		}
		.content-wrapper {
			.vote {
				position: absolute;
				bottom: 0;
				text-align: center;
				width: 100%;
				text-transform: uppercase;
				font-weight: bold;
				background-color: $blue;
				color:$white;
				a {
					display: block;
					padding-top: 5px;
					padding-bottom: 5px;
					margin-bottom: 0;
					color: $white;
					text-decoration: none;
				}
			}
			.filters {
				// border: 1px solid $main-grey;
				p {padding-left: 30px;}
			}
			.entries {
				.entry-container {
					position: relative;
					overflow: hidden;
					height: 260px;
					margin-top: 10px;
					color: $main-grey;
					h4 {
						font-size: 13px;
						height: 28px;
					}	
					.image-container {
						position: relative;
						overflow: hidden;
						height: 180px;
						img {
							position: absolute;
							z-index: -2;
						}
						.entry-description {
							position: absolute;
							top: 0px;
							margin: 10px 10px 5px 12px;
							color: $white;
							display: none;
						}
						.vote {display: none;}
						.submitter {float: left;}
						.entry-date {float: right;}
						&:before {
							content: "";
							display: block;
							position: absolute;
							top: 0;
							bottom: 0;
							left: 0;
							right: 0;
							background: rgba(0,0,0, 0.5);
						}
					}
					&:hover {
						.entry-description, .vote {
							display: block;
						}
					}
						
				}
			}
			.summary-content {
				.description {
					padding: 10px 15px;
				}
			}
			.challenge-summary {
				.entries {
					.row {
						clear: both;
					}
				}
				.entries-count {
					float: none;
					line-height: inherit;
				}
			}
			
			.summary-aside-content {
				background-color: white;
				color: $main-grey;
				border: 1px solid#f2f2f2;
				padding-top: 14px;
    		padding-bottom: 14px;
				ul {
					margin-top: 30px;
					li {
						font-size: 12px;
						margin: 15px 0;
					}
				}
			}
			.award-container {
				background-color: $white;
				border: 1px solid $main-grey;
				padding: 5px;
				margin-top: 10px;
				margin-bottom: 10px;
				p {
					font-size: 12px;
				}
				.name {
					margin-top: 10px;
					font-weight: bold;
				}
				img {
					float: left;
					width: 40%;
					margin-right: 5px;
				}
				.description {float: left;width: 50%;}
				.value {font-size: 11px;padding-top: 10px;}
			}
			.followers {
				//display: none;
				width: 100%;
				overflow: hidden;
				margin: auto;
				// .vote {
				// 	position: static;
				// }
				.follower-card {
					// height: 190px;
					position: relative;
					// padding-bottom: 30px;
					margin-top: 25px;
					margin-bottom: 20px;
					// border: 1px solid $main-grey;
					-webkit-box-sizing: border-box;
					   -moz-box-sizing: border-box;
					        box-sizing: border-box;
				}
				.row {
					clear: both;
				}
			}
			.profile-container {
				padding: 0;
				float: none;
				.profile-card {
					border: none;
					display: flex;

					.left {
						max-width: 140px;
						padding: 0 5px ;
					}
					.right {padding: 0;margin: 0;}
				}
			}
			.challenge-award {
				margin-bottom: 10px;
				.image-container {
					width: 220px;
					height: 180px;
					overflow: hidden;
					img {
						max-width: 100%;
						height: auto;
					}
				}
			}
		} // End content-wrapper
	}
	.challenge-card {
    position: relative;
    padding: 16px;
    overflow: hidden;
    cursor:pointer;
    background-color: $challenge-bg;
		-moz-box-shadow: 3px 3px 5px rgba(136, 136, 136, 0.5);
		-webkit-box-shadow: 3px 3px 5px rgba(136, 136, 136, 0.5);
		box-shadow: 3px 3px 5px rgba(136, 136, 136, 0.5);
		.left-side {
			padding: 0px;
			overflow: hidden;
		}
    .single-challenge {
        padding: 10px;
        img {
            width: 250px;
        }
        .card-partership {
            color: $main-button-1;
        }
    }
    .image-container {
        img {
            height: auto;
        }
				.sponsor_bar {
				position: absolute;
				width: 50px;
				height: 50px;
				display: block;
				top: 10px;
				left: 10px;
			}
    }
		.challene-card-footer-3 {
			margin-top: 10px;
			margin-bottom: 10px;
		}
    .card-container {
        color: $white;
        // font-weight: bold;
        position: relative;
        .challenge-type-bagde {
            position: absolute;
            top: 10px;
            right: -49px;
            transform: rotate(-90deg);
        }
        .card-title {
            @include card-header-font-lg();
            font-size: 38px;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            min-height: 67px;
            color: white;
        }
        .card-status {
            @include body-font-1();
            display: inline-block;
            text-transform: none;
        }

        p.card-partnership {}

        .card-description {
            h4 {
                font-weight: bold;
            }

            p {
                @include body-font-2();
                min-height: 116px;
                color: white;
            }
        }
        .card-buttons {
            a.btn.btn-grey {
            	background-color: $light-grey;
            }
            .follow-number {
                background-color: $light-grey*0.9;
                padding: 3px 15px;
                border-radius: 20px;
                font-size: 13px;
                margin-left: 10px;
            }
        }
    }
}
}	
.page-challenge-summary-closed {
	.region-content {
		.content-wrapper {
			.summary-aside-content {
				height: auto;
				padding: 30px 10px;
			} 
			.description {
				ul {
					color: $main-grey;
					li {
						width: 49%;
						display: inline-block;
						margin: 5px 0;
					}
				}
			}
			
		} 
	}
}
.page-enter-challenge {
	background-color: $main-bg;
	.region-content {
		background-color: inherit;
		margin-top: 20px;

	}
	.create {
		width: 100%;
	}
	.cancel,.submit {
		font-size: 15px;
		width: 47%;
	}
	.submit {
		color: #fff !important;		
		// float: right;
		// margin-top: 5px;
	}
	.challenge-enter {
		margin: 0 auto;
		margin-bottom: 50px;
		.text-center {
					margin-top: 20px;
		}
	}
	.card-container {
		.card-description {
			p {
			overflow: hidden;
			display: -webkit-box;
    	-webkit-line-clamp: 5;
    	-webkit-box-orient: vertical;
			}
		}
	}
}

.page-challenge-summary {
	.tabs-buttons {
		.challenge-actions {
		display: none;
		}
	}
	.content-wrapper {
		padding: 10px;
    margin-top: 20px;

	}
	 .challenge-card-footer-2 {
		 margin-left: 0px !important;
	 }.filters {
		  margin-bottom: 16px;
		 .container {

		 }
	 }
	 .entries {
		 clear: both;
	 }  
}