.page-create-project-why {
	.ng2-imgcrop{
		display:block;
		canvas{
				display:block;width:100%;
			}
	}
	h1,h2,h3,h4,h5,h6 {font-weight: 700;}
	color: $main-grey;
	.form-group > input,textarea,#cke_how-to-make {max-width: 60%;}
	.add-controls {
		background-color: $light-grey*1.05;
		border-bottom: 1px solid $main-grey;
		padding: 10px 0 5px;
		overflow: hidden;
		h3 {
			@include card-header-font-md();
			color: $text-color-1;
		}
		.contorls{
			li {
				// display: inline-block;
				.btn-soft-grey{
					background-color: $white;
					color: $main-grey;
				}
				.btn-transparent {
					color: $main-grey;
					padding: 5px 15px;
				}
				.btn {
					padding: 5px 15px;
					font-size: 13px
				}
			}
		}
	}
	.form-group {
		margin-top: 40px;
	}
	input {border-radius:0px;}
	#projectCategory {height: auto;padding: 0;}
	.nav-create {
		border-bottom: 1px solid $main-grey;
		padding-top: 10px;
		ul {
			padding-left: 15px;
			overflow: hidden;
			margin-bottom: 0;
			li {
				float: left;
				.btn-grey-inverse {
					padding: 7px 55px;
				}
				&:not(:first-child){
					margin-left: 5px;
				}
			}
		}

	}
	.guideline {
		background-color: $light-grey;
		color: $main-grey;
		overflow: hidden;
		margin-bottom: 20px;
		padding: 10px 10px 10px 15px;
	    .question-mark {
	    	width: 20%;
	    	i {
	    		font-size: 50px;
	    		margin-top: 10px;
	    	}
	    }
	    .content {
	    	width: 80%;
	    	p{font-size: 12px;}
	    	h4{font-size: 14px;font-weight: bold;}
	    }
	}
	
	.custom-footer {
		border-top: 1px solid $main-grey;
	}
	
	.your-story {
		.projectName {width: 60%;}
		.projectCategory {
				width: 100%;
				align-items:flex-start;
				label {
					margin-top: 5px;
				}
				.add-cate {
					margin-bottom: 5px;
					width: auto;
				}
				.categories-group {
					width: 100%;
					margin-left: 15px;
					#projectCategoryParent, 
					#projectCategoryChildren {
						width: 100% !important;
						margin-bottom: 5px;
						padding: 5px 10px;
					}
				}
				
				p.cate-name {
					margin-left: 15px;

				}
				.list-group-item {
					width: 50%;
				}
		}
		.cate-list {
					padding: 0 30px;
				}
		.cover {
			a {
				margin-top: 5px;
				float: left;
				width: 40%;
				margin-right: 10%;
			}
			.image-preview {
				width: 50%;
				float: left;
				background-color: $light-grey*0.9;
				color:$main-grey;
				text-align: center;
				padding: 10px;
			}
			input{
				display: inline-block;
			}
			#cover-upload {display: none;}
		}
		.projectTags {
			input {
				height: auto;
				padding: 0;
			}
			tag-input {
				max-width: 60%;
				height: auto;
				padding: 5px;
			}
			//p {padding: 20px;}
		}
	}
	.how-to {
		form {
			padding-bottom: 130px;
		}
		.sort{
			width: 40px;
			margin: 0 10px;
			// display: inline-block;
			// vertical-align: top;
		}
		.quantity {
			width: 50px;
		}
		.carets{
			display: inline-block;
			width: 30px;
			position: relative;
			margin-left: 5px;
			height: 30px;
			i {
				line-height: 10px;
				// &.sort-up{
				// 	position: absolute;
				// 	top: -10px;
				// 	left: 0;
				// }
				// &.sort-down{
				// 	position: absolute;
				// 	bottom: -15px;
				// 	left: 0;
				// }
				// &::before {
				// 	float: left;
				// }
			}
		}
		.tools {
			thead {
				th:first-child {width: 45%;}
				th:nth-child(2) {width: 35%;}
			}
		}
		.tools, .materials, .parts, .resources {
			input {max-width: 100%;}
			.form-group {margin-top: 10px;}
			.panel-body {padding: 0;}
			a {
				font-size: 14px;
				padding: 5px;
				i {
					line-height: 10px;
					&.sort-up{
						position: absolute;
						top: -10px;
						left: 0;
					}
					&.sort-down{
						position: absolute;
						bottom: -15px;
						left: 0;
					}
					&::before {
						float: left;
					}
				}

			}
			.panel-heading {
				cursor: move;
			}
			.inputs-container {
				display: -webkit-box!important;
				display: -webkit-flex!important;
				display: -ms-flexbox!important;
				display: flex!important;
				-webkit-flex-wrap: nowrap!important;
				-ms-flex-wrap: nowrap!important;
				flex-wrap: nowrap!important;
				-webkit-box-pack: justify!important;
				-webkit-justify-content: space-between!important;
				-ms-flex-pack: justify!important;
				justify-content: space-between!important;
				padding-left: 20px;

			}
		}
		.difficulty {
			width: 45%;
			margin-right: 5%;display: inline-block;
		}
		.duration {width: 45%;display: inline-block;}
		.resources {
			input[type="file"] {display: none;}
			select {width: 40%;}
			label {
				margin-top: 10px;
			}
			a.btn-white {
				font-size: 14px;
			}
			a.another-resource {
				margin-top: 15px;
			}

		}

	}
	.team {
		padding-top: 20px;
		form {padding-bottom: 30px;}
		input {
			max-width: 100%;
		}
		.form-group {
			margin-top: 0px;
		}
		.add-collaborate {
			border: 1px solid $main-grey;
			border-radius:0 ;
		}
		.sort {
			label {display: block;}
			input{
				width: 45px;
				text-align: center;
				display: inline-block;
				margin-right: 5px;
			}
		}
		.carets {
				width: 10px;
				display: inline-block;
				vertical-align: middle;
				i {
					font-size: 20px;
				}
		}
		.add-collaborate {
			position: relative;
			background-color: $light-grey;
			overflow: hidden;
			margin: 20px 0;
			padding: 0 15px;
		}
		.remove {
			position: absolute;
		    left: 80%;
		    bottom: 10%;
		}
		.collaborate {
			position: relative;
			background-color: $light-grey;
			overflow: hidden;
			margin: 20px 0;
			.form-group  {
				margin-top: 7px;
			}
			}
			.profile-container {
				width: 100%;
				.profile-card {
					.left {width: 110px;}
					.right {
						width: 60%;
					}
					.user-city{
							position: absolute;
							top: 0;
							right: 0;
							font-size: 10px;
					}
				}
			}
			.admin {
				text-align: center;
				
				i {
					color: $blue;
					font-size: 20px;
				}
			}
		
		a.new-collab {
			font-size: 14px;
			padding: 5px;
			i {width: 30px;}
		}
		.result {
			background-color: #fff;
			width: 100%;
			padding: 5px;
			overflow: hidden;
			border-bottom: 1px solid $light-grey;
			.user-image-container {
				width: 15%;
				float: left;
				margin-right: 3%;
				img {
					max-width: 100%;
				}
			}
			.data-container {
				float: left;
				width: 75%;
				font-weight: bold;
				margin-top: 10px;
			}
			&:hover {
				background-color: $light-grey;
			}
		}

	}
	.team-guide {padding-top: 70px;}
}

.borderedless td, .borderedless th {
    border: none !important;
    padding-left: 0 !important;
}
