.page-create-project-why {
	label {
		color: #4f4f4f;
	}
	.words-count {
		font-size: 12px;
		font-weight: bold;
		color: #bdbdbd;
	}
	.ng2-imgcrop{
		display:block;
		canvas{
				display:block;width:100%;
			}
	}
	h1,h2,h3,h4,h5,h6 {font-weight: 700; color: #4f4f4f;}
	color: $text-color-1;
	background-color: $site-bg;
	.form-group > input,textarea,#cke_how-to-make {max-width: 100%;}
	.add-controls {
		padding: 10px 0 5px;
		overflow: hidden;
		.container {
		}
		h1 {
			@include header-font();
		}
		.contorls{
			li {
				// display: inline-block;
				.btn-soft-grey{
					background-color: $white;
					color: $main-grey;
				}
				.btn-transparent {
					color: $main-grey;
					padding: 5px 15px;
				}
				.btn {
					padding: 5px 15px;
					font-size: 13px
				}
			}
		}
	}
	.form-group {
		margin-top: 40px;
		br {
			display: none;
		}
	}
	input {border-radius:0px;}
	#projectCategory {
		height: auto;
		padding: 0;
		select {width:75%;}
	}
	.nav-create {
		padding-top: 10px;
		.container {
		}
		ul {
			overflow: hidden;
			margin-bottom: 0;
			border-bottom: 1px solid $main-grey;
			li {
				float: left;
				.btn-grey-inverse {
					padding: 7px 55px;
				}
				&:not(:first-child){
				}
			}
		}

	}
	.guideline {
		color: $main-grey;
		overflow: hidden;
		margin-bottom: 20px;
		padding: 10px 10px 10px 15px;
	    .question-mark {
	    	padding-right: 20px;
	    	i {
	    		font-size: 22px;
	    		font-weight: 200;
	    	}
	    }
	    .content {
	    	width: 80%;
	    	p{font-size: 12px; color: #4f4f4f;}
	    	h4{font-size: 18px;font-weight: bold; color: #4f4f4f;}
	    }
	}
	
	.custom-footer {
	}
	
	.your-story {
		.projectName {
			width: 100%;
			label {
				@include card-header-font-md();
				}
			}
		.projectCategory {
				width: 100%;
				align-items:flex-start;
				label {
					margin-top: 5px;
				}
				.add-cate {
					margin-bottom: 5px;
					margin-left:5px;
					width: auto;
					padding-top: 9px;
				}
				.categories-group {
					width: 100%;
					#projectCategoryParent, 
					#projectCategoryChildren {
						width: 100% !important;
						margin-bottom: 5px;
						padding: 5px 10px;
					}
				}
				
				p.cate-name {
					margin: 3px 0;					
					margin-left: 15px;

				}
				.list-group-item {
					width: 50%;
				}
		}
		.cate-list {
					padding: 0 30px;
				}
		.cover {
			a {
				margin-top: 5px;
				width: 40%;
				margin-right: 10%;
			}
			.image-preview {
				width: 50%;
				p {
				width: 100%;
				color: #bdbdbd;
				padding: 10px 0px;
				font-size: 14px;
				}
				img {
					max-width: 100%;
				}
				
			}
			input{
				display: inline-block;
			}
			#cover-upload {display: none;}
		}
		.projectTags {
			input {
				height: auto;
				padding: 0;
			}
			tag-input {
				max-width: 100%;
				height: auto;
				padding: 5px;
			}
			//p {padding: 20px;}
		}
	}
	.how-to {
		form {
			padding-bottom: 130px;
		}
		.sort{
			width: 40px;
			margin: 0 10px;
			// display: inline-block;
			// vertical-align: top;
		}
		.quantity {
			width: 50px;
		}
		.carets{
			display: inline-block;
			width: 30px;
			position: relative;
			margin-left: 5px;
			height: 30px;
			i {
				line-height: 10px;
				// &.sort-up{
				// 	position: absolute;
				// 	top: -10px;
				// 	left: 0;
				// }
				// &.sort-down{
				// 	position: absolute;
				// 	bottom: -15px;
				// 	left: 0;
				// }
				// &::before {
				// 	float: left;
				// }
			}
		}
		.tools {
			thead {
				th:first-child {width: 45%;}
				th:nth-child(2) {width: 35%;}
			}
		}
		.tools, .materials, .parts, .resources {
			input {max-width: 100%;}
			.form-group {margin-top: 10px;}
			.panel-body {padding: 0;}
			a {
				font-size: 14px;
				padding: 5px;
				i {
					line-height: 10px;
					&.sort-up{
						position: absolute;
						top: -10px;
						left: 0;
					}
					&.sort-down{
						position: absolute;
						bottom: -15px;
						left: 0;
					}
					&::before {
						float: left;
					}
				}

			}
			.panel-heading {
				cursor: move;
			}
			.inputs-container {
				display: -webkit-box!important;
				display: -webkit-flex!important;
				display: -ms-flexbox!important;
				display: flex!important;
				-webkit-flex-wrap: nowrap!important;
				-ms-flex-wrap: nowrap!important;
				flex-wrap: nowrap!important;
				-webkit-box-pack: justify!important;
				-webkit-justify-content: space-between!important;
				-ms-flex-pack: justify!important;
				justify-content: space-between!important;
				padding-left: 20px;

			}
		}
		.difficulty {
			width: 45%;
			margin-right: 5%;display: inline-block;
		}
		.duration {width: 45%;display: inline-block;}
		.resources {
			input[type="file"] {display: none;}
			select {width: 40%;}
			label {
				margin-top: 10px;
			}
			a.btn-white {
				font-size: 14px;
			}
			a.another-resource {
				margin-top: 15px;
			}

		}

	}
	.team {
		padding-top: 20px;
		form {padding-bottom: 30px;}
		input {
			max-width: 100%;
		}
		.form-group {
			margin-top: 0px;
		}
		.add-collaborate {
			border: 1px solid $main-grey;
			border-radius:0 ;
		}
		.sort {
			label {display: block;}
			input{
				width: 45px;
				text-align: center;
				display: inline-block;
				margin-right: 5px;
			}
		}
		.carets {
				width: 10px;
				display: inline-block;
				vertical-align: middle;
				i {
					font-size: 20px;
				}
		}
		.add-collaborate {
			position: relative;
			background-color: $light-grey;
			overflow: hidden;
			margin: 20px 0;
			padding: 0 15px;
		}
		.remove {
			position: absolute;
		    left: 80%;
		    bottom: 10%;
		}
		.collaborate {
			position: relative;
			background-color: $light-grey;
			overflow: hidden;
			margin: 20px 0;
			.form-group  {
				margin-top: 7px;
			}
			}
			.profile-container {
				width: 100%;
				.profile-card {
					.left {width: 110px;}
					.right {
						width: 60%;
					}
					.user-city{
							position: absolute;
							top: 0;
							right: 0;
							font-size: 10px;
					}
				}
			}
			.admin {
				text-align: center;
				
				i {
					color: $blue;
					font-size: 20px;
				}
			}
		
		a.new-collab {
			font-size: 14px;
			padding: 5px;
			i {width: 30px;}
		}
		.result {
			background-color: #fff;
			width: 100%;
			padding: 5px;
			overflow: hidden;
			border-bottom: 1px solid $light-grey;
			.user-image-container {
				width: 15%;
				float: left;
				margin-right: 3%;
				img {
					max-width: 100%;
				}
			}
			.data-container {
				float: left;
				width: 75%;
				font-weight: bold;
				margin-top: 10px;
			}
			&:hover {
				background-color: $light-grey;
			}
		}

	}
	.team-guide {padding-top: 70px;}
}

.borderedless td, .borderedless th {
    border: none !important;
    padding-left: 0 !important;
}
.modal-body {
	.file-upload {
		a {
			margin-bottom: 10px;
		}
	}
}
.tooltip-inner {max-width:400px!important}





.project-create-buttons {
    p {
        display: block;
        font-size: 12px;
        color: $text-color-1;
        text-align: center;
        &.btn {
            background-color: $site-bg;
            border: 1px solid $main-grey;
            &:hover, &:active, &.active {
                background-color: $btn-primary-2;
                border-color: $btn-primary-2;
                color: $white;
            }
        }
    }
    span {
        display: block;
        text-align: center;
        font-size: 11px;
        line-height: 28px;        
    }
		.btn-shadow {
			min-width: 110px;
			font-size: 13px;
		}
		.btn-shadow,a:not([href]):not([tabindex]).btn-shadow {
			color: $main-grey;
			background: linear-gradient(to bottom, #999 0, #ffffff 7px, #ffffff 100%);
			border-radius: 0;
			font-size: 16px;
			border: 1px solid #999;
			&:focus {
					color: #fff;
					background: $btn-primary-2*1.3;
					border-color:transparent;        
			}

			&:active, &:hover, &.active {
					color: #fff;
					background: $btn-primary-2;
					border-color:transparent;
					cursor: pointer;
			}
	}
}

.btn-create-tab,a:not([href]):not([tabindex]).btn-create-tab {
    border-radius: 0;
    font-size: 16px;
		border: 1px solid #BDBDBD;
    padding: 8px 30px 8px 30px;
		color: #BDBDBD;
		background-color: inherit;
    &:focus {    
			background-color: white;
			color: #4f4f4f;
			border: 1px solid #4f4f4f
    }	
    &:active, &:hover, &.active {
				cursor: pointer;
				background-color: white;
				color: #4f4f4f;
				border: 1px solid #4f4f4f;
    }
}
