.page-explore{
	background-color: $main-bg;
	.width-fix {padding: 0;}
	.explore-header {
		padding-bottom: 25px;
		background-color: $main-bg;
		text-align: center;
		h3 {
			@include header-font();
			text-transform: capitalize;
			margin: auto;
			text-align: center;
			padding-top: 40px;
			color: $shade-4;
			padding-bottom: 30px;
		}
		h6 {
			@include body-font-1 ();
			text-transform: uppercase;
			color: #ED1C24;
			font-size: 1.125rem;
		}
		.explore-tags {
			margin-bottom: 5px;
			// width: 180px;
			width: 224px !important;
			// height: 35px;
			li{
				display: inline-block;
				margin: 10px 15px;
				a.btn {
					border-radius: 0px;
					text-transform: uppercase !important;
					min-width: 150px;
					padding: 13px 10px;
					@include card-header-font-sm();
					color: $text-color-1*1.4;
					font-size: 1.1em !important;
					text-align: center;
					border: 0.5px solid $text-color-1*1.4;
					&:first-letter {
						text-transform: uppercase !important;
					}
					&:hover, &:active {
						color: $text-color-1;
						border: 0.5px solid $text-color-1 !important;
						background-color: transparent !important;
						border: 1px solid #ED1C24 !important;
					}
				}
				a.active {
					color: #4F4F4F;
					background-color: #fff !important;
					border: 1px solid #ED1C24 !important;
					// border: 1px solid #ED1C24 !important;

					// border: 0.5px solid $text-color-1 !important;
				}
			}
		}
	}
	.submenus {
		li{
			display: inline-block;
		}
		.arts-sub,
		.technology-sub,
		.workshop-sub,
		.things-sub,
		.world-sub {
			display: none;
		}
		.parent_378,
		.parent_390,
		.parent_402,
		.parent_410,
		.parent_416,
		{
			display: none;
			li{
				margin: 3px 0;
			}
		}
	}
	.dropdown-group {
		position: relative;
		display: inline-block;
		i.dropdownIcon {
			right: 10px;
			top: 15px;
			font-size: 1rem;
		}
		select.shadowed {
			background: #ffffff;
			padding: 10px;
			@include boxShadow(2px, 3px, 5px, rgba(0, 0, 0, 0.2));
			font-family: "Messina Sans Regular";
			font-size: 1.125rem;
			color: #4f4f4f;
		}
	}
}
.filters {
	min-height: 35px;
	color: $main-grey;
  display: inline-block;
	&.projects-counter {
		position: absolute;
		right: 0;
	}
	.dropdown-group {
		margin-left: 30px;
	}
	.entries-count {
		padding: 15px 0;
		font-size: 0.9rem;
		p {
			margin: 0;
		}
	}
	.all-project {
		border-left: 2px solid $main-grey;
		padding: 5px 15px;
	}
	.btn {
		color: $main-grey;
	}
	.dropdown-toggle {
		cursor: pointer;
		z-index: 12;
	}
	.sorting-filter ,.projects-filter {
		// border-left: 2px solid $main-grey;
		button::after {
			display: none;
		}
		.dropdown-menu {
			@include boxShadow(2px, 2px ,8px, rgba(25, 25, 25, 0.34)); 
			background-color: $sec-bg*1.25;
			color:$text-color-1*1.3;
			border-radius: 0;
			z-index: 10;
			right: 0;
			left: auto;
			a {
				width: 100%;
				text-align: left;
				font-size: 0.9rem;
				&:hover {
					color:$text-color-1;
					background-color: $shade-1;
				}
			}
		}

	}
}
.page-explore,.page-showcase, .page-portfolio {
	
.project {
// 	margin-top: 20px;
// 	height: 255px;
// 	overflow: hidden;
// 	border: 1px solid #000;
// 	.project-title {
// 		background-color: $white;
// 		padding: 10px;
// 		height: 55px;
// 		font-size: 14px;
// 	}
// 	.project-image {
// 		background-color: $light-grey;
// 		height: 100%;
// 		overflow: hidden;
// 		img {
// 			width: 100%;
// 			min-height: 200px;
// 		}
// 	}
}
}

/* filter mobile menu  */
.filter-mobile-menu {
	.container {
		.btn-navbar {

		}
		.filter-mainmenu {
			.list-unstyled {
				.parent-item {
						width: 100%;
						max-width: 100%;
						display: block;
						position: relative;
						&::after {
							position: absolute;
							right: 0;
							top: 8px;
						}
					span {

					}
				}
			}
			.filter-submenu {
					width: 101%;
					left: -2px !important;
					border: none;
					background-color: #f2f2f2;
					text-align: center;
					border-radius: 0px;
					@include boxShadow(2px, 2px ,8px, $shade-3);
				li {
					span {

					}
				}
			}
		}
	}
}