.front {
    background-color: $main-bg;
    .banner {
        position: relative;
        /* Carousel base class */
        .carousel {
            // height: 500px;
            // overflow: hidden;
            /* Declare heights because of positioning of img element */
            .carousel-item {
                height: 500px;
                width: 100%;
                background-color: #777;
                img {
                    width: 100%;
                }
            }
            .card-container {
                position: absolute;
                top: 0;
                bottom: 80px;
                left: 0;
                right: 0;
            }
        }

        /* Since positioning the image, we need to help out the caption */
        .carousel-caption {
            
            background-color: rgba(0,0,0,0.4);
            border-radius: 5px;
            h2{font-size: 31px;font-weight: 100;color: $white;}
            h4{font-size: 25px; font-weight: bold;margin-top: 30px;margin-bottom: 20px;color: $white;}
            p {font-size: 23px;}
            a.btn {
                
            }
        }

       

    }

    .browse-projects {
        padding-bottom: 15px;
        padding-top: 25px;
        .default-header {
            margin-bottom: 35px;
            p {
                font-size: 17px;

                span {
                    font-size: 20px;
                    font-weight: bold;
                    text-transform: uppercase;
                }
            }

            .button-group {
                float: right;
            }
        }
        .challenges-container {
            padding: 0;
            .challenge-card {
                border: none;
                .card-title {
                    
                }
                .card-description {
                    p {
                    }
                }
                .card-buttons a.btn.btn-grey {
                    margin: 0;
                }
                .image-container {
                    img { height: 100%;width: 100%; }
                }
            }
        }
    }
}

.maker-spotlight {
    overflow: hidden;
    background-color: $sec-bg;
    padding-top: 30px;
    padding-bottom: 50px;
    header h3{
        @include header-font();
        text-align: center;
        margin: 25px 0;
    }
    .spotlight-item {
        margin-top: 15px;
        padding: 10px;
        .card-block {
            padding-bottom: 0;
        }
        .image-container {
            width: 100%;
            height: 200px;
            overflow: hidden;
            position: relative;
            img { height: 200px;width: 100%; }
        }
        
        
    }
    
}

.col-fixed-300 {width:306px;
    position:absolute;
    z-index: 1;
    height:100%;}
.col-offset-300 {
    margin-left: 325px;
    overflow: hidden;
}
.fffa {overflow: hidden;float: none;}
.slick-dots {
    li {
        button:before {font-size: 15px;}     
    }
}

footer {
    padding-top: 30px;
    padding-bottom: 25px;
    min-height: 35px;
    font-size: 14px;
    background: white;
    .copy {
        img {
            max-width: 70px;
        }
        p {
            padding: 0;
            margin: 0;
            font-size: 12px;
        }
    }
    a.nav-link {
        color: $main-grey;
        padding: 0;
    }
    .fa-stack-2x {
        font-size: 1.7em;
    }
    .fa-stack {
        position: relative;
        display: inline-block;
        width: 1.7em;
        height: 1.7em;
        line-height: 1.7em;
        vertical-align: middle;
    }
    .socials {
        margin-top: 30px;
    }
}

.width-fix {padding: 0;}

.user-card {
    .profile-pic-container {
        .maker-photo {
            display: block;
            width: 80px;
            height: 80px;
        }
        a {
            width: 100%;
        }
        .icons {
            img {
                width: 25px;
            }
        }
    }
    .user-name {
        @include card-header-font-sm();
        a {
            text-decoration: none;
            color: $main-grey;
        }
    }
    .user-nickname {
        font-size: 12px;
        margin-bottom: 0;
        a {
            text-decoration: none;
            color: $light-grey;
        }
    }
    .profile-tag {
        @include card-header-font-sm();
        margin-bottom: 5px;
        height: 38px;
        line-height: 17px;
        overflow: hidden;
        display: inline-block;
        margin-left: 5px;
    }
    .profile-tag, .user-city, .count {
        font-size: 14px;
        // margin-bottom: 5px;
    }
    .user-city {
        color: $title-color;
    }
    .count {
        margin-bottom: 0;
        color: $light-grey;
    }
}