.front {
    background-color: $main-bg;
    .banner {
        position: relative;
        /* Carousel base class */
        .carousel {
            height: 500px;
            overflow: hidden;
            /* Declare heights because of positioning of img element */
            .carousel-item {
                height: 500px;
                width: 100%;
                background-color: #777;
                img {
                    width: 100%;
                }
            }
            .card-container {
                position: absolute;
                top: 0;
                bottom: 80px;
                left: 0;
                right: 0;
            }
        }

        /* Since positioning the image, we need to help out the caption */
        .carousel-caption {
            
            background-color: rgba(0,0,0,0.4);
            border-radius: 5px;
            h2{font-size: 31px;font-weight: 100;color: $white;}
            h4{font-size: 25px; font-weight: bold;margin-top: 30px;margin-bottom: 20px;color: $white;}
            p {font-size: 23px;}
            a.btn {
                
            }
        }

       

    }

    .browse-projects {
        padding-bottom: 15px;
        padding-top: 25px;
        .default-header {
            margin-bottom: 35px;
            p {
                font-size: 17px;

                span {
                    font-size: 20px;
                    font-weight: bold;
                    text-transform: uppercase;
                }
            }

            .button-group {
                float: right;
            }
        }
        .challenges-container {
            padding: 0;
            .challenge-card {
                border: none;
                .card-title {
                    
                }
                .card-description {
                    p {
                    }
                }
                .card-buttons a.btn.btn-grey {
                    margin: 0;
                }
                .image-container {
                    img { height: 100%;width: 100%; }
                }
            }
        }
    }
}

.maker-spotlight {
    overflow: hidden;
    background-color: $sec-bg;
    padding-top: 30px;
    padding-bottom: 50px;
    header h3{
        @include header-font();
        text-align: center;
        margin: 25px 0;
    }
    .spotlight-item {
        margin-top: 15px;
        padding: 4px;
        border: none;
        .card-block {
            padding: 10px;
        }
        .image-container {
            width: 100%;
            height: 200px;
            overflow: hidden;
            position: relative;
            img { height: 200px;width: 100%; }
        }
        
        
    }
    
}

.col-fixed-300 {width:306px;
    position:absolute;
    z-index: 1;
    height:100%;}
.col-offset-300 {
    margin-left: 325px;
    overflow: hidden;
}
.fffa {overflow: hidden;float: none;}
.slick-dots {
    li {
        button:before {font-size: 15px;}     
    }
}

footer {
    padding-top: 25px;
    padding-bottom: 25px;
    min-height: 35px;
    font-size: 14px;
    background: white;
    border-top: 5px solid $blue;
    .newsletter {
        p {
            font-size: 1em;
            color: $text-color-2;
            line-height: 25px;
            margin-bottom: 0;
        }
    }
    .footer-copyright {
            color: $text-color-2;
    }
    .copy {
        nav {
            height: 75px;
        }
        .first-logo-link {
            margin-right: 10px;
            position: relative;
            span {
                color: #00AEEF;
                font-size: 10px;
                position: absolute;
                bottom: 0px;
                right: 4px;
            }
        }
        .second-logo-link {
            padding-left: 10px;
            border-left: 1px solid #4f4f4f;
        }
        .first-logo {
            width: 80px;
            // height: 75px;
            max-width: 80px;
        }
        .second-logo {
            width: 140px;
            max-width: 140px;
        }
        p {
            margin: 0;
            font-size: 12px;
            color: #4f4f4f;
        }
        .copyright {
            padding-top: 8px;
        }
        .logo-title {
            padding: 12px 0px 0px 4px;
            text-align: left;
        }
    }
    a.nav-link {
        color: $text-color-1;
        padding: 0;
    }
    .fa-stack-2x {
        font-size: 1.7em;
    } 
    .fa-stack {
        position: relative;
        display: inline-block;
        width: 1.7em;
        height: 1.7em;
        line-height: 1.7em;
        vertical-align: middle;
    }
    .socials-newsletter {
        div {
            padding-bottom: 4px;
        }
        .newsletter {
            .input-group-addon {
                background: none;
                background-color: $text-color-6;
                color: white;
            }
        }
    }
    .footer-subtitle {
        color: $dark-blue;
        font-size: 1.3em;
        width: 100%;
        padding-bottom: 4px;
        margin: 0px;
    } 
    .sitemap-1, .sitemap-2 {
        a {
            font-size: 1.1em;
            padding: 3px 0;
            color: $text-color-2;
            line-height: 25px;
        }
    }
    .social-links {
        // margin-bottom: 15px;
        a {
            position:relative;
            text-align:center;
            width:0px;
            height:0px;
            padding:15px;
            border-top-right-radius: 	20px;
            border-top-left-radius: 	20px;
            border-bottom-right-radius: 20px;
            border-bottom-left-radius: 	20px; 
            -moz-border-radius: 		20px 20px 20px 20px;
            -webkit-border-radius: 		20px 20px 20px 20px;
            -khtml-border-radius: 		20px 20px 20px 20px; 	
            color:#FFFFFF;
            i {
                font-size:1.3em;
                position:absolute;
                left:8px;
                top:10px;
            }
            &.fb {
                i {
                    left: 10px;
                }
            }
        }
    
        a.social {
            float: left;
            margin:0 5px 0 0;
            cursor:pointer;
            background:$shade-2;
            color:#fff;
        
        }
        a.social:hover {
            &.fb {
                background-color: #014c8c;
            }
            &.tw {
                background-color: #33ccff;
            }
            &.pin {
                background-color: #cc2127;
            }
            &.in {
                background-color:
                radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%),
                radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
                radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
                radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%),
                radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
                radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%),
                radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),
                linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
            }
        }
    }
}

.width-fix {padding: 0;}

.user-card {
    .profile-pic-container {
        .maker-photo {
            display: block;
            width: 80px;
            height: 80px;
            margin-bottom: 4px;
        }
        a {
            width: 100%;
        }
        .icons-side-user {
            width: 80px;
            overflow: hidden;
            .user-icon {
                float: left;
                img {
                    width: 26px;
                }
            }
        }
        .message-btn {
            padding: 0px;
        }
    }
    .user-name {
        @include card-header-font-sm();
                margin-bottom: 2px;
        a {
            text-decoration: none;
            color: $main-grey;
        }
    }
    .user-nickname {
        font-size: 12px;
        margin-bottom: 2px;
        min-height: 18px;
        a {
            text-decoration: none;
            color: $light-grey;
        }
    }
    .profile-tag {
        @include card-header-font-sm();
        margin-bottom: 5px;
        line-height: 17px;
        display: inline-block;

    }
    .profile-tag, .user-city, .count {
        font-size: 14px;
        // margin-bottom: 5px;
    }
    .user-city {
        color: $title-color;
        min-height: 21px;
        margin-bottom: 0px;
        div {
            float: left;
            margin-right: 6px;
        }
    }
    .count {
        margin-bottom: 0;
        color: $light-grey;
        clear: both;
    }
}
.user-card-small {
    &.card-block {
        padding: 0px 8px 0px 0px;
        -moz-box-shadow: 3px 3px 5px rgba(136, 136, 136, 0.5);
        -webkit-box-shadow: 3px 3px 5px rgba(136, 136, 136, 0.5);
        box-shadow: 3px 3px 5px rgba(136, 136, 136, 0.5);
    }
    .icons-side-user {
            overflow: hidden;
            .user-icon {
                float: left;
                img {
                    width: 26px !important;
                }
            }
        }
        .card-type {
            top: 35px;
            right: -18px;
            font-size: 16px !important;
        }
        .count-list {
            margin: 6px 0px;
        }
        .card-stats {
		padding: 2px;
		color: $light-grey;
		ul li {
            @include desc-font-2();
            font-weight: normal !important;
            font-size: 13px !important;
            color: $light-grey;
			img {
				margin-right: 6px;
				&.project-likes {
					width: 10px;
				}
				&.project-views{
					width: 18px;
				}
			}
			span {
				margin: 0px;
			}	
		}
	}
    .profile-pic-container {
        position: relative;;
        .maker-photo {
            display: block;
            width: 136px;
            height: 160px;
        }
        .maker-photo-msg {
            display: block;
            width: 50px;
            height: 50px;
        }
        a {
            width: 100%;
        }
        .message-btn {
            padding: 0px;
        }
    }
    .user-name {
        @include card-header-font-sm();
        margin-bottom: 2px;
        a {
            text-decoration: none;
            color: $main-grey;
        }
    }
    .user-nickname {
        font-size: 12px;
        margin-bottom: 2px;
        min-height: 18px;
        a {
            text-decoration: none;
            color: $light-grey;
        }
    }
    .profile-tag {
        @include card-header-font-sm();
        margin-bottom: 5px;
        height: 38px;
        line-height: 17px;
        overflow: hidden;
        display: inline-block;
        min-height: 50px;
    }
    .profile-tag, .user-city, .count {
        font-size: 14px;
        // margin-bottom: 5px;
    }
    .user-city {
        color: $title-color;
        min-height: 21px;
        margin-bottom: 4px;
        div {
            float: left;
            margin-right: 6px;
        }
    }
    .count {
        margin-bottom: 0;
        color: $light-grey;
        clear: both;
    }
}
.slick-slide {
    width: auto !important;
}
.slick-track {
    min-height: 150px;
    max-height: 170px;
    img {
       height: auto !important;;
       width: 100% !important;
    }
}
.carousel-img-container {
    width: 263px !important;
    height: 210px !important;
}



/* User card msg on inbox msg component */
  .user-card-msg {
    .profile-pic-container {
        position: relative;
        .maker-photo {
            display: block;
            width: 136px;
            height: 160px;
        }
        .maker-photo-msg {
            display: block;
            width: 50px;
            height: 50px;
        }
        a {
            width: 100%;
        }
        .message-btn {
            padding: 0px;
        }
    }
    .media-body {
        p {
            margin-bottom: 0px;
        }
    }
  }
/* Notification menue in header */
.dropdown-notification{
    width: 330px;
    height: 408px;
    overflow-y: auto;
    max-width: 350px;
    max-height: 408px;
}