.page-inbox {
	// background-color: $light-grey;
	.inbox-header {
		position: relative;
		display: flex;
		align-content:center;
		margin-top: 10px;
		& > ul {
			// overflow: hidden;
			// width: 210px;
			margin: auto;
			position: relative;
			bottom: 0;
			li {
				margin: 0;
				// float: left;
				vertical-align: bottom;
				.btn {
					border-bottom: 0;
				}
				.active {
					color: $main-grey;
				}
			}
		}
		span {
			line-height: 1rem;
			color: $main-grey;
		}
		
	}
	.inbox-title{
			padding-top: 20px;
    	padding-bottom: 40px;
			//width: 200px;
		}
	.inbox-container {
		padding: 10px 0;
		.inbox-controls {
			padding: 5px 10px;
			margin: 0;
			.dropdown-toggle {
				&::after {
					display: none;
				}
				i {
					font-size: 1.5rem;
				}
			}
			.selectall {
				display: inline-block;
			}
			.delete {
				display: inline-block;
			}
			.blocked-users {
					font-size: 1rem;
					height: 35px;
					color: $shade-4;
			}
			.new-message {
				margin-right: 23px;
				color:$blue;
				font-size: 1.3rem;
				padding-bottom: 7px;
				&:hover {
					cursor: pointer;
				}
				i {
					padding-right: 10px;
					font-size: 1.6rem;
					padding-bottom: 3px;
				}
				p {
					display: inline-block;
					margin-bottom: 0;
				}
			}
			.blocked-user {
				margin-bottom: 0px !important;
			}
		}
		.load-more {
			width: 150px;
			margin: 20px auto ;
			font-size: 10px;
		}
	}
	.inbox-container {
		.dropdown {
			.dropdown-menu {
				left: inherit !important;
				right: 0 !important;
			}
		}
		.messages-list {
		padding: 0;
    margin: 0 0 15px;
    clear: both;
    padding-top: 20px;
			.message-item {
				display: flex;
				align-items:center;
				margin: 0 5px;
				padding: 0 5px;
				.select { 
					width: 3%;
				}
				.wrapper {
					display: flex;
					align-items:center;							
					width: 100%;
					overflow: hidden;
					padding: 10px;
					position: relative;
					z-index: 1;
					@include boxShadow(2px, 2px, 8px,$light-grey);
    			background-color: white;
    			margin: 5px 0;
					.unblock-button {
						position: absolute;
						right: 25px;
						z-index: 10;
						top: 36px;
					}
					.media-left {
							width: 80px;
							height: 80px;
							margin-right: 10px;
							img {
								width: 100%;
								height: auto;
							}
					}
					.sender {
						margin-bottom: 0;
						a{
							color: $blue;
							&:hover {
								text-decoration: none !important;
							}
						}
						.blocked-user {
							color: gray !important;
					}
						
					}
					
					.message-info {
							width: 92%;
						img {
							width: 80px;
							height: auto;
						}
						a {
							text-decoration: none;
							color: $blue;
							&:hover {
								text-decoration: none !important;
							}
						}
						
					}
					.message-subject {
						cursor:pointer;
						@include card-header-font-sm ();
					}
					.message-arrow {
						width: 20%;
					}
					p {
						margin: 0px;
					}
					.delete {
						  margin-left: auto;
							padding-top: 5px;
    					margin-right: 25px;
					}
					.delete-message {
						overflow: hidden;
						color: $main-grey;
						position: relative;
						font-size: 1.5rem;
						i {
							float: right;
						}
					}
				}
				&:not(:first-of-type) {
					.wrapper {
						border-top: 0;
					}
				} 
				&.read {
					.wrapper {
						background-color: $light-grey *0.9;
					}
				}
				&:hover {
					cursor: pointer;
				}
				
			}
		}
		
	}
	// .notification-container{
	// 	.notification-list {
	// 		padding: 0 0 20px;
	// 		margin: 0 0 10px;
	// 		.notification-item {
	// 			display: flex;
	// 			align-items:center;
	// 			margin: 0 5px;
	// 			padding: 0 5px;
	// 			.select { 
	// 				width: 3%;
	// 			}
	// 			.wrapper {
	// 				// display: flex;
	// 				// align-items:center;
	// 				border: 1px solid $main-grey;					
	// 				width: 95%;
	// 				overflow: hidden;
	// 				padding: 5px 10px;
	// 				.notification-info {
	// 					width: 85%;
	// 					img {
	// 						width: 60px;
	// 					}
	// 				}
	// 				.delete-notification {
	// 					overflow: hidden;
	// 					color: $main-grey;
	// 					position: relative;
	// 					i {
	// 						float: right;
	// 					}
	// 				}
	// 				&:hover {
	// 					background-color: $light-grey;
	// 				}
	// 			}
	// 			&:not(:first-of-type) {
	// 				.wrapper {
	// 					border-top: 0;
	// 				}
	// 			} 
	// 			&.read {
	// 				.wrapper {
	// 					background-color: $light-grey *0.9;
	// 				}
	// 			}

				
	// 		}
	// 	}
	// }
}
.conversation-container {
	background-color: #fff;
	padding: 20px 50px;
	margin-bottom: 15px;
	.delete-actions {
		float: right;
		color: $blue;
		margin-top: 15px;
	}
	.paricipent-img{
		width: 60px;
		height: 60px;
	}
	.conversation {
		margin-bottom: 20px;
		padding-bottom: 20px;
		.single-message {
			border-bottom: 1px solid $main-grey;
			.message-info {
				margin: 30px 0;
				a {
					color:$blue;
					text-decoration: none;
				}
				img {
					width: 50px;
					height: 50px
				}
				.blocked-user {
							color: gray !important;
					}
		}
			.message-body {
				margin-bottom: 20px;
			}
		}
		
	}
	.reply-area {
		.reply {
			color: $main-grey;
			display: block;
			margin-bottom: 15px;
		}
		textarea {
			width: 100%;
			resize: none;
			color: black;
			}
		.send-actions {
			text-align: right;
			li {
				display: inline-block;
			}
			margin-top: 15px;
		}
	}
}

/* notification page */
.notifications-list-page {
		padding: 0;
    margin: 0 0 15px;
    clear: both;
    padding-top: 20px;
	.notification-container {
		.notification-item {
    display: flex;
    align-items: center;
    width: 100%;
    overflow: hidden;
    padding: 10px;
    -moz-box-shadow: 2px 2px 8px #BDBDBD;
    -webkit-box-shadow: 2px 2px 8px #BDBDBD;
    box-shadow: 2px 2px 8px #BDBDBD;
    background-color: white;
    margin: 10px 0;
		&:hover {
			cursor: pointer;
		}
		.media-left {
			    width: 80px;
    height: 80px;
    margin-right: 10px;
		}
		.media-body {
			padding-top: 22px;
			.link {
				margin-bottom: 0;
				color: $blue;
				&:hover {
					text-decoration: none !important;
					color: $blue !important;
				}
			}
			.notf-date {
				margin: 0px;
			}
			
		}
		.delete {
			margin-left: auto;
    	margin-right: 25px;
			padding-top: 30px;
			position: absolute;
    	right: 1px;
			z-index: 1;
			.delete-message {
				overflow: hidden;
				color: #333333;
				position: relative;
				font-size: 1.5rem;
			}
		}

		}
	}
}

/* create new message */
.create-newmsg {
		background-color: $site-bg;
		label {
				color: $red;
				margin: 0px;
		}
		textarea {
				border: 1px solid $shade-2;
				color: $shade-4;
				resize: inherit;
				width: 100%;
		}
		input {
				border: 1px solid $shade-2;
				color: $shade-4;
				padding: 12px;
				&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
				text-align: center;
				color: $shade-2;
				}
				&::-moz-placeholder { /* Firefox 19+ */
				text-align: center;
				color: $shade-2;
				}
				&:-ms-input-placeholder { /* IE 10+ */
				text-align: center;
				color: $shade-2;
				}
				&:-moz-placeholder { /* Firefox 18- */
				text-align: center;
				color: $shade-2;
				}
		}
		.modal-header {
				border-bottom: none !important;
				padding: 14px;
				.close:focus, .close:hover {
						outline: none !important;
				}
		}
		.modal-footer {
				border-top: none !important;
				padding: 32px;
				button {
						width: 120px;
						padding: 12px;
						background-color: #fff !important;
				}
		}
}

/* blocked users main page */
.blocked-users-page {
	.block-user {
			display: flex;
			align-items: center;
			width: 100%;
			overflow: hidden;
			padding: 10px;
			-moz-box-shadow: 2px 2px 8px #BDBDBD;
			-webkit-box-shadow: 2px 2px 8px #BDBDBD;
			box-shadow: 2px 2px 8px #BDBDBD;
			background-color: white;
			margin: 5px 0;
		.media {
			.media-left {
				width: 60px;
				height: 60px;
				margin-right: 10px;
				img {
					width: 100%;
					height: auto;
					max-width: 100%;
				}
			}
			.media-body {
				padding-top: 14px;
				button {
					margin-bottom: 0px;
				}
			}
		}
	}
}
.back-inbox{
	height: 35px;
    min-width: 100px;
    font-size: 1rem;
    color: $shade-4;
    text-align: center;
    border: 0.2px solid $shade-4;
    background-color: $white;    
    &:hover,&.active,&:active,&:focus {
        color: $white;
        background-color: $shade-4;
        border: none;
		}
}