.spinning-preloader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: -webkit-linear-gradient(top, #fff 0, #f2f2f2 100%) #f2f2f2;
    background: linear-gradient(to bottom, #fff 0, #f2f2f2 100%) #f2f2f2;
    -webkit-transition: opacity .3s cubic-bezier(.645, .045, .355, 1);
    transition: opacity .3s cubic-bezier(.645, .045, .355, 1)
}
.spinning-preloader-container>.spinning-preloader-elements,
.spinning-preloader-container>.spinning-preloader-elements:after,
.spinning-preloader-container>.spinning-preloader-elements:before {
    border: 3px solid transparent;
    border-radius: 50%
}
.spinning-preloader-container>.spinning-preloader-elements {
    display: block;
    width: 150px;
    height: 150px;
    border-top-color: #00AEEF;
    z-index: 1500;
    opacity: 1;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite
}
.spinning-preloader-container>.spinning-preloader-elements:after,
.spinning-preloader-container>.spinning-preloader-elements:before {
    content: '';
    position: absolute
}
.spinning-preloader-container>.spinning-preloader-elements:before {
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-top-color: #ED1C24;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite
}
.spinning-preloader-container>.spinning-preloader-elements:after {
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-top-color: #4F4F4F;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite
}
.spinning-preloader-container.complete {
    opacity: 0;
    display: none
}
@-webkit-keyframes spin {
    from {
        -webkit-transform: rotateZ(0);
        transform: rotateZ(0)
    }
    to {
        -webkit-transform: rotateZ(360deg);
        transform: rotateZ(360deg)
    }
}
@keyframes spin {
    from {
        -webkit-transform: rotateZ(0);
        transform: rotateZ(0)
    }
    to {
        -webkit-transform: rotateZ(360deg);
        transform: rotateZ(360deg)
    }
}

.test {
    position: fixed;
    top: calc(50% - 27px);
    left: calc(50% - 37px);
}
.test img {
    width: 75px;
    height: auto;
    animation-name: cf3FadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-direction: alternate;    
}

@keyframes cf3FadeInOut {
    0% {
        opacity: 0.1;
    }
    /*10% {
        opacity: 0.1;
    }*/
    20% {
        opacity: 0.2;
    }
    /*30% {
        opacity: 0.3;
    }            */
    40% {
        opacity: 0.4;
    }
    /*50% {
        opacity: 0.5;
    }*/
    60% {
        opacity: 0.6;
    }
    /*70% {
        opacity: 0.7;
    }*/
    80% {
        opacity: 0.8;
    }
    /*90% {
        opacity: 0.9;
    }                */
    100% {
        opacity: 1;
    }
}