h1,h2,h3,h4,h5,h6 {font-family: 'Messina Modern Regular';color: $main-grey;}
body {
    font-family: 'Messina Sans Regular';
    padding-right: 0 !important; 
    -webkit-transition: all 1.25s ease-in-out;
       -moz-transition: all 1.25s ease-in-out;
        -ms-transition: all 1.25s ease-in-out;
         -o-transition: all 1.25s ease-in-out;
            transition: all 1.25s ease-in-out;
}
.default-header {
    background-color: $light-grey;
    color: $font-grey;
    text-align: left;
    overflow: hidden;
    vertical-align: middle;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid #333;
    border-top: 1px solid #333;
    margin: 5px 0 ;
    p,h3{margin: 0;}
    p{padding: 0 0 0 95px;}
}

.main-header {
    padding: 0 !important;
    margin: 0!important;
    color: $main-grey;
    width: 100%;
    background-color: $main-bg;
    position: relative;
    z-index: 10;
    .navbar-brand {
        width: 120px;
        padding: 0px;
        padding-left: 5px;
        position: relative;
        img {
            max-width: 100%;
        }
        span {
            color: $blue;
            font-size: 10px;
            position: absolute;
            bottom: -17px;
            right: 15px;
        }
    }
    .color-text {
        color: $main-button-1 !important;
    }
    .login-block {
        margin-bottom: 0;
        margin-top: 3px;
        li {
            display: inline-block;
            .btn {
                padding:0 10px;
            }
            img {
                width: 30px;
                height: 30px;
            }
            &.search-icon {
                width: 20px;
                margin-left: 25px;                
                
            }
            &.hamburger-menu {
               margin-left: 25px;                
               a img {
                    width: 40px;                

                }
                .nav-link {
                    padding: 0;
                }
                .dropdown-item {
                    padding: 7px 2.5rem;
                    text-align: left;
                }
                .close-hamburger {
                    display: block;
                    text-align: right;
                    margin: 20px 30px;
                    img {
                        width: 30px;
                        height: auto;
                    }
                }
                hr {
                    margin: 0 2.5rem;
                    background-color: $light-grey;
                }
                .beta-feedback {

                }
            }
            a.nav-linkdropdown-toggle.navbar-left{
                padding-left: 0;
                padding-right: 0;
            }
        }
        // .login-div {
        //     background-color: transparent;
        //     display: flex;
        //     font-size: 10px;
        //     text-align: center;
        //     padding: 10px 5px;
        //     border: 1px solid #000;
        // }
    }
    .logged-in {
        margin-bottom: 0;
        margin-top: 5px;
        li {
            min-width: 36px;
            text-align: center;
            display: inline-block;
            vertical-align: middle;
            a.btn {
                font-size: 10px;
                padding: 5px 10px;
                
            }
            &.mail-icon {
                img {
                    width: 30px;
                }
            }
            &.search-icon {
                img {
                    width: 23px;
                }
            }
            &.min-user-img {
                
                img {
                    width: 27px;
                }
            }
        }
    }
}

.msg {
    background-color: $light-grey;
    min-height: 30px;
    padding: 10px;
    text-align: center;
    
    p {
        font-size: 17px;
    }
    h3,p {
        margin: 0;
        color: $main-grey;
        
    }
}

.error-msg {
    margin-top: 10px;
}


.dnd-sortable-drag {
    opacity: 0.3;
}

#message-modal {
    .modal-content {
            padding: 5px 10px;
            overflow: hidden;
        .recieve {
            label {
                width: 10%;
                display: inline-block;
            }
            div {
                width: 80%;
                display: inline-block;
            }
        }
        .subject {
            label {
                padding-bottom: 5px;
            }
        }
        .message-text {
            label {
                padding-bottom: 5px;
            }
            textarea {
                resize: none;
                width: 100%;
            }
        }
        .actions {
            overflow: hidden;
            float: right;
            li {
                float: left;
            }
        }
    }
}
.card-type {
    @include desc-font-1();
    position: absolute;
    top: 45px;
    right: -26px;
    padding: 0;
    transform: rotate(-90deg);
    text-transform: uppercase !important;
    color: $light-grey;
    margin: 0;
}

.dropdown-menu {
    padding: 0;
    button {
        padding: 0.5em 1em;
    }
}

/* Auth0 Forms */
.auth0-lock-widget-container .auth0-lock-input-location{
  width: 33.3%;
  float: left;

}
.auth0-lock-widget-container .auth0-lock-input-lastName:after {
    content: "Birthdate";
    color: #aba9a9;
    font-size: 14px;
    padding: 0 5px;
    font-family: inherit;
    display: block;
    margin-top: 10px;
}

.auth0-lock-widget-container .auth0-lock-input-lastName{
    margin-bottom: 5px !important;
}

.auth0-lock-widget-container .auth0-lock-input-year,
.auth0-lock-widget-container .auth0-lock-input-month,
.auth0-lock-widget-container .auth0-lock-input-day{
  display: block;
  float: left;
  width: 33.3%;
	
}
.page-node {
    margin-top: 25px;
}


.horizontal-type-badge-challenge {
    @include desc-font-1();
    position: absolute;
    top: 14px;
    left: 0px;
    background-color: #333333;
    p {
        margin: 0px;
    }
    &::after {
        content: ' ';
        width: 0;
        height: 0;
        border-top: 15px solid transparent;
        border-left: 10px solid #333333;
        border-bottom: 14px solid transparent;
        left: 100%;
        position: absolute;
        top: 0px;
    }
    .type-layer-2 {
        position: relative;
        height: 100%;
        width: 100%;
        padding: 7px 11px 7px 11px;
        color: #fff;
    }
}

.horizontal-type-badge-learn {
    @include desc-font-1();
    position: absolute;
    top: 14px;
    left: 0px;
    background-color: #4F4F4F;
    p {
        margin: 0px;
    }
    &::after {
        content: ' ';
        width: 0;
        height: 0;
        border-top: 15px solid transparent;
        border-left: 10px solid #4F4F4F;
        border-bottom: 14px solid transparent;
        left: 100%;
        position: absolute;
        top: 0px;
    }
    .type-layer-2 {
        position: relative;
        height: 100%;
        width: 100%;
        padding: 7px 11px 7px 11px;
        color: #fff;
    }
}

.vertical-type-badge {
    @include desc-font-1();
    position: absolute;
    top: 6px;
    left: 0px;
    background-color: #333333;
    transform: rotate(-90deg);
    span {
        margin: 0px;
    }
    &::before {
        content: ' ';
        width: 0;
        height: 0;
        border-top: 15px solid transparent;
        border-left: 10px solid #333333;
        border-bottom: 14px solid transparent;
        right: 100%;
        position: absolute;
        top: 0px;
    }
    .type-layer-2 {
        position: relative;
        height: 100%;
        width: 100%;
        padding: 7px 11px 7px 11px;
    }
}

.card-type-grey-2,
.card-type-blue,
.card-type-grey {
    @include desc-font-1();
    position: absolute;
    z-index: 10000;
    top: 14px;
    left: -2px;
    box-shadow: 0px 2px 6px $main-grey;
    @include boxShadow(0px, 2px ,6px, $main-grey);

    p {
        margin: 0px;
    }
    &::after {
        content: ' ';
        width: 0;
        height: 0;
        border-top: 15px solid transparent;
        border-bottom: 14px solid transparent;
        left: 100%;
        position: absolute;
        top: 0px;
    }
    .type-layer-2 {
        position: relative;
        height: 100%;
        width: 100%;
        padding: 7px 11px 7px 11px;
        color: #fff;
    }
}

.card-type-grey {
    background-color: $main-grey;
    &::after {
        border-left: 10px solid $main-grey;
    }
}

.card-type-blue {
    background-color: $blue;
    &::after {
        border-left: 10px solid $blue;
    }
}

.card-type-grey-2 {
    background-color: $text-color-1;
    &::after {
        border-left: 10px solid $text-color-1;
    }
}
