h1,h2,h3,h4,h5,h6 {font-family: 'Messina Modern Regular';font-weight: bold;color: $main-grey;}
body {
    font-family: 'Messina Sans Regular';
    padding-right: 0 !important; 
    -webkit-transition: all 1.25s ease-in-out;
       -moz-transition: all 1.25s ease-in-out;
        -ms-transition: all 1.25s ease-in-out;
         -o-transition: all 1.25s ease-in-out;
            transition: all 1.25s ease-in-out;
}
.default-header {
    background-color: $light-grey;
    color: $font-grey;
    text-align: left;
    overflow: hidden;
    vertical-align: middle;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid #333;
    border-top: 1px solid #333;
    margin: 5px 0 ;
    p,h3{margin: 0;}
    p{padding: 0 0 0 95px;}
}

.main-header {
    padding: 0 !important;
    margin: 0!important;
    color: $main-grey;
    width: 100%;
    background-color: $main-bg;
    // height: 55px;
    .navbar-brand {
        width: 50px;
        padding: 0px;
        padding-left: 5px;
        img {
            width: 50px;
        }
    }
    .color-text {
        color: $main-button-1 !important;
    }
    .login-block {
        margin-bottom: 0;
        margin-top: 3px;
        li {
            display: inline-block;
            .btn {
                padding:0 10px;
            }
            img {
                width: 30px;
                height: 30px;
            }
            a.nav-linkdropdown-toggle.navbar-left{
                padding-left: 0;
                padding-right: 0;
            }
        }
        .login-div {
            background-color: #fff;
            display: flex;
            font-size: 10px;
            text-align: center;
            padding: 10px 5px;
            border: 1px solid #000;
        }
    }
    .logged-in {
        margin-bottom: 0;
        margin-top: 5px;
        li {
            min-width: 36px;
            text-align: center;
            display: inline-block;
            vertical-align: middle;
            a.btn {
                font-size: 10px;
                padding: 5px 10px;
                
            }
            &.mail-icon {
                img {
                    width: 30px;
                }
            }
            &.search-icon {
                img {
                    width: 23px;
                }
            }
            &.min-user-img {
                
                img {
                    width: 27px;
                }
            }
        }
    }
}

.msg {
    background-color: $light-grey;
    min-height: 30px;
    padding: 10px;
    text-align: center;
    
    p {
        font-size: 17px;
    }
    h3,p {
        margin: 0;
        color: $main-grey;
        
    }
}

.error-msg {
    margin-top: 10px;
}


.dnd-sortable-drag {
    opacity: 0.3;
}

#message-modal {
    .modal-content {
            padding: 5px 10px;
            overflow: hidden;
        .recieve {
            label {
                width: 10%;
                display: inline-block;
            }
            div {
                width: 80%;
                display: inline-block;
            }
        }
        .subject {
            label {
                padding-bottom: 5px;
            }
        }
        .message-text {
            label {
                padding-bottom: 5px;
            }
            textarea {
                resize: none;
                width: 100%;
            }
        }
        .actions {
            overflow: hidden;
            float: right;
            li {
                float: left;
            }
        }
    }
}
.card-type {
    @include desc-font-1();
    position: absolute;
    top: 45px;
    right: -26px;
    padding: 0;
    transform: rotate(-90deg);
    text-transform: uppercase !important;
    color: $light-grey;
    margin: 0;
}

.dropdown-menu {
    padding: 0;
    button {
        padding: 0.5em 1em;
    }
}

/* Auth0 Forms */
.auth0-lock-widget-container .auth0-lock-input-location{
  width: 33.3%;
  float: left;

}
.auth0-lock-widget-container .auth0-lock-input-lastName:after {
    content: "Birthdate";
    color: #aba9a9;
    font-size: 14px;
    padding: 0 5px;
    font-family: inherit;
    display: block;
    margin-top: 10px;
}

.auth0-lock-widget-container .auth0-lock-input-lastName{
    margin-bottom: 5px !important;
}

.auth0-lock-widget-container .auth0-lock-input-year,
.auth0-lock-widget-container .auth0-lock-input-month,
.auth0-lock-widget-container .auth0-lock-input-day{
  display: block;
  float: left;
  width: 33.3%;
	
}