@media only screen and (max-width : 768px) {

}

@media only screen and (min-width : 769px) and (max-width: 991px) {
	/* .profile-sidebar{
		position: static;
		hr:first-of-type{display: none;}
		.profile-container {
	
			.profile-group{
				position: static;
				.profile-pic{
					position: absolute;
				    top: -265px;
				    width: 160px;
				    height: 160px;
				}	
				.btn {display: none;}
			}
		}
	}  */
}

@media only screen and (min-width : 992px) and (max-width: 1199px) {
	
}
@media only screen and (min-width : 1200px) {
	/* .profile-sidebar{
		.profile-container {
			.profile-group{
				.profile-pic{
				    width: 300px;
				    height: 300px;
				}	
			}
		}
	} */

}