@media (max-width: 992px) {
    /* Footer */
    footer {
        padding-top: 30px;
        .container {
            .copy {
                // order: 4;
                margin: 0;
                nav {
                    padding: 0px;
                }
            }
            .socials-newsletter {
                // margin-top: 20px;
            }
            .sitemap-1 {
                margin-bottom: 20px;
            }
        }
    }
    .page-workshop-single {
        .page-workshop-individual {
            .workshop-content {
                .learning-card {
                    height: auto;
                }
            }
        }
    }
    .page-search-content {
        .showcase-card-backlayer-search {
            height: 320px;
            .showcase-card-backlayer-search-2 {
                padding: 0px !important;
            }
        }
    }
    .page-search-content {
        .search-challenge-card {
            height: auto;
        }
    }
    .search-learn-card {
        .learn-card {
            height: auto;
        }
    }
    .main-header {
        .navbar-brand {
            padding-left: 0px;
        }
    }
    .page-project {
        .projectsingle-card {
            .left-side {
                padding-left: 0px;
                padding-right: 0px;
            }
        }
    }
     .search-learn-card {
         .learn-card {
             height: 175px;
             max-width: 345px;
             .container-content {
                 height: 175px;
             }
             .card-container {
                 .card-title {
                     font-size: 1.6em;
                 }
             }
             .learn-card-footer-1 {
                 position: absolute;
                 right: 15px;
             }
         }
    }
    .page-search-content {
        .showcase-card-backlayer-search  {
            height: 175px;
            .showcase-card-backlayer-search-2 {
                .showcase-card {
                    .card-container {
                        .card-title {
                            font-size: 1.8em;
                            margin-bottom: 0px;
                            max-height: 70px;
                        }
                    }
                    .card {
                        .showcase-type {
                            p {
                                margin-bottom: 5px;
                            }
                        }
                    }
                }
            }
        } 
    } 
    .page-create-project-why {
        .how-to {
            .difficulties ,
            .durations  {
                i.dropdownIcon {
                    right: 30px;
                }
            }
        } 
        .add-controls {
            .btn-tab, a:not([href]):not([tabindex]).btn-tab {
                padding: 9px 10px 25px;   
            }
        }
        .project-create-buttons {
            p {
                padding: 10px;
            }
            .controls {
                padding: 0 10px;
            }
        }
    }
    #page-404 .text-block {
        left: 0;
        right: 0;
        width: 320px;
        margin: auto;
        bottom: 10%;
    }
    #site-down .text-block {
        bottom: 25%;
    }
}

@media (max-width: 767px) {
    .showcase-card-backlayer {
        .showcase-card {
            .image-container {
                img {}
            }
            .content-container {
                padding: 12px 0px 0px 0px;
                .showcase-type-badge {
                    display: none;
                }
            }
        }
    }
    .project { 
        .card-stats {
            ul {
                width: 50%;
            }
        }
    }
    .page-portfolio .nav-portfolio .nav .btn-white-2 {
         width: 100%;
     }
    .profile-container {
        .maker-card.project {
            margin-top: 20px;
            .card-block {
                height: auto;
                .maker-name {
                    margin-top: 10px;
                }
                .card-type {
                    right: -10px;
                }
                .icons-side-user {
                    margin-top: auto !important;
                }
            }
        }
    }
    footer {
        .footer-copyright {
            width: 90%;
            margin: auto;
        }
    }
    .showcase-card-backlayer {
        .showcase-card {
            .showcase-card-footer {
                .showcase-card-footer-2 {
                    .showcase-date  {
                        padding-left: 0px;
                    }
                    .update-date {
                        padding-right: 0px
                    }
                }
            }
        }
    }
    .page-challenge-summary {
        .challenge-card {
            .challene-card-footer-3 {
                .button-container-sec-2 {
                    width: 100%;
                    .btn-main-2 {
                        width: 100%;
                    }
                }
            }
            .right-side {
                padding: 0px;
            }
        }
    }
    .page-explore {
        .explore-header {
            padding-bottom: 0px; 
        }
    }

    .tablet-challenge-card {
        height: auto;
        .image-container {
            max-height: 195px;
            max-width: 576px;
            margin: 0 -15px;
        }
        .card-container {
            .card-description {
                p {
                    @include desc-font-1();
                    line-height: 125% !important;
                    -webkit-line-clamp: 3;
                    height: 52px;
                    color: #fff;
                    overflow: hidden;
                }
            }
        }
        .challene-card-footer-1 {
            margin-right: 20px;
        }
        .challenge-card-footer-2 {
            margin-bottom: 5px;
            @include desc-font-3;
            color: $text-color-2;
        }
    }
    .front {
        .front-challenge-card {
                min-height: 460px;
            .image-container {
                max-height: 195px;
                max-width: 576px;
                margin: 0 -15px;
            }
            .card-container {
                    padding: 0px 16px !important;
                .card {
                    width: 100% !important;
                }
                .card-description {
                    p {
                        @include desc-font-1();
                        line-height: 125% !important;
                        -webkit-line-clamp: 3;
                        height: 52px;
                        color: #fff;
                        overflow: hidden;
                    }
                }
            }
            .challene-card-footer-1 {
                margin-right: 20px;
            }
            .challenge-card-footer-2 {
                margin-bottom: 5px;
                @include desc-font-3;
                color: $text-color-2;
            }
        }
    }
    .front {
        .learn-card {
            .image-container {
                max-height: 195px;
                max-width: 576px;
                margin: 0 -15px;
            }
            .card-container {
                .card-title {
                    @include card-header-font-md();
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    height: 55px;
                    color: #4F4F4F;
                }
                .card-description {
                    p {
                        @include desc-font-1();
                        line-height: 125% !important;
                        -webkit-line-clamp: 3;
                        height: 52px;
                        color: #4F4F4F;
                    }
                }
            }
        }
        .showcase-card-backlayer-home {
            .showcase-card {
                .card-container {
                    .card-description {
                        p {
                        display: -webkit-box;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                        }
                    }
                }
            }
        }
    }
}


@media (max-width: 575px) {
    /* project card */
    .project.card {
        width: 100%;
        .image-top {
            position: inherit;
            top: 0;
            left: 0;
            height: auto;
        }
        .card-block {
            padding: 8px;
            margin-top: 0px;
            min-height: 175px;
        }
    }
    /* showcase card */
    .page-showcase {
        .showcases-container {
            padding: 0px 15px 0px 15px;
        }
    }
    .showcase-card-backlayer {
        .showcase-card {
            .image-container {
                width: auto;
                img {
                    width: 100%;
                    width: auto;
                }
            }
            .content-container {
                .showcase-type-badge {
                    p {}
                }
            }
        }
    }
    footer {
        text-align: center;
        .container {
            .sitemap-1,
            .sitemap-2,
            .socials {
                padding-top: 8px;
            }
            .copy nav {
                padding: 0px;
                margin: 0 auto 20px;
                text-align: left;
            }
            .social-footer {
                overflow: hidden;
                width: 160px;
                margin: auto;
            }
        }
    }
    .page-showcase {
        .showcase-card-backlayer  {
            .showcase-card {
                .showcase-card-footer-2 {
                    margin-left: 0px !important;
                }
            }
        }
    }
    .page-create-project-why {
        .nav-create {
            ul {
                li {
                    float: none;
                }
            }
        }
    }
}

@media (max-width: 414px) {
    .showcase-card-backlayer {
        .showcase-card {
            .content-container {
                .showcase-card-footer {
                    display: block !important;
                    .showcase-card-footer-1 {
                        width: 100%;
                        div {
                            width: 100%;
                        }
                        span {
                            width: 100%;
                        }
                    }
                    .showcase-card-footer-2 {
                        margin-left: 0px;
                        width: 100%;
                        div {
                            // width: 100%;
                        }
                        span {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    .page-single-showcase {
        .profile-container {
            .spotlight-item {
                .user-card {
                    padding: 30px 0px 6px 0px !important;
                }
            }
        }
    }
    .user-card {
        .profile-pic-container {
            .maker-photo {
                height: auto !important;
            }
        }
    }
    .notifications-container {
        .notification {
            .message {
                font-size: 0.8em !important;
            }
        }
    }
    .page-project {
        .projectsingle-card {
            .right-side {
                .card-container {
                    .project-card-footer {
                        ul {
                            li{
                                 a {
                                    padding: 13px 2px;
                                    width: 115px;
                                 }
                            }
                        }
                    }
                }
            }
        }
    }
    .front {
        .front-challenge-card {
            .content-container {
                padding: 10px 0px !important;
            }
            .card-partnership-mobile {
                right: 10px;
                width: 190px;
            }
        }
        .learn-card {
            .container-content {
                padding-top: 0px !important;
                padding-bottom: 0px !important;
            }
            .card-container {
                padding: 10px 0px !important;
            }
            .card-partnership-mobile {
                right: 10px;
                width: 190px;
            }
        }
    }
    header.main-header.shrink nav.navbar {
        padding: 6px 3px 6px !important;
    }
}


@media only screen and (max-width: 991px) and (min-width:767px) {
    header {
        nav {
        #MainNav {
            .nav-item{
                    margin-left: 8px;
                    a {
                        font-size: 14px;
                    }
                }
            }
        }
        nav.navbar {
            padding: 20px 0px;
        }
    }
    .main-header {
        .navbar-brand {
            width: 100px;
        }
    }
    .main-header {
        .login-block {
            li {
            }
        }
    }
    .main-header {
        .login-block {
            li {
                .btn {
                    padding: 0px;
                }
            }
        }
    }
    .project {
        .image-top {
            height: 260px;
        }
    }
}

@media (min-width: 1200px) {
    #page-404 .text-block { 
        bottom: 50px;
        right: 160px;
    }
}

@media only screen and (max-width: 767px) {}

@media only screen and (max-width: 767px) {}

@media only screen and (max-width: 320px) {}

@media only screen and (max-width: 525px) and (min-width: 321px) {}

@media only screen and (max-width: 414px) {
	.project-mobile-card {
        .project-card-small {
            .media { 
								
						}
				}
	}
}

@media only screen and (min-width: 575px) and (max-width: 768px) {
    .project {
        .card-title {
            max-width: 370px;
        }
    }
}

@media only screen and (max-width: 525px) {
    .project-button {
        display: none;
    }
    .info-w-parallax {
        .info-card {
            height: auto !important;
        }
    }
}

@media only screen and (max-width: 623px) {}

@media only screen and (max-width: 767px) {
    .project-mobile-card {
        
    }
    .project-mobile-card {
        .project-card-small {
            .media {
							margin-bottom: -15px;
                .media-body {
                    .card-title{
												height: 80px;
												overflow: hidden;
												line-height: 27px;
										}
                }
            }
        }
    }
    $showcase-height:250px;
    .showcase-card-backlayer-home, .showcase-card-backlayer-mobile {
            min-height: 350px;
                margin-bottom: 26px;
            .showcase-card-backlayer-home-2, .showcase-card-backlayer-mobile-2 {
                    min-height: 350px;
            }
            .showcase-card {
                    min-height: 350px;
                    .card-container {
                            .card-title {
                            }
                            .card-description {
                                    p {

                                    }
                            }
                    }
            }
    }
}

@media only screen and (max-width: 768px) {

    .project {
        .icons-side-project {
            top: -20px;
        }      
    }
    .toggleProfile {
        display: block;
    }
    .hideData {
        display: none ;
    }
    .showcase-card,.challenge-card {
        .card-title {
            font-size: 2em !important;
        }
    }

    .challenge-card {
        .card-container {
            .card-partership {
                padding-top: 10px;
            }
        }
    }
}

@media only screen and (min-width: 769px) and (max-width: 991px) {}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .front {
        .lone-card {
            order: 5;
        }
    }
    .project {
        .image-top {
        }
        .card {
            .maker-data-container {
                width: 180px;
            }
        }
    }
    .project-home {
        .image-top {
            width: 325px;
        }
     }
     header.main-header {
          .login-block li{
              &.search-icon, 
              &.hamburger-menu {
                  margin-left: 10px;
              }
              .btn {
                  padding: 0 5px;
              }
          }
          &.shrink {
            nav.navbar {
                #MainNav {
                    .nav-item 
                    a {
                        font-size: 1.1em;
                    }
                }
            }
          }
     }
     header.main-header.shrink 
     .navbar-toggleable-sm {
          .navbar-nav {
              .nav-link {
                    padding-right: 0.2rem;
                    padding-left: 0.2rem;
              }
          }
     }
     .page-portfolio .nav-portfolio .nav .btn-white-2 {
         width: 50%;
     }
}

@media only screen and (min-width: 992px) {
    .modal-lg, .modal-dialog {
        max-width: 1110px;
    }
    .delete-promodal {
        .modal-dialog{
            max-width: 700px !important;
        }
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .main-header {
        .login-block {
            li {
            }
        }
    }
    header {
        nav {
            padding: 20px 5px !important;  
            #MainNav {
                .nav-item {
                    margin-left: 5px !important;
                }
            }
        } 
    } 
    .project {
        .image-top {
            height: 228px;
        }
        .maker-name {
            margin-top: 5px;
        }
        .card-title {
            width: 190px;
        }
    }
}
@media only screen and (min-width: 768px) {
    // .profile-sidebar {
    //     .profile-container {
    //         // top: -85px;
    //         &.myprofile {
    //             top: -40px;
    //         }
    //     }
    // }
}
@media only screen and (min-width: 1200px) {}



// @media only screen and (min-width: 1320px) {
//     .container {
//         width: 1280px;
//         max-width: 100%;
//         margin: 0 auto;
//     }
// }


 /* acount setting component */

_::-webkit-full-page-media, _:future, :root .custom-safari {

text-align: left !important;

}