@mixin opacity($x) {
	opacity: $x;
	filter: alpha(opacity=$x*100);/* For IE8 and earlier */
}
@mixin gradient_bg($c1,$c2){
    background: $c1; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient($c1, $c2); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient($c1, $c2); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient($c1, $c2); /* For Firefox 3.6 to 15 */
    background: linear-gradient($c1, $c2); /* Standard syntax */
}

@mixin font-setting ($ff,$fs,$fw,$tt,$lh,$c){
	font-family: $ff;
	font-size: $fs;
	font-weight:$fw ;
	text-transform: $tt;
	line-height: $lh;
	color: $c ;
}

@mixin boxShadow($h, $v, $b, $c){
		-moz-box-shadow:$h $v $b $c;
		-webkit-box-shadow: $h $v $b $c;
		box-shadow: $h $v $b $c;
}

@mixin header-font (){
	@include font-setting('Messina Modern Regular', 3.4em ,400 ,capitalize , 100%, $text-color-1 );
	// 64 pt
}

@mixin card-header-font-lg (){
	@include font-setting('Messina Modern Regular', 2.6em ,500 ,capitalize , 120%, $text-color-2 );
	// 48 pt
}
@mixin card-header-font-md-2 (){
	@include font-setting('Messina Modern Regular', 2em ,400 ,capitalize , 100%, $text-color-2 );
	// 48 pt
}
@mixin card-header-font-md (){
	@include font-setting('Messina Modern Bold', 1.5em ,400 ,none , 115%, $text-color-2 );
	// 24pt
}
@mixin card-header-font-sm (){
	@include font-setting('Messina Modern Bold', 1em ,400 ,capitalize , 100%, $text-color-2 );
	// 18pt -> 16pt
}
@mixin card-header-font-xs (){
	@include font-setting('Messina Modern Bold', 0.95em ,400 ,none , 100%, $text-color-2 );
	// 14pt
}

@mixin body-font-1 (){
	@include font-setting('Messina Sans Regular', 1.3em ,400 ,none , 110%, $text-color-2 );
	//18pt
}
@mixin body-font-2(){
	@include font-setting('Messina Sans Regular', 0.9em ,400 ,none , 130%, $text-color-2 );
	//16pt
}

@mixin desc-font-1 (){
	@include font-setting('Messina Sans Regular', 0.95em ,400 ,none , 100% , $text-color-2);
	//14 pt
}
@mixin desc-font-2 (){
	@include font-setting('Messina Sans Regular', 0.9em ,400 ,none , 100% , $text-color-2);
	//12 pt
}
@mixin desc-font-3 (){
	@include font-setting('Messina Sans SemiBold', 0.8em ,400 ,none , 100% , $text-color-2);
	//12 pt
}

@mixin desc-font-4 (){
	@include font-setting('Messina Sans SemiBold', 1em ,400 ,uppercase , 100% , $text-color-2);
	//16 pt
}
@mixin desc-font-5 (){
	@include font-setting('Messina Modern Regular', 0.95em ,400 ,none , 100% , $text-color-2);
	//14 pt
}