@mixin opacity($x) {
	opacity: $x;
	filter: alpha(opacity=$x*100);/* For IE8 and earlier */
}
@mixin gradient_bg($c1,$c2){
    background: $c1; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient($c1, $c2); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient($c1, $c2); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient($c1, $c2); /* For Firefox 3.6 to 15 */
    background: linear-gradient($c1, $c2); /* Standard syntax */
}
