header {
    &.main-header {
        padding: 0 !important;
        margin: 0!important;
        color: $main-grey;
        width: 100%;
        background-color: $main-bg;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 13;
        height: 110px;
        .navbar-brand {
            width: 90px;
            padding: 0px;
            padding-left: 5px;
            position: relative;
            @include transition(0.5s);
            img {
                max-width: 100%;
            }
            span {
                color: $blue;
                font-size: 10px;
                position: absolute;
                bottom: -14px;
                right: 5px;
                @include transition(0.5s);                
            }
        }
        .color-text {
            color: $main-button-1 !important;
        }
        .login-block {
            margin-bottom: 0;
            margin-top: 3px;
            
            li {
                display: inline-block;
                .btn {
                    padding:0 10px;
                }
                img {
                    width: 30px;
                    height: 30px;
                }
                &.search-icon {
                    width: 20px;
                    margin-left: 15px;                
                    
                }
                &.hamburger-menu {
                margin-left: 15px;                
                a img {
                        width: 40px;                

                    }
                    .nav-link {
                        padding: 0;
                    }
                    .dropdown-item {
                        padding: 5px 35px 5px 3px;
                        text-align: left;
                    }
                    .add-project {
                        color: $blue;
                    }
                    .close-hamburger {
                        display: block;
                        text-align: right;
                        margin: 20px 11px;
                        img {
                            width: 30px;
                            height: auto;
                        }
                    }
                    hr {
                        margin: 0 2.5rem;
                        background-color: $light-grey;
                    }
                    .beta-feedback {
                        color: $blue;
                    }
                    
                }
                a.nav-linkdropdown-toggle.navbar-left{
                    padding-left: 0;
                    padding-right: 0;
                }
                .notification-icon {
                    position: relative;
                    margin-right: 10px;
                    img {
                        width: 32px;
                        height: auto;
                    }
                    &::after {
                        content: '';
                        text-align: center;
                        font-size: 8px;
                        line-height: 27px;
                        font-weight: bold;
                        color: $white;
                        width: 25px;
                        height: 25px;
                        border-radius: 50%;
                        background-color: $main-grey;
                        position: absolute;
                        right: -6px;
                        bottom: -12px;
                    }

                }
            }
            // .login-div {
            //     background-color: transparent;
            //     display: flex;
            //     font-size: 10px;
            //     text-align: center;
            //     padding: 10px 5px;
            //     border: 1px solid #000;
            // }
        }
        .logged-in {
            margin-bottom: 0;
            margin-top: 5px;
            li {
                min-width: 36px;
                text-align: center;
                display: inline-block;
                vertical-align: middle;
                a.btn {
                    font-size: 10px;
                    padding: 5px 10px;
                    
                }
                &.mail-icon {
                    img {
                        width: 30px;
                    }
                }
                &.search-icon {
                    img {
                        width: 23px;
                    }
                }
                &.min-user-img {
                    margin-left: 10px;
                    img {
                        width: 27px;
                    }
                }
            }
        }
        
        &.shrink {
            height: 80px;
            @include transition(0.5s);            
            .navbar-brand {
                width: 75px;
                @include transition(0.5s);
                span {
                    right: 3px;
                    font-size: 8px;
                    @include transition(0.3s);  
                }
            }
            nav.navbar {
                padding: 10px 15px 0px;
                @include transition(0.5s);                
                #MainNav {
                    .nav-item {
                        a {
                            font-size: 1.2rem;
                        }
                        .btn {
                            font-size: 1rem;
                            height: 50px;
                        }
                    }
                }
            }
        }
    }
    nav {  
        font-size: 14px;
        color: $main-grey;
        &.navbar {
            background-color: $main-bg;
            // position: relative;
            z-index: 13;
            padding: 20px 15px;
            @include transition(0.5s);
            
        }
        .collapse.navbar-collapse {
            width: auto;
            ul.navbar-nav {
            }
        }
        #MainNav {
            .nav-item {
                margin-left: 15px;
                a {
                    font-size: 1.3rem;
                }
                .btn {
                font-size: 1rem;
                padding: 16px 9px;
                }
                &.button-container-main-1 {
                    height: 53px;
                    margin-left: 20px;
                }
            }
        }
        .navbar-toggler {
            border: none;
            top: 5px;
            position: relative;
            right: 0;
            order: 10;
            outline: none;
            display: none;
        }
        .dropdown-toggle::after {
            display: none;
        }
        li.nav-item {

        }
        .dropdown-menu {
            font-size: 14px;
            color: $main-grey;
            font-weight: normal;
            margin-top: 9px;
            border-radius: 0;
            background-color: $white;
            border: none;
            @include boxShadow(2px, 2px ,8px, $shade-3);        
            right: 0;
            left: auto;
            z-index: 10000;
        }
        .hamburger-menu {
            .dropdown-menu {
                top: -10px;
                position: fixed;
                padding: 0px 0px 25px 30px;
            }
        }
        .project-button {
            margin-left: 37px;
        }
    }
    .main-header {
        .intel-sites,.maker-sites {
            float: left !important;
            width: 50%;
            a {
                color: $main-grey*0.5;
            }
            a.greyed {color: $main-grey;}
        }
        .intel-sites {
            li:nth-child(2){
                margin-bottom: 80px;
            }

        }
        .maker-sites {
            li:nth-child(-n+4){
                border-left: 1px solid $main-grey;
            }
            li {
                padding: 0 0 0 15px;
            }
        }
    
    }

    .notification-count{
    position: absolute !important;
    // left: 30px;
    width: 80%;
    color: white;
    font-size: 12px;
    bottom: 2px;
    font-weight: bold;
    z-index: 1;
    
  }

}

header.with-404 {
    position: relative;
    z-index: 101;
    margin-top: -113px !important;
    nav {
        &.navbar {
            background-color: transparent;
        }
        .collapse.navbar-collapse {
            display: none !important;
        }
    }
    &.main-header {
        background-color: transparent;
        .login-block li {
            color:#fff;
            img {
                filter: brightness(0) invert(1);
                &:hover {
                    filter: brightness(2) invert(1); 
                }
            }
            &.min-user-img {
                img,img:hover {
                    filter: none;

                }
            }
        } 
    }
}
#page-404 {
    margin-top: -113px;
}

