header {
    nav {  
        font-size: 14px;
        color: $main-grey;
        &.navbar {
            background-color: $main-bg;
            position: relative;
            z-index: 1;
        }
        .collapse.navbar-collapse {
            // width: 65%;
            width: auto;
            ul.navbar-nav {
                // width: 80%;
            }
        }
        #MainNav {
            .nav-item {
                margin-left: 15px;
            }
        }
        .navbar-toggler {
            border: none;
            top: 5px;
            position: relative;
            right: 0;
            order: 10;
            outline: none;
        }
        .dropdown-toggle::after {
            display: none;
        }
        li.nav-item {

        }
        .dropdown-menu {
            font-size: 14px;
            color: $main-grey;
            font-weight: normal;
            margin-top: 9px;
            border-radius: 0;
            background-color: $white;
            border: none;
            box-shadow: 2px 6px 12px 1px #333;
            right: 0;
            left: auto;
            z-index: 10000;
        }
    }
    .main-header {
        .intel-sites,.maker-sites {
            float: left !important;
            width: 50%;
            a {
                color: $main-grey*0.5;
            }
            a.greyed {color: $main-grey;}
        }
        .intel-sites {
            li:nth-child(2){
                margin-bottom: 80px;
            }

        }
        .maker-sites {
            li:nth-child(-n+4){
                border-left: 1px solid $main-grey;
            }
            li {
                padding: 0 0 0 15px;
            }
        }
    
    }
}
