.page-project {
		color: $main-grey;
		background-color: $main-bg;
	.top-content-wrapper {
		padding-top: 20px;
		margin-bottom: 10px;
		h2 {
			font-size: 35px;
			font-weight: bold;
			color: $main-grey;
		}
		ul {
			li {
				display: inline-block;
				
			}
			&.project-tags {
				-webkit-justify-content: flex-start; /* Safari */
  				justify-content:   flex-start;
				.btn {
					padding: 5px;
					font-size: 11px;
					float: left;
					margin-right: 5px;
					background-color: $light-grey;
					color:$main-grey;
					font-weight: normal;
					border-radius: 3px;
					&:hover {background-color: $main-grey;}
				}
				.btn {
					&:hover {
						cursor: default;
					}
				}
			}
		}
		.project-actions {
			li {
				display: block;
				float: left;
				.btn {
				}
				.active {
					background-color: $main-grey;
					color:#fff;
				}
				&:last-of-type {
					.btn{
					}
				}
			}
		}
		.project-aside {
			li {
				float: left;
				&:not(:last-child) a {
					border-right-color: transparent;
				}
				.btn {
					padding: 12px 20px;
					-moz-box-shadow:    inset 0 7px 9px -7px rgba(0,0,0,0.26);
					-webkit-box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.26);
					box-shadow:         inset 0 7px 9px -7px rgba(0,0,0,0.26);
				}
				&.active {
					a.btn.btn-light-grey {
						background-color: #fff !important;
						border-bottom-color: $white;
					}
				}
			}
			overflow: hidden;
			margin-bottom: -1px;
		}
	}
	.project-story-tab {
		padding: 10px;
		margin-bottom: 10px;
	}
	.feedback-group {
		background-color: white;
	}
	.actions-button {
	  -webkit-justify-content: flex-end; /* Safari */
	  justify-content:   flex-end;
	}
	.project-image {
		img {
			width: 100%;
		}
	}
	.project-stats {
		ul{
			padding: 10px;
			li {
				display: inline-block;
				margin-right: 10px;
				vertical-align: bottom;
				i {
					width: 25px;
					color: $main-grey;
				}
			}
		}
	}
	
	.project-body {
		margin-bottom: 20px;
		p{
		}
		&>p:first-of-type {
			font-weight: bold;
		}
		.how-to-tab {
			overflow: hidden;
			img {
				width: 100%;
				height: auto;
			}
		}
		.how-to-sidebar {
			padding: 6px;
			background-color: white;
			.list-group {
				padding: 4px;
				h3 {
				font-size: 20px;
				}
				li {
					font-size: 15px;
					a {
					    background-color: #eee;
					    padding: 0px 6px 0px 6px;
					    font-size: 15px;
					}
					p {
						margin: 0px;
						font-size: 15px;
					}
				}
			}
			.avg-time {
				overflow: hidden;
				.average {
					float: left;
					line-height: 22px;
				}
				.hours {
					float: left;
				    display: block;
				    font-size: 15px;
				    margin: 2px;
					color: $title-color;
					font-weight: bold;
					padding: 3px 5px 3px 5px;
					span {
						font-size: 15px;
    					padding: 2px;
					}
				}
			}
		}
	}
	.tools,.boards-kits,.materials {
		width: 100%;
	}
	.list-group-item {
		padding: 10px;
	}
	.tools,.boards-kits{
		li{
			.amount {

				display: inline-block;
			}
			.item {
				margin-left: 4px;
			}
		}
	}
	.materials {
		li {
			.amount {

				display: inline-block;
			}
			.item {
				margin-left: 4px;
			}
			&:first-of-type {
			}
			&:last-child {
			}	
		}

	} 
		
	aside {
		
		
	}

	.region-content .how-to-tab {
		p {
			padding: 20px 10px 10px 10px;
    	background-color: white;
		}
		h3 {font-weight: normal;}
	}
	.feedback-group {
		.feedback {
			background-color: #F2F2F2;
			overflow: hidden;
			padding: 10px 0px 0;
			margin: 10px 0;
			.feed-user , .feed-body , .feed-timestamp {
				display: inline-block;
				vertical-align: top;
			}

			.feed-user {
				width: 35%;
				padding-left: 10px;
				margin-right: 10px;
				img {
					width: 60px;
					background-color: $white;
					border: 1px solid $main-grey;
					margin-right: 10px;
					margin-bottom: 5px;	
				}
				.name {
					font-size: 14px;
					h5 {margin-top: 0;}
				}
			}
			.feed-body {
				width: 35%;
				font-size: 12px;
			}
			.feed-timestamp {
				padding-left: 10px;
				width: 25%;
				font-size: 12px;
			}
			.user-nickname {
				font-weight: bold;
			}
		}
		form {
			overflow: hidden;
			.feedback {
				width: 100%;
				padding-bottom: 10px;
					.feedback-image {
						width: 12%;
					    display: block;
					    overflow: hidden;
					    float: left;
						img {
							width: 40px;
							margin-left: 15px;
							float: left;
						}
					}
					.feedback-area {
						    width: 88%;
						    overflow: hidden;
						    display: block;
						textarea {
							margin-left: 10px;
							float: left;
							resize:none;
							width: 95%;
						}
					}
			} 
			a {

			}
		}
	}
	.timestamp {
		font-size: 10px;
		text-align: right;
		margin: 5px 0 10px;
	}
	.project-collaborates {
		.collaborate {
			background-color: #fff;
			margin-top: 10px;
			margin-bottom: 10px;
			// .profile-container {
			// 	width: 100%;
			// 	float: none;
			// 	.profile-card {
			// 		border: none;
			// 		& > div{
			// 			padding: 0;
						
			// 		}
			// 		.left {
						
			// 		}
			// 		.right {
			// 			    padding: 0px 4px 0px 4px;
					
			// 		}
			// 	}	
			// }
			.profile-container {
				margin: 10px 0;				
			}
			
			.role {
			    padding: 10px 10px 0px 10px;
			    background-color: #eee;
			    border: 1px solid #ccc;
			    font-size: 13px;
			}
		}
		.card {
			border: none;
			.user-card {
				padding: 8px;
			}
		}
	}
	
	.project-awards {
		font-size: 16px;
		i {
			width: 30px;
		}
		a {
			color:$blue;
			font-weight: bold;
			text-decoration: none;
		}
		padding: 15px 10px;
		background-color: #eee;
		border: 1px solid #ddd;
	}
	.aha {
		.card-heading {
			padding: 6px 8px 0px 8px;
		}
		.card-block {
			padding: 8px;
		}
	}
	.uh-oh {
		.card-heading {
			padding: 6px 8px 0px 8px;
		}
		.card-block {
			padding: 8px;
		}
	}
	.panel {	
		border-width:3px;
		border-radius: 15px;
		padding: 6px;
		.panel-heading{
			background-color: transparent;
			border-bottom-width: 3px;
			h3{
				font-weight: bold;
				color: $main-grey;
				margin: 0;
				font-size: 20px;
				i {
					width: 55px;
					font-size: 25px;
					text-align: center;
				}
			}
		}
	}
	.block-style {
		padding: 10px;
		background-color: #eee;
		border: 1px solid #ccc;
		font-size: 13px;
	}

	.avg-time {
		p {margin: 0;}
		    border: 1px solid #ccc;
	}












}
header.showcase-project {
	border-bottom: 1px solid #000;
	margin-bottom: 15px;
	ul {
		display: -webkit-box;    /* OLD - iOS 6-, Safari 3.1-6, BB7 */
	    display: -ms-flexbox;    /* TWEENER - IE 10 */
	    display: -webkit-flex;   /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
	    display: flex;           /* NEW, Spec - Firefox, Chrome, Opera */
	    justify-content: space-between;
	    align-items: center;
		li {

		}
	}
	.btn {width: 150px;}
	.prev {}
	.next {}
	h3  {
		text-decoration: underline;
		display: inline-block;
		text-align: center;
		a {
			color: #000;
		}
	}
}

header.showcase-project {
	.previous {
		text-align: center;
	}
	.title {
		text-align: center;
	}
	.next {
		text-align: center;
	}
}

.page-project {
	.clearfix {
	clear: both;
	}
}

.projects-grid {
	.project {
		&:hover {
			cursor: pointer;
			// height: 445px;
		}
	}
}



	.feedback-group {
		margin-bottom: 10px;
		.feedback-card {
			padding: 10px;
			background: white;
			margin-bottom: 4px;
			.user-info {
					padding: 4px 0px 4px 0px;
				p {
					margin-bottom: 0px;
				}
				.user-details {
					padding-left: 1px;
					.user-fullname {
					    font-size: 16px;
    					margin-right: 10px;
    					color: $title-color;
					}
					.feed-timestamp {
						p {
							color: #bebebe;
						}
						i {
							margin-left: 4px;
							font-size: 4px;
							color: #bebebe;
						}
						
					}
					.user-nickname {
						font-weight: bold
					}
					p {
						font-size: 14px;
						padding-top: 2px;
						color: $font-grey;
					}

				}
				.feed-timestamp {
					text-align: right;
					font-size: 13px !important;
					color: $font-grey;
				}
			}
			.content-section {
				.user-pic {
					padding: 4px;
					img {
					    width: 48px;
					    height: 48px;
					    margin: 0 auto;
					}
				}
				.media-body {
					padding: 0px 10px 0px 10px;
					p {
						color: $font-grey;
						margin: 0px;
					}
				}
			}
		}
		.new-comment  {
			    padding: 10px;
			    background-color: white;
			.comment-image {
				padding-top: 4px;
				img {
					width: 48px;
				    height: 48px;
				}
			}
			.comment-body {
				textarea {
					border: 1px solid #ccc;
					color: $font-grey;
				    height: 54px;
    				margin-top: 2px;
						border-radius: 4px;
				}
				button {
					display: inline-table;
				    margin-top: 2px;
				    padding-left: 8px;
				    color: $light-grey;
						border: none;
						background: none;
						margin: 0;
						padding-bottom: 8px;
					span {
						.fa-circle {
							font-size: 2.5em;
						}
						.fa-paper-plane  {
						    font-size: 22px;
    						line-height: 50px;
						}
					}

					&:hover {
						color: $main-button-1;
						border: none;
					}
					&:focus {
						border: none;
						outline: none;
    				outline: none;
					}
				}
			}
		}
	}





// new card style //

.page-project {
.projectsingle-card {
    position: relative;
    padding: 16px;
    cursor:pointer;
    background-color: white;
		padding: 12px 12px 0px 0px;
		.left-side {
			position: relative;
			top: -26px;
			left: -20px;
			padding: 0px;
			  .image-container {
        overflow: hidden;
        position: relative;
        padding: 0;
        width: 100%;
        height: auto;
        img {
            width: 100%;
            height: 360px;
            max-width: 100%;
        	}
    		}
				.project-card-footer-3 {
					.project-card-badges {
						margin: 0px;
						.project-badge {
							width: 40px;
							height: auto;
						}
					}
				}
		}
		.right-side {
			    padding-left: 0px;
    	.card-container {
        position: relative;
				.card {
					border: none;
				}
				.projects-circle {
					color: $sec-button-1 ;
					text-decoration: underline;
				}
        .card-title {
            @include card-header-font-lg();
            font-size: 38px;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            height: 166px;
						line-height: 100%;
        }
        .card-description {
            h4 {
                font-weight: bold;
            }

            p {
                @include body-font-r();
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
                height: 70px;
								margin-bottom: 10px;
            }
        }
				.card-date {
					color: $text-color-2;
					font-size: 13px;
				}
				.card-tags {
					color: $text-color-2;
					font-size: 14px;
				}
				.project-card-footer {
						margin-top: 16px;
						ul {
							margin: 0 auto;
							li {
								a {
									border: 1px solid rgba(130, 130, 130, 0.2);
									&.active {
										background-color: $main-button-1;
										border: 1px solid rgba(130, 130, 130, 0.2);
										color: white;
									}
								}
							}
						}
				}
    	}
		}
	}
}