.center-icon {
	display: block;
	text-align: center;
	margin: 1rem auto;
}

.red {
	color: $red;
}


// icons
.ico-lrg {
	font-size: 4rem;
}
.ico-med {
	font-size: 2rem;
}
.ico-sm {
	font-size: 1rem;
}