// Main Colors Palette 

$white:				#fff;
$shade-1:			#F2F2F2;
$shade-2:			#DCDCDC;
$shade-3:			#BDBDBD;
$shade-4:			#4F4F4F;
$shade-5:			#828282;
$shade-6:			#474747;
$shade-7:			#333333;
$blue: 				#00AEEF;
$light-blue:	#D4EFFC;
$orange:			#F2C94C;
$red: 				#ED1C24;

/* New Variables */


$site-bg: $shade-1;
$mission-cards-bg: $shade-7;
$learn-cards-bg: $shade-2;
$project-cards-bg: $white;
$showcase-cards-light-bg: $light-blue;
$showcase-cards-medium-bg: $blue;
$showcase-cards-red-bg: $red;

$text-color-1 : $shade-4;
$text-color-2 : $shade-5;
$text-color-3 : $shade-3;
$text-color-4 : $white;
$text-color-5 : $red;

$btn-primary-1: $shade-4;
$btn-primary-2: $red;

$btn-secondary-1: $shade-5;
$btn-secondary-2: $shade-3;
$btn-secondary-3: $blue;

$validation-1:$orange;
$validation-1:$blue;
$validation-1:$shade-4;






$title-font-family: -webkit-body;

$main-button-1:$red;
$main-grey : $shade-7;
$light-grey : $shade-3;
$font-grey: $shade-7;
$sec-bg : $shade-2;
$title-color: $blue;


$main-bg : $shade-1;
$challenge-bg : $shade-7;
$learn-card-bg : $shade-2;
$accent-bg-1 : $light-blue;
$accent-bg-2 : $white;

$valid-faire:$blue;


$main-button-2 : $shade-4;
$sec-button-1 : $blue;
$sec-button-2 : $shade-5;
$sec-button-3 : $shade-3;


$showcase-layer: $light-blue;



// @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Trirong:400,700');

// font-family: 'Open Sans', sans-serif;
// font-family: 'Trirong', serif;
@font-face {
	font-family: "Messina Sans SemiBold";
	src: url("../fonts/MessinaSansWeb-SemiBold.eot") format("eot"),
		 url("../fonts/MessinaSansWeb-SemiBold.woff2") format("woff2"),
		 url("../fonts/MessinaSansWeb-SemiBold.woff") format("woff"),
		 url("../fonts/MessinaSans-SemiBold.otf") format('opentype')
}
@font-face {
	font-family: "Messina Sans Regular";
	src: url("../fonts/MessinaSansWeb-Regular.eot") format("eot"),
		 url("../fonts/MessinaSansWeb-Regular.woff2") format("woff2"),
		 url("../fonts/MessinaSansWeb-Regular.woff") format("woff"),
		 url("../fonts/MessinaSans-Regular.otf") format('opentype')
}
@font-face {
	font-family: "Messina Sans Bold";
	src: url("../fonts/MessinaSansWeb-Bold.eot") format("eot"),
		 url("../fonts/MessinaSansWeb-Bold.woff2") format("woff2"),
		 url("../fonts/MessinaSansWeb-Bold.woff") format("woff"),
		 url("../fonts/MessinaSans-Bold.otf") format('opentype')
}
@font-face {
	font-family: "Messina Modern Regular";
	src: url("../fonts/MessinaModernWeb-Regular.eot") format("eot"),
		 url("../fonts/MessinaModernWeb-Regular.woff2") format("woff2"),
		 url("../fonts/MessinaModernWeb-Regular.woff") format("woff"),
		 url("../fonts/MessinaModern-Regular.otf") format('opentype')
}
@font-face {
	font-family: "Messina Modern Bold";
	src: url("../fonts/MessinaModernWeb-Bold.eot") format("eot"),
		 url("../fonts/MessinaModernWeb-Bold.woff2") format("woff2"),
		 url("../fonts/MessinaModernWeb-Bold.woff") format("woff"),
		 url("../fonts/MessinaModern-Bold.otf") format('opentype')
}
