.page-learn {
	.workshop-header {
		text-align: center;
		padding-top: 30px;
		padding-bottom: 30px;
		border-bottom: 1px solid $main-grey;
	}
	.workshop-card {
		padding: 10px 0;
		border-bottom: 1px solid $main-grey;
		overflow: hidden;
		color:$main-grey;
		cursor:pointer;
		.image-container {
			border: 3px solid transparent;
		    height: 200px;
			margin-bottom: 5px;
			overflow: hidden;
		}
		.workshop-tags {
			.btn {
				padding: 5px;
				font-size: 9px;
				float: left;
				margin-right: 5px;
				background-color: $main-grey*1.6;
				color:$main-grey*0.5;
				font-weight: bold;
				&:hover {background-color: $main-grey;}
			}
		}
		&:hover {
			.image-container {border-color: $blue;}
			.card-title{color: $blue;}
		}
	}
}