.page-learn {
    background-color: white;
    padding-bottom: 40px;
}

.learn-card {
    margin-bottom: 10px;
    .card {
        background-color: transparent;
        border: none;
    }
    .single-learn {
        padding: 10px;
        img {
            width: 250px;
        }
        .card-partership {
            color: $main-button-1;
        }
    }
    .image-container {
        // overflow: hidden;
        // position: relative;
        // padding: 0px 15px;
        // width: 350px;
        // height: 320px;
    }
    .container-content {
        position: relative;
    }
    .card-container {
        .card-partership {
            @include body-font-2();
            text-transform: none;
            font-size: 14px;
            display: inline-block;
            min-height: 16px;
            margin-bottom: 10px;
            p {
                margin-bottom: 0px;
            }
        }
        .card-description {
            h4 {
                font-weight: bold;
            }
        }
        .workshop-tags {
            ul {
                padding: 0px;
            }
        }
        .learn-card-footer {
            .learn-card-footer-1 {
                bottom: 5px;
                align-self: end;
                a.btn.btn-grey {
                    background-color: $light-grey;
                }
            }
            .learn-card-footer-2 {
                .learn-card-count {
                    font-size: 14px;
                    .follow-count {
                        padding-left: 10px;
                    }
                    .entries-count {
                        padding-right: 10px;
                        border-right: 1px solid white;
                    }
                }
                .learn-card-status {
                    .open-status,
                    .closed-status {
                        font-weight: bold;
                        font-size: 16px;
                        padding-right: 5px;
                    }
                    .open-status {
                        color: white;
                    }
                    .closed-status {
                        color: $main-button-1;
                    }
                    .learn-end-date {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

.learn-header {
    margin-bottom: 25px;
    text-align: center;
    h3 {
        @include header-font();
        margin: auto;
        padding-top: 45px;
        padding-bottom: 10px;
        font-weight: normal;
    }
    p {
        @include body-font-2();
        width: 100%;
        margin: auto;
    }
}

.learn-container {
    padding: 25px 0;
}

.page-learn {
    .learn-card {
        position: relative;
        padding: 16px;
        overflow: hidden;
        cursor: pointer;
        background-color: $learn-cards-bg;
        -moz-box-shadow: 3px 3px 5px rgba(136, 136, 136, 0.5);
        -webkit-box-shadow: 3px 3px 5px rgba(136, 136, 136, 0.5);
        box-shadow: 3px 3px 5px rgba(136, 136, 136, 0.5);
        margin: 10px 0;
        .learn-type-bagde {
            position: absolute;
            top: 38px;
            right: -40px;
            transform: rotate(-90deg);
            color: #4F4F4F;
            padding: 0px 10px 0px 0px;
            p {
                margin: 0px;       
            }
        }
        .learn-item {
            padding: 10px;
            img {
                width: 250px;
            }
            .card-partership {
                color: $main-button-1;
            }
        }
        .image-container {
            position: relative;
            padding: 0px;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .card-container {
            color: $white;
            // font-weight: bold;
            position: relative;
            .card-title {
                @include card-header-font-lg();
                font-size: 38px;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                min-height: 67px;
                color: #4F4F4F;
                 padding: 0px 10px 0px 0px;
            }
            .card-status {
                @include body-font-1();
                display: inline-block;
                text-transform: none;
            }
            p.card-partnership {}
            .card-description {
                h4 {
                    font-weight: bold;
                }
                p {
                    @include body-font-2();
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    color: #4F4F4F;
                }
            }
            .card-buttons {
                a.btn.btn-grey {
                    background-color: $light-grey;
                }
                .follow-number {
                    background-color: $light-grey*0.9;
                    padding: 3px 15px;
                    border-radius: 20px;
                    font-size: 13px;
                    margin-left: 10px;
                }
            }
        }
    }
}

.page-learn-summary {
    background-color: #F2F2F2;
}
/* learn card on search page */
/* challenge card on search page */

.page-search-content {
    .learn-card {
        position: relative;
        padding: 8px 8px 0px 8px;
        cursor: pointer;
        background-color: $shade-2;
        -moz-box-shadow: 2px 2px 5px rgba(136, 136, 136, 0.5);
        -webkit-box-shadow: 2px 2px 5px rgba(136, 136, 136, 0.5);
        box-shadow: 2px 2px 5px rgba(136, 136, 136, 0.5);
        .learn-type-badge {
            position: absolute;
            top: 26px;
            right: -38px;
            transform: rotate(-90deg);
            p {
                margin: 0px;
            }
        }
        .image-container {
            overflow: hidden;
            position: relative;
            padding: 0;
            height: 215px;
            width: 170px;
            top: -22px;
            left: -22px;
            img {
                width: 100%;
                max-width: 100%;
                height: 100%;
            }
        }
        .content-container {
            padding-left: 0px;
        }
        .card-container {
            color: $white;
            // font-weight: bold;
            position: relative;
            height: 100%;
            .card {
                .card-title {
                    @include card-header-font-lg();
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    height: 92px;
                    color: $shade-4;
                    font-size: 3em !important;
                    margin-bottom: 54px;
                }
                .card-status {
                    @include body-font-1();
                    display: inline-block;
                    text-transform: none;
                }
                .card-partership {
                    @include desc-font-2();
                    text-transform: none;
                    font-size: 14px;
                    display: inline-block;
                    min-height: 16px;
                    margin-bottom: 10px;
                    h4 {
                        font-weight: bold;
                    }
                    p {
                        @include desc-font-2();
                    }
                }
                .card-description {
                    p {
                        @include desc-font-1();
                        height: 85px;
                        color: white;
                    }
                }
            }
            .workshop-count {
                color: $shade-5;
            }
        }
    }
}

.front {
    .learn-card {
        .card-type {
            top: 60px;
            right: -30px;
            color: $text-color-2;
            margin-right: 15px; 	
        }
        position: relative;
        padding: 0px;
        cursor: pointer;
        background-color: $learn-cards-bg;
        height: 460px;
        margin-bottom: 30px;
        -moz-box-shadow: 3px 3px 5px rgba(136, 136, 136, 0.5);
        -webkit-box-shadow: 3px 3px 5px rgba(136, 136, 136, 0.5);
        box-shadow: 3px 3px 5px rgba(136, 136, 136, 0.5);
        .learn-item {
            padding: 10px;
            img {
                width: 250px;
            }
            .card-partership {
                color: $main-button-1;
            }
        }
        .image-container {
            position: relative;
            padding: 0;
            height: 430px;
            background: url('../images/placeholder.png') center center;
            background-size: cover;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .container-content {
            margin-bottom: 30px;
        }
        .card-container {
            color: $white;
            // font-weight: bold;
            position: relative;
            .learn-type-bagde {
                position: absolute;
                top: 38px;
                right: -50px;
                transform: rotate(-90deg);
                color: #4F4F4F;
                p {
                    margin: 0px;
                }
            }
            .card-partership {
                margin: 16px 0px 16px 0px;
            }
            .card-title {
                @include card-header-font-lg();
                color: #4F4F4F;
            }
            .card-status {
                @include body-font-1();
                display: inline-block;
                text-transform: none;
            }
            p.card-partnership {}
            .card-description {
                h4 {
                    font-weight: bold;
                }
                p {
                    @include body-font-2();
                    display: -webkit-box;
                    -webkit-line-clamp: 7;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    color: #4F4F4F;
                }
            }
            .card-buttons {
                a.btn.btn-grey {
                    background-color: $light-grey;
                }
                .follow-number {
                    background-color: $light-grey*0.9;
                    padding: 3px 15px;
                    border-radius: 20px;
                    font-size: 13px;
                    margin-left: 10px;
                }
            }
            .learn-card-footer-1 {
                .button-container-main-1 {
                    .btn {
                        padding: 15px 20px;
                    }
                }
            }
        }
    }
}