.workshop-page {
	background-color: $main-bg;
	.workshop-header {
		padding-bottom: 25px;
		background-color: $main-bg;
		text-align: center;
		h3 {
			@include header-font();
			margin: auto;
			text-align: center;
			padding-top: 40px;
			color: $main-grey;
			padding-bottom: 30px;
		}
		.explore-tags {
			margin: 20px auto;
			li{
				display: inline-block;
				margin: 5px;
				a.btn {
					padding: 5px 15px;
					border-radius: 3px;
				}
			}
		}
	}
	.learning-item {
		background-color: $learn-bg;
		padding: 4px;
		.card-img-top {
    width: 250px;
    height: 210px;
			img {
    width: 250px;
    height: 210px;
			}
		}
		.content-bottom  {
			padding-top: 8px;
		}
		.workshop-tags {
			li {
				float: left;
				a {
					font-size: 11px;
					padding: 4px;
				}
			}
		}
			.card-description {
				display: -webkit-box;
			-webkit-line-clamp:3;
			-webkit-box-orient: vertical;
			overflow: hidden;
			margin-bottom: 10px;
			min-height: 66px;
			}
	}
	.Workshop-view {
		.learning {
			margin-bottom: 8px;
			margin-top: 8px;
		}
	}
}