.about-badges {
  .page-title,
  .page-description {
    text-align: center;
  }
  .page-title {}
  .page-description {}
  .badges-group-title {
    text-align: center;
    color: $red;
  }
  .badge-group {
    .image-container {
      width: 20%;
    }
    .badge-data {
      
    }
  }
}