.clearfix:after, .card-owner-meta:after {
  content: "";
  display: block;
  clear: both; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-size: 10px;
  font-family: Arial;
  background: #f2f2f2; }

body {
  font-size: 1.2rem; }

a, .link {
  text-decoration: none;
  color: #00AEEF; }

.make-logo {
  width: 120px;
  margin-bottom: 15px; }

.badge {
  width: 3rem;
  height: 3.5rem;
  background-size: cover;
  background-repeat: no-repeat; }

.badge-awards {
  background-image: url("assets/images/badges/awards.svg"); }

.badge-callenge-lover {
  background-image: url("assets/images/badges/callenge-lover.svg"); }

.badge-challenge-winner {
  background-image: url("assets/images/badges/challenge-winner.svg"); }

.badge-community-engagement {
  background-image: url("assets/images/badges/community-engagement.svg"); }

.badge-community-manager {
  background-image: url("assets/images/badges/community-manager.svg"); }

.badge-founding-member {
  background-image: url("assets/images/badges/founding-member.svg"); }

.badge-maker-faire {
  background-image: url("assets/images/badges/maker-faire.svg"); }

.badge-productivity {
  background-image: url("assets/images/badges/productivity.svg"); }

.badge-role-model {
  background-image: url("assets/images/badges/role-model.svg"); }

.flag {
  color: white;
  position: absolute;
  top: 1rem;
  left: 0;
  font-size: 1.8rem;
  text-transform: uppercase;
  padding: 1rem;
  line-height: 1rem; }
  .flag:after {
    content: ' ';
    width: 0;
    height: 0;
    border-top: 1.5rem solid transparent;
    border-bottom: 1.5rem solid transparent;
    left: 100%;
    position: absolute;
    top: 0px; }
  .flag.project {
    background-color: #00AEEF; }
    .flag.project:after {
      border-left: 1.25rem solid #00AEEF; }
  .flag.maker {
    background-color: #4f4f4f; }
    .flag.maker:after {
      border-left: 1.25rem solid #4f4f4f; }
  .flag.mission {
    background-color: #4f4f4f; }
    .flag.mission:after {
      border-left: 1.25rem solid #4f4f4f; }
  .flag.learn {
    background-color: #4f4f4f; }
    .flag.learn:after {
      border-left: 1.25rem solid #4f4f4f; }

.badge-group {
  list-style: none; }
  .badge-group li, .badge-group .badge {
    display: inline-block; }

.social-stat i, .social-stat span, .social-stat .icon, .social-stat .info {
  display: inline-block;
  font-size: 1.2rem; }
.social-stat span.icon {
  font-weight: bold;
  color: #4f4f4f; }
.social-stat i.icon {
  width: 30px;
  height: 40px;
  color: #4f4f4f; }
.social-stat .info {
  color: #828282; }

.social-stat-group .social-stat, .social-stat-group li {
  display: inline-block;
  margin-right: 1rem; }

.card-owner-meta .card-owner-media, .card-owner-meta .card-owner-meta-info {
  float: left; }
.card-owner-meta .card-owner-meta-info {
  max-width: calc(100% - 60px - 2rem); }
.card-owner-meta .card-owner-media {
  width: 60px;
  height: auto;
  margin-right: 1rem; }
.card-owner-meta .card-title {
  font-size: 1.8rem;
  display: block;
  margin-bottom: 1rem; }
.card-owner-meta .card-owner-link {
  display: block; }
.card-owner-meta .card-meta-row {
  margin-bottom: .625rem;
  overflow: hidden; }
  .card-owner-meta .card-meta-row-description, .card-owner-meta .card-meta-row-icon {
    float: left; }
  .card-owner-meta .card-meta-row-icon {
    font-size: 1rem;
    margin-right: 0.25rem;
    width: 1.5rem;
    position: relative;
    top: 0;
    line-height: 1.35rem;
    padding-left: 1px; }
  .card-owner-meta .card-meta-row-description {
    max-width: calc(90% - 1.5rem); }

.site-header {
  margin-bottom: 50px; }

.card {
  background: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative; }
  .card .card-image, .card .info-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-size: cover;
    background-position: 100% 75%;
    transition: background-color 0.3s ease;
    background-color: transparent;
    cursor: pointer; }
    .card .card-image.alt, .card .info-top.alt {
      opacity: 0;
      transition: opacity 1.3s ease; }
    .card .card-image:hover .alt, .card .info-top:hover .alt {
      background-color: rgba(0, 174, 239, 0.55);
      background-blend-mode: overlay;
      opacity: 1; }
    .card .card-image:hover .card-description-long, .card .info-top:hover .card-description-long {
      opacity: 1;
      pointer-events: initial; }
  .card .badge-group {
    position: absolute;
    top: 1rem;
    right: 1rem; }
  .card .info-bottom {
    padding: 3.5rem 1rem 1.5rem; }
  .card .info-top {
    color: #ffffff; }
    .card .info-top .flex-text-container {
      display: flex;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 1rem;
      right: 1rem;
      align-content: center; }
    .card .info-top .card-description-long {
      position: absolute;
      opacity: 0;
      transition: opacity 0.5s ease;
      pointer-events: none;
      font-size: 2rem;
      line-height: 2.5rem;
      align-self: center; }

.card.tall {
  padding-top: 80%; }
  .card.tall .card-image, .card.tall .info-top {
    padding-bottom: 80%; }
  .card.tall .badge-group {
    bottom: -2.275rem;
    left: 1rem;
    right: initial;
    top: initial; }
  .card.tall .social-stat-group {
    margin-top: 1.5rem; }
  .card.tall .card-description-long {
    font-size: 1.5rem;
    line-height: 1.7rem; }
.card.wide {
  padding-top: 56.25%; }
  .card.wide .card-image, .card.wide .info-top {
    padding-bottom: 56.25%; }
  .card.wide .info-bottom {
    padding: 1rem; }
    .card.wide .info-bottom:hover .card-owners-group {
      left: -1rem; }
  .card.wide .card-owner-media {
    display: none; }
  .card.wide .card-owner-meta {
    position: relative; }
  .card.wide .card-owners-group {
    background: #ffffff;
    position: absolute;
    left: -100%;
    bottom: 100%;
    padding: 1rem;
    transition: all 0.5s ease; }
    .card.wide .card-owners-group .card-owner-link {
      margin-bottom: .625rem; }
  .card.wide .card-owner-meta .card-title {
    margin-bottom: 0; }
  .card.wide .social-stat-group {
    float: right;
    margin-top: -1.2rem; }
.card.short .badge-group {
  top: 0;
  right: 0; }
.card.short .info-bottom {
  padding-top: 5.25rem; }
.card.short .card-description-long {
  display: none; }
.card.short .social-stat-group {
  margin-top: 1.5rem; }
.card.maker.tall .card-owner-meta .card-owner-media {
  display: none; }
.card.maker.tall .card-owner-link, .card.maker.short .card-owner-link {
  margin-bottom: 0.5rem;
  font-size: 1.8rem;
  line-height: 2rem; }

/*# sourceMappingURL=style.css.map */
