/* New Variables */
@font-face {
  font-family: "Messina Sans SemiBold";
  src: url("../fonts/MessinaSansWeb-SemiBold.eot") format("eot"), url("../fonts/MessinaSansWeb-SemiBold.woff2") format("woff2"), url("../fonts/MessinaSansWeb-SemiBold.woff") format("woff"), url("../fonts/MessinaSans-SemiBold.otf") format("opentype"); }
@font-face {
  font-family: "Messina Sans Regular";
  src: url("../fonts/MessinaSansWeb-Regular.eot") format("eot"), url("../fonts/MessinaSansWeb-Regular.woff2") format("woff2"), url("../fonts/MessinaSansWeb-Regular.woff") format("woff"), url("../fonts/MessinaSans-Regular.otf") format("opentype"); }
@font-face {
  font-family: "Messina Sans Bold";
  src: url("../fonts/MessinaSansWeb-Bold.eot") format("eot"), url("../fonts/MessinaSansWeb-Bold.woff2") format("woff2"), url("../fonts/MessinaSansWeb-Bold.woff") format("woff"), url("../fonts/MessinaSans-Bold.otf") format("opentype"); }
@font-face {
  font-family: "Messina Modern Regular";
  src: url("../fonts/MessinaModernWeb-Regular.eot") format("eot"), url("../fonts/MessinaModernWeb-Regular.woff2") format("woff2"), url("../fonts/MessinaModernWeb-Regular.woff") format("woff"), url("../fonts/MessinaModern-Regular.otf") format("opentype"); }
@font-face {
  font-family: "Messina Modern Bold";
  src: url("../fonts/MessinaModernWeb-Bold.eot") format("eot"), url("../fonts/MessinaModernWeb-Bold.woff2") format("woff2"), url("../fonts/MessinaModernWeb-Bold.woff") format("woff"), url("../fonts/MessinaModern-Bold.otf") format("opentype"); }
.clearfix:after, .card-owner-meta:after {
  content: "";
  display: block;
  clear: both; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-size: 10px;
  font-family: Arial;
  background: #f2f2f2; }

body {
  font-size: 1.2rem; }

a, .link {
  text-decoration: none;
  color: #00AEEF; }

.callout {
  font-size: 6.4rem;
  line-height: 7.4rem; }

.header-main, h1 {
  font-family: 'Messina Modern Regular';
  font-size: 3.2rem;
  line-height: 4.16rem; }

.header-small, h2 {
  font-size: 1.8rem;
  line-height: 2rem;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase; }

h3 {
  font-family: 'Messina Modern Regular';
  font-size: 3.3rem; }

.header-sub, h6 {
  font-size: 1.6rem;
  line-height: 2.6rem;
  text-transform: uppercase; }

.body-text, p, body {
  font-size: 1.44rem;
  line-height: 2.4rem; }

h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-weight: 500; }

h1 {
  color: #4f4f4f; }

h2 {
  color: #ED1C24;
  margin-bottom: 12px; }

h3 {
  color: #4f4f4f; }

p, .paragraph {
  font-weight: 300;
  margin-bottom: 1rem; }

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); }

.dropdown-menu.pull-right {
  right: 0;
  left: auto; }

.dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5; }

.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap; }

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5; }

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #fff;
  text-decoration: none;
  background-color: #337ab7;
  outline: 0; }

.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  color: #777; }

.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false); }

.open > .dropdown-menu {
  display: block; }

.open > a {
  outline: 0; }

.dropdown-menu-right {
  right: 0;
  left: auto; }

.dropdown-menu-left {
  right: auto;
  left: 0; }

.dropdown-header {
  display: block;
  padding: 3px 20px;
  font-size: 12px;
  line-height: 1.42857143;
  color: #777;
  white-space: nowrap; }

.dropdown-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 990; }

.pull-right > .dropdown-menu {
  right: 0;
  left: auto; }

.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
  content: "";
  border-top: 0;
  border-bottom: 4px dashed;
  border-bottom: 4px solid \9; }

.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 2px; }

@font-face {
  font-family: 'Linearicons-Free';
  src: url("../fonts/Linearicons-Free.eot?w118d");
  src: url("../fonts/Linearicons-Free.eot?#iefixw118d") format("embedded-opentype"), url("../fonts/Linearicons-Free.woff2?w118d") format("woff2"), url("../fonts/Linearicons-Free.woff?w118d") format("woff"), url("../fonts/Linearicons-Free.ttf?w118d") format("truetype"), url("../fonts/Linearicons-Free.svg?w118d#Linearicons-Free") format("svg");
  font-weight: normal;
  font-style: normal; }
.lnr {
  font-family: 'Linearicons-Free';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.lnr-home:before {
  content: "\e800"; }

.lnr-apartment:before {
  content: "\e801"; }

.lnr-pencil:before {
  content: "\e802"; }

.lnr-magic-wand:before {
  content: "\e803"; }

.lnr-drop:before {
  content: "\e804"; }

.lnr-lighter:before {
  content: "\e805"; }

.lnr-poop:before {
  content: "\e806"; }

.lnr-sun:before {
  content: "\e807"; }

.lnr-moon:before {
  content: "\e808"; }

.lnr-cloud:before {
  content: "\e809"; }

.lnr-cloud-upload:before {
  content: "\e80a"; }

.lnr-cloud-download:before {
  content: "\e80b"; }

.lnr-cloud-sync:before {
  content: "\e80c"; }

.lnr-cloud-check:before {
  content: "\e80d"; }

.lnr-database:before {
  content: "\e80e"; }

.lnr-lock:before {
  content: "\e80f"; }

.lnr-cog:before {
  content: "\e810"; }

.lnr-trash:before {
  content: "\e811"; }

.lnr-dice:before {
  content: "\e812"; }

.lnr-heart:before {
  content: "\e813"; }

.lnr-star:before {
  content: "\e814"; }

.lnr-star-half:before {
  content: "\e815"; }

.lnr-star-empty:before {
  content: "\e816"; }

.lnr-flag:before {
  content: "\e817"; }

.lnr-envelope:before {
  content: "\e818"; }

.lnr-paperclip:before {
  content: "\e819"; }

.lnr-inbox:before {
  content: "\e81a"; }

.lnr-eye:before {
  content: "\e81b"; }

.lnr-printer:before {
  content: "\e81c"; }

.lnr-file-empty:before {
  content: "\e81d"; }

.lnr-file-add:before {
  content: "\e81e"; }

.lnr-enter:before {
  content: "\e81f"; }

.lnr-exit:before {
  content: "\e820"; }

.lnr-graduation-hat:before {
  content: "\e821"; }

.lnr-license:before {
  content: "\e822"; }

.lnr-music-note:before {
  content: "\e823"; }

.lnr-film-play:before {
  content: "\e824"; }

.lnr-camera-video:before {
  content: "\e825"; }

.lnr-camera:before {
  content: "\e826"; }

.lnr-picture:before {
  content: "\e827"; }

.lnr-book:before {
  content: "\e828"; }

.lnr-bookmark:before {
  content: "\e829"; }

.lnr-user:before {
  content: "\e82a"; }

.lnr-users:before {
  content: "\e82b"; }

.lnr-shirt:before {
  content: "\e82c"; }

.lnr-store:before {
  content: "\e82d"; }

.lnr-cart:before {
  content: "\e82e"; }

.lnr-tag:before {
  content: "\e82f"; }

.lnr-phone-handset:before {
  content: "\e830"; }

.lnr-phone:before {
  content: "\e831"; }

.lnr-pushpin:before {
  content: "\e832"; }

.lnr-map-marker:before {
  content: "\e833"; }

.lnr-map:before {
  content: "\e834"; }

.lnr-location:before {
  content: "\e835"; }

.lnr-calendar-full:before {
  content: "\e836"; }

.lnr-keyboard:before {
  content: "\e837"; }

.lnr-spell-check:before {
  content: "\e838"; }

.lnr-screen:before {
  content: "\e839"; }

.lnr-smartphone:before {
  content: "\e83a"; }

.lnr-tablet:before {
  content: "\e83b"; }

.lnr-laptop:before {
  content: "\e83c"; }

.lnr-laptop-phone:before {
  content: "\e83d"; }

.lnr-power-switch:before {
  content: "\e83e"; }

.lnr-bubble:before {
  content: "\e83f"; }

.lnr-heart-pulse:before {
  content: "\e840"; }

.lnr-construction:before {
  content: "\e841"; }

.lnr-pie-chart:before {
  content: "\e842"; }

.lnr-chart-bars:before {
  content: "\e843"; }

.lnr-gift:before {
  content: "\e844"; }

.lnr-diamond:before {
  content: "\e845"; }

.lnr-linearicons:before {
  content: "\e846"; }

.lnr-dinner:before {
  content: "\e847"; }

.lnr-coffee-cup:before {
  content: "\e848"; }

.lnr-leaf:before {
  content: "\e849"; }

.lnr-paw:before {
  content: "\e84a"; }

.lnr-rocket:before {
  content: "\e84b"; }

.lnr-briefcase:before {
  content: "\e84c"; }

.lnr-bus:before {
  content: "\e84d"; }

.lnr-car:before {
  content: "\e84e"; }

.lnr-train:before {
  content: "\e84f"; }

.lnr-bicycle:before {
  content: "\e850"; }

.lnr-wheelchair:before {
  content: "\e851"; }

.lnr-select:before {
  content: "\e852"; }

.lnr-earth:before {
  content: "\e853"; }

.lnr-smile:before {
  content: "\e854"; }

.lnr-sad:before {
  content: "\e855"; }

.lnr-neutral:before {
  content: "\e856"; }

.lnr-mustache:before {
  content: "\e857"; }

.lnr-alarm:before {
  content: "\e858"; }

.lnr-bullhorn:before {
  content: "\e859"; }

.lnr-volume-high:before {
  content: "\e85a"; }

.lnr-volume-medium:before {
  content: "\e85b"; }

.lnr-volume-low:before {
  content: "\e85c"; }

.lnr-volume:before {
  content: "\e85d"; }

.lnr-mic:before {
  content: "\e85e"; }

.lnr-hourglass:before {
  content: "\e85f"; }

.lnr-undo:before {
  content: "\e860"; }

.lnr-redo:before {
  content: "\e861"; }

.lnr-sync:before {
  content: "\e862"; }

.lnr-history:before {
  content: "\e863"; }

.lnr-clock:before {
  content: "\e864"; }

.lnr-download:before {
  content: "\e865"; }

.lnr-upload:before {
  content: "\e866"; }

.lnr-enter-down:before {
  content: "\e867"; }

.lnr-exit-up:before {
  content: "\e868"; }

.lnr-bug:before {
  content: "\e869"; }

.lnr-code:before {
  content: "\e86a"; }

.lnr-link:before {
  content: "\e86b"; }

.lnr-unlink:before {
  content: "\e86c"; }

.lnr-thumbs-up:before {
  content: "\e86d"; }

.lnr-thumbs-down:before {
  content: "\e86e"; }

.lnr-magnifier:before {
  content: "\e86f"; }

.lnr-cross:before {
  content: "\e870"; }

.lnr-menu:before {
  content: "\e871"; }

.lnr-list:before {
  content: "\e872"; }

.lnr-chevron-up:before {
  content: "\e873"; }

.lnr-chevron-down:before {
  content: "\e874"; }

.lnr-chevron-left:before {
  content: "\e875"; }

.lnr-chevron-right:before {
  content: "\e876"; }

.lnr-arrow-up:before {
  content: "\e877"; }

.lnr-arrow-down:before {
  content: "\e878"; }

.lnr-arrow-left:before {
  content: "\e879"; }

.lnr-arrow-right:before {
  content: "\e87a"; }

.lnr-move:before {
  content: "\e87b"; }

.lnr-warning:before {
  content: "\e87c"; }

.lnr-question-circle:before {
  content: "\e87d"; }

.lnr-menu-circle:before {
  content: "\e87e"; }

.lnr-checkmark-circle:before {
  content: "\e87f"; }

.lnr-cross-circle:before {
  content: "\e880"; }

.lnr-plus-circle:before {
  content: "\e881"; }

.lnr-circle-minus:before {
  content: "\e882"; }

.lnr-arrow-up-circle:before {
  content: "\e883"; }

.lnr-arrow-down-circle:before {
  content: "\e884"; }

.lnr-arrow-left-circle:before {
  content: "\e885"; }

.lnr-arrow-right-circle:before {
  content: "\e886"; }

.lnr-chevron-up-circle:before {
  content: "\e887"; }

.lnr-chevron-down-circle:before {
  content: "\e888"; }

.lnr-chevron-left-circle:before {
  content: "\e889"; }

.lnr-chevron-right-circle:before {
  content: "\e88a"; }

.lnr-crop:before {
  content: "\e88b"; }

.lnr-frame-expand:before {
  content: "\e88c"; }

.lnr-frame-contract:before {
  content: "\e88d"; }

.lnr-layers:before {
  content: "\e88e"; }

.lnr-funnel:before {
  content: "\e88f"; }

.lnr-text-format:before {
  content: "\e890"; }

.lnr-text-format-remove:before {
  content: "\e891"; }

.lnr-text-size:before {
  content: "\e892"; }

.lnr-bold:before {
  content: "\e893"; }

.lnr-italic:before {
  content: "\e894"; }

.lnr-underline:before {
  content: "\e895"; }

.lnr-strikethrough:before {
  content: "\e896"; }

.lnr-highlight:before {
  content: "\e897"; }

.lnr-text-align-left:before {
  content: "\e898"; }

.lnr-text-align-center:before {
  content: "\e899"; }

.lnr-text-align-right:before {
  content: "\e89a"; }

.lnr-text-align-justify:before {
  content: "\e89b"; }

.lnr-line-spacing:before {
  content: "\e89c"; }

.lnr-indent-increase:before {
  content: "\e89d"; }

.lnr-indent-decrease:before {
  content: "\e89e"; }

.lnr-pilcrow:before {
  content: "\e89f"; }

.lnr-direction-ltr:before {
  content: "\e8a0"; }

.lnr-direction-rtl:before {
  content: "\e8a1"; }

.lnr-page-break:before {
  content: "\e8a2"; }

.lnr-sort-alpha-asc:before {
  content: "\e8a3"; }

.lnr-sort-amount-asc:before {
  content: "\e8a4"; }

.lnr-hand:before {
  content: "\e8a5"; }

.lnr-pointer-up:before {
  content: "\e8a6"; }

.lnr-pointer-right:before {
  content: "\e8a7"; }

.lnr-pointer-down:before {
  content: "\e8a8"; }

.lnr-pointer-left:before {
  content: "\e8a9"; }

.make-logo {
  width: 80px;
  height: 67px;
  display: block;
  margin-right: 3rem;
  background-image: url("../images/logos/Maker-Share-Logo-BETA.svg");
  background-repeat: no-repeat;
  background-size: cover; }

.icon-search, .icon-search.nav-link {
  font-size: 3rem; }

.button, button {
  -webkit-appearance: none;
  background: #00AEEF;
  color: #fff;
  padding: 1rem 1.5rem;
  border: 0;
  font-size: 1.2rem;
  transition: background 0.3s ease;
  cursor: pointer; }
  .button:focus, button:focus {
    border: 0;
    box-shadow: none; }
  .button:hover, .button:active, button:hover, button:active {
    background: #006489; }
  .button.grey, .button.disabled, button.grey, button.disabled {
    background: #828282;
    cursor: not-allowed; }
    .button.grey:hover, .button.grey:active, .button.disabled:hover, .button.disabled:active, button.grey:hover, button.grey:active, button.disabled:hover, button.disabled:active {
      background: #828282; }
  .button.red, .button.warning, button.red, button.warning {
    background: #ED1C24; }
    .button.red:hover, .button.red:active, .button.warning:hover, .button.warning:active, button.red:hover, button.red:active, button.warning:hover, button.warning:active {
      background: #970c11; }

.badge {
  width: 3rem;
  height: 3.5rem;
  background-size: cover;
  background-repeat: no-repeat; }

.badge-awards {
  background-image: url("images/badges/awards.svg"); }

.badge-challenge-lover {
  background-image: url("images/badges/challenge-lover.svg"); }

.badge-challenge-winner {
  background-image: url("images/badges/challenge-winner.svg"); }

.badge-community-engagement {
  background-image: url("images/badges/community-engagement.svg"); }

.badge-community-manager {
  background-image: url("images/badges/community-manager.svg"); }

.badge-founding-member {
  background-image: url("images/badges/founding-member.svg"); }

.badge-maker-faire {
  background-image: url("images/badges/maker-faire.svg"); }

.badge-productivity {
  background-image: url("images/badges/productivity.svg"); }

.badge-role-model {
  background-image: url("images/badges/role-model.svg"); }

.flag {
  color: white;
  position: absolute;
  top: 1rem;
  left: 0;
  font-size: 1.8rem;
  text-transform: uppercase;
  padding: 1rem;
  line-height: 1rem; }
  .flag:after {
    content: ' ';
    width: 0;
    height: 0;
    border-top: 1.5rem solid transparent;
    border-bottom: 1.5rem solid transparent;
    left: 100%;
    position: absolute;
    top: 0px; }
  .flag.project {
    background-color: #00AEEF; }
    .flag.project:after {
      border-left: 1.25rem solid #00AEEF; }
  .flag.maker {
    background-color: #4f4f4f; }
    .flag.maker:after {
      border-left: 1.25rem solid #4f4f4f; }
  .flag.mission {
    background-color: #4f4f4f; }
    .flag.mission:after {
      border-left: 1.25rem solid #4f4f4f; }
  .flag.learn {
    background-color: #4f4f4f; }
    .flag.learn:after {
      border-left: 1.25rem solid #4f4f4f; }

.spinning-preloader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: -webkit-linear-gradient(top, #fff 0, #f2f2f2 100%) #f2f2f2;
  background: linear-gradient(to bottom, #fff 0, #f2f2f2 100%) #f2f2f2;
  -webkit-transition: opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1); }

.spinning-preloader-container > .spinning-preloader-elements,
.spinning-preloader-container > .spinning-preloader-elements:after,
.spinning-preloader-container > .spinning-preloader-elements:before {
  border: 3px solid transparent;
  border-radius: 50%; }

.spinning-preloader-container > .spinning-preloader-elements {
  display: block;
  width: 150px;
  height: 150px;
  border-top-color: #00AEEF;
  z-index: 1500;
  opacity: 1;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite; }

.spinning-preloader-container > .spinning-preloader-elements:after,
.spinning-preloader-container > .spinning-preloader-elements:before {
  content: '';
  position: absolute; }

.spinning-preloader-container > .spinning-preloader-elements:before {
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-top-color: #ED1C24;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite; }

.spinning-preloader-container > .spinning-preloader-elements:after {
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-top-color: #4F4F4F;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite; }

.spinning-preloader-container.complete {
  opacity: 0;
  display: none; }

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0); }
  to {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg); } }
@keyframes spin {
  from {
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0); }
  to {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg); } }
.test {
  position: fixed;
  top: calc(50% - 27px);
  left: calc(50% - 37px); }

.test img {
  width: 75px;
  height: auto;
  animation-name: cf3FadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-direction: alternate; }

@keyframes cf3FadeInOut {
  0% {
    opacity: 0.1; }
  /*10% {
      opacity: 0.1;
  }*/
  20% {
    opacity: 0.2; }
  /*30% {
      opacity: 0.3;
  }            */
  40% {
    opacity: 0.4; }
  /*50% {
      opacity: 0.5;
  }*/
  60% {
    opacity: 0.6; }
  /*70% {
      opacity: 0.7;
  }*/
  80% {
    opacity: 0.8; }
  /*90% {
      opacity: 0.9;
  }                */
  100% {
    opacity: 1; } }
.tootlbar-icon {
  padding: 0 14px; }

.tootlbar-spacer {
  flex: 1 1 auto; }

/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

.loading-component {
  position: absolute;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); }

.loading-component:before {
  display: none; }

/* :not(:required) hides these rules from IE9 and below */
.loading-component:not(:required),
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.loading-component:not(:required):after,
.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(213, 25, 32, 0.75) 1.5em 0 0 0, rgba(213, 25, 32, 0.75) 1.1em 1.1em 0 0, rgba(213, 25, 32, 0.75) 0 1.5em 0 0, rgba(213, 25, 32, 0.75) -1.1em 1.1em 0 0, rgba(213, 25, 32, 0.75) -1.5em 0 0 0, rgba(213, 25, 32, 0.75) -1.1em -1.1em 0 0, rgba(213, 25, 32, 0.75) 0 -1.5em 0 0, rgba(213, 25, 32, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(213, 25, 32, 0.75) 1.5em 0 0 0, rgba(213, 25, 32, 0.75) 1.1em 1.1em 0 0, rgba(213, 25, 32, 0.75) 0 1.5em 0 0, rgba(213, 25, 32, 0.75) -1.1em 1.1em 0 0, rgba(213, 25, 32, 0.75) -1.5em 0 0 0, rgba(213, 25, 32, 0.75) -1.1em -1.1em 0 0, rgba(213, 25, 32, 0.75) 0 -1.5em 0 0, rgba(213, 25, 32, 0.75) 1.1em -1.1em 0 0; }

/* Animation */
@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
app-feature {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9; }

.feature-container {
  background: #828282;
  cursor: pointer;
  padding: 1rem; }
  .feature-container .feature {
    font-size: 1.4rem;
    text-transform: uppercase;
    line-height: 1rem; }
  .feature-container.active, .feature-container:hover {
    background: #00AEEF; }

.badge-group {
  list-style: none; }
  .badge-group li, .badge-group .badge {
    display: inline-block; }

nav.primary, nav.secondary {
  display: flex; }
  nav.primary .nav-content, nav.secondary .nav-content {
    list-style: none;
    display: flex; }
  nav.primary .nav-item, nav.secondary .nav-item {
    display: flex;
    padding: 1.5rem;
    align-self: center;
    position: relative;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-backface-visibility: hidden; }
    nav.primary .nav-item:hover .nav-link, nav.secondary .nav-item:hover .nav-link {
      color: #4f4f4f; }
    nav.primary .nav-item.has-dropdown:hover .dropdown-menu, nav.secondary .nav-item.has-dropdown:hover .dropdown-menu {
      display: block;
      margin-top: 0; }

.nav-link {
  font-size: 2rem;
  color: #757575;
  transition: all 0.3s ease;
  cursor: pointer;
  padding: 0; }

nav.secondary {
  margin-left: auto; }

.social-stat i, .social-stat span, .social-stat .icon, .social-stat .info {
  display: inline-block;
  font-size: 1.2rem; }
.social-stat span.icon {
  font-weight: bold;
  color: #4f4f4f; }
.social-stat i.icon {
  width: 30px;
  height: 40px;
  color: #4f4f4f; }
.social-stat .info {
  color: #828282; }
.social-stat.right {
  float: right; }

.social-stat-group .social-stat, .social-stat-group li {
  display: inline-block;
  margin-right: 1rem; }

.card-owner-meta .card-owner-media, .card-owner-meta .card-owner-meta-info {
  float: left; }
.card-owner-meta .card-owner-meta-info {
  max-width: calc(100% - 60px - 2rem);
  width: 100%; }
.card-owner-meta .card-owner-media {
  width: 60px;
  height: auto;
  margin-right: 1rem; }
.card-owner-meta .card-title {
  font-size: 1.8rem;
  display: block;
  margin-bottom: 1rem; }
.card-owner-meta .card-owner-link {
  display: block; }
.card-owner-meta .card-meta-row {
  margin-bottom: .625rem;
  overflow: hidden; }
  .card-owner-meta .card-meta-row-description, .card-owner-meta .card-meta-row-icon {
    float: left; }
  .card-owner-meta .card-meta-row-icon {
    font-size: 1rem;
    margin-right: 0.25rem;
    width: 1.5rem;
    position: relative;
    top: 0;
    line-height: 1.35rem;
    padding-left: 1px; }
  .card-owner-meta .card-meta-row-description {
    max-width: calc(90% - 1.5rem); }

.profile-social-links {
  margin-top: 15px; }
  .profile-social-links .social-container {
    width: 20%; }
  .profile-social-links li {
    display: inline-block;
    text-align: center;
    vertical-align: top; }
  .profile-social-links i.fa-star {
    font-size: 12px;
    color: #00AEEF;
    display: none;
    margin-top: 5px; }
  .profile-social-links a.social {
    position: relative;
    text-align: center;
    padding: 15px;
    width: 35px;
    height: 35px;
    color: #FFFFFF;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    -khtml-border-radius: 20px 20px 20px 20px; }
    .profile-social-links a.social i {
      font-size: 1.1rem;
      position: absolute; }
  .profile-social-links a.social {
    margin: 5px 0;
    cursor: pointer;
    background: #4F4F4F;
    color: #fff; }
    .profile-social-links a.social.hackster, .profile-social-links a.social.instruct, .profile-social-links a.social.hackday {
      padding: 5px; }
    .profile-social-links a.social.github, .profile-social-links a.social.gitlab, .profile-social-links a.social.twitch, .profile-social-links a.social.stack {
      padding: 5px; }
      .profile-social-links a.social.github img, .profile-social-links a.social.gitlab img, .profile-social-links a.social.twitch img, .profile-social-links a.social.stack img {
        -webkit-filter: invert(1);
        filter: invert(1); }
    .profile-social-links a.social.twitch img {
      width: 80%;
      padding-top: 3px; }
    .profile-social-links a.social.thingy {
      padding: 5px; }
  .profile-social-links a.social:hover.fb {
    background-color: #014c8c; }
  .profile-social-links a.social:hover.tw {
    background-color: #33ccff; }
  .profile-social-links a.social:hover.pin {
    background-color: #cc2127; }
  .profile-social-links a.social:hover.ut {
    background-color: #cc2127; }
  .profile-social-links a.social:hover.ln {
    background-color: #014c8c; }
  .profile-social-links a.social:hover.in {
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%); }
  .profile-social-links a.social:hover.ext {
    background-color: #fff;
    border: 0.5px solid #4F4F4F; }
  .profile-social-links a.social:hover.github, .profile-social-links a.social:hover.gitlab, .profile-social-links a.social:hover.twitch, .profile-social-links a.social:hover.stack {
    background-color: #fff;
    border: 0.5px solid #4F4F4F; }
    .profile-social-links a.social:hover.github img, .profile-social-links a.social:hover.gitlab img, .profile-social-links a.social:hover.twitch img, .profile-social-links a.social:hover.stack img {
      -webkit-filter: invert(0);
      filter: invert(0); }
  .profile-social-links a.social:hover.hackster, .profile-social-links a.social:hover.instruct, .profile-social-links a.social:hover.hackday, .profile-social-links a.social:hover.thingy {
    background-color: #fff;
    border: 0.5px solid #4F4F4F; }
    .profile-social-links a.social:hover.hackster img, .profile-social-links a.social:hover.instruct img, .profile-social-links a.social:hover.hackday img, .profile-social-links a.social:hover.thingy img {
      -webkit-filter: invert(1);
      filter: invert(1); }

.main-header {
  padding: 0 !important;
  margin: 0 !important;
  color: #333333;
  width: 100vw;
  background-color: #f2f2f2;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  height: 110px; }
  .main-header .header-wrapper {
    margin: auto;
    width: 70vw;
    display: flex;
    padding: 2rem 0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-backface-visibility: hidden; }
  .main-header.shrink .header-wrapper {
    padding: 1rem 0; }
  .main-header.shrink .nav-item {
    padding-left: 1rem;
    padding-right: 1rem; }

.coming-soon {
  position: relative; }
  .coming-soon .coming-soon-text {
    position: absolute;
    font-size: 0.8rem;
    color: #ED1C24;
    right: 0;
    bottom: -1.8rem;
    text-transform: uppercase; }

footer {
  padding-top: 25px;
  padding-bottom: 25px;
  min-height: 35px;
  font-size: 14px;
  background: white;
  border-top: 5px solid #00AEEF; }
  footer .newsletter p {
    font-size: 0.65rem;
    color: #828282;
    line-height: 25px;
    margin-bottom: 0; }
  footer .footer-copyright {
    color: #828282; }
  footer .copy .first-logo-link {
    margin-right: 10px;
    position: relative; }
    footer .copy .first-logo-link span {
      color: #00AEEF;
      font-size: 10px;
      position: absolute;
      bottom: 0px;
      right: 4px; }
  footer .copy .second-logo-link {
    padding-left: 10px; }
  footer .copy .first-logo {
    width: 100px;
    max-width: 100px; }
  footer .copy .second-logo {
    width: 70px;
    max-width: 70px;
    height: 40px; }
  footer .copy .vertical-line {
    height: 17px;
    width: 1px;
    background-color: #828282;
    margin: 12px 5px 10px 7px; }
  footer .copy p {
    margin: 0;
    font-size: 12px;
    color: #4f4f4f; }
  footer .copy .copyright {
    padding-top: 8px; }
  footer .copy .logo-title {
    padding: 12px 0px 0px 4px;
    text-align: left;
    font-weight: bold;
    color: #818181; }
  footer a.nav-link {
    color: #4F4F4F;
    padding: 0; }
  footer .fa-stack-2x {
    font-size: 1.7em; }
  footer .fa-stack {
    position: relative;
    display: inline-block;
    width: 1.7em;
    height: 1.7em;
    line-height: 1.7em;
    vertical-align: middle; }
  footer .socials-newsletter div {
    padding-bottom: 4px; }
  footer .socials-newsletter .newsletter .input-group-addon {
    background: none;
    background-color: #00AEEF;
    color: white; }
  footer .footer-subtitle {
    color: #009ad4;
    font-size: 1.3em;
    width: 100%;
    padding-bottom: 4px;
    margin: 0px; }
  footer .sitemap-1 a, footer .sitemap-2 a {
    font-size: 1.1em;
    padding: 3px 0;
    color: #828282;
    line-height: 25px; }
  footer .footer-social-links a {
    position: relative;
    text-align: center;
    width: 0px;
    height: 0px;
    padding: 15px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    -khtml-border-radius: 20px 20px 20px 20px;
    color: #FFFFFF; }
    footer .footer-social-links a i {
      font-size: 1.1em;
      position: absolute;
      left: 0px;
      right: 0px;
      top: 11px; }
  footer .footer-social-links a.social {
    float: left;
    margin: 0 5px 0 0;
    cursor: pointer;
    background: #DCDCDC;
    color: #fff; }
  footer .footer-social-links a.social:hover.fb {
    background-color: #014c8c; }
  footer .footer-social-links a.social:hover.tw {
    background-color: #33ccff; }
  footer .footer-social-links a.social:hover.pin {
    background-color: #cc2127; }
  footer .footer-social-links a.social:hover.in {
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%); }

.card-wrapper {
  min-height: calc(100% + 2rem);
  margin-bottom: 2rem; }

.card {
  background: #fff;
  width: 100%;
  overflow: hidden;
  position: relative;
  min-height: 100%; }
  .card * {
    transition: all 0.6s ease;
    -webkit-backface-visibility: hidden; }
  .card .card-image-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden; }
    .card .card-image-grid app-maker-photo {
      flex: 0 33.3333%; }
      .card .card-image-grid app-maker-photo img {
        width: 100%;
        height: auto; }
  .card .card-image, .card .info-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-size: cover;
    background-position: 100% 75%;
    transition: background-color 0.3s ease;
    background-repeat: no-repeat;
    background-color: transparent;
    cursor: pointer; }
    .card .card-image.alt, .card .info-top.alt {
      opacity: 0;
      transition: opacity 1.3s ease; }
    .card .card-image:hover .alt, .card .info-top:hover .alt {
      background-color: rgba(0, 174, 239, 0.55);
      background-blend-mode: overlay;
      opacity: 1; }
    .card .card-image:hover .card-description-long, .card .info-top:hover .card-description-long {
      opacity: 1;
      pointer-events: initial; }
  .card .card-info {
    background: white;
    border: 0px; }
  .card .badge-group {
    position: absolute;
    top: 1rem;
    right: 1rem; }
  .card .info-bottom {
    padding: 3.5rem 1rem; }
  .card .info-top {
    color: #fff; }
    .card .info-top .flex-text-container {
      display: flex;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      padding-left: 1rem;
      right: 0;
      padding-right: 1rem;
      align-content: center;
      color: #fff;
      cursor: pointer; }
    .card .info-top .card-description-long {
      position: absolute;
      opacity: 0;
      transition: opacity 0.5s ease;
      pointer-events: none;
      font-size: 2rem;
      line-height: 2.5rem;
      align-self: center; }
      .card .info-top .card-description-long p {
        font-size: 2rem;
        line-height: 2.5rem; }

.profile-container .card.maker {
  min-height: 0; }

.card.tall, .card.grid, .card.showcase.tall {
  padding-top: 80%; }
  .card.tall .card-image, .card.tall .info-top, .card.grid .card-image, .card.grid .info-top, .card.showcase.tall .card-image, .card.showcase.tall .info-top {
    padding-bottom: 80%; }
  .card.tall .badge-group, .card.grid .badge-group, .card.showcase.tall .badge-group {
    bottom: -2.275rem;
    left: 1rem;
    right: initial;
    top: initial; }
  .card.tall .social-stat-group, .card.grid .social-stat-group, .card.showcase.tall .social-stat-group {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    width: calc(100% - 2rem); }
  .card.tall .card-description-long, .card.tall .card-description-long p, .card.grid .card-description-long, .card.grid .card-description-long p, .card.showcase.tall .card-description-long, .card.showcase.tall .card-description-long p {
    font-size: 1.5rem;
    line-height: 1.7rem; }
.card.showcase.tall .card-image .maker-photo {
  opacity: 0.6; }
.card.wide, .card.showcase:not(.tall) {
  padding-top: 56.25%; }
  .card.wide .card-image, .card.wide .info-top, .card.showcase:not(.tall) .card-image, .card.showcase:not(.tall) .info-top {
    padding-bottom: 56.25%; }
  .card.wide .info-bottom, .card.showcase:not(.tall) .info-bottom {
    padding: 1rem; }
    .card.wide .info-bottom:hover .card-owners-group, .card.showcase:not(.tall) .info-bottom:hover .card-owners-group {
      left: -1rem; }
  .card.wide .card-owner-media, .card.showcase:not(.tall) .card-owner-media {
    display: none; }
  .card.wide .card-owner-meta, .card.showcase:not(.tall) .card-owner-meta {
    position: relative; }
  .card.wide .card-owners-group, .card.showcase:not(.tall) .card-owners-group {
    background: #fff;
    position: absolute;
    left: -100%;
    bottom: 100%;
    padding: 1rem;
    transition: all 0.5s ease; }
    .card.wide .card-owners-group .card-owner-link, .card.showcase:not(.tall) .card-owners-group .card-owner-link {
      margin-bottom: .625rem; }
  .card.wide .card-owner-meta .card-title, .card.showcase:not(.tall) .card-owner-meta .card-title {
    margin-bottom: 0; }
  .card.wide .social-stat-group, .card.showcase:not(.tall) .social-stat-group {
    float: right;
    margin-top: -1.2rem; }
.card.mission.wide {
  padding-top: 0; }
  .card.mission.wide .info-top {
    width: 45%; }
  .card.mission.wide .card-info {
    margin-left: 45%;
    width: 55%;
    padding-bottom: 56.25%;
    height: 0; }
  .card.mission.wide .info-bottom {
    padding: 3rem; }
  .card.mission.wide .card-title {
    margin-bottom: 1.5rem; }
  .card.mission.wide .social-stat-group {
    position: absolute;
    bottom: 1.5rem;
    left: calc(45% + 3rem);
    width: 55%; }
  .card.mission.wide .card-image {
    width: 45%;
    left: 0;
    padding-bottom: 0;
    height: 100%; }
    .card.mission.wide .card-image.alt {
      width: 100%; }
.card.mission.tall {
  padding-top: 56.25%; }
  .card.mission.tall .card-image {
    padding-bottom: 56.25%; }
  .card.mission.tall .info-bottom {
    position: relative;
    padding-top: 5rem; }
  .card.mission.tall .social-stat-group {
    margin-top: 2.5rem; }
.card.mission.short .card-description-long {
  display: none; }
.card.short:hover .card-image {
  opacity: 0.3; }
.card.short .card-image {
  height: 100%;
  z-index: 0;
  opacity: 0.1;
  transition: all 0.3s ease; }
.card.short .card-info {
  z-index: 1;
  position: relative; }
.card.short .badge-group {
  top: 0;
  right: 0; }
.card.short .info-bottom {
  padding-top: 5.25rem;
  padding-bottom: 0.5rem; }
.card.short .card-description-long {
  display: none; }
.card.short .social-stat-group {
  margin-top: 1.5rem; }
.card.maker.short .card-image {
  height: 0; }
.card.maker.tall .card-owner-meta .card-owner-media {
  display: none; }
.card.maker.tall .card-owner-link, .card.maker.short .card-owner-link {
  margin-bottom: 0.5rem;
  font-size: 1.8rem;
  line-height: 2rem; }

.card.mission {
  background: #333333;
  color: #fff; }
  .card.mission .card-mission-sponsor {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem; }
  .card.mission .card-owner-meta .card-owner-meta-info {
    max-width: 100%; }
  .card.mission .card-description-long {
    display: block;
    opacity: 1; }
  .card.mission .card-info {
    background: transparent; }

.user-menu .profile-photo {
  width: 3.5rem;
  height: 3.5rem; }
.user-menu .dropdown-toggle {
  line-height: 0; }

.dropdown-menu {
  padding: 2rem; }

.main-container {
  padding-top: 117px; }

.profile-view-control-container {
  margin-top: -2.7rem;
  position: relative;
  padding-bottom: 0.7rem;
  overflow: hidden; }
  .profile-view-control-container i {
    font-size: 2rem;
    cursor: pointer;
    float: right; }

.left-section {
  border-right: 1px solid #828282; }

.profile-info {
  margin-top: 2rem; }

.col-lg-4 {
  max-width: initial;
  display: flex;
  margin-bottom: 4rem; }
  .col-lg-4 .card-wrapper {
    width: 100%; }

.info-w-parallax {
  height: 910px;
  position: relative; }
  @media screen and (max-width: 767px) {
    .info-w-parallax {
      height: auto; } }
  .info-w-parallax .container {
    padding-top: 15px;
    padding-bottom: 15px; }
  .info-w-parallax .info-card {
    background-color: #fff;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);
    padding: 17px 20px 17px;
    margin-top: 15px !important;
    margin-bottom: 15px !important;
    max-width: 600px;
    margin: 0 auto; }
    @media screen and (max-width: 767px) {
      .info-w-parallax .info-card {
        padding: 15px 15px 40px; } }
    .info-w-parallax .info-card h2 {
      text-align: center; }
    .info-w-parallax .info-card h3 {
      text-align: center;
      line-height: 110%;
      color: #4F4F4F;
      font-family: 'Messina Modern Regular'; }
    .info-w-parallax .info-card p {
      color: #4F4F4F;
      font-weight: 300; }
    .info-w-parallax .info-card .button-container-onboarding {
      text-align: center;
      margin-top: 24px; }
      .info-w-parallax .info-card .button-container-onboarding .project-add {
        width: 170px !important; }
      .info-w-parallax .info-card .button-container-onboarding .btn-main {
        width: 167px !important;
        padding: 15px 0px;
        font-family: "Messina Sans Regular";
        font-size: 1.3rem;
        font-weight: 400;
        line-height: 110%;
        color: #828282;
        font-size: 1rem;
        color: #fff !important; }
        .info-w-parallax .info-card .button-container-onboarding .btn-main::before {
          content: "+";
          font-size: 1rem;
          position: relative;
          top: -1px;
          right: 6px; }

.parallax-bg {
  width: 100%;
  overflow: hidden;
  display: block;
  position: relative; }
  .parallax-bg > img {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: relative;
    z-index: 1; }
    @media screen and (max-width: 767px) {
      .parallax-bg > img {
        position: absolute; } }
  .parallax-bg .parallax-container {
    z-index: 3;
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    top: 0; }
    @media screen and (max-width: 767px) {
      .parallax-bg .parallax-container {
        position: relative; } }

.parallax-red-line {
  position: relative; }
  .parallax-red-line .parallax-red-line-left {
    position: absolute;
    z-index: 3;
    height: 360px;
    width: 25px;
    background-color: transparent;
    background: transparent;
    border-top: 3px solid #EC1F30;
    border-bottom: 3px solid #EC1F30;
    border-left: 3px solid #EC1F30;
    left: 60px;
    top: -180px; }
    @media screen and (min-width: 992px) and (max-width: 1199px) {
      .parallax-red-line .parallax-red-line-left {
        left: 40px; } }
    @media screen and (min-width: 768px) and (max-width: 991px) {
      .parallax-red-line .parallax-red-line-left {
        left: -30px; } }
    @media screen and (min-width: 576px) and (max-width: 767px) {
      .parallax-red-line .parallax-red-line-left {
        left: -15px; } }
    @media screen and (max-width: 575px) {
      .parallax-red-line .parallax-red-line-left {
        display: none; } }
  .parallax-red-line .parallax-red-line-right {
    position: absolute;
    z-index: 3;
    height: 290px;
    width: 25px;
    background-color: transparent;
    background: transparent;
    border-top: 3px solid #EC1F30;
    border-bottom: 3px solid #EC1F30;
    border-right: 3px solid #EC1F30;
    top: -130px;
    right: 60px; }
    @media screen and (min-width: 992px) and (max-width: 1199px) {
      .parallax-red-line .parallax-red-line-right {
        right: 40px;
        left: initial; } }
    @media screen and (min-width: 768px) and (max-width: 991px) {
      .parallax-red-line .parallax-red-line-right {
        right: -30px;
        left: initial; } }
    @media screen and (min-width: 576px) and (max-width: 767px) {
      .parallax-red-line .parallax-red-line-right {
        right: -30px;
        left: initial; } }
    @media screen and (max-width: 575px) {
      .parallax-red-line .parallax-red-line-right {
        display: none; } }

/*# sourceMappingURL=style.css.map */
