<section class="container homeHero">
  <h2>Make what you love. Share what you make.</h2>
  <div id="homeBanner">
    <div class="text-center">
      <button class="button" (click)="auth.Auth0Login()">Share Your Project</button>
      <div class="homeHeroGradient">
        <h1>Connect with other makers. Find inspiration.</h1>
      </div>
    </div>
  </div>
</section>

<!-- <section class="what-is-ms p-0 mt-4 mb-5" *ngIf="!auth.authenticated()">
  <div class="container">
    <h1 class="big">Explore Maker Share</h1>
  </div>
</section> -->
