<section class="container padded">
  <div id="homeBanner" class="text-center mx-auto">
    <h2>Welcome to Maker Share</h2>
    <h1>A community of makers sharing what they can do.</h1>
    <img src="./assets/images/makers_intro.png"
         alt=""
         class="img-fluid pt-4 pb-4"/>
    <div *ngIf="!auth.authenticated()"
         class="button-container-main-1">
      <button class="button"
              (click)="openLogin()">Add a Project
      </button>
    </div>
  </div>
</section>

<section class="parallax-scroll">
  <div class="info-w-parallax parallax-bg">
    <img src="assets/images/Home-Page-Science-Drawing.jpg"
         alt="Science drawing background"/>
    <div class="parallax-container">
      <div class="container padded-half">
        <div *ngFor="let infoCard of infoCards" class="row">
          <div class="col-12 offset-lg-1 col-lg-10 offset-xl-2 col-xl-8 add-animation">
            <div class="info-card">
              <h2>{{infoCard.title}}</h2>
              <h3>{{infoCard.subtitle}}</h3>
              <p *ngIf="infoCard.description"
                 [innerHTML]="infoCard.description"></p>
              <div class="button-container-onboarding"
                   *ngIf="infoCard.action && infoCard.button">
                <button class="button"
                        (click)="infoCard.action()">{{infoCard.button}}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="padded">
  <div class="container">
    <h2>A Project By:</h2>
    <div class="row">
      <div class="col-12 mt-3 mb-4 inline-logos d-flex align-items-center justify-content-center">
        <a href="http://www.makezine.com"
           target="_blank">
          <img src="./assets/images/logos/make-logo.png"
               alt="Maker Share Logo"/>
        </a>
        <span class="vertical-line -large"></span>
        <a href="https://www.intel.com"
           target="_blank">
          <img src="./assets/images/logos/intel-logo.png"
               alt="Intel logo"/>
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <h5>Make: and Intel</h5>
        <h5>supporting innovation and collaboration among Makers around the world.</h5>
      </div>
    </div>
  </div>
</section>
<section class="what-is-ms p-0 mt-4 mb-5"
         *ngIf="!auth.authenticated()">
  <div class="container">
    <h1 class="big">Explore Maker Share</h1>
  </div>
</section>
