<div class="page-explore">
  <div class="container">
    <header class="explore-header">
      <div class="container">
        <h3>Projects</h3>
        <div class="filters-group">
          <div class="dropdown-group">
            <i class="dropdownIcon lnr lnr-chevron-down"></i>
            <select class="shadowed explore-tags" (change)="selectParent($event.target.value)">
              <option value="0" disabled>Filter By</option>
              <option value="1">All Projects</option>
              <option *ngFor="let parent of categories_parents;let i = index" value="{{parent.tid}}" [innerHTML]="parent.name">
              </option>
            </select>
          </div>
          <div class="filters">
            <div class="dropdown-group">
              <i class="dropdownIcon lnr lnr-chevron-down"></i>
              <select class="shadowed explore-tags sorting-filter" id="filter-projects" (change)="sortProjects($event.target.value)">
                <option value="0" class="btn" disabled>Sort By</option>
                <option value="1" class="btn">Most recent</option>
                <option value="2" class="btn">Oldest</option>
                <option value="3" class="btn">Title A-Z</option>
                <option value="4" class="btn">Title Z-A</option>
                <option value="5" class="btn">Most liked</option>
                <option value="6" class="btn">Most viewed</option>
              </select>
            </div>
          </div>
          <div class="filters projects-counter">
            <div class="entries-count btn" *ngIf="!nameCat">
              <p *ngIf="countProject > 1">{{countProject}} Projects</p>
              <p *ngIf="countProject < 2">{{countProject}} Project</p>                
            </div>
          </div><!-- End filters -->
        </div>
        <div class="submenus" *ngIf="childCategory.length>0">
          <ul class="list-unstyled cat-filters">
            <li class="cat-filter-item" *ngFor="let term of childCategory;let i = index">
              <a [ngClass]="{'active':CurrentActiveChildIndex == i}" (click)="CurrentActiveChildIndex = i;idCategory(term);projectsById($event);"
                class="btn btn-category" data-id="{{term.tid}}" [innerHTML]="term.name"></a>
            </li>
          </ul>
        </div>
      </div>
    </header>
    <div class="projects-grid row" *ngIf="projects.length > 0">
      <app-project-card *ngFor="let project of projects" [view]="view" [nid]="project.nid" class="col-md-6 col-lg-4 pull-left"></app-project-card>
    </div>
    <div class="text-center pt-3 pb-5" *ngIf="!hideloadmoreproject && projects.length > 0 ">
      <div *ngIf="!hideloadmoreproject && projects.length > 0 ">
        <a class="btn btn-load-more" (click)="loadMoreProject()">Load more</a>
      </div>
    </div>
  </div>
</div>
<!-- End region-content -->