<div class="page-explore">
  <div class="container">
    <header class="explore-header">
      <div class="container">
        <h3>Projects</h3>
        <h6>FILTER BY TOPIC:</h6>
        <ul class="list-unstyled explore-tags hidden-sm-down">
          <li *ngFor="let parent of categories_parents;let i = index">
            <a (click)="CurrentActiveParentIndex = i;CurrentActiveChildIndex = -1" [ngClass]="{'active':CurrentActiveParentIndex == i}"
              class="btn btn-border" id="parent_{{parent.tid}}" [innerHTML]="parent.name"></a>
          </li>
        </ul>
        <div class="submenus hidden-sm-down">
          <div *ngFor="let parent of categories_parents">
            <ul class="list-unstyled parent_{{parent.tid}}">
              <li *ngFor="let term of categories_childs;let i = index">
                <a *ngIf="term.parent_tid == parent.tid" [ngClass]="{'active':CurrentActiveChildIndex == i}" (click)="CurrentActiveChildIndex = i;idCategory(term);projectsById($event.target.id);"
                  class="btn btn-border" data-id="{{term.tid}}" [innerHTML]="term.name"></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="navbar hidden-md-up filter-mobile-menu">
          <div class="navbar-inner">
            <div class="container">
              <a class="btn btn-navbar btn-load-more btn mb-3" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="icon-bar">Filters</span>
                <i class="fa fa-lg fa-angle-down"></i>
              </a>
              <div class="nav-collapse collapse navbar-responsive-collapse filter-mainmenu">
                <ul class="list-unstyled">
                  <li class="dropdown men parent-item btn btn-load-more mb-2" *ngFor="let parent of categories_parents;let i = index"><span [ngClass]="{'active':CurrentActiveParentIndex == i}" (click)="CurrentActiveParentIndex=i;CurrentActiveChildIndex=-1"
                      class="dropdown-toggle parent-item" data-toggle="dropdown" [innerHTML]="parent.name"><b class="caret"></b></span>
                    <ul class="dropdown-menu filter-submenu">
                      <li class="dropdown-submenu men" *ngFor="let term of categories_childs;let i = index"><span *ngIf="term.parent_tid == parent.tid" [ngClass]="{'active':CurrentActiveChildIndex == i}" (click)="CurrentActiveChildIndex=i;projectsById($event.target.id);idCategory(term);ChangeClassActive(i,$event)"
                          data-id="{{term.tid}}" (click)="idCategory(term)" class="child-item btn" data-toggle="dropdown" [innerHTML]="term.name"></span></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="filters">
          <div class="container">
            <!--hide in mobiles screens-->
            <div class="row justify-content-end align-items-center hidden-xs-down">
              <div class="entries-count btn" *ngIf="!nameCat">
                <p *ngIf="countProject > 1">{{countProject}} Projects</p>
                <p *ngIf="countProject < 2">{{countProject}} Project</p>
              </div>
              <div class="entries-count btn pr-1" *ngIf="nameCat">
                <p *ngIf="countProject > 1">{{countProject}} Projects:</p>
                <p *ngIf="countProject < 2">{{countProject}} Project:</p>
              </div>
              <div class="entries-count btn name-cate pl-1" *ngIf="nameCat">
                <p *ngIf="nameCat" [innerHTML]="nameCat"></p>
              </div>
              <div class="entries-count btn all-project">
                <a (click)="allProject()">All Projects</a>
              </div>
              <div class="sorting-filter dropdown">
                <button class="btn btn-transparent dropdown-toggle" type="button" id="filter-projects" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
                  {{ActionName}} <i class="fa fa-lg fa-angle-down"></i>
                  </button>
                <div class="dropdown-menu" aria-labelledby="filter-projects">
                  <a class="dropdown-item" (click)="mostRecent()" class="btn">Most recent</a>
                  <a class="dropdown-item" (click)="oldest()" class="btn">Oldest</a>
                  <a class="dropdown-item" (click)="sortAsc()" class="btn">Title A-Z</a>
                  <a class="dropdown-item" (click)="sortDesc()" class="btn">Title Z-A</a>
                  <a class="dropdown-item" (click)="mostLiked()" class="btn">Most liked</a>
                  <a class="dropdown-item" (click)="mostViewed()" class="btn">Most viewed</a>
                  <!--<a class="dropdown-item" (click)="mostFeatured()" class="btn">Featured</a>-->
                  <!--<a class="dropdown-item" (click)="mostForked()" class="btn">Most forked</a>-->
                </div>
              </div>
            </div>

            <!--show on mobile screens-->
            <div class="row hidden-sm-up d-flex flex-column">
              <div class="entries-count btn" *ngIf="!nameCat">
                <p *ngIf="countProject > 1">{{countProject}} Projects</p>
                <p *ngIf="countProject < 2">{{countProject}} Project</p>
              </div>
              <div class="entries-count btn pr-1" *ngIf="nameCat">
                <p *ngIf="countProject > 1">{{countProject}} Projects:</p>
                <p *ngIf="countProject < 2">{{countProject}} Project:</p>
              </div>
              <div class="entries-count btn name-cate pl-1" *ngIf="nameCat">
                <p *ngIf="nameCat" [innerHTML]="nameCat"></p>
              </div>
              <div class="entries-count btn all-project">
                <a (click)="allProject()">All Projects & Showcases</a>
              </div>
              <div class="sorting-filter dropdown">
                <button class="btn btn-transparent dropdown-toggle" type="button" id="filter-projects" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
                  {{ActionName}} <i class="fa fa-lg fa-angle-down"></i>
                  </button>
                <div class="dropdown-menu" aria-labelledby="filter-projects">
                  <a class="dropdown-item" (click)="mostRecent()" class="btn">Most recent</a>
                  <a class="dropdown-item" (click)="oldest()" class="btn">Oldest</a>
                  <a class="dropdown-item" (click)="sortAsc()" class="btn">Title A-Z</a>
                  <a class="dropdown-item" (click)="sortDesc()" class="btn">Title Z-A</a>
                  <a class="dropdown-item" (click)="mostLiked()" class="btn">Most liked</a>
                  <a class="dropdown-item" (click)="mostViewed()" class="btn">Most viewed</a>
                  <!--<a class="dropdown-item" (click)="mostForked()" class="btn">Most forked</a>-->
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End filters -->
      </div>
    </header>
    <!--/    <div class="text-center pt-3 pb-5">
      <div *ngIf="!hideLoadMore">
        <a class="btn btn-load-more" *ngIf="projects.length != 0" (click)="loadMoreProject()">Load more</a>
      </div>
    </div>header -->
    <div class="projects-grid row" *ngIf="projects.length > 0">
      <div *ngFor="let project of projects" class="col-md-6 col-lg-4 pull-left">
        <app-project-card *ngIf="project.type=='Project'" [view]="view" [nid]="project.nid"></app-project-card>
        <div class="showcase-card-backlayer-home" *ngIf="project.type=='Showcase'">
          <div class="showcase-card-backlayer-home-2">
            <app-showcase-gen-card *ngIf="project.type=='Showcase'" [showcaseNid]="project.nid"></app-showcase-gen-card>
          </div>
        </div>
      </div>
    </div>
    <!--<div *ngIf="projects.length == 0">
      <h4 class="text-center w-100 pt-5">There are no projects to show</h4>
    </div>-->
    <div class="text-center pt-3 pb-5" *ngIf="!hideloadmoreproject && projects.length > 0  && idcat==-1 ">
      <div *ngIf="!hideloadmoreproject && projects.length > 0 ">
        <a class="btn btn-load-more" (click)="loadMoreProject()">Load more</a>
      </div>
    </div>
      <!--<div class="text-center pt-3 pb-5" *ngIf="!hideloadmoreproject && idcat==-1">
      <div>
        <a class="btn btn-load-more" (click)="loadMoreProject()">Load more All PROJECT</a>
      </div>
    </div>-->
    <div class="text-center pt-3 pb-5" *ngIf="!hideloadmoreprojectbycategory && projects.length > 0 && idcat && CurrentActiveChildIndex!=-1 ">
      <div *ngIf="!hideloadmoreprojectbycategory && projects.length > 0 ">
        <a class="btn btn-load-more" (click)="loadMoreProjectBycategory()">Load more</a>
      </div>
    </div>

  </div>
</div>
<!-- End region-content -->