<div *ngIf="projectAuthor != userId">
  <a class="report" *ngIf="!isReported" (click)="open(content)">Report this Project</a>
  <p *ngIf="isReported"> Project has been reported </p>
</div>
<template id="model" #content let-c="close" let-d="dismiss" ngbModalContainer>
  <div class="modal-report">
    <div class="modal-header">
      <button type="button" class="close ml-auto" aria-label="Close" (click)="d('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
    </div>
    <div class="modal-body container">
      <div class="row">
        <div class="col-md-12">
          <h4 class="modal-title">Select a reason for reporting this project.</h4>
        </div>
        <div class="col-md-12">
          <form class="row" [formGroup]="reportForm">
            <div class="form-group col-md-6">
              <select class="form-control" #item (change)="updateSelectedReason($event)" formControlName="field_reason_reporting">
                <option [value]="none" selected disabled>Select a reason</option>
                <option value="not_safe">Not safe for work</option>
                <option value="hate_language">Uses hate language</option>
                <option value="copyright">Violates a copyright</option>
                <option value="misleading">Includes misleading or unsafe project advice</option>
                <option value="other">Other</option>
            </select>
            </div>
            <div class="form-group col-md-12">
              <textarea class="w-100 p-2" placeholder="Explain the problem in more detail" cols="50" rows="6" formControlName="field_appropriate_for_response"></textarea>
            </div>
          </form>
        </div>
        <div *ngIf="error" class="alert alert-danger error-msg">
          {{error}}
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <ul class="list-unstyled actions">
        <li>
          <!--<a style="color: black" (click)="c('Close click')" >Cancel</a>-->
          <div class="enter-form-buttons d-flex">
            <div class="ml-auto">
              <button #closebtn type="button" class="btn btn-load-more" (click)="c('Close click')">Close</button>
              <button *ngIf="selectedReasonName" type="button" class="btn btn-load-more" [disabled]="!reportForm.valid" (click)="onSubmit($event)"
                (click)="c('Close click')">Submit</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>