<div class="button-container-sec-2" *ngIf="ButtonFollow">
  <a class="btn btn-main-2" (click)="followThis($event)" [class.active]="!isFollowed">{{ButtonFollow}}</a>
</div>
<div *ngIf="countFollowers">
  <span (click)="follower(contentfollower)">{{countFollowers}} Followers</span>
</div>
<div *ngIf=" countFollowing">
  <span (click)="following(contentfollowing)">{{countFollowing}} Following</span>
</div>
<ng-template #contentfollower let-c="close" let-d="dismiss" class="like-modal">
  <div class="model-likes">
    <div class="modal-header">
      <span *ngIf="countFollowers == 0">{{countFollowers}} Follower</span>

      <span *ngIf="countFollowers == 1">{{countFollowers}} Follower</span>
      <span *ngIf="countFollowers > 1">{{countFollowers}} Followers</span>

      <button type="button" class="close ml-auto" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body" *ngIf="whoFollow">
      <div class="model-likes">
        <span *ngFor="let follow of whoFollow; "> 
       <img *ngIf="follow?.default_profile_photo && follow.profile_url " class="like-photo" src="{{follow?.default_profile_photo}}" (click)="goToProfile(follow.profile_url)" (click)="d('Cross click')">
       <span *ngIf="follow?.default_profile_photo && follow.profile_url " class="new-tooltiptext like-name">
          {{follow?.first_name}} {{follow?.last_name}} </span><br>



        </span>
      </div>
      <div class="text-center pt-3 pb-5" *ngIf="!hideloadmorefollow && whoFollow.length > 0 ">
          <a class="btn btn-load-more" (click)="loadMoreFollow()">Load more</a>
        
      </div>
    </div>
    <div class="modal-footer">
      <div class="list-unstyled actions d-flex flex-row">
      </div>
    </div>
  </div>
</ng-template>

<ng-template #contentfollowing let-c="close" let-d="dismiss" class="like-modal">
  <div class="model-likes">
    <div class="modal-header">
      <span *ngIf="countFollowing == 1">{{countFollowing}} Following</span>
      <span *ngIf="countFollowing > 1">{{countFollowing}} Following</span>

      <button type="button" class="close ml-auto" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body" *ngIf="whoFollowing">
      <div class="model-likes">
        <span *ngFor="let following of whoFollowing; "> 
       <img *ngIf="following?.portfolio_photo && following.profile_url " class="like-photo" src="{{following?.portfolio_photo}}" (click)="goToProfile(following.profile_url)" (click)="d('Cross click')"><span *ngIf="following?.portfolio_photo && following.profile_url " class="new-tooltiptext like-name"> {{following?.first_name}} {{following?.last_name}} </span><br>
        <img *ngIf="!following?.portfolio_photo && following.profile_url " class="like-photo" src="./assets/images/Gears-Grey.svg"
          (click)="goToProfile(following.profile_url)" (click)="d('Cross click')"><span *ngIf="!following?.portfolio_photo && following.profile_url "
          (click)="goToProfile(following.profile_url)" (click)="d('Cross click')" class="new-tooltiptext like-name"> {{following?.first_name}} {{following?.last_name}} </span><br>


        </span>
      </div>
      <div class="text-center pt-3 pb-5" *ngIf="!hideloadmorefollowing && whoFollowing.length > 0 ">
          <a class="btn btn-load-more" (click)="loadMoreFollowing()">Load more</a>
      </div>
    </div>
    <div class="modal-footer">
      <div class="list-unstyled actions d-flex flex-row">
      </div>
    </div>
  </div>
</ng-template>