.card {
  &.showcase {
    margin-bottom: 10px;
    overflow: initial;
    border-radius: 0;
    position: relative;
    background-color: white;
    cursor: pointer;

    &.full {
      &.single-view {
        .card-info {
          width: 100%;
          margin-left: 0;
          .info-top {
            position: relative;
            float: left;
          }
          .info-bottom {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          }
        }
        .card-image {
          padding-bottom: 0;
        }
      }
    }

    .info-bottom {
      .card-owner-meta {
        .card-owner-meta-info {
          h3.card-title {
            font-size: 4.1rem;
            line-height: 5rem;
            text-align: left;
          }
        }
      }
    }

    .social-stat-group {
      width: calc(66% - 2 * 1.6rem);
      position: absolute;
      bottom: 0;
      .stats-list {
        div {
          float: left;
          min-width: 6rem;
        }
      }
    }
  }
}