// ///////////////////
// card organism
@import "variables";
// ///////////////////

.card-wrapper {
  min-height: calc(100% + 2rem);
  margin-bottom: 2rem;
}

.card {
  background: $white;
  width: 100%;
  overflow: hidden;
  position: relative;
  min-height: 100%;
  //cursor: default;
  //pointer-events: none;

  * {
    transition: all 0.6s ease;
    -webkit-backface-visibility: hidden;
  }

  // Allow CTA
  &.allow-cta {
    cursor: pointer;
    pointer-events: auto;
  }

  // ///////////////
  // Image Container
  .image-container {
    overflow: hidden;
    position: relative;
    padding: 0;
    width: 100%;
    height: auto;
    img {
      width: 100%;
      height: auto;
      vertical-align: middle;
    }
  }
  // ///////////////

  // //////////////
  /////
  // card image
  .card-image-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
    app-maker-photo {
      flex: 0 33.3333%;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  .card-image, .info-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-size: cover;
    background-position: 100% 75%;
    transition: background-color 0.3s ease;
    background-repeat: no-repeat;
    background-color: transparent;
    cursor: pointer;

    &.alt { // card-image selector plus alt
      opacity: 0;
      transition: opacity 1.3s ease;
    }

    &:hover {
      .alt { // child .alt of .info-top
        background-color: $card-hover;
        background-blend-mode: overlay;
        opacity: 1;
      }
      .card-description-long {
        opacity: 1;
        pointer-events: initial;
      }
    }
  }
  // ///////////////////

  // ///////////////////
  // card info (just to override bootstrap)
  // ///////////////////
  .card-info {
    background: white;
    border: 0;
  }

  // ///////////////////
  // badges
  .badge-group {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
  // ///////////////////

  // ///////////////////
  // info bottom
  .info-bottom {
    padding: $badge-height 1rem 1.5rem;
  }
  // ///////////////////

  // ///////////////////
  // info top
  .info-top {
    color: $white;
    .flex-text-container {
      display: flex;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      padding-left: 1rem;
      right: 0;
      padding-right: 1rem;
      align-content: center;
      color: $white;
      cursor: pointer;
    }
    .card-description-long {
      position: absolute;
      opacity: 0;
      transition: opacity 0.5s ease;
      pointer-events: none;

      font-size: 2rem;
      line-height: 2.5rem;

      // sometimes drupal will return strings pre-wrapped in a <p> tag
      p {
        font-size: 2rem;
        line-height: 2.5rem;
      }

      align-self: center;
    }
  }
  // ///////////////////

  // ///////////////////
  // social stats
  .social-stat-group {

  }
  // ///////////////////
}

// ///////////////////
// imports
@import "card-states";
@import "card-showcase";
@import "card-mission";
// ///////////////////