.card {
  &.showcase {
    margin-bottom: 10px;
    overflow: initial;
    border-radius: 0;
    position: relative;
    background-color: white;
    cursor: pointer;

    &.full {
      &.single-view {
        .card-image {
          padding-bottom: 0;
        }
      }
    }

    .info-bottom {
      .card-owner-meta {
        .card-owner-meta-info {
          h3.card-title {
            font-size: 4.1rem;
            line-height: 5rem;
            text-align: left;
          }
        }
      }
    }

    .social-stat-group {
      width: calc(66% - 2*1.6rem);
      .stats-list {
        div {
          float: left;
          min-width: 6rem;
        }
      }
    }
  }
}