.card {
  &.mission {
    padding-right: 0;
    padding-bottom: 0;
    background: $darker-grey;
    color: $white;
    box-shadow: 2px 2px 8px $light-grey;
    display: block;

    .content-container {
      .showcase-card-footer {
        .showcase-card-footer-2 {
          .showcase-card-count {
            div {
              line-height: 2.2rem;
              text-align: left;
            }
            span {
              vertical-align: baseline;
              padding-right: 1rem;
            }
          }
        }
      }
    }

    .card-mission-sponsor {
      position: absolute;
      top: 1.5rem;
      right: 1.5rem;
    }
    .card-owner-meta .card-owner-meta-info {
      max-width: 100%;
    }
    .card-description-long {
      display: block;
      opacity: 1;
    }
    .card-info {
      background: transparent;
    }
  }
}