.ff {
	.card.tall {
		padding-top: 0;
		.card-image {
			padding-bottom: 80%;
		}
        .info-top {
            padding-bottom: 105%;
        }
		.info-bottom {
			margin-top: 75%;
			position: relative;
		}

		.card-image.alt {
			padding-bottom: 106.5%;
		}

		.card-owner-meta-info {
			padding: 0rem 1rem;
			left: -1rem;
			position: relative;
			max-width: calc(100% - 60px - 2rem);
			width: calc(100% + 3rem);
		}
	}


	.card.wide {
		.info-bottom {
			padding-top: 60%;
			position: relative;
		}
		.card-image.alt {
			padding-bottom: 34.55%;
		}
		.card-owner-meta {
		    position: absolute;
		    width: 100%;
		    top: 0;
		}
		.card-owner-meta-info {
			position: absolute
		}
		.card-owners-group {
			position: relative;
			left: -1rem;
			top: 0;
		}
		social-stats {
			position: absolute;
			top: 50%;
			left: 1rem;	 
		}
		.social-stat-group {
			position: absolute;
    		top: -70px;
		}
	}

	.card.full {
		.card-info {
			height: auto;
			padding-bottom: 0px;
		}
		.info-bottom {
			padding-bottom: 8rem;
		}
	}
    
    .orgs-logo {
        bottom: 7rem;
    }
}