<ng-template #rt let-r="result" let-t="term">
  <div class="user-image-container">
    <app-user-card-msgs [uid]="r.uid"></app-user-card-msgs>
  </div>
</ng-template>

<div class="page-inbox">
  <div class="container inbox-container">
    <div *ngIf="noMessage" class="text-center pt-5">
      <h3>You do not have any messages</h3>
    </div>
    <ul class="list-unstyled messages-list">
      <li class="message-item" *ngFor="let message of msg; let i=index;">
        <div class="wrapper d-flex d-row" *ngIf="message" (click)="viewMessage(message.thread_id)">
          <div class="media message-info">
            <div class="media-left">
              <a *ngIf="message.status == 'active'" (click)="userProfile(message.first_name,message.last_name)">
                <img class="d-flex mr-3" src="{{message.user_photo}}" alt="" class="img-responsive">
              </a>
              <a *ngIf="message.status == 'blocked'">
                <img class="d-flex mr-3" src="{{message.user_photo}}" alt="" class="img-responsive">
              </a>
              <a *ngIf="message.recivers.length > 0">
                <img class="d-flex mr-3" src="{{message.recivers[0].user_photo}}" alt="" class="img-responsive">
              </a>
            </div>

            <div class="media-body" *ngIf="message.recipentCount == 2">
              <p class="sender" *ngIf="message.status == 'active'&& message.sender_msg"> You sent <a (click)="userProfile(message.first_name,message.last_name)"> {{message.first_name}} {{message.last_name}}</a>                a new message</p>
              <p class="sender" *ngIf="message.status == 'blocked' && message.sender_msg"> You sent <a class="blocked-user">{{message.first_name}} {{message.last_name}}</a> a new message</p>
              <p class="sender" *ngIf="message.status == 'active' && message.reciver_msg"><a (click)="userProfile(message.first_name,message.last_name)">{{message.first_name}} {{message.last_name}}</a>                sent you a new message</p>
              <p class="sender" *ngIf="message.status == 'blocked' && message.reciver_msg"><a class="blocked-user">{{message.first_name}} {{message.last_name}}</a> sent you a new message</p>
              <p class="sender" *ngIf="message.i_am_replyed"> You replied to this message </p>
              <p class="sender" *ngIf="message.status == 'active' && message.another_user_reply"><a (click)="userProfile(message.first_name,message.last_name)">{{message.first_name}} {{message.last_name}}</a>                replied to this message</p>
              <h4 class="message-subject" (click)="viewMessage(message.thread_id)">{{message.subject}}</h4>
              <p class="timestamp" *ngIf="message.last_updated">{{message.last_updated}} </p>
            </div>

            <div class="media-body" *ngIf="message.recipentCount > 2">
              <p class="sender" *ngIf="message.status == 'active'&& message.sender_msg"> You sent <a (click)="userProfile(message.first_name,message.last_name)"> {{message.first_name}} {{message.last_name}}</a>                a new message</p>
              <p class="sender" *ngIf="message.status == 'blocked' && message.sender_msg"> You sent <a class="blocked-user">{{message.first_name}} {{message.last_name}}</a> a new message</p>
           
              <p class="sender" *ngIf="message.recivers.length > 0 && message.recivers[0].status == 'active'&& message.recivers[0].send_group_msg && message.recivers.length <= 3"> You sent <a  *ngFor="let group_msg of message.recivers" (click)="userProfile(group_msg.first_name,group_msg.last_name)"> {{group_msg?.first_name}} {{group_msg?.last_name}}{{i===message.recivers.length ? ' ' : ',&nbsp;'}}</a>                a new message</p>
              <p class="sender" *ngIf="message.recivers.length > 0 && message.recivers[0].status == 'blocked'&& message.recivers[0].send_group_msg && message.recivers.length <= 3"> You sent <a *ngFor="let group_msg of message.recivers" class="blocked-user">{{group_msg.first_name}} {{group_msg.last_name}}{{i===message.recivers.length ? ' ' : ',&nbsp;'}}</a> a new message</p>
              <p class="sender" *ngIf="message.recivers.length > 0 && message.recivers[0].status == 'active'&& message.recivers[0].send_group_msg && message.recivers.length > 3"> You sent <a  (click)="userProfile(message.recivers[0].first_name,message.recivers[0].last_name)"> {{message.recivers[0].first_name}} {{message.recivers[0].last_name}}, {{message.recivers[1].first_name}} {{message.recivers[1].last_name}}, {{message.recivers[2].first_name}} {{message.recivers[2].last_name}}</a>              .....  a new message</p>
              <p class="sender" *ngIf="message.recivers.length > 0 && message.recivers[0].status == 'blocked'&& message.recivers[0].send_group_msg && message.recivers.length > 3"> You sent <a class="blocked-user"> {{message.recivers[0].first_name}} {{message.recivers[0].last_name}}, {{message.recivers[1].first_name}} {{message.recivers[1].last_name}}, {{message.recivers[2].first_name}} {{message.recivers[2].last_name}}</a> a new message</p>

              <p class="sender" *ngIf="message.status == 'active' && message.reciver_msg"><a (click)="userProfile(message.first_name,message.last_name)">{{message.first_name}} {{message.last_name}}</a>                sent you a new group message</p>
              <p class="sender" *ngIf="message.status == 'blocked' && message.reciver_msg"><a class="blocked-user">{{message.first_name}} {{message.last_name}}</a> sent you a new group message</p>
              <p class="sender" *ngIf="message.i_am_replyed"> You replied to this message </p>
              <p class="sender" *ngIf="message.status == 'active' && message.another_user_reply"><a (click)="userProfile(message.first_name,message.last_name)">{{message.first_name}} {{message.last_name}}</a>                replied to this message</p>
              <h4 class="message-subject" (click)="viewMessage(message.thread_id)">{{message.subject}}</h4>
              <p class="timestamp" *ngIf="message.last_updated">{{message.last_updated}} </p>
            </div>
          </div>
          <div *ngFor="let block of blocked">
            <button class="btn btn-simple-small m-0 mr-2" *ngIf="block.firstname == message.first_name" (click)="unBlockUsers(block.uid, i)">Unblock</button>
          </div>
          <div class="delete">
            <a class="lnr lnr-trash delete-message" ngbTooltip="{{deleteMsgTip}}" (click)="deleteMessage(i)"></a>
          </div>
        </div>
      </li>
    </ul>
    <div class="text-center" *ngIf="hideloadmore">
      <a class="btn btn-load-more" (click)="loadMore()">Load more</a>
    </div>
    <!--<div  >
          <notification-tpl [msgDeleted]="msgDeleted"[notificationId]="notificationId" *ngFor="let notificationId of notificationIds"></notification-tpl>
    </div>-->
  </div>
</div>