<div class="page-inbox">
    <header class="inbox-header container">
      <ul class="list-unstyled">
        <li><a href="" class="btn btn-grey  active">Messages</a></li>
        <li><a href="" class="btn btn-grey ">Notificatoins</a></li>
      </ul>
      <span class="fa fa-lg fa-cog"></span>
    </header><!--/header -->             
    <div class="container messages">
      <section class="inbox-controls">
        <div class="selectall">
          <input type="checkbox"> Select all
        </div>
        <a href="" class="btn btn-transparent delete">Delete</a>
        <a class="btn btn-blue btn-sharp new-message" data-dismiss="modal" data-target="#message-modal" data-toggle="modal"><i class="fa fa-lg fa-plus" ></i>New Message</a>
      </section>
      <ul class="list-unstyled messages-list">
        <div *ngIf="msg"> 
        <li class="message-item" *ngFor="let message of msg">
          <div class="select">
            <input type="checkbox" *ngIf="message.mid" >{{message.mid}}
          </div>
          <div class="wrapper" >
            <div class="media message-info">
              <div class="media-left">
                <a href="#">
                  <img class="media-object" src="http://placehold.it/150x150" alt="" class="img-responsive">
                </a>
              </div>
              <div class="media-body">
                <p class="sender"><a href="">First Lastname</a> sent you a message</p>
                <p class="timestamp">{{message.last_updated}}</p>
              </div>
            </div>
            <div class="message-subject">
                  <a routerLink="/view"><h4>{{message.subject}}</h4></a>
            </div>
            <div class="delete">
               <a class="fa fa-2x fa-trash delete-message" (click)="deleteMessage()"></a>
            </div>
          </div>
        </li>
        </div>
      </ul>
      <div class="load-more">
        <a class="btn btn-white">Load more</a>
      </div>
    </div> 
</div>
        <div class="modal-message">
          <!-- Trigger the modal with a button -->
          <!-- Modal -->
          <div id="message-modal" class="modal fade" role="dialog">
            <div class="modal-dialog">
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                  <form id="createMsg" method="post" class="form-horizontal">
                    <div class="form-group recieve">
                      <label class="control-label" >To:</label>
                      <div class="">
                        <input type="text" class="form-control" name="sent-to" >
                      </div>
                    </div>
                    <div class="form-group subject">
                      <label class="control-label" >Subject</label>
                      <input type="text" class="form-control" name="subject">
                    </div>
                    <div class="form-group message-text">
                      <label class="control-label">Message</label>
                      <textarea name="message-content" id="message" cols="30" rows="10"></textarea>
                    </div>
                  </form>
                </div>
                <ul class="list-unstyled actions">
                  <li><a href="" class="btn btn-transparent" data-dismiss="modal">Cancel</a></li>
                  <li><a class="btn btn-blue btn-sharp" (click)="sendMess()">Send</a></li>
                </ul>          
              </div>
            </div>
            </div>
        <app-send></app-send>