// this is going to be a horrible cluster fuck
.modal-dialog {
	display: flex;
	height: 100vh;
}
.modal-content {
	    width: 30vw;
    margin: auto;
    align-self: center;

    @include tablet() {
    	width: 60vw;
    }
    @include phone() {
    	width: 80vh;
    }
}
.modal-header {
	background: #f1f1f1;
}

// now actual login shit - still going to be a cluster fuck
.login-modal {

}

.login-content {
	width: 100%;
	form {
		padding: 0 2rem;
	}
}
.login-tab-control {
	display: flex;
	align-items: center;
}
.login-tabs {
	align-self: center;
	flex: 0 50%;
	font-size: 1.5rem;
	width: 50%;
	padding: 2rem;
	text-align: center;
	border-bottom: 1px solid #c3c3c3;
	cursor: pointer;
	&.active, &:hover {
		border-bottom: 1.5px solid #999;
	}
	&:hover {
		background: #f3f3f3;
	}
}
.login-close {
	background: white !important;
    border-radius: 2rem;
    display: block;
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 3rem;
    height: 3rem;
    text-align: center;
    color: black;
}

.forgot-link {
	font-size: 1rem;
}

.login-main-action {
	width: 100%;
	padding: 3rem;
	font-size: 1.5rem;
	color: white;
	cursor: pointer;
	left: 0;
	outline: none;
	-webkit-appearance: none;
	border: 0px;
	box-shadow: none;
	background: $blue;
	text-align: center;
	position: absolute;

    bottom: calc(-1 * 7rem);
}