section,
.container {
  &.padded {
    padding: 3rem 0;
  }
  &.padded-half {
    padding: 1.5rem 0;
  }
}

.main-container {
  height: 100%;
  padding-top: 70px;
  @include phone() {
    padding-bottom: 0;
  }
  &.-no-pad {
    padding-top: 0;
  }
}

// Move the UserSnap affordance to the left side
// to avoid overlapping with recaptcha affordance
// Not sure if there's a better place for this styling
// in the scss files, but this doesn't seem incorrect
iframe[class*="us–style-manager"] {
   left: 20px;
}
