.organization-layout {
	// padding-top: 110px;
}
.org-hero {
	height: 50vh;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	position: relative;
	.org-logo {
		margin-bottom: 2rem;
	}
	.flexer {
		min-height: 50vh;
		display: flex;
		.center-self {
			align-self: center;
    		margin: auto;
		}
	}	
}
.org-feature-photo {
	position: absolute;
    top: -70px;
    left: 0;
    right: 0;
    height: 120%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-color: rgba(0,0,0,0.5);
    background-blend-mode: multiply;
}
.scrolled .org-feature-photo {
    position: fixed;
    top: 55px;
    background-position: top center;
    background-size: 100%;   
}
.org-content {
	padding: 8rem 4rem;
	background: $site-bg;
    overflow: hidden;
    position: relative;
    .social-links {
        clear: both;
    }
}
.main-org-content {
	img {
		max-width: 100%;
	}
}
.org-name {
	font-size: 4rem;
	 margin-bottom: 3rem;
	 display: block;
	 text-align: center;
	color: white;
}
.org-tabber {
	margin: 4rem auto;
	a.btn h5 {
		color: white;
	}
}
// for cards
.orgs-logo {
	width: 6rem;
    height: auto;
    position: absolute;
    bottom: .5rem;
    right: .5rem;
}

.org-social {

	font-size: 3rem;
	.fa {
		font-size: 3rem;
	}
}

.org-description {
	font-size: 2.5rem;
	color: white;
}

.push {
	margin: 1.375rem auto;
}

.org-contact-list {
	.org-contact-key {
		color: #828282;
	}
	li {
		color: #000;
		font-weight: bold;
		font-size: 1.5rem;
    	line-height: 3rem;
	}
}

.team-role {
    position: absolute;
    top: 245px;
    z-index: 99;
    left: 30px;
    color: #fff;
    text-shadow: 1px 1px 8px #000000;
    @media screen and (max-width: 1192px) {
          top: 200px;
    }
    @media screen and (max-width: 988px) {
          top: 140px;
    }
    @media screen and (max-width: 768px) {
          top: 360px;
    }
}

app-follow-org {
    margin: 20px 0px;
}