.organization-layout {
	// padding-top: 110px;
}

.org-hero {
	height: 50vh;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	.org-logo {
		margin-bottom: 2rem;
	}
}

.org-feature-photo {
	position: fixed;
	opacity: 0.45;
	top: 110px;
	left: 0;
	right: 0;
	height: 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding-bottom: 50vh;
	background-color: #d6d6d6;
	background-blend-mode: multiply;
}

.org-content {
	padding-top: 4rem;
	background: white;
    overflow: hidden;
    position: relative;
}

.org-name {
	font-size: 3rem;
	color: white;
}

.org-description {
	font-size: 2.5rem;
	color: white;
}

.org-contact-list {
	.org-contact-key {
		color: #828282;
	}
	li {
		color: #000;
	}
}
