.profile-sidebar {
	// transition: padding-top 0.8s ease;	
}

.profile-sidebar .profile-container li, .profile-sidebar .profile-container p {
    font-size: 1.34rem !important;
}

.first-photo-upload {
    margin: 2rem auto;
    width: 100%;
    a {
        margin: auto !important;
    	display: block !important;
    	text-align: center !important;
    	position: relative !important;
    	bottom: inherit !important;
    }
}