<form [formGroup]="CreateProjectForm" (ngSubmit)="CreateProject($event)">
  <div class="form-group">
    <label for="ProjectName">Project Name</label>
    <input id="ProjectName" class="form-control" formControlName="name" placeholder="My Project" required>
    <div *ngIf="formErrors.name" class="alert alert-danger">
      {{ formErrors.name }}
    </div>
  </div>
  <div class="form-group">
    <label for="ProjectCategories">Categories</label>
    <tag-input id="ProjectCategories" class="form-control" formControlName='categories' placeholder="Add a category" required></tag-input>
    <div *ngIf="formErrors.categories" class="alert alert-danger">
      {{ formErrors.categories }}
    </div>
  </div>
  <div class="form-group">
    <label for="ProjectTeaser">Teaser</label>
    <textarea id="ProjectTeaser" class="form-control" rows="3" formControlName='teaser' placeholder="Describe your project in a sentence or two." required></textarea>
    <div *ngIf="formErrors.teaser" class="alert alert-danger">
      {{ formErrors.teaser }}
    </div>
  </div>
  <div class="form-group">
    <label for="ProjectCoverPhoto">Cover Photo</label>
    <input type="file" id="ProjectCoverPhoto" class="form-control-file" (change)="ImageUpdated($event)">
    <small *ngIf=!ImgURL id="fileHelp" class="form-text text-muted">choose a photo that is at least 600 x 400 px</small>
    <img *ngIf=ImgURL src={{ImgURL}} >
    <div *ngIf="formErrors.coverphoto" class="alert alert-danger">
      {{ formErrors.coverphoto }}
    </div>

  </div>


  <div class="form-group">
    <label for="exampleSelect1">Example select</label>
    <select class="form-control" id="exampleSelect1">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleSelect2">Example multiple select</label>
    <select multiple class="form-control" id="exampleSelect2">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  <fieldset class="form-group">
    <legend>Radio buttons</legend>
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked>
        Option one is this and that&mdash;be sure to include why it's great
      </label>
    </div>
    <div class="form-check">
    <label class="form-check-label">
        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
        Option two can be something else and selecting it will deselect option one
      </label>
    </div>
    <div class="form-check disabled">
    <label class="form-check-label">
        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios3" value="option3" disabled>
        Option three is disabled
      </label>
    </div>
  </fieldset>
  <div class="form-check">
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input">
      Check me out
    </label>
  </div>
  <button type="submit" class="btn btn-default" [disabled]="!CreateProjectForm.valid">Submit</button>
</form>
