<div class="community-guidelines-page container">
  <section class="page-header row pl-4 pr-4 pb-4">
    <div class="header-part">
      <div class="header-info-card">
        <h3>Dos and Don’ts</h3>
        <h2>TO MAKE SURE THIS IS A PLACE FOR EVERYONE</h2>
        <p>The following guidelines are intended to keep Maker Share a friendly, supportive and open community where makers
          of all kinds are welcome and encouraged to participate -- regardless of age, gender, race, ethnicity, religion,
          sexual orientation or skill level. </p>
      </div>
    </div>
  </section>
  <section class="icons-section container mb-4">
    <!-- Hide on mobile devices-->
    <div class="row icons-container hidden-sm-down">
      <div class="left-side col-md-6">
        <div class="left-item">
          <img class="icon-item" src="assets/images/guidelines/mega_phone.svg" alt="" />
          <h4>DO Tell Your Story</h4>
          <p>Maker Share encourages you to share what you made, how you made it and why you made it. You are creating a valuable
            record of your own work and your own process of creating it. Your projects reflect your interests and your talents,
            providing evidence of a maker’s knowledge and expertise. Please also identify the resources you used such as
            tools and materials so that others are able to re-create your project.</p>
        </div>
        <div class="left-item">
          <img class="icon-item" src="assets/images/guidelines/people.svg" alt="" />
          <h4>DO Share Credit</h4>
          <p>Projects can be the result of the collaborating with other people. Be sure to provide credit to the people who
            helped on the project. Don’t claim ownership of work you did not create or use photos belonging to others without
            obtaining permission.</p>
        </div>
        <div class="left-item">
          <img class="icon-item" src="assets/images/guidelines/share.svg" alt="" />
          <h4>DO Share Your Projects Openly</h4>
          <p>When you share a project on Maker Share, you can decide how much you want to reveal about the project and the development
            process. The more you share the more others are likely to be interested in your project and provide you with
            meaningful feedback. We don’t own the content you post here. Any content, including images, sounds, and sample
            code, that you post, upload, provide, submit, share, publish, distribute or make available on Maker Share is
            automatically licensed under the Creative Commons Attribution-ShareAlike 4.0 license. This allows others to view,
            re-use and remix all of this content. This license requires you to: make sure you have any necessary permissions
            to distribute some piece of content, for example, a photo attribute any re-used material to the original author.
            Likewise, know that we’re distributing the content from you and your fellow makers “as is.” We’re not responsible
            for its accuracy or for what happens when you use it!
          </p>
        </div>
        <div class="left-item">
          <img class="icon-item" src="assets/images/guidelines/pointer.svg" alt="" />
          <h4>DO Contribute to the Community</h4>
          <p>By sharing your project(s), you become a member who contributes to the maker community on Maker Share. What makes
            community possible is our shared values: openness, resourcefulness, ingenuity, generosity, creativity, resilience
            and self-directedness, to mention a few. You can support the members of this community by engaging other members
            and appreciating their contributions. </p>
        </div>
        <div class="left-item">
          <img class="icon-item" src="assets/images/guidelines/comment.svg" alt="" />
          <h4>DO Provide Constructive Feedback</h4>
          <p>As a member of this website, you have the opportunity to interact with makers and respond to the projects that
            have been shared. Please seek to provide constructive feedback that shows respect for makers and their efforts
            but also helps them understand their project in a new way. In short, be helpful and kind. Our goal is to foster
            a supportive community where any maker of any level of expertise can feel comfortable to participate.
          </p>
        </div>
        <div class="left-item">
          <img class="icon-item" src="assets/images/guidelines/health.svg" alt="" />
          <h4>DO Put Safety First</h4>
          <p>As makers, we have an obligation to work safely and protect ourselves as well as others and the tools we use. Please
            consider how you can ensure that others follow safety guidelines when they replicate your project using powerful
            tools. Likewise, when replicating someone else’s project, make sure you understand what you are doing before
            you undertake the project so that you are NOT a danger to yourself or others.
          </p>
        </div>
      </div>
      <div class="right-side col-md-6">
        <div class="right-item">
          <img class="icon-item" src="assets/images/guidelines/pointer-red.svg" alt="" />
          <h4>DON’T Share Offensive Material</h4>
          <p>Maker Share is not the place for any content that is Not Safe For Work. Young Makers hang out here, so just don’t.
            Also, please be considerate in your use of language.</p>
        </div>
        <div class="right-item">
          <img class="icon-item" src="assets/images/guidelines/circle_x.svg" alt="" />
          <h4>DON’T Violate Anyone’s Privacy</h4>
          <p>Members of the community on this site are not anonymous. Real names and geographical data (when selected) are used
            on Maker Share, with the goal of encouraging makers to connect both online and off. However, do not make public
            your or anyone else’s personal contact information such as physical address, email address, or phone number,
            even if you believe you have the other person’s permission.</p>
        </div>
        <div class="right-item">
          <img class="icon-item" src="assets/images/guidelines/thumbs_down.svg" alt="" />
          <h4>DON’T Spam the Community</h4>
          <p>It is not okay to post exclusively commercial messages or the same message repeatedly across different forums for
            any purpose.</p>
        </div>
        <div class="right-item">
          <img class="icon-item" src="assets/images/guidelines/unlink.svg" alt="" />
          <h4>DON’T Break Maker Share</h4>
          <p>This website is used by many people around the world and individuals interfering with the site’s normal functions
            will affect everyone's ability to use this website properly.</p>
        </div>
      </div>
    </div>
    <!-- Show on mobile devices-->
    <div class="row icons-container hidden-md-up">
      <div class="one-side col-md-6">
        <div class="left-item">
          <img class="icon-item" src="assets/images/guidelines/mega_phone.svg" alt="" />
          <h4>DO Tell Your Story</h4>
          <p>Maker Share encourages you to share what you made, how you made it and why you made it. You are creating a valuable
            record of your own work and your own process of creating it. Your projects reflect your interests and your talents,
            providing evidence of a maker’s knowledge and expertise. Please also identify the resources you used such as
            tools and materials so that others are able to re-create your project.</p>
        </div>
        <div class="right-item">
          <img class="icon-item" src="assets/images/guidelines/pointer-red.svg" alt="" />
          <h4>DON’T Share Offensive Material</h4>
          <p>Maker Share is not the place for any content that is Not Safe For Work. Young Makers hang out here, so just don’t.
            Also, please be considerate in your use of language.</p>
        </div>
        <div class="left-item">
          <img class="icon-item" src="assets/images/guidelines/people.svg" alt="" />
          <h4>DO Share Credit</h4>
          <p>Projects can be the result of the collaborating with other people. Be sure to provide credit to the people who
            helped on the project. Don’t claim ownership of work you did not create or use photos belonging to others without
            obtaining permission.</p>
        </div>
        <div class="right-item">
          <img class="icon-item" src="assets/images/guidelines/circle_x.svg" alt="" />
          <h4>DON’T Violate Anyone’s Privacy</h4>
          <p>Members of the community on this site are not anonymous. Real names and geographical data (when selected) are used
            on Maker Share, with the goal of encouraging makers to connect both online and off. However, do not make public
            your or anyone else’s personal contact information such as physical address, email address, or phone number,
            even if you believe you have the other person’s permission.</p>
        </div>
        <div class="left-item">
          <img class="icon-item" src="assets/images/guidelines/share.svg" alt="" />
          <h4>DO Share Your Projects Openly</h4>
          <p>When you share a project on Maker Share, you can decide how much you want to reveal about the project and the development
            process. The more you share the more others are likely to be interested in your project and provide you with
            meaningful feedback. We don’t own the content you post here. Any content, including images, sounds, and sample
            code, that you post, upload, provide, submit, share, publish, distribute or make available on Maker Share is
            automatically licensed under the Creative Commons Attribution-ShareAlike 4.0 license. This allows others to view,
            re-use and remix all of this content. This license requires you to: make sure you have any necessary permissions
            to distribute some piece of content, for example, a photo attribute any re-used material to the original author.
            Likewise, know that we’re distributing the content from you and your fellow makers “as is.” We’re not responsible
            for its accuracy or for what happens when you use it!
          </p>
        </div>
        <div class="right-item">
          <img class="icon-item" src="assets/images/guidelines/thumbs_down.svg" alt="" />
          <h4>DON’T Spam the Community</h4>
          <p>It is not okay to post exclusively commercial messages or the same message repeatedly across different forums for
            any purpose.</p>
        </div>
        <div class="left-item">
          <img class="icon-item" src="assets/images/guidelines/pointer.svg" alt="" />
          <h4>DO Contribute to the Community</h4>
          <p>By sharing your project(s), you become a member who contributes to the maker community on Maker Share. What makes
            community possible is our shared values: openness, resourcefulness, ingenuity, generosity, creativity, resilience
            and self-directedness, to mention a few. You can support the members of this community by engaging other members
            and appreciating their contributions. </p>
        </div>
        <div class="right-item">
          <img class="icon-item" src="assets/images/guidelines/unlink.svg" alt="" />
          <h4>DON’T Break Maker Share</h4>
          <p>This website is used by many people around the world and individuals interfering with the site’s normal functions
            will affect everyone's ability to use this website properly.</p>
        </div>
        <div class="left-item">
          <img class="icon-item" src="assets/images/guidelines/comment.svg" alt="" />
          <h4>DO Provide Constructive Feedback</h4>
          <p>As a member of this website, you have the opportunity to interact with makers and respond to the projects that
            have been shared. Please seek to provide constructive feedback that shows respect for makers and their efforts
            but also helps them understand their project in a new way. In short, be helpful and kind. Our goal is to foster
            a supportive community where any maker of any level of expertise can feel comfortable to participate.
          </p>
        </div>
        <div class="left-item">
          <img class="icon-item" src="assets/images/guidelines/health.svg" alt="" />
          <h4>DO Put Safety First</h4>
          <p>As makers, we have an obligation to work safely and protect ourselves as well as others and the tools we use. Please
            consider how you can ensure that others follow safety guidelines when they replicate your project using powerful
            tools. Likewise, when replicating someone else’s project, make sure you understand what you are doing before
            you undertake the project so that you are NOT a danger to yourself or others.
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
<div class="community-guidelines-page">
  <section class="parallax-scroll">
    <div id="parallax-bg-div" class="info-w-parallax parallax-bg">
      <img src="assets/images/Home-Page-Science-Drawing.jpg" alt="Science drawing background" />
      <div class="parallax-container">
        <div class="container">
          <div class="row">
            <div id="div3height" class="col-12 offset-lg-1 col-lg-10 offset-xl-2 col-xl-8 add-animation">
              <div class="info-card">
                <h2>TELL US</h2>
                <!--<h3>In developing a Maker Portfolio, the process IS the product.</h3>-->
                <p>Help us enforce these guidelines by reporting a user profile, a comment or a project that you suspect violates
                  our Community Guidelines or Terms of Use. You only need to report an item once; our team reviews reported
                  con- tent every day and will follow up as necessary to resolve the issue. Our Community Managers will always
                  try to resolve any issues with users first, but reserve the right to remove without notice content that
                  violates these guidelines or anyone’s intellectual property or personal rights. Com- munity Managers also
                  reserve the right to delete a user’s account, as a last resort, if someone repeatedly flouts these guidelines.
                  Have another suggestion for our Community Guidelines?
                </p>
                <div class="text-center mb-3 mt-3">
                  <button class="btn btn-load-more m-0"><i class="fa fa-envelope-o" aria-hidden="true"></i> Let Us Know</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>


<!--<section class="community-guidelines-page">
      <div class="container">
        <h3 class="page-title" *ngIf="title" [innerHTML]="title"></h3>
        <div class="page-body" *ngIf="body" [innerHTML]="body"></div>
      </div>
    </section>  -->