<div class="container">
  <div [hidden]="submitted">
    <h1>Send Message</h1>
    <form messageForm="formGroup"  *ngIf="active"  (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="to">To</label>

        <input type="text" id="to" class="form-control"
               formControlName="to" required >

        <div *ngIf="formErrors.to" class="alert alert-danger">
          {{ formErrors.to }}
        </div>
      </div>

      <div class="form-group">
        <label for="subject">subject</label>

        <input type="text" id="subject" class="form-control"
               formControlName="subject" required >

        <div *ngIf="formErrors.subject" class="alert alert-danger">
          {{ formErrors.subject }}
        </div>
      </div>
      
      <div class="form-group">
        <label for="messageContent">Message</label>
        <input type="text" id="messageContent" class="form-control"
            formControlName="messageContent"  >
      </div>
      

      <button type="submit" class="btn btn-default"
             [disabled]="!messageForm.valid">Submit</button>
      <!--<button type="button" class="btn btn-default"
           (click)="addMessage()">New Message</button>-->
    </form>
  </div>

  <!--<message-submitted [message]="message" [(submitted)]="submitted"></message-submitted>-->
</div>
