<div class="dropdown">
  <button class="btn btn-transparent dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true"
    aria-expanded="false">
    <li>
      <a class="notification-icon" ><img src="./assets/images/icons/notifications.png" alt=""></a>
    </li>
    </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <div class="dropdown-notification"> 
        <ul class="list-group">
          <li class="d-flex justify-content-end">
            <a class="mr-auto p-2" [routerLink]="['/inbox-notifications']" >View All</a>
            <i class="fa fa-cog float-right p-2" aria-hidden="true"></i>
            <a><i class="fa fa-times float-right p-2" aria-hidden="true"></i></a>
          </li>
          <li class="list-group-item" *ngFor="let notification of notifications">
            <app-single *ngIf="notification" [CurrentObject]="notification"></app-single>
          </li>
        </ul>
      </div>
    </div>
</div>