<div class="dropdown">
  <button class="btn btn-transparent dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true"
    aria-expanded="false">
    <i class="fa fa-comment-o" aria-hidden="true"></i>
    </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <div class="dropdown-notification"> 
        <ul class="list-group">
          <li class="p-2"><a href="" >View All</a><i class="fa fa-cog float-right pt-1" aria-hidden="true"></i></li>
          <li class="list-group-item"><a href="">Carla Damara </a> sent you a <a href=""> message</a>
            <p class="text-muted"> 1 day ago</p>
          </li>
          <li class="list-group-item"><a href="">Carla Damara </a> sent you a <a href=""> message</a>
            <p class="text-muted"> 1 day ago</p>
          </li>
          <li class="list-group-item">7 people liked your project, <a href=""> Project name</a>
            <p class="text-muted"> 1 day ago</p>
          </li>
          <li class="list-group-item"><a href="">Carla Damara </a> sent you a <a href=""> message</a>
            <p class="text-muted"> 1 day ago</p>
          </li>
          <li class="list-group-item"><a href="">Carla Damara </a> sent you a <a href=""> message</a>
            <p class="text-muted"> 1 day ago</p>
          </li>
        </ul>
      </div>
    </div>
</div>