// ///////////////////
// Maker Share UI kit
// base10 rems
// ///////////////////

// ///////////////////
// colors
// ///////////////////
// greys
$xtra-dark-grey: #686868;
$darker-grey: #333333;
$nav-bg: #e9e9e9;
$dark-grey: #4f4f4f;
$medium-grey: #828282;
$medium-light-grey: #dcdcdc;
$light-grey: #bdbdbd;
$lighter-grey: #f2f2f2;
$white: #ffffff;
$black: #000000;
$yellow: #F3DE8A;

// highlights
$highlight-red: #ED1C24;
$highlight-bright-blue: #00AEEF;
$highlight-light-blue: #D4EFFC;
$highlight-yellow: #F2C94C;

// Alerts vivid color
$vivid-red: #a94442;

// card specific
$card-hover: rgba(0, 174, 239, 0.55);
// ///////////////////

// ///////////////////
// fonts
// ///////////////////
$font-messina-regular: 'Messina Sans Regular';
$font-messina-modern-regular: 'Messina Modern Regular';
$font-messina-modern-bold: 'Messina Modern Bold';
$font-roboto: 'Roboto';
$font-roboto-light: 'Roboto Light';

// ///////////////////
// spacing
// ///////////////////
// general
$minGutter: 3rem; // may not use this at all - setting it up based on UI kit specs

// desktop
$wrapperWidth: 1140px;
// 3 column
$containerPad: 2.2rem;

// tablet
// 2 column

// mobile
// 1 column
$containerPad-mobile: 1.5rem;
// ///////////////////



// responsive
$media-style: max-width;
@mixin respond-to($breakpoint) {
  @media only screen and ($media-style: $breakpoint + px) { @content; }
}

$phone: 968;
$tablet: 1280;
$desktop: 1460;


@mixin phone() {
	@include respond-to($phone) { @content; }
}
@mixin tablet() {
	@include respond-to($tablet) { @content; }
}
@mixin desktop() {
	@include respond-to($desktop) { @content; }
}


