<div *ngIf="type == 'grid'" class="project grid">
  <div class="project-title">
    <p>{{Project.title}}</p>
  </div>
  <div class="project-image">
    <img *ngIf="!Project.grid_image" src="http://placehold.it/240x180" alt="" class="img-responsive">
    <img *ngIf="Project.grid_image" [src]="Project.grid_image" alt="" class="img-responsive">
    <div class="overlay">
      <a *ngIf="Visibility == 370 || Visibility == 1115" (click)="UpdateProjectVisibility(Project.nid,371)" class="btn btn-white"><i class="fa fa-lg fa-eye-slash"></i> Set to private</a>
      <a *ngIf="Visibility == 371 || Visibility == 1115" (click)="UpdateProjectVisibility(Project.nid,370)" class="btn btn-white"><i class="fa fa-lg fa-eye"></i> Set to public</a>
      <a [routerLink]="['/project/edit',Project.nid]" class="btn btn-white"><i class="fa fa-lg fa-pencil"></i> Edit Project</a>
      <a (click)="DeleteProject(Project.nid)" class="btn btn-white"> Delete project </a>
      <a class="btn btn-white"><i class="fa fa-lg fa-caret-left"></i> Drag to reorder <i class="fa fa-lg fa-caret-right"></i></a>
    </div>
  </div>
</div>

<div *ngIf="type == 'showcase'" class="project showcase">
  <div class="project-title">
    <p>{{Project.title}}</p>
  </div>
  <div class="project-image">
    <img *ngIf="!Project.showcase_image" src="http://placehold.it/1072x440" alt="" class="img-responsive">
    <img *ngIf="Project.showcase_image" [src]="Project.showcase_image" alt="" class="img-responsive">
    <div class="overlay">
      <a *ngIf="Visibility == 370 || Visibility == 1115" (click)="UpdateProjectVisibility(Project.nid,371)" class="btn btn-white"><i class="fa fa-lg fa-eye-slash"></i> Set to private</a>
      <a *ngIf="Visibility == 371 || Visibility == 1115" (click)="UpdateProjectVisibility(Project.nid,370)" class="btn btn-white"><i class="fa fa-lg fa-eye"></i> Set to public</a>
      <a [routerLink]="['/project/edit',Project.nid]" class="btn btn-white"><i class="fa fa-lg fa-pencil"></i> Edit Project</a>
      <a (click)="DeleteProject(Project.nid)" class="btn btn-white"> Delete project </a>
      <a class="btn btn-white"><i class="fa fa-lg fa-caret-left"></i> Drag to reorder <i class="fa fa-lg fa-caret-right"></i></a>
    </div>
  </div>
</div>