
<div class="region region-content col-sm-8" [formGroup]="TeamForm">
  <div class="team" formArrayName="Team" dnd-sortable-container [sortableData]="TeamForm.controls.Team.controls" dnd-draggable [dropZones]="['TeamZone']">
    <div id="add-sortable" *ngFor="let Member of TeamForm.controls.Team.controls; let i=index" class="panel add-collaborate" dnd-sortable [sortableIndex]="i" (dragenter)="SortElements('Team')" dnd-draggable [dropZones]="['TeamZone']">
      <div class="panel-heading">
        <span>Member {{i + 1}}</span>
      </div>
      <div class="panel-body" [formGroupName]="i">
        <div class="col-md-7">
          <div class="form-group">
            <label for="collab-name-{{i + 1}}">Name</label>
            <input type="text" class="form-control" id="collab-name-{{i + 1}}" placeholder="Start typing a name, then select" [formControl]="Member.controls.Name">
            <small *ngIf="formErrors.Team[i].Name" class="text-danger">
              {{formErrors.Team[i].Name}}
            </small>
          </div>
          <div class="form-group">
            <label for="collab-role-{{i + 1}}">Role</label>
            <input type="text" class="form-control" id="collab-role-{{i + 1}}" placeholder="Start typing a name, then select" [formControl]="Member.controls.Role">
            <small *ngIf="formErrors.Team[i].Role" class="text-danger">
              {{formErrors.Team[i].Role}}
            </small>
          </div>	
        </div>
        <div class="col-md-3 col-md-offset-2">
          <div class="form-group sort">
            <label for="collab-order-{{i + 1}}">Sort Order</label>
            <input type="text" id="collab-order-{{i + 1}}" placeholder="{{i + 1}}" value='{{i + 1}}' class="form-control sort" [formControl]="Member.controls.SortOrder" readonly />
            <div class="carets">
              <i *ngIf="i > 0" class="fa fa-2x fa-caret-up sort-up" (click)="ChangeOrder(i,i-1,'Team')"></i>
              <i *ngIf="i < TeamForm.controls.Team.controls.length - 1" class="fa fa-2x fa-caret-down sort-down" (click)="ChangeOrder(i,i+1,'Team')"></i>
            </div>
            <small *ngIf="formErrors.Team[i].SortOrder" class="text-danger">
              {{formErrors.Team[i].SortOrder}}
            </small>
          </div>
        </div>
      </div>
      <a *ngIf="TeamForm.controls.Team.controls.length > 1" (click)="RemoveRow(i, 'Team')" class="btn btn-transparent remove">Remove</a>
    </div><!-- End add-collaborate -->
    <a (click)="AddRow('Team')" class="btn btn-white btn-sharp"><i class="fa fa-lg fa-plus"></i> Add more</a>
  </div>
</div>


<aside class="col-md-4">
  <div class="team-guide">
    <div class="guideline">
      <div class="pull-left question-mark"><i class="fa fa-2x fa-question-circle"></i></div>
      <div class="pull-left content">
        <h4>Helper text about teams</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia ullam reprehenderit minus molestiae minima nihil quibusdam hic ut, sint tenetur, esse iure consequatur, quasi quo.</p>
      </div>
    </div>
  </div><!-- End team-guideline -->
</aside>