<template #ms let-r="result" let-t="term">
	<div class="data-container-makerspace">
		{{r.title}}
	</div>
</template>
<div *ngIf="optionalForm" [formGroup]="optionalForm" class="optional-info">
	<div class="container" *ngFor="let makerspacecontrol of optionalForm.controls.field_add_your_makerspace_s_['controls'];let i = index"
	 formArrayName="field_add_your_makerspace_s_">
		<div class="form-group row" [formGroupName]="i">
			<label class="col-md-12">ADD A MAKERSPACE</label>
			<div class="col-md-4">
				<input class="form-control" type="text" formControlName="field_makerspace_name" [ngbTypeahead]="SearchMakerspace" [resultTemplate]="ms"
				 (selectItem)="SelectMakerspace(i,$event)">
			</div>
			<div class="col-md-4">
				<input class="form-control" type="text" formControlName="field_makerspace_url">
			</div>
			<div class=" col-md-4 mt-3" (click)="optionalForm.controls.field_add_your_makerspace_s_.removeAt(i);"><span aria-hidden="true">&times;</span></div>
			<small *ngIf="!optionalForm.controls.field_add_your_makerspace_s_['controls'][i].controls.field_makerspace_url.valid" class="text-danger">
				wrong url
			</small>
				<a *ngIf="optionalForm.controls.field_add_your_makerspace_s_.valid" class="btn add-other" (click)="AddMakerspaceRow()"><i class="fa fa-plus-square" aria-hidden="true"></i><span>Add another</span></a>
		</div>

		<div class="form-group socials">
			<label for="socials">ADDITIONAL WEBSITES</label>
			<table class="table borderedless" formGroupName="field_social_accounts">
				<thead>
					<tr>
						<th></th>
						<th></th>
						<th>Prefered?</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<p>Personal blog</p>
						</td>
						<td>
							<input [ngClass]="{valError: !optionalForm.controls.field_social_accounts['controls'].field_website_or_blog.valid}" type="text"
							 class="form-control" name="web-url" placeholder="enter your URL" formControlName="field_website_or_blog">
							<div *ngIf="!optionalForm.controls.field_social_accounts['controls'].field_website_or_blog.valid" class="alert alert-danger error-msg">
								not valid url
							</div>
						</td>
						<td>
							<input type="radio" formControlName="field_preferred" name="field_preferred" value="field_website_or_blog" [checked]="userProfile.field_social_accounts.field_preferred == 'field_website_or_blog'">
						</td>
					</tr>
					<tr>
						<td>
							<p>Additional site</p>
						</td>
						<td>
							<input [ngClass]="{valError: !optionalForm.controls.field_social_accounts['controls'].field_additional_site.valid}" type="text"
							 class="form-control" name="web-url-2" placeholder="enter your URL" formControlName="field_additional_site">
							<div *ngIf="!optionalForm.controls.field_social_accounts['controls'].field_additional_site.valid" class="alert alert-danger error-msg">
								not valid url
							</div>
						</td>
						<td>
							<input type="radio" formControlName="field_preferred" name="field_preferred" value="field_additional_site" [checked]="userProfile.field_social_accounts.field_preferred == 'field_additional_site'">
						</td>
					</tr>
					<tr>
						<td>
							<p><i class="fa fa-lg fa-facebook"></i> Facebook</p>
						</td>
						<td>
							<input [ngClass]="{valError: !optionalForm.controls.field_social_accounts['controls'].field_facebook.valid}" type="text"
							 class="form-control" name="fb-url" placeholder="enter your URL" formControlName="field_facebook">
							<div *ngIf="!optionalForm.controls.field_social_accounts['controls'].field_facebook.valid" class="alert alert-danger error-msg">
								not valid url
							</div>
						</td>
						<td>
							<input type="radio" formControlName="field_preferred" name="field_preferred" value="field_facebook" [checked]="userProfile.field_social_accounts.field_preferred == 'field_facebook'">
						</td>
					</tr>
					<tr>
						<td>
							<p><i class="fa fa-lg fa-instagram"></i> Instagram</p>
						</td>
						<td>
							<input [ngClass]="{valError: !optionalForm.controls.field_social_accounts['controls'].field_instagram.valid}" type="text"
							 class="form-control" name="ig-url" placeholder="enter your URL" formControlName="field_instagram">
							<div *ngIf="!optionalForm.controls.field_social_accounts['controls'].field_instagram.valid" class="alert alert-danger error-msg">
								not valid url
							</div>
						</td>
						<td>
							<input type="radio" formControlName="field_preferred" name="field_preferred" value="field_instagram" [checked]="userProfile.field_social_accounts.field_preferred == 'field_instagram'">
						</td>
					</tr>
					<tr>
						<td>
							<p><i class="fa fa-lg fa-linkedin"></i> LinkedIn</p>
						</td>
						<td>
							<input [ngClass]="{valError: !optionalForm.controls.field_social_accounts['controls'].field_linkedin.valid}" type="text"
							 class="form-control" name="ln-url" placeholder="enter your URL" formControlName="field_linkedin">
							<div *ngIf="!optionalForm.controls.field_social_accounts['controls'].field_linkedin.valid" class="alert alert-danger error-msg">
								not valid url
							</div>
						</td>
						<td>
							<input type="radio" formControlName="field_preferred" name="field_preferred" value="field_linkedin" [checked]="userProfile.field_social_accounts.field_preferred == 'field_linkedin'">
						</td>
					</tr>
					<tr>
						<td>
							<p><i class="fa fa-lg fa-twitter"></i> Twitter</p>
						</td>
						<td>
							<input [ngClass]="{valError: !optionalForm.controls.field_social_accounts['controls'].field_twitter.valid}" type="text" class="form-control"
							 name="tw-url" placeholder="enter your URL" formControlName="field_twitter">
							<div *ngIf="!optionalForm.controls.field_social_accounts['controls'].field_twitter.valid" class="alert alert-danger error-msg">
								not valid url
							</div>
						</td>
						<td>
							<input type="radio" formControlName="field_preferred" name="field_preferred" value="field_twitter" [checked]="userProfile.field_social_accounts.field_preferred == 'field_twitter'">
						</td>
					</tr>
					<tr>
						<td>
							<p><i class="fa fa-lg fa-pinterest"></i> Pinterest</p>
						</td>
						<td>
							<input [ngClass]="{valError: !optionalForm.controls.field_social_accounts['controls'].field_pinterest.valid}" type="text"
							 class="form-control" name="pn-url" placeholder="enter your UR" formControlName="field_pinterest">
							<div *ngIf="!optionalForm.controls.field_social_accounts['controls'].field_pinterest.valid" class="alert alert-danger error-msg">
								not valid url
							</div>
						</td>
						<td>
							<input type="radio" formControlName="field_preferred" name="field_preferred" value="field_pinterest" [checked]="userProfile.field_social_accounts.field_preferred == 'field_pinterest'">
						</td>
					</tr>
					<tr>
						<td>
							<p><i class="fa fa-lg fa-youtube"></i> YouTube</p>
						</td>
						<td>
							<input [ngClass]="{valError: !optionalForm.controls.field_social_accounts['controls'].field_youtube.valid}" type="text" class="form-control"
							 name="yt-url" placeholder="enter your URL" formControlName="field_youtube">
							<div *ngIf="!optionalForm.controls.field_social_accounts['controls'].field_youtube.valid" class="alert alert-danger error-msg">
								not valid url
							</div>
						</td>
						<td>
							<input type="radio" formControlName="field_preferred" name="field_preferred" value="field_youtube" [checked]="userProfile.field_social_accounts.field_preferred == 'field_youtube'">
						</td>
					</tr>
					<tr>
						<td>
							<p><i class="fa fa-lg fa-hackster"></i> Hackster.io</p>
						</td>
						<td>
							<input [ngClass]="{valError: !optionalForm.controls.field_social_accounts['controls'].field_hackster_io.valid}" type="text"
							 class="form-control" name="hk-url" placeholder="enter your URL" formControlName="field_hackster_io">
							<div *ngIf="!optionalForm.controls.field_social_accounts['controls'].field_hackster_io.valid" class="alert alert-danger error-msg">
								not valid url
							</div>
						</td>
						<td>
							<input type="radio" formControlName="field_preferred" name="field_preferred" value="field_hackster_io" [checked]="userProfile.field_social_accounts.field_preferred == 'field_hackster_io'">
						</td>
					</tr>
					<tr>
						<td>
							<p><i class="fa fa-lg fa-instructables"></i> Instructables</p>
						</td>
						<td>
							<input [ngClass]="{valError: !optionalForm.controls.field_social_accounts['controls'].field_instructables.valid}" type="text"
							 class="form-control" name="in-url" placeholder="enter your URL" formControlName="field_instructables">
							<div *ngIf="!optionalForm.controls.field_social_accounts['controls'].field_instructables.valid" class="alert alert-danger error-msg">
								not valid url
							</div>
							<td>
								<input type="radio" formControlName="field_preferred" name="field_preferred" value="field_instructables" [checked]="userProfile.field_social_accounts.field_preferred == 'field_instructables'">
							</td>
					</tr>
					<tr>
						<td>
							<p><i class="fa fa-lg fa-hackaday"></i> Hackaday</p>
						</td>
						<td>
							<input [ngClass]="{valError: !optionalForm.controls.field_social_accounts['controls'].field_hackday.valid}" type="text" class="form-control"
							 name="hd-url" placeholder="enter your URL" formControlName="field_hackday">
							<div *ngIf="!optionalForm.controls.field_social_accounts['controls'].field_hackday.valid" class="alert alert-danger error-msg">
								not valid url
							</div>
						</td>
						<td>
							<input type="radio" formControlName="field_preferred" name="field_preferred" value="field_hackday" [checked]="userProfile.field_social_accounts.field_preferred == 'field_hackday'">
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>