<div class="profile-page profile-empty-edit">
	<div *ngIf="profile">
		<section class="container-fluid cover-region">
		</section>

		<section class="container body-region">
			<!-- Start sidebar-left -->
			<div class="row">
				<div class="profile-header col-md-8 col-sm-12 ml-auto justify-content-end d-flex flex-row">
					<div class="d-flex flex-row mr-auto switch justify-content-end align-items-center hidden-sm-down display-style">
						<a class="profile-share">
							<app-shared-buttons [PageTitle]="'Maker Portfolio'" [PageDescription]="customDescription" [PageImage]="profile.user_photo"></app-shared-buttons>
						</a>
						<a *ngIf="CurrentLoggedUserId != uid" class="profile-message">
							<app-message-modal [uid]="uid"></app-message-modal>
						</a>
					</div>
					<ul class="list-unstyled bookmark d-flex flex-row justify-content-end">
						<li *ngIf="ProjectsCount">
							<p><span class="number">{{ProjectsCount}}</span> projects</p>
						</li>
						<li *ngIf="profile.total_likes != 0">
							<p><span class="number">{{profile.total_likes}}</span> project likes</p>
						</li>
						<li>
							<p><span class="number">{{profile.views_count}}</span> views</p>
						</li>
						<!-- Start Bookmsrk-section -->
						<!--<li>
							<a><i class="fa fa-lg fa-bookmark-o"></i></a>
						</li>-->
					</ul>
					<!-- End Bookmark-section -->
				</div>
			</div>
			<div class="row body-content">
				<div class="left-section col-lg-4 col-md-4">
					<div class="profile-sidebar">
						<div class=" profile-container">
							<!--<div class="card-type-blue">
										<div class="type-layer-2">
											Maker
										</div>
									</div>-->
							<div class="image-container">
								<img src="{{profile.user_photo_with_style}}" alt="" class="">
							</div>
							<div class="profile-group">
								<div class="profile-pic">

									<!-- Start Profiel Pic -->
									<div *ngIf="CurrentLoggedUserId && uid && auth.authenticated()">
										<div *ngIf="CurrentLoggedUserId==uid ">
											<a (click)="OpenModal(profilpicmodal,'edit-cover-modal')"><img src="./assets/images/icons/edit.svg" class="edit-buttons" alt=""></a>
										</div>
									</div>

								</div>
							</div>
							<p *ngIf="profile.profile_completion != 100" class="global-title">Profile Completeness</p>
							<div class="completeness pt-2" *ngIf="profile.profile_completion != 100">
								<ngb-progressbar [value]="profile.profile_completion"><i>{{profile.profile_completion+'%'}}</i></ngb-progressbar>
							</div>
							<!-- End profile-group -->
							<div class="profile-info">
								<div *ngIf="CurrentLoggedUserId && uid">
									<div *ngIf="CurrentLoggedUserId==uid && auth.authenticated()">
										<a (click)="OpenModal(editinfomodal,'Personal Info')"><img src="./assets/images/icons/edit.svg" class="edit-buttons" alt=""></a>
									</div>
									<div class="profile-fullname"><span>{{profile.first_name}} {{profile.last_name}}</span></div>
									<div *ngIf="profile.nickname" class="profile-nickname"><span>aka {{profile.nickname}}</span></div>
									<ul *ngIf="CurrentLoggedUserId == uid || profile.address_publish" class="list-unstyled location">
										<li *ngIf="profile.address && CountryFieldsAndDetails.locality_label && !CountryFieldsAndDetails.administrative_areas">{{profile.address.country}}, {{profile.address[CountryFieldsAndDetails.locality_label.toLowerCase()]}}</li>
										<li *ngIf="profile.address && CountryFieldsAndDetails.administrative_areas">{{profile.address.country}}, {{profile.address[CountryFieldsAndDetails.administrative_area_label.toLowerCase()]}}</li>
										<li *ngIf="!profile.address"><i class="fa fa-lg fa-map-marker"></i></li>
									</ul>
									<div *ngIf="CurrentLoggedUserId == uid && auth.authenticated()">
										<div (click)="ProfileInfo.address_publish = 0;ReSetAddressValues();SaveUser(ProfileInfo)" *ngIf="profile.address_publish == 1">Unpublish</div>
										<div (click)="ProfileInfo.address_publish = 1;ReSetAddressValues();SaveUser(ProfileInfo)" *ngIf="profile.address_publish == 0">Publish</div>
									</div>
								</div>
								<hr>
								<!-- describe yourself-->
								<ul *ngIf="ProfileInfo.describe_yourself != '' " class="list-unstyled post">
									<div *ngIf="CurrentLoggedUserId && uid">
										<div *ngIf="CurrentLoggedUserId==uid && auth.authenticated()">
											<a (click)="OpenModal(editinfomodal,'Personal Info')"><img src="./assets/images/icons/edit.svg" class="edit-buttons" alt=""></a>
										</div>
									</div>
									<li class="profile-describe-yourself">{{ProfileInfo.describe_yourself}}</li>
								</ul>
								<ul *ngIf="ProfileInfo.describe_yourself == '' " class="list-unstyled post">
									<div *ngIf="CurrentLoggedUserId && uid">
										<div *ngIf="CurrentLoggedUserId==uid && auth.authenticated()">
											<a (click)="OpenModal(editinfomodal,'Personal Info')" class="btn btn-white add ">
												<i class="fa fa-lg fa-plus"></i> Describe your self ?
											</a>
										</div>
									</div>
								</ul>
								<!-- describe yourself-->
								<hr>
								<p class="global-title">Badges</p>
								<!-- start Badges-->
								<div class="icons">
									<div class="single-icon d-flex flex-row justify-content-start" *ngFor="let badge of badges;">
										<img src="{{badge?.goal_image}}" alt="{{badge?.title}}">
										<p class="badges">{{badge?.title}}</p><br>
									</div>
								</div>
								<hr>
								<!--End Badges -->
								<!-- Start Bio -->
								<div *ngIf="profile.bio" class="bio">
									<div *ngIf="CurrentLoggedUserId && uid">
										<div *ngIf="CurrentLoggedUserId==uid && auth.authenticated()">
											<a (click)="OpenModal(editinfomodal,'Bio')"><img src="./assets/images/icons/edit.svg" class="edit-buttons" alt=""></a>
										</div>
									</div>
									<div class="bio" [innerHTML]="profile.bio"></div>
								</div>
								<div *ngIf="!profile.bio && CurrentLoggedUserId == uid && auth.authenticated()" class="bio">
									<a (click)="OpenModal(editinfomodal,'Bio')" class="btn btn-white add">
										<i class="fa fa-lg fa-plus"></i>
										<p class="global-title">Add your bio</p>
									</a>
								</div>
								<!-- End Bio -->
								<hr>
								<div *ngIf="profile.field_social_accounts">
									<a *ngIf="CurrentLoggedUserId && uid && CurrentLoggedUserId==uid && auth.authenticated()" (click)="OpenModal(editinfomodal,'Social')"><img src="./assets/images/icons/edit.svg" class="edit-buttons" alt=""></a>
									<div class="social-links">
										<span class="global-title">Social</span><br>
										<a class="nav-link social fb" target="_blank" *ngIf="profile.field_social_accounts.field_facebook != '' " href="{{profile.field_social_accounts.field_facebook}}">
											<i class="fa fa-facebook fa-lg"></i>
										</a>
										<a class="nav-link social tw" target="_blank" *ngIf="profile.field_social_accounts.field_twitter != '' " href="{{profile.field_social_accounts.field_twitter}}">
											<i class="fa fa-twitter fa-lg"></i>
										</a>
										<a class="nav-link social in" target="_blank" *ngIf="profile.field_social_accounts.field_instagram != '' " href="{{profile.field_social_accounts.field_instagram}}">
											<i class="fa fa-instagram fa-lg"></i>
										</a>
										<a class="nav-link social ln" target="_blank" *ngIf="profile.field_social_accounts.field_linkedin != '' " href="{{profile.field_social_accounts.field_linkedin}}">
											<i class="fa fa-linkedin fa-lg"></i>
										</a>
										<a class="nav-link social pin" target="_blank" *ngIf="profile.field_social_accounts.field_pinterest != '' " href="{{profile.field_social_accounts.field_pinterest}}">
											<i class="fa fa-pinterest-p fa-lg"></i>
										</a>
										<a class="nav-link social ut" target="_blank" *ngIf="profile.field_social_accounts.field_youtube != '' " href="{{profile.field_social_accounts.field_youtube}}">
											<i class="fa fa-youtube fa-lg"></i>
										</a>
										<a class="nav-link social ext" target="_blank" *ngIf="profile.field_social_accounts.field_hackster_io != '' " href="{{profile.field_social_accounts.field_hackster_io}}">
											<i class="fa fa-external-link fa-lg"></i>
										</a>
										<a class="nav-link social ext" target="_blank" *ngIf="profile.field_social_accounts.field_instructables != '' " href="{{profile.field_social_accounts.field_instructables}}">
											<i class="fa fa-external-link fa-lg"></i>
										</a>
										<a class="nav-link social ext" target="_blank" *ngIf="profile.field_social_accounts.field_hackday != '' " href="{{profile.field_social_accounts.field_hackday}}">
											<i class="fa fa-external-link fa-lg"></i>
										</a>
									</div>
									<div class="clearfix"></div>
								</div>
								<div *ngIf="!profile.field_social_accounts">
									<div *ngIf="CurrentLoggedUserId && uid">
										<div *ngIf="CurrentLoggedUserId==uid"> <a class="btn btn-white add" (click)="OpenModal(editinfomodal,'Social')"><i class="fa fa-lg fa-plus"></i> Add your website(s) and social links</a></div>
									</div>
								</div>
								<hr>
								<ul class="list-unstyled makerspaces" *ngIf="profile.field_add_your_makerspace_s_">
									<div *ngIf="CurrentLoggedUserId==uid && auth.authenticated()">
										<a (click)="OpenModal(editinfomodal,'MakerSpaces')"><img src="./assets/images/icons/edit.svg" class="edit-buttons" alt=""></a>
									</div>
									<h4>Makersapces</h4>
									<li *ngFor="let makerspace of profile.field_add_your_makerspace_s_">
										<a *ngIf="makerspace.field_makerspace_url" href="{{makerspace.field_makerspace_url}}">  {{makerspace.field_makerspace_name}} </a>
										<div *ngIf="!makerspace.field_makerspace_url"> {{makerspace.field_makerspace_name}} </div>
									</li>
								</ul>
								<ul *ngIf="profile.field_add_your_makerspace_s_  == ''" class="list-unstyled makerspaces">
									<a *ngIf="CurrentLoggedUserId && uid && CurrentLoggedUserId==uid && auth.authenticated()" class="btn btn-white add" (click)="OpenModal(editinfomodal,'MakerSpaces')"><i class="fa fa-lg fa-plus"></i> Add your Makerspace(s)</a>
								</ul>
								<hr>
								<p class="global-title"> Links </p>
								<a class="mywebsite" target="_blank" *ngIf="profile.field_social_accounts.field_website_or_blog != '' " href="{{profile.field_social_accounts.field_website_or_blog}}">{{profile.field_social_accounts.field_website_or_blog}}</a>
								<br>
								<hr>
								<a class="mywebsite" target="_blank" *ngIf="profile.field_social_accounts.field_additional_site != '' " href="{{profile.field_social_accounts.field_additional_site}}">{{profile.field_social_accounts.field_additional_site}}</a>
								<div *ngIf="profile.started_making" class="how">
									<!-- Start How -->
									<p class="global-title">How I learned to be a maker</p>
									<p class="started_making">{{profile.started_making}}</p>
								</div>
								<div *ngIf="!profile.started_making" class="how">
									<div *ngIf="CurrentLoggedUserId && uid">
										<div *ngIf="CurrentLoggedUserId==uid">
											<a class="btn btn-white add" (click)="OpenModal(editinfomodal,'Maker Moment')">
												<i class="fa fa-lg fa-plus"></i> How'd you get started making?
											</a>
										</div>
									</div>
									<hr>
								</div>
								<ul class="list-unstyled interests" *ngIf="profile.maker_interests.length == 0">
									<a *ngIf="CurrentLoggedUserId && uid && CurrentLoggedUserId==uid && auth.authenticated()" class="btn btn-white add" (click)="OpenModal(editinfomodal,'Interests')"><i class="fa fa-lg fa-plus"></i> Add your interests</a>
								</ul>
								<ul class="list-unstyled interests" *ngIf="profile.maker_interests.length != 0">
									<a *ngIf="CurrentLoggedUserId && uid && CurrentLoggedUserId==uid && auth.authenticated()" (click)="OpenModal(editinfomodal,'Interests')"><img src="./assets/images/icons/edit.svg" class="edit-buttons" alt=""></a>
								</ul>
								<p class="global-title">Interests</p>
								<tag-input [(ngModel)]="profile.maker_interests" [readonly]="true" [identifyBy]="'tid'" display="name" [displayBy]="'name'"
								 [inputId]="tid">
								</tag-input>
								<hr>
								<!--<a class="report">Report this user</a>-->
								<div *ngIf="uid && auth.authenticated()">
									<app-report-user [userReportId]="uid"></app-report-user>
								</div>
								<!-- End How -->
							</div>
							<!-- End col-md-3 -->
						</div>
						<!-- End sidebar-left -->
					</div>
				</div>
				<div class="right-section col-lg-8 col-md-8">
					<!-- Start Content-region -->
					<div class="profile-name profile-stats">
						<div class="profile-content">
							<div class="row">
								<div class="col-lg-12 col-md-12">
									<profile-projects *ngIf="CurrentLoggedUserId != uid" [uid]="uid" [view]="profile.projects_view"></profile-projects>
									<app-edit-portfolio *ngIf="CurrentLoggedUserId == uid"></app-edit-portfolio>
								</div>
							</div>
							<!-- End project grid -->
						</div>
					</div>
					<!-- End profile content -->
				</div>
			</div>
		</section>
		<!-- End body-group -->
	</div>
</div>

<!--profile profile-pic modal-->
<template #profilpicmodal let-c="close" let-d="dismiss" ngbModalContainer>
	<div class="profile-cover-modal">
		<div class="modal-header">
			<div class="close-form ml-auto">
				<button type="button" class="close ml-auto" aria-label="Close" (click)="d('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
			</div>
			<span class="info your-photo-tab">
			<p>DID YOU KNOW?</p>
			<p>You can also add images from your phone</p>
		</span>
		</div>
		<div class="modal-tabs">
			<ul class="list-unstyled">
				<li class="upload" (click)="PhotoModalTab = 'upload'"><a class="btn btn-transparent" [ngClass]="{'active':PhotoModalTab == 'upload'}">Upload</a></li>
				<li class="your-photos" (click)="PhotoModalTab = 'filemanager'"><a class="btn btn-transparent" [ngClass]="{'active':PhotoModalTab == 'filemanager'}">Your Photos</a></li>
			</ul>
		</div>
		<div class="modal-body">
			<div [hidden]="PhotoModalTab != 'upload'" ng2FileDrop class="upload-tab" (ng2FileDropFileAccepted)="dragFileAccepted($event,cropper)">
				<!--<img *ngIf="!ProfilePicData.original" src="./assets/images/Drag_Drop.png" alt="">-->
				<img-cropper #cropper [image]="ProfilePicData" [settings]="ProfilecropperSettings"></img-cropper><br>

				<div *ngIf="!ProfilePicData.original">
					<p class="drag-photo">Drag a Photo Here</p>
					<p class="drag-or">or</p>
				</div>
				<a class="btn btn-load-more" (click)="fileinput.click()">
				Upload
				<input #fileinput type="file" (change)="fileChangeListener($event.target.files[0],cropper)" id="upload" style="display:none;" />
			</a>
				<p class="drag-or mt-4 mb-0">For best results image should be at minimum 300px in height or width.</p>
			</div>
			<app-file-browser *ngIf="PhotoModalTab == 'filemanager'" (emitter)="SelectFileAndSave(closebtn,$event)"></app-file-browser>
		</div>
		<div class="modal-footer">
			<div class="buttons-section">
				<button #closebtn type="button" class="btn btn-load-more" (click)="c('Close click')">Close</button>
				<button type="button" class="btn btn-load-more" *ngIf="PhotoModalTab == 'upload'" (click)="SaveImage(closebtn,ProfilePicData,'profile')">Save</button>
			</div>
		</div>
	</div>
</template>
<template #rt let-r="result" let-t="term">
	<div class="data-container">
		{{r.value}}
	</div>
</template>





<!-- Add Edit Info Modal -->
<template #editinfomodal let-c="close" let-d="dismiss" ngbModalContainer>
	<div class="profile-modal">
		<div class="modal-header">
			<button type="button" class="close ml-auto" aria-label="Close" (click)="d('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
		</div>
		<div class="modal-body row">
			<div class="modal-menu col-md-2">
				<a (click)="CurrentInfoTab = 'Personal Info'" [ngClass]="{'active': CurrentInfoTab == 'Personal Info'}">Personal Info</a><br>
				<a (click)="CurrentInfoTab = 'Bio'" [ngClass]="{'active': CurrentInfoTab == 'Bio'}">Bio</a><br>
				<a (click)="CurrentInfoTab = 'Social'" [ngClass]="{'active': CurrentInfoTab == 'Social'}">Social</a><br>
				<a *ngIf="formGroup.controls['field_add_your_makerspace_s_'].controls.length == 0" (click)="AddMakerspaceRow();CurrentInfoTab = 'MakerSpaces'"
				 [ngClass]="{'active': CurrentInfoTab == 'MakerSpaces'}">MakerSpaces</a>
				<a *ngIf="formGroup.controls['field_add_your_makerspace_s_'].controls.length != 0" (click)="CurrentInfoTab = 'MakerSpaces'"
				 [ngClass]="{'active': CurrentInfoTab == 'MakerSpaces'}">MakerSpaces</a><br>
				<a (click)="CurrentInfoTab = 'Links'" [ngClass]="{'active': CurrentInfoTab == 'Links'}">Links</a><br>
				<a (click)="CurrentInfoTab = 'Maker Moment'" [ngClass]="{'active': CurrentInfoTab == 'Maker Moment'}">Maker Moment</a><br>
				<a (click)="CurrentInfoTab = 'Interests'" [ngClass]="{'active': CurrentInfoTab == 'Interests'}">Interests</a>
			</div>
			<div class="col-md-10">
				<div id="personal-info" class="profile-edit-teb" *ngIf="CurrentInfoTab == 'Personal Info'">
					<div class="form-group">
						<div class="form-subgroup container">
							<div class="row">
								<div class="col-lg-4 col-md-6">
									<label for="edit-nickname">NICKNAME</label>
									<input placeholder="What do you friends call you?" [(ngModel)]="ProfileInfo.nickname" type="text" class="form-control" id="edit-nickname">
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="form-subgroup container">
							<div class="row">
								<div class="col-md-12 col-xs-12">
									<label for="edit-city">LOCATION</label>
								</div>
								<div class="col-md-4 col-xs-12">
									<input [ngClass]="{valError: searchFailed}" [ngModel]="profile.address.country" type="text" class="form-control" id="country" placeholder="Country" [inputFormatter]="formatter"
									 [showHint]="true" [ngbTypeahead]="SearchCountry" [resultTemplate]="rt" (selectItem)="ProfileInfo.address.country = $event.item.value;GetCountryDetails($event.item.key)">
									<small *ngIf="searchFailed" class="text-danger">
						Country not found.
							</small>
								</div>
								<div class="col-md-4 col-xs-12">
									<!--<label *ngIf="CountryFieldsAndDetails.used_fields.indexOf('locality') != -1" for="city">{{CountryFieldsAndDetails.locality_label}}</label>-->
									<input *ngIf="CountryFieldsAndDetails.used_fields.indexOf('locality') != -1" placeholder="{{CountryFieldsAndDetails.locality_label}}"
									 [ngModel]="profile.address[CountryFieldsAndDetails.locality_label.toLowerCase()]" type="text" class="form-control"
									 id="city" (change)="ProfileInfo.address.city = $event.target.value">
								</div>

								<div class="col-md-4 col-xs-12">
									<!--<label *ngIf="CountryFieldsAndDetails.used_fields.indexOf('postal_code') != -1" for="postal_code">{{CountryFieldsAndDetails.postal_code_label}}</label>-->
									<input *ngIf="CountryFieldsAndDetails.used_fields.indexOf('postal_code') != -1 && !profile.address.postcode && !profile.address.zip_code"
									 placeholder="{{CountryFieldsAndDetails.postal_code_label}}" [ngModel]="profile.address.postal_code" type="text"
									 class="form-control" id="postal_code" (change)="ProfileInfo.address.postal_code = $event.target.value">
									<input *ngIf="CountryFieldsAndDetails.used_fields.indexOf('postal_code') != -1 && profile.address.zip_code" [ngModel]="profile.address.zip_code"
									 type="text" class="form-control" id="postal_code" (change)="ProfileInfo.address.postal_code = $event.target.value">
									<input *ngIf="CountryFieldsAndDetails.used_fields.indexOf('postal_code') != -1 && profile.address.postcode" [ngModel]="profile.address.postcode"
									 type="text" class="form-control" id="postal_code" (change)="ProfileInfo.address.postal_code = $event.target.value">
								</div>
							</div>
						</div>
						<div class="form-subgroup container pt-3">
							<div class="row">
								<div class="col-md-12">
									<label *ngIf="CountryFieldsAndDetails.administrative_areas" for="administrative_areas">{{CountryFieldsAndDetails.administrative_area_label}}</label>
								</div>
								<div class="col-md-4">
									<select class="col-md-12" *ngIf="CountryFieldsAndDetails.administrative_areas" id="administrative_areas" (change)="ProfileInfo.address.governorate = $event.target.value">
										<option *ngFor="let area of CountryFieldsAndDetails.administrative_areas" [value]="area.value" [selected]="profile.address[CountryFieldsAndDetails.administrative_area_label.toLowerCase()] == area.value">{{area.value}}</option>
									</select>
								</div>
							</div>
						</div>
						<div class="form-subgroup container mt-3">
							<div class="row">
								<div class="col-md-12">
									<div [formGroup]="formGroup">
										<label for="edit-bio">PERSONAL QUOTE</label>
										<textarea rows="3" formControlName="describe_yourself" name="limitedtextfield" class="col-md-12" id="description-textarea-info"
										 placeholder="120 characters that are words you live by." maxlength="120"></textarea>
										 <span [ngClass]="{valErrorString: formGroup.value.describe_yourself.length == 120}" class="char-left"> {{120 - formGroup.value.describe_yourself.length}} char left </span>
										<!--<div *ngIf="!formGroup.valid">max length 120</div>-->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div id="bio" class="profile-edit-tab" *ngIf="CurrentInfoTab == 'Bio'">
					<div class="form-group" [formGroup]="formGroup">
						<div class="form-subgroup container">
							<div class="row">
								<div class="col-md-12">
									<label for="edit-bio">YOUR BIO</label>
								</div>
								<div class="col-md-12">
									<textarea rows="10" cols="50" class="col-md-12" formControlName="describe_yourself" name="limitedtextfield" id="description-textarea-bio"
									 placeholder="{{'What would you like people to know about you?\nYou basicaly have two paragraphs of space.'}}" maxlength="140"></textarea>
									<span [ngClass]="{valErrorString: formGroup.value.describe_yourself.length == 140}" class="char-left">{{140 - formGroup.value.describe_yourself.length}} char left</span>
								</div>
								<!--<div class="col-md-12" *ngIf="!formGroup.valid">max length 140</div>-->
							</div>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
				<div id="socaial" class="profile-edit-tab" *ngIf="CurrentInfoTab == 'Social'">
					<div class="form-group" [formGroup]="FormGroupSocial">
						<div class="form-group socials container">
							<div class="list-unstyled social-links row">
								<div class="col-md-8">
									<div class="row">
										<li class="col-md-12">
											<label>WHERE ARE YOU SOCIAL?</label>
										</li>
										<div class="col-md-6">
											<li class="form-group">
												<input [ngClass]="{valError: !FormGroupSocial.controls.field_facebook.valid}" class="col-md-12 form-control" type="text" formControlName="field_facebook" name="web-url" placeholder="Facebook">
												<!--<input class="radio-breferred" type="radio" formControlName="field_preferred" name="field_preferred" value="field_facebook"-->
												<!--[checked]="profile.field_social_accounts.field_preferred == 'field_facebook'" validate-onfocusout>-->
											</li>
											<div *ngIf="!FormGroupSocial.controls.field_facebook.valid && FormGroupSocial.controls.field_facebook.touched" class="alert alert-danger error-msg">
												Invalid URL, ex: http://example.com
											</div>
										</div>
										<div class="col-md-6">
											<li class="form-group">
												<input [ngClass]="{valError: !FormGroupSocial.controls.field_instagram.valid}" class="col-md-12 form-control" type="text" formControlName="field_instagram" name="web-url" placeholder="Instagram">
												<!--<input class="radio-breferred" type="radio" formControlName="field_preferred" name="field_preferred" value="field_instagram"-->
												<!--[checked]="profile.field_social_accounts.field_preferred == 'field_instagram'" validate-onfocusout>-->
											</li>
											<div *ngIf="!FormGroupSocial.controls.field_instagram.valid && FormGroupSocial.controls.field_instagram.touched" class="alert alert-danger error-msg">
												Invalid URL, ex: http://example.com
											</div>
										</div>
										<div class="col-md-6">
											<li class="form-group">
												<input [ngClass]="{valError: !FormGroupSocial.controls.field_linkedin.valid}" class="col-md-12 form-control" type="text" formControlName="field_linkedin" name="web-url" placeholder="LinkedIn">
												<!--<input class="radio-breferred" type="radio" formControlName="field_preferred" name="field_preferred" value="field_linkedin"-->
												<!--[checked]="profile.field_social_accounts.field_preferred == 'field_linkedin'" validate-onfocusout>-->
											</li>
											<div *ngIf="!FormGroupSocial.controls.field_linkedin.valid && FormGroupSocial.controls.field_linkedin.touched" class="alert alert-danger error-msg">
												Invalid URL, ex: http://example.com
											</div>
										</div>
										<div class="col-md-6">
											<li class="form-group">
												<input [ngClass]="{valError: !FormGroupSocial.controls.field_twitter.valid}" class="col-md-12 form-control" type="text" formControlName="field_twitter" name="web-url" placeholder="Twitter">
												<!--<input class="radio-breferred" type="radio" formControlName="field_preferred" name="field_preferred" value="field_twitter"-->
												<!--[checked]="profile.field_social_accounts.field_preferred == 'field_twitter'" validate-onfocusout>-->
											</li>
											<div *ngIf="!FormGroupSocial.controls.field_twitter.valid && FormGroupSocial.controls.field_twitter.touched" class="alert alert-danger error-msg">
												Invalid URL, ex: http://example.com
											</div>
										</div>
										<div class="col-md-6">
											<li class="form-group">
												<input [ngClass]="{valError: !FormGroupSocial.controls.field_pinterest.valid}" class="col-md-12 form-control" type="text" name="web-url" formControlName="field_pinterest" placeholder="Pinterest">
												<!--<input class="radio-breferred" type="radio" formControlName="field_preferred" name="field_preferred" value="field_pinterest"-->
												<!--[checked]="profile.field_social_accounts.field_preferred == 'field_pinterest'" validate-onfocusout>-->
												<div *ngIf="!FormGroupSocial.controls.field_pinterest.valid && FormGroupSocial.controls.field_pinterest.touched" class="alert alert-danger error-msg">
													Invalid URL, ex: http://example.com
												</div>
											</li>
										</div>
										<div class="col-md-6">
											<li class="form-group">
												<input [ngClass]="{valError: !FormGroupSocial.controls.field_youtube.valid}" class="col-md-12 form-control" type="text" name="web-url" formControlName="field_youtube" placeholder="YouTube">
												<!--<input class="radio-breferred" type="radio" formControlName="field_preferred" name="field_preferred" value="field_youtube"-->
												<!--[checked]="profile.field_social_accounts.field_preferred == 'field_youtube'" validate-onfocusout>-->
												<div *ngIf="!FormGroupSocial.controls.field_youtube.valid && FormGroupSocial.controls.field_youtube.touched" class="alert alert-danger error-msg">
													Invalid URL, ex: http://example.com
												</div>
											</li>
										</div>
										<div class="col-md-6">
											<li class="form-group">
												<input [ngClass]="{valError: !FormGroupSocial.controls.field_hackster_io.valid}" class="col-md-12 form-control" type="text" name="web-url" formControlName="field_hackster_io" placeholder="Hackster.io">
												<!--<input class="radio-breferred" class="radio-breferred" type="radio" formControlName="field_preferred" name="field_preferred"-->
												<!--value="field_hackster_io" [checked]="profile.field_social_accounts.field_preferred == 'field_hackster_io'" validate-onfocusout>-->
												<div *ngIf="!FormGroupSocial.controls.field_hackster_io.valid && FormGroupSocial.controls.field_hackster_io.touched" class="alert alert-danger error-msg">
													Invalid URL, ex: http://example.com
												</div>
											</li>
										</div>
										<div class="col-md-6">
											<li class="form-group">
												<input [ngClass]="{valError: !FormGroupSocial.controls.field_instructables.valid}" class="col-md-12 form-control" type="text" name="web-url" formControlName="field_instructables" placeholder="Instructables">
												<!--<input class="radio-breferred" type="radio" formControlName="field_preferred" name="field_preferred" value="field_instructables"-->
												<!--[checked]="profile.field_social_accounts.field_preferred == 'field_instructables'" validate-onfocusout>-->
												<div *ngIf="!FormGroupSocial.controls.field_instructables.valid && FormGroupSocial.controls.field_instructables.touched"
												 class="alert alert-danger error-msg">
													Invalid URL, ex: http://example.com
												</div>
											</li>
										</div>
										<div class="col-md-6">
											<li class="form-group">
												<input [ngClass]="{valError: !FormGroupSocial.controls.field_hackday.valid}" class="col-md-12 form-control" type="text" name="web-url" formControlName="field_hackday" placeholder="Hackaday">
												<!--<input class="radio-breferred" type="radio" formControlName="field_preferred" name="field_preferred" value="field_hackday"-->
												<!--[checked]="profile.field_social_accounts.field_preferred == 'field_hackday'" validate-onfocusout>-->
												<div *ngIf="!FormGroupSocial.controls.field_hackday.valid && FormGroupSocial.controls.field_hackday.touched" class="alert alert-danger error-msg">
													Invalid URL, ex: http://example.com
												</div>
											</li>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div id="maker-spaces" class="profile-edit-tab container" *ngIf="CurrentInfoTab == 'MakerSpaces'">
					<div class="form-group" [formGroup]="formGroup">
						<div class="makerspace-contene" *ngFor="let makerspacecontrol of formGroup.controls.field_add_your_makerspace_s_['controls'];let i = index"
						 formArrayName="field_add_your_makerspace_s_">
							<div (click)="formGroup.controls.field_add_your_makerspace_s_.removeAt(i);" class="maker-space-remove"><i class="fa fa-lg fa-times" aria-hidden="true"></i></div>
							<div class="form-group" [formGroupName]="i">
								<div class="form-group row">
									<div class="col-md-12">
										<label for="">MAKER SPACE</label>
									</div>
									<div class="col-md-4">
										<input class="form-control" type="text" formControlName="field_makerspace_name" [ngbTypeahead]="SearchMakerspace" [resultTemplate]="ms"
										 (selectItem)="SelectMakerspace(i,$event)" placeholder="What do you create?">
									</div>
								</div>
								<div class="form-group row">
									<div class="col-md-12">
										<label for="">URL</label>
									</div>
									<div class="col-md-4">
										<input [ngClass]="{valError: !formGroup.controls.field_add_your_makerspace_s_['controls'][i].controls.field_makerspace_url.valid}" class="form-control" type="text" formControlName="field_makerspace_url">
									</div>
								</div>
								<small *ngIf="!formGroup.controls.field_add_your_makerspace_s_['controls'][i].controls.field_makerspace_url.valid" class="text-danger">
								Invalid URL, ex: http://example.com
							</small>
							</div>
						</div>
					</div>
					<a *ngIf="formGroup.controls.field_add_your_makerspace_s_.valid" class="btn btn-white btn-sharp" (click)="AddMakerspaceRow()"><i class="fa fa-lg fa-plus"></i> Add another Makerspace</a>
				</div>
				<div id="links" class="profile-edit-tab" *ngIf="CurrentInfoTab == 'Links'">
					<div class="form-group" [formGroup]="FormGroupSocial">
						<div class="form-group socials container">
							<ul class="list-unstyled social-links row">
								<li class="col-md-12">
									<label>PREFERED?</label>
								</li>
								<div class="col-md-12">
									<li class="form-group form-item col-md-4">
										<input [ngClass]="{valError: !FormGroupSocial.controls.field_website_or_blog.valid}" class="form-control" type="text" formControlName="field_website_or_blog" name="web-url" placeholder="Website or Blog">
										<!--<input class="radio-breferred" type="radio" formControlName="field_preferred" name="field_preferred" value="field_website_or_blog"-->
										<!--[checked]="profile.field_social_accounts.field_preferred == 'field_website_or_blog'" validate-onfocusout>-->
									</li>
									<div *ngIf="!FormGroupSocial.controls.field_website_or_blog.valid && FormGroupSocial.controls.field_website_or_blog.touched"
									 class="alert alert-danger error-msg">
										Invalid URL, ex: http://example.com
									</div>
								</div>
								<div class="col-md-12">
									<li class="form-group form-item col-md-4">
										<input [ngClass]="{valError: !FormGroupSocial.controls.field_additional_site.valid}" class="form-control" type="text" formControlName="field_additional_site" name="web-url" placeholder="Additional site">
										<!--<input class="radio-breferred" type="radio" formControlName="field_preferred" name="field_preferred" value="field_additional_site"-->
										<!--[checked]="profile.field_social_accounts.field_preferred == 'field_additional_site'" validate-onfocusout>-->
									</li>
									<div *ngIf="!FormGroupSocial.controls.field_additional_site.valid && FormGroupSocial.controls.field_additional_site.touched"
									 class="alert alert-danger error-msg">
										Invalid URL, ex: http://example.com
									</div>
								</div>
							</ul>
						</div>
					</div>
				</div>
				<div id="maker-moment" class="profile-edit-tab" *ngIf="CurrentInfoTab == 'Maker Moment'">
					<div class="form-group" [formGroup]="formGroup">
						<div class="form-subgroup container">
							<div class="row">
								<div class="col-md-12">
									<label for="">YOUR MAKER MOMENT</label>
								</div>
								<div class="col-md-12">
									<textarea formControlName="started_making" rows="10" cols="50" class="col-md-12" name="limitedtextfield" id="start-making-textarea"
									 placeholder="{{'What was the moment that making become a part of your life?\nYou have about two paragraphs of space.'}}"
									 maxlength="300">
								</textarea><span [ngClass]="{valErrorString: formGroup.value.started_making.length == 300}" class="char-left">{{300 - formGroup.value.started_making.length}} char left</span>
								</div>
								<!--<div *ngIf="!formGroup.valid">max length 300</div>-->
								<div class="clearfix"></div>
							</div>
						</div>
					</div>
				</div>
				<div id="interests" class="profile-edit-teb" *ngIf="CurrentInfoTab == 'Interests'">
					<div class="form-group">
						<div class="form-subgroup container">
							<div class="row">
								<div class="col-md-12">
									<label for="">WHAT INTERESTS YOU?</label>
								</div>
								<tag-input [(ngModel)]="ProfileInfo.maker_interests" [identifyBy]="'tid'" display="name" [displayBy]="'name'" [onlyFromAutocomplete]="true"
								 value="tid" [inputId]="tid" [placeholder]="'+ interest'" [secondaryPlaceholder]="'Enter a new interest'" [maxItems]="20"
								 [separatorKeys]="[4, 5]">
									<tag-input-dropdown [identifyBy]="'tid'" [displayBy]="'name'" [autocompleteItems]="allIntersets" value="tid" display="name"
									 inputId="tid">
									</tag-input-dropdown>
								</tag-input>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button #closebtn type="button" class="btn btn-load-more" (click)="c('Close click')" [hidden]="true">Close</button>
			<button type="button" class="btn btn-load-more" (click)="SaveInfo(closebtn)">Save</button>
		</div>
	</div>
</template>

<template #ms let-r="result" let-t="term">
	<div class="data-container-makerspace">
		{{r.title}}
	</div>
</template>