<div class="profile-page profile-empty-edit">
	<div *ngIf="profile">
		<section class="container-fluid cover-region">
		</section>

		<section class="container body-region">
			<!-- Start sidebar-left -->
			<div class="row">
				<div class="col-12 ml-auto d-flex flex-row page-portfolio" *ngIf="CurrentLoggedUserId != uid">
					<div class="nav-portfolio ml-auto hidden-sm-down">
						<div class="display-style d-flex">
							<p [ngClass]="{'not_active': profile.projects_view != 'grid'}" (click)="profile.projects_view = 'grid'" class="grid-view"><img src="./assets/images/icons/dark-squares.png" alt="">Grid view</p>
							<p [ngClass]="{'not_active': profile.projects_view != 'showcase'}" (click)="profile.projects_view = 'showcase'" class="square-view"><img src="./assets/images/icons/hamburger.png" alt=""> Expanded view</p>
						</div>
					</div>
				</div>
				<div class="profile-header col-lg-8 col-md-6 col-sm-12 ml-auto justify-content-end d-flex hidden-sm-down">
					<div class="d-flex flex-row mr-auto switch justify-content-end align-items-start hidden-sm-down display-style">
						<a class="profile-share">
							<app-shared-buttons [PageTitle]="'Maker Portfolio'" [PageDescription]="customDescription" [PageImage]="profile.user_photo"></app-shared-buttons>
						</a>
					</div>
					<ul class="list-unstyled bookmark d-flex flex-row justify-content-end">
						<li *ngIf="ProjectsCount">
							<p><span class="number">{{ProjectsCount}}</span> projects</p>
						</li>
						<li *ngIf="profile.total_likes != 0">
							<p><span class="number">{{profile.total_likes}}</span> project likes</p>
						</li>
						<li>
							<p><span class="number">{{profile.views_count}}</span> views</p>
						</li>
						<!-- Start Bookmsrk-section -->
						<!--<li>
							<a><i class="fa fa-lg fa-bookmark-o"></i></a>
						</li>-->
					</ul>
					<!-- End Bookmark-section -->
				</div>
			</div>
			<div class="row body-content">
				<div class="profile-overlay"></div>
				<div class="left-section col-lg-4 col-md-6">
					<div class="profile-sidebar">
						<div class="profile-container" [class.myprofile]="CurrentLoggedUserId == uid">
							<div class="container-override">
								<div class="image-container">
									<img *ngIf="profile.user_photo_with_style" src="{{profile.user_photo_with_style}}" alt="" class="">
									<img *ngIf="!profile.user_photo_with_style" src="{{profile.user_photo}}" alt="" class="">
								</div>
								<app-message-modal *ngIf="CurrentLoggedUserId != uid" class="profile-message" [uid]="uid"></app-message-modal>
							</div>
							<div class="profile-group">
								<div class="profile-pic">
									<!-- Start Profiel Pic -->
									<div *ngIf="CurrentLoggedUserId && uid && auth.authenticated() && profile.user_photo_with_style">
										<div *ngIf="CurrentLoggedUserId==uid">
											<a (click)="OpenModal(editinfomodal,'Portfolio Photo')"><img src="./assets/images/icons/edit.svg" class="edit-buttons" alt=""></a>
										</div>
									</div>
									<div *ngIf="CurrentLoggedUserId && uid && auth.authenticated() && !profile.user_photo_with_style">
										<div class="first-photo-upload" *ngIf="CurrentLoggedUserId==uid">
											<a (click)="OpenModal(editinfomodal,'Portfolio Photo')">Upload Photo</a>
										</div>
									</div>
								</div>
							</div>
							<div *ngIf="CurrentLoggedUserId==uid && auth.authenticated()">
								<p *ngIf="profile.profile_completion != 100" class="global-title">Profile Completeness</p>
								<div class="completeness pt-2" *ngIf="profile.profile_completion != 100">
									<ngb-progressbar [value]="profile.profile_completion"><i>{{profile.profile_completion+'%'}}</i></ngb-progressbar>
								</div>
							</div>
							<!-- End profile-group -->
							<div class="profile-info">
								<div class="userInfo">
									<div *ngIf="CurrentLoggedUserId==uid && auth.authenticated()">
										<a (click)="OpenModal(editinfomodal,'Personal Info')"><img src="./assets/images/icons/edit.svg" class="edit-buttons" alt=""></a>
									</div>
									<h4 class="profile-fullname">{{profile.full_name}}</h4>
									<p *ngIf="ProfileInfo.nickname" class="profile-nickname">{{ProfileInfo.nickname}}</p>
									<p class="placeholder-text" *ngIf="!ProfileInfo.nickname && CurrentLoggedUserId == uid">{{PlaceholderText.nickname}}</p>
									<ul *ngIf="CurrentLoggedUserId == uid || ProfileInfo.address_publish" class="list-unstyled location">
										<li *ngIf="ProfileInfo.address && CountryFieldsAndDetails.locality_label && !CountryFieldsAndDetails.administrative_areas">{{ProfileInfo.address.country}}, {{ProfileInfo.address[CountryFieldsAndDetails.locality_label.toLowerCase()]}}</li>
										<li *ngIf="ProfileInfo.address && CountryFieldsAndDetails.administrative_areas">{{ProfileInfo.address.country}}, {{ProfileInfo.address[CountryFieldsAndDetails.administrative_area_label.toLowerCase()]}}</li>
										<li class="placeholder-text" *ngIf="!ProfileInfo.address && CurrentLoggedUserId == uid">{{PlaceholderText.address}}</li>
									</ul>
									<span class="toggleProfile" (click)="ToggleProfile()">
										<i class="lnr lnr lnr-chevron-down open"></i>
										<i class="lnr lnr lnr-cross close"></i>
									</span>
								</div>
								<hr class="hideData">
								<!-- describe yourself-->
								<ul class="list-unstyled post hideData">
									<div *ngIf="CurrentLoggedUserId && uid">
										<div *ngIf="CurrentLoggedUserId==uid && auth.authenticated()">
											<a (click)="OpenModal(editinfomodal,'Personal Info')"><img src="./assets/images/icons/edit.svg" class="edit-buttons" alt=""></a>
										</div>
									</div>
									<li *ngIf="ProfileInfo.describe_yourself != '' " class="profile-describe-yourself">{{ProfileInfo.describe_yourself}}</li>
									<li *ngIf="ProfileInfo.describe_yourself == '' && CurrentLoggedUserId == uid" class="motto-placeholder placeholder-text">{{PlaceholderText.describe_yourself}}</li>
								</ul>
								<!-- describe yourself-->
								<hr class="hideData" *ngIf="ProfileInfo.describe_yourself != '' || CurrentLoggedUserId == uid">
								<!-- start Badges-->
								<div class="icons hideData" *ngIf="badges !=''">
									<!--<p class="global-title">Badges</p>-->
									<div class="single-icon d-flex flex-row align-items-center" *ngFor="let badge of badges;">
										<img src="{{badge?.goal_image}}" alt="{{badge?.title}}">
										<p class="badges">{{badge?.title}}</p><br>
									</div>
									<hr>
								</div>
								<!--End Badges -->
								<!-- Start Bio -->
								<div class="bio hideData">
									<div *ngIf="CurrentLoggedUserId && uid">
										<div *ngIf="CurrentLoggedUserId==uid && auth.authenticated()">
											<a (click)="OpenModal(editinfomodal,'Bio')"><img src="./assets/images/icons/edit.svg" class="edit-buttons" alt=""></a>
										</div>
									</div>
									<p class="global-title" *ngIf="ProfileInfo.bio && CurrentLoggedUserId == uid">Bio</p>
									<div *ngIf="ProfileInfo.bio" class="bio" innerHTML="{{ProfileInfo.bio}}"></div>
									<div *ngIf="!ProfileInfo.bio && CurrentLoggedUserId == uid && auth.authenticated()" class="bio">
										<p class="placeholder-text">{{PlaceholderText.bio}}</p>
									</div>
									<hr *ngIf="CurrentLoggedUserId == uid || ProfileInfo.bio">
								</div>
								<!-- End Bio -->
								<!--<hr *ngIf="CurrentLoggedUserId != uid  && auth.authenticated()">-->
								<div *ngIf="ProfileInfo.field_social_accounts" class="hideData">
									<a *ngIf="CurrentLoggedUserId && uid && CurrentLoggedUserId==uid && auth.authenticated()" (click)="OpenModal(editinfomodal,'Social')"><img src="./assets/images/icons/edit.svg" class="edit-buttons" alt=""></a>
									<p class="global-title" *ngIf="!emptySocial || CurrentLoggedUserId==uid">Social</p>
									<p class="placeholder-text" *ngIf="!emptySocial || CurrentLoggedUserId==uid">{{PlaceholderText.social}}</p>
									<div class="social-links d-flex flex-wrap">
										<div class="social-container" *ngIf="ProfileInfo.field_social_accounts.field_facebook != '' ">
											<a class="nav-link social fb" target="_blank" href="{{ProfileInfo.field_social_accounts.field_facebook}}">
												<i class="fa fa-facebook fa-lg"></i>
											</a>
										</div>
										<div class="social-container" *ngIf="ProfileInfo.field_social_accounts.field_twitter != '' ">
											<a class="nav-link social tw" target="_blank" href="{{ProfileInfo.field_social_accounts.field_twitter}}">
												<i class="fa fa-twitter fa-lg"></i>
											</a>
										</div>
										<div class="social-container" *ngIf="ProfileInfo.field_social_accounts.field_instagram != '' ">
											<a class="nav-link social in" target="_blank" href="{{ProfileInfo.field_social_accounts.field_instagram}}">
												<i class="fa fa-instagram fa-lg"></i>
											</a>
										</div>
										<div class="social-container" *ngIf="ProfileInfo.field_social_accounts.field_linkedin != '' ">
											<a class="nav-link social ln" target="_blank" href="{{ProfileInfo.field_social_accounts.field_linkedin}}">
												<i class="fa fa-linkedin fa-lg"></i>
											</a>
										</div>
										<div class="social-container" *ngIf="ProfileInfo.field_social_accounts.field_pinterest != '' ">
											<a class="nav-link social pin" target="_blank" href="{{ProfileInfo.field_social_accounts.field_pinterest}}">
												<i class="fa fa-pinterest-p fa-lg"></i>
											</a>
										</div>
										<div class="social-container" *ngIf="ProfileInfo.field_social_accounts.field_youtube != '' ">
											<a class="nav-link social ut" target="_blank" href="{{ProfileInfo.field_social_accounts.field_youtube}}">
												<i class="fa fa-youtube fa-lg"></i>
											</a>
										</div>
										<div class="social-container" *ngIf="ProfileInfo.field_social_accounts.field_hackster_io != '' ">
											<a class="nav-link social ext" target="_blank" href="{{ProfileInfo.field_social_accounts.field_hackster_io}}">
												<i class="fa fa-external-link fa-lg"></i>
											</a>
										</div>
										<div class="social-container" *ngIf="ProfileInfo.field_social_accounts.field_instructables != '' ">
											<a class="nav-link social ext" target="_blank" href="{{ProfileInfo.field_social_accounts.field_instructables}}">
												<i class="fa fa-external-link fa-lg"></i>
											</a>
										</div>
										<div class="social-container" *ngIf="ProfileInfo.field_social_accounts.field_hackday != '' ">
											<a class="nav-link social ext" target="_blank" href="{{ProfileInfo.field_social_accounts.field_hackday}}">
												<i class="fa fa-external-link fa-lg"></i>
											</a>
										</div>
									</div>
									<div class="clearfix"></div>
								</div>
								<div *ngIf="!ProfileInfo.field_social_accounts" class="hideData">
									<div *ngIf="CurrentLoggedUserId && uid">
										<div *ngIf="CurrentLoggedUserId==uid"> <a class="btn btn-white add" (click)="OpenModal(editinfomodal,'Social')"><i class="fa fa-lg fa-plus"></i> Add social links</a></div>
									</div>
								</div>
								<hr class="hideData" *ngIf="!emptySocial || CurrentLoggedUserId==uid">
								<ul class="list-unstyled makerspaces hideData">
									<div *ngIf="CurrentLoggedUserId == uid && auth.authenticated()">
										<a (click)="OpenModal(editinfomodal,'MakerSpaces')"><img src="./assets/images/icons/edit.svg" class="edit-buttons" alt=""></a>
									</div>
									<p *ngIf="CurrentLoggedUserId == uid || ProfileInfo.field_add_your_makerspace_s_.length > 0" class="global-title">Makerspaces</p>
									<span *ngIf="ProfileInfo.field_add_your_makerspace_s_.length > 0">
										<div *ngFor="let makerspace of ProfileInfo.field_add_your_makerspace_s_">
											<a *ngIf="makerspace.field_makerspace_url" href="{{makerspace.field_makerspace_url}}">  {{makerspace.field_makerspace_name}} </a>
											<div *ngIf="!makerspace.field_makerspace_url"> {{makerspace.field_makerspace_name}} </div>
										</div>
									</span>
								</ul>
								<ul *ngIf="ProfileInfo.field_add_your_makerspace_s_  == ''" class="list-unstyled makerspaces hideData">
									<p *ngIf="CurrentLoggedUserId == uid" class="placeholder-text">{{PlaceholderText.maker_space}}</p>
								</ul>
								<hr *ngIf="CurrentLoggedUserId == uid || ProfileInfo.field_add_your_makerspace_s_ != ''" class="hideData">
								<div class="hideData">
									<a *ngIf="CurrentLoggedUserId && uid && CurrentLoggedUserId==uid && auth.authenticated()" (click)="OpenModal(editinfomodal,'Links')"><img src="./assets/images/icons/edit.svg" class="edit-buttons" alt=""></a>
									<p class="global-title" *ngIf="(ProfileInfo.field_social_accounts.field_website_or_blog != '' || ProfileInfo.field_social_accounts.field_additional_site != '') || CurrentLoggedUserId == uid">
										Websites </p>
									<div *ngIf="ProfileInfo.field_social_accounts.field_website_or_blog != '' || ProfileInfo.field_social_accounts.field_additional_site != ''">
										<a class="mywebsite" target="_blank" *ngIf="ProfileInfo.field_social_accounts.field_website_or_blog != '' && profile.field_social_accounts.field_website_title"
										 href="{{ProfileInfo.field_social_accounts.field_website_or_blog}}">{{profile.field_social_accounts.field_website_title}}</a>
										<a class="mywebsite" target="_blank" *ngIf="ProfileInfo.field_social_accounts.field_additional_site != '' && profile.field_social_accounts.field_blog_title"
										 href="{{ProfileInfo.field_social_accounts.field_additional_site}}">{{profile.field_social_accounts.field_blog_title}}</a>
									</div>
									<div *ngIf="ProfileInfo.field_social_accounts.field_website_title == '' && ProfileInfo.field_social_accounts.field_blog_title == ''">
										<div *ngIf="CurrentLoggedUserId && uid">
											<div *ngIf="CurrentLoggedUserId==uid">
												<p class="placeholder-text">{{PlaceholderText.websites}}</p>
											</div>
										</div>
									</div>
								</div>
								<hr class="hideData" *ngIf="ProfileInfo.field_social_accounts.field_website_or_blog != '' || ProfileInfo.field_social_accounts.field_additional_site != '' || CurrentLoggedUserId == uid">
								<div class="how hideData">
									<!-- Start How -->
									<a *ngIf="CurrentLoggedUserId==uid" (click)="OpenModal(editinfomodal,'Maker Moment')"><img src="./assets/images/icons/edit.svg" class="edit-buttons" alt=""></a>
									<p class="global-title" *ngIf="ProfileInfo.started_making || CurrentLoggedUserId==uid">My Maker Moment</p>
									<p *ngIf="ProfileInfo.started_making" class="started_making">{{ProfileInfo.started_making}}</p>
									<p *ngIf="!ProfileInfo.started_making && CurrentLoggedUserId==uid" class="started_making" class="placeholder-text">{{PlaceholderText.started_making}}</p>
								</div>
								<hr class="hideData" *ngIf="ProfileInfo.started_making || CurrentLoggedUserId==uid">
								<a *ngIf="CurrentLoggedUserId==uid" (click)="OpenModal(editinfomodal,'Interests')"><img src="./assets/images/icons/edit.svg" class="edit-buttons hideData" alt=""></a>
								<p class="hideData global-title" *ngIf="ProfileInfo.maker_interests.length != 0 || CurrentLoggedUserId==uid">Favorite Maker Topics</p>
								<p *ngIf="CurrentLoggedUserId && uid && CurrentLoggedUserId==uid && auth.authenticated() && ProfileInfo.maker_interests.length == 0"
								 class="placeholder-text hideData">{{PlaceholderText.interests}}</p>
								<!--<tag-input [(ngModel)]="ProfileInfo.maker_interests" [readonly]="true" [identifyBy]="'tid'" display="name" [displayBy]="'name'"
								 [inputId]="tid">
								</tag-input>-->
								<p class="hideData topic-tags">
									<span *ngFor="let interest of ProfileInfo.maker_interests; let i = index">
										<i *ngIf="i-1 > -1">,</i> {{interest.name}}
									</span>
								</p>
								<!--<a class="report">Report this user</a>-->
								<div class="hideData report-div" *ngIf="CurrentLoggedUserId && uid && CurrentLoggedUserId != uid  && auth.authenticated()">
									<hr>
									<app-report-user [userReportId]="uid"></app-report-user>
									<span class="toggleProfile" (click)="ToggleProfile()">
										<i class="lnr lnr lnr-chevron-down open"></i>
										<i class="lnr lnr lnr-cross close"></i>
									</span>
								</div>
								<!-- End How -->
							</div>
							<!-- End col-md-3 -->
						</div>
						<!-- End sidebar-left -->
					</div>
				</div>
				<div class="right-section col-lg-8 col-md-6">
					<!-- Start Content-region -->

					<div class="profile-header col-md-6 col-sm-12 ml-auto justify-content-end d-flex hidden-md-up">
						<ul class="list-unstyled bookmark d-flex flex-row justify-content-end">
							<li *ngIf="ProjectsCount">
								<p><span class="number">{{ProjectsCount}}</span> projects</p>
							</li>
							<li *ngIf="profile.total_likes != 0">
								<p><span class="number">{{profile.total_likes}}</span> project likes</p>
							</li>
							<li>
								<p><span class="number">{{profile.views_count}}</span> views</p>
							</li>
							<!-- Start Bookmsrk-section -->
							<!--<li>
							<a><i class="fa fa-lg fa-bookmark-o"></i></a>
						</li>-->
						</ul>
						<!-- End Bookmark-section -->
					</div>
					<div class="profile-stats">
						<div class="profile-content">
							<div class="row">
								<div class="col-lg-12 col-md-12">
									<profile-projects *ngIf="CurrentLoggedUserId != uid" [uid]="uid" [view]="profile.projects_view" [userFullName]="profile.full_name"></profile-projects>
									<app-edit-portfolio *ngIf="CurrentLoggedUserId == uid" [projectsCount]="ProjectsCount"></app-edit-portfolio>
								</div>
							</div>
							<!-- End project grid -->
						</div>
					</div>
					<!-- End profile content -->
				</div>
			</div>
		</section>
		<!-- End body-group -->
	</div>
</div>

<template #rt let-r="result" let-t="term">
	<div class="data-container">
		{{r.value}}
	</div>
</template>

<!-- Add Edit Info Modal -->
<template #editinfomodal let-c="close" let-d="dismiss" ngbModalContainer>
	<div class="profile-modal">
		<div class="modal-header">
			<button type="button" class="close ml-auto" aria-label="Close" (click)="d('Cross click')">
							<span aria-hidden="true">&times;</span>
						</button>
			<!--<span class="info your-photo-tab" *ngIf="CurrentInfoTab == 'Portfolio Photo'">
							<p>DID YOU KNOW?</p>
							<p>You can also add images from your phone</p>
						</span>-->
		</div>
		<div class="modal-body container">
			<div class="row">
				<div class="modal-menu col-md-4 col-lg-2">
					<a (click)="CurrentInfoTab = 'Portfolio Photo'" [ngClass]="{'active': CurrentInfoTab == 'Portfolio Photo'}">Portfolio photo</a><br>
					<a (click)="CurrentInfoTab = 'Personal Info'" [ngClass]="{'active': CurrentInfoTab == 'Personal Info'}">Personal info</a><br>
					<a (click)="CurrentInfoTab = 'Bio'" [ngClass]="{'active': CurrentInfoTab == 'Bio'}">Bio</a><br>
					<a (click)="CurrentInfoTab = 'Social'" [ngClass]="{'active': CurrentInfoTab == 'Social'}">Social accounts</a><br>
					<a *ngIf="formGroup.controls['field_add_your_makerspace_s_'].controls.length == 0" (click)="AddMakerspaceRow();CurrentInfoTab = 'MakerSpaces'"
					 [ngClass]="{'active': CurrentInfoTab == 'MakerSpaces'}">Makerspaces</a>
					<a *ngIf="formGroup.controls['field_add_your_makerspace_s_'].controls.length != 0" (click)="CurrentInfoTab = 'MakerSpaces'"
					 [ngClass]="{'active': CurrentInfoTab == 'MakerSpaces'}">Makerspaces</a><br>
					<a (click)="CurrentInfoTab = 'Links'" [ngClass]="{'active': CurrentInfoTab == 'Links'}">Websites</a><br>
					<a (click)="CurrentInfoTab = 'Maker Moment'" [ngClass]="{'active': CurrentInfoTab == 'Maker Moment'}">Maker moment</a><br>
					<a (click)="CurrentInfoTab = 'Interests'" [ngClass]="{'active': CurrentInfoTab == 'Interests'}">Favorite Maker Topics</a>
				</div>
				<div class="modal-contents col-md-8 col-lg-10 d-flex flex-column">
					<div id="profile-cover" class="edit-cover-modal" *ngIf="CurrentInfoTab == 'Portfolio Photo'">
						<div class="modal-tabs" *ngIf="CurrentInfoTab == 'Portfolio Photo'">
							<ul class="list-unstyled">
								<li class="upload" (click)="PhotoModalTab = 'upload'"><a class="btn btn-transparent" [ngClass]="{'active':PhotoModalTab == 'upload'}">UPLOAD</a></li>
								<li class="your-photos" (click)="PhotoModalTab = 'filemanager'"><a class="btn btn-transparent" [ngClass]="{'active':PhotoModalTab == 'filemanager'}">YOUR PHOTOS</a></li>
							</ul>
						</div>
						<div class="modal-body row">
							<div id="portfolio-photo" class="w-100 container" *ngIf="CurrentInfoTab == 'Portfolio Photo'">
								<div [hidden]="PhotoModalTab != 'upload'" ng2FileDrop class="upload-tab row" (ng2FileDropFileAccepted)="dragFileAccepted($event,cropper)">
									<div class="drop-section col-md-7">
										<img *ngIf="!ProfilePicData.original" class="image-background" src="./assets/images/icons/Photos Icon.png" alt="">
										<img-cropper [hidden]="!ProfilePicData.original" #cropper [image]="ProfilePicData" [settings]="ProfilecropperSettings"></img-cropper><br>
										<div *ngIf="!ProfilePicData.original">
											<p class="drag-photo">Drag a Photo Here</p>
											<p class="drag-or">or</p>
										</div>
										<a class="btn btn-load-more" (click)="fileinput.click()">
											Upload
											<input #fileinput type="file" (change)="fileChangeListener($event.target.files[0],cropper)" id="upload" style="display:none;" />
										</a>
									</div>
									<div class="recommended-section col-md-4">
										<p class="drag-text mt-4 mb-0">Recommended minimum resolution 600 by 600 pixels</p>
									</div>
								</div>
								<app-file-browser *ngIf="PhotoModalTab == 'filemanager'" (emitter)="SelectFileAndSave(closebtn,$event)"></app-file-browser>
							</div>
						</div>
					</div>
					<div id="personal-info" class="profile-edit-teb" *ngIf="CurrentInfoTab == 'Personal Info'">
						<div class="form-group">
							<div class="form-subgroup container">
								<div class="row">
									<div class="col-md-12 col-xs-12">
										<label for="edit-city">LOCATION</label>
										<span class="custom-control custom-checkbox mb-2 mr-sm-2 ml-3 mb-sm-0">
											<input type="checkbox" class="custom-control-input" [checked]="ProfileInfo.address_publish == 1" (change)="$event.target.checked?ProfileInfo.address_publish = 1:ProfileInfo.address_publish = 0">
											<span class="custom-control-indicator"></span>
											<span class="custom-control-description">include location in public profile</span>
										</span>
									</div>
									<div class="col-md-4 col-xs-12">
										<input [ngClass]="{valError: searchFailed}" [ngModel]="profile.address.country" type="text" class="form-control" id="country"
										 placeholder="Click to select country" [inputFormatter]="formatter" [ngbTypeahead]="SearchCountry" [resultTemplate]="rt"
										 (selectItem)="ProfileInfo.address.country = $event.item.value;GetCountryDetails($event.item.key)">
										<!--<small *ngIf="searchFailed" class="text-danger">Country not found.</small>-->
									</div>
									<div class="col-md-4 col-xs-12">
										<!--<label *ngIf="CountryFieldsAndDetails.used_fields.indexOf('locality') != -1" for="city">{{CountryFieldsAndDetails.locality_label}}</label>-->
										<input *ngIf="CountryFieldsAndDetails.used_fields.indexOf('locality') != -1" placeholder="City" [ngModel]="profile.address[CountryFieldsAndDetails.locality_label.toLowerCase()]"
										 type="text" class="form-control" id="city" (change)="ProfileInfo.address.city = $event.target.value">
									</div>
								</div>
							</div>
							<div class="form-subgroup container pt-3">
								<div class="row">
									<div class="col-md-12">
										<label *ngIf="CountryFieldsAndDetails.administrative_areas" for="administrative_areas">{{CountryFieldsAndDetails.administrative_area_label}}</label>
									</div>
									<div>
									</div>
									<div class="col-md-4">
										<select class="col-md-12" *ngIf="CountryFieldsAndDetails.administrative_areas" id="administrative_areas" (change)="ProfileInfo.address.governorate = $event.target.value">
											<option value="choose" [disabled]="butDisabled">Choose</option>
											<option *ngFor="let area of CountryFieldsAndDetails.administrative_areas" [value]="area.value" [selected]="profile.address[CountryFieldsAndDetails.administrative_area_label.toLowerCase()] == area.value">{{area.value}}</option>
										</select>
									</div>
								</div>
							</div>
							<div class="form-subgroup pt-3">
								<div class="form-subgroup container">
									<div class="row">
										<div class="col-lg-4 col-md-6">
											<label for="edit-nickname">NICKNAME</label>
											<input placeholder="What do you friends call you?" [(ngModel)]="ProfileInfo.nickname" type="text" class="form-control" id="edit-nickname">
										</div>
									</div>
								</div>
							</div>
							<div class="form-subgroup container mt-3">
								<div class="row">
									<div class="col-md-12">
										<div [formGroup]="formGroup">
											<label for="edit-bio">MAKER MOTTO</label>
											<textarea rows="2" formControlName="describe_yourself" name="limitedtextfield" class="col-md-12" id="description-textarea-info"
											 maxlength="60"></textarea>
											<span [ngClass]="{valErrorString: formGroup.value.describe_yourself.length == 60}"> {{formGroup.value.describe_yourself.length}}/60 char left </span>
											<!--<div *ngIf="!formGroup.valid">max length 120</div>-->
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="bio" class="profile-edit-tab" *ngIf="CurrentInfoTab == 'Bio'">
						<div class="form-group" [formGroup]="formGroup">
							<div class="form-subgroup container">
								<div class="row">
									<div class="col-md-12">
										<label for="edit-bio">BIO</label>
									</div>
									<div class="col-md-12">
										<textarea rows="10" cols="50" class="col-md-12" formControlName="bio" name="limitedtextfield" id="description-textarea-bio"
										 maxlength="400"></textarea>
										<div>
											<span [ngClass]="{valErrorString: this.ProfileInfo.bio.length == 400}">{{formGroup.value.bio.length}}/400 Chars</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
					<div id="social" class="profile-edit-tab" *ngIf="CurrentInfoTab == 'Social'">
						<div class="form-group" [formGroup]="FormGroupSocial">
							<div class="form-group socials container">
								<div class="list-unstyled social-links row">
									<div class="col-lg-8">
										<div class="row">
											<li class="col-md-12">
												<label>SOCIAL ACCOUNTS</label>
											</li>
											<div class="col-lg-6">
												<li class="form-group">
													<input add-protocol [ngClass]="{valError: !FormGroupSocial.controls.field_facebook.valid}" class="col-md-12 form-control"
													 type="text" formControlName="field_facebook" name="web-url" placeholder="Facebook">
													<!--<input class="radio-breferred" type="radio" formControlName="field_preferred" name="field_preferred" value="field_facebook"-->
													<!--[checked]="profile.field_social_accounts.field_preferred == 'field_facebook'" validate-onfocusout>-->
												</li>
												<div *ngIf="!FormGroupSocial.controls.field_facebook.valid && FormGroupSocial.controls.field_facebook.touched" class="alert alert-danger error-msg">
													Invalid URL, ex: http://example.com
												</div>
											</div>
											<div class="col-lg-6">
												<li class="form-group">
													<input add-protocol [ngClass]="{valError: !FormGroupSocial.controls.field_instagram.valid}" class="col-md-12 form-control"
													 type="text" formControlName="field_instagram" name="web-url" placeholder="Instagram">
													<!--<input class="radio-breferred" type="radio" formControlName="field_preferred" name="field_preferred" value="field_instagram"-->
													<!--[checked]="profile.field_social_accounts.field_preferred == 'field_instagram'" validate-onfocusout>-->
												</li>
												<div *ngIf="!FormGroupSocial.controls.field_instagram.valid && FormGroupSocial.controls.field_instagram.touched" class="alert alert-danger error-msg">
													Invalid URL, ex: http://example.com
												</div>
											</div>
											<div class="col-lg-6">
												<li class="form-group">
													<input add-protocol [ngClass]="{valError: !FormGroupSocial.controls.field_linkedin.valid}" class="col-md-12 form-control"
													 type="text" formControlName="field_linkedin" name="web-url" placeholder="LinkedIn">
													<!--<input class="radio-breferred" type="radio" formControlName="field_preferred" name="field_preferred" value="field_linkedin"-->
													<!--[checked]="profile.field_social_accounts.field_preferred == 'field_linkedin'" validate-onfocusout>-->
												</li>
												<div *ngIf="!FormGroupSocial.controls.field_linkedin.valid && FormGroupSocial.controls.field_linkedin.touched" class="alert alert-danger error-msg">
													Invalid URL, ex: http://example.com
												</div>
											</div>
											<div class="col-lg-6">
												<li class="form-group">
													<input add-protocol [ngClass]="{valError: !FormGroupSocial.controls.field_twitter.valid}" class="col-md-12 form-control"
													 type="text" formControlName="field_twitter" name="web-url" placeholder="Twitter">
													<!--<input class="radio-breferred" type="radio" formControlName="field_preferred" name="field_preferred" value="field_twitter"-->
													<!--[checked]="profile.field_social_accounts.field_preferred == 'field_twitter'" validate-onfocusout>-->
												</li>
												<div *ngIf="!FormGroupSocial.controls.field_twitter.valid && FormGroupSocial.controls.field_twitter.touched" class="alert alert-danger error-msg">
													Invalid URL, ex: http://example.com
												</div>
											</div>
											<div class="col-lg-6">
												<li class="form-group">
													<input add-protocol [ngClass]="{valError: !FormGroupSocial.controls.field_pinterest.valid}" class="col-md-12 form-control"
													 type="text" name="web-url" formControlName="field_pinterest" placeholder="Pinterest">
													<!--<input class="radio-breferred" type="radio" formControlName="field_preferred" name="field_preferred" value="field_pinterest"-->
													<!--[checked]="profile.field_social_accounts.field_preferred == 'field_pinterest'" validate-onfocusout>-->
													<div *ngIf="!FormGroupSocial.controls.field_pinterest.valid && FormGroupSocial.controls.field_pinterest.touched" class="alert alert-danger error-msg">
														Invalid URL, ex: http://example.com
													</div>
												</li>
											</div>
											<div class="col-lg-6">
												<li class="form-group">
													<input add-protocol [ngClass]="{valError: !FormGroupSocial.controls.field_youtube.valid}" class="col-md-12 form-control"
													 type="text" name="web-url" formControlName="field_youtube" placeholder="YouTube">
													<!--<input class="radio-breferred" type="radio" formControlName="field_preferred" name="field_preferred" value="field_youtube"-->
													<!--[checked]="profile.field_social_accounts.field_preferred == 'field_youtube'" validate-onfocusout>-->
													<div *ngIf="!FormGroupSocial.controls.field_youtube.valid && FormGroupSocial.controls.field_youtube.touched" class="alert alert-danger error-msg">
														Invalid URL, ex: http://example.com
													</div>
												</li>
											</div>
											<div class="col-lg-6">
												<li class="form-group">
													<input add-protocol [ngClass]="{valError: !FormGroupSocial.controls.field_hackster_io.valid}" class="col-md-12 form-control"
													 type="text" name="web-url" formControlName="field_hackster_io" placeholder="Hackster.io">
													<!--<input class="radio-breferred" class="radio-breferred" type="radio" formControlName="field_preferred" name="field_preferred"-->
													<!--value="field_hackster_io" [checked]="profile.field_social_accounts.field_preferred == 'field_hackster_io'" validate-onfocusout>-->
													<div *ngIf="!FormGroupSocial.controls.field_hackster_io.valid && FormGroupSocial.controls.field_hackster_io.touched" class="alert alert-danger error-msg">
														Invalid URL, ex: http://example.com
													</div>
												</li>
											</div>
											<div class="col-lg-6">
												<li class="form-group">
													<input add-protocol [ngClass]="{valError: !FormGroupSocial.controls.field_instructables.valid}" class="col-md-12 form-control"
													 type="text" name="web-url" formControlName="field_instructables" placeholder="Instructables">
													<!--<input class="radio-breferred" type="radio" formControlName="field_preferred" name="field_preferred" value="field_instructables"-->
													<!--[checked]="profile.field_social_accounts.field_preferred == 'field_instructables'" validate-onfocusout>-->
													<div *ngIf="!FormGroupSocial.controls.field_instructables.valid && FormGroupSocial.controls.field_instructables.touched"
													 class="alert alert-danger error-msg">
														Invalid URL, ex: http://example.com
													</div>
												</li>
											</div>
											<div class="col-lg-6">
												<li class="form-group">
													<input add-protocol [ngClass]="{valError: !FormGroupSocial.controls.field_hackday.valid}" class="col-md-12 form-control"
													 type="text" name="web-url" formControlName="field_hackday" placeholder="Hackaday">
													<!--<input class="radio-breferred" type="radio" formControlName="field_preferred" name="field_preferred" value="field_hackday"-->
													<!--[checked]="profile.field_social_accounts.field_preferred == 'field_hackday'" validate-onfocusout>-->
													<div *ngIf="!FormGroupSocial.controls.field_hackday.valid && FormGroupSocial.controls.field_hackday.touched" class="alert alert-danger error-msg">
														Invalid URL, ex: http://example.com
													</div>
												</li>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="maker-spaces" class="profile-edit-tab container" *ngIf="CurrentInfoTab == 'MakerSpaces'">
						<label class="col-md-12 p-0">ADD YOUR MAKERSPACE(S)</label>
						<div class="form-group" [formGroup]="formGroup">
							<div class="makerspace-content" *ngFor="let makerspacecontrol of formGroup.controls.field_add_your_makerspace_s_['controls'];let i = index"
							 formArrayName="field_add_your_makerspace_s_">
								<div class="form-group form-main" [formGroupName]="i">
									<div class="form-group row">
										<div class="row col-md-12">
											<div class="col-md-4">
												<input class="form-control" type="text" formControlName="field_makerspace_name" [ngbTypeahead]="SearchMakerspace" [resultTemplate]="ms"
												 (selectItem)="SelectMakerspace(i,$event)" placeholder="Makerspace Name">
											</div>
											<div class="col-md-4">
												<input add-protocol [ngClass]="{valError: !formGroup.controls.field_add_your_makerspace_s_['controls'][i].controls.field_makerspace_url.valid}"
												 class="form-control" type="text" formControlName="field_makerspace_url" placeholder="Makerspace URL">
												<small *ngIf="!formGroup.controls.field_add_your_makerspace_s_['controls'][i].controls.field_makerspace_url.valid" class="text-danger">
													Invalid URL, ex: http://example.com
											</small>
											</div>
											<div (click)="formGroup.controls.field_add_your_makerspace_s_.removeAt(i);" class="maker-space-remove col-md-4 mt-2"><i class="lnr lnr-cross-circle" aria-hidden="true"></i></div>
										</div>
									</div>
								</div>
							</div>
							<a *ngIf="formGroup.controls.field_add_your_makerspace_s_.valid" class="btn add-other" (click)="AddMakerspaceRow()"><i class="lnr lnr-plus-circle" aria-hidden="true"></i><span>Add another</span></a>
						</div>

					</div>
					<div id="links" class="profile-edit-tab" *ngIf="CurrentInfoTab == 'Links'">
						<div class="col-md-12">
							<label>WEBSITES</label>
						</div>
						<div class="form-group" [formGroup]="FormGroupSocial">
							<div class="form-group socials container">
								<ul class="list-unstyled social-links row">

									<div class="col-md-12">
										<li class="row form-group form-item">
											<div class="col-md-4">
												<input class="form-control" type="text" placeholder="title" formControlName="field_website_title">
											</div>
											<div class="col-md-4">
												<input add-protocol [ngClass]="{valError: !FormGroupSocial.controls.field_website_or_blog.valid}" class="form-control" type="text"
												 formControlName="field_website_or_blog" name="web-url" placeholder="Website or Blog">
											</div>
											<!--<input class="radio-breferred" type="radio" formControlName="field_preferred" name="field_preferred" value="field_website_or_blog"-->
											<!--[checked]="profile.field_social_accounts.field_preferred == 'field_website_or_blog'" validate-onfocusout>-->
										</li>
										<div *ngIf="!FormGroupSocial.controls.field_website_or_blog.valid && FormGroupSocial.controls.field_website_or_blog.touched"
										 class="alert alert-danger error-msg">
											Invalid URL, ex: http://example.com
										</div>
									</div>


									<div class="col-md-12">
										<li class="row form-group form-item">
											<div class="col-md-4">
												<input class="form-control" type="text" placeholder="title" formControlName="field_blog_title">
											</div>
											<div class="col-md-4">
												<input add-protocol [ngClass]="{valError: !FormGroupSocial.controls.field_additional_site.valid}" class="form-control" type="text"
												 formControlName="field_additional_site" name="web-url" placeholder="Additional site">
											</div>
											<!--<input class="radio-breferred" type="radio" formControlName="field_preferred" name="field_preferred" value="field_additional_site"-->
											<!--[checked]="profile.field_social_accounts.field_preferred == 'field_additional_site'" validate-onfocusout>-->
										</li>
										<div *ngIf="!FormGroupSocial.controls.field_additional_site.valid && FormGroupSocial.controls.field_additional_site.touched"
										 class="alert alert-danger error-msg">
											Invalid URL, ex: http://example.com
										</div>
									</div>
								</ul>
							</div>
						</div>
					</div>
					<div id="maker-moment" class="profile-edit-tab" *ngIf="CurrentInfoTab == 'Maker Moment'">
						<!--<div class="col-md-12">-->
						<!--<label>WEBSITES</label>-->
						<!--</div>-->
						<div class="form-group" [formGroup]="formGroup">
							<div class="form-subgroup container">
								<div class="row">
									<div class="col-md-12">
										<label for="">HOW YOU BECAME A MAKER</label>
									</div>
									<div class="col-md-12">
										<textarea formControlName="started_making" rows="10" cols="50" class="col-md-12" name="limitedtextfield" id="start-making-textarea"
										 placeholder="{{'What was the moment that making become a part of your life?'}}" maxlength="300">
										</textarea>
										<span [ngClass]="{valErrorString: formGroup.value.started_making.length == 300}">{{formGroup.value.started_making.length}}/300 Chars</span>
									</div>
									<!--<div *ngIf="!formGroup.valid">max length 300</div>-->
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</div>
					<div id="interests" class="profile-edit-teb" *ngIf="CurrentInfoTab == 'Interests'">
						<div class="col-md-12">
							<label>FAVORITE MAKER TOPICS</label>
						</div>
						<div class="form-group">
							<div class="form-subgroup container ProfileInfo.maker_interests">
								<div class="row">
									<tag-input [(ngModel)]="ProfileInfo.maker_interests" [identifyBy]="'tid'" display="name" [displayBy]="'name'" [onlyFromAutocomplete]="true"
									 value="tid" [inputId]="tid" [placeholder]="'+ interest'" [secondaryPlaceholder]="'Enter a new interest'" [maxItems]="20"
									 [separatorKeys]="[4, 5]">
										<tag-input-dropdown [identifyBy]="'tid'" [displayBy]="'name'" [autocompleteItems]="allIntersets" value="tid" display="name"
										 inputId="tid">
										</tag-input-dropdown>
									</tag-input>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer mt-auto">
						<button #closebtn type="button" class="btn btn-load-more" (click)="c('Close click')" [hidden]="true">Close</button>
						<button type="button" class="btn btn-load-more" (click)="SaveInfo(closebtn)" *ngIf="CurrentInfoTab != 'Portfolio Photo'">Save</button>
						<button type="button" class="btn btn-load-more" *ngIf="PhotoModalTab == 'upload' && CurrentInfoTab == 'Portfolio Photo'"
						 (click)="SaveImage(closebtn,ProfilePicData,'profile')">Save</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<template #ms let-r="result" let-t="term">
	<div class="data-container-makerspace">
		{{r.title}}
	</div>
</template>