<app-header class="{{router.url}}" *ngIf="router.url != '/404'"></app-header>  
<div class="main-container {{router.url != '/404' ? '' : '-no-pad'}}">
  <router-outlet></router-outlet>
  <!--Routing loader-->
  <div *ngIf="showLoader">
    <span class="loading"></span>
  </div>
</div>
<ng-template id="modal-container" ngbModalContainer></ng-template>
<app-footer *ngIf="router.url != '/404'"></app-footer> 
<script type="text/javascript" src="https://cdn.auth0.com/js/auth0/9.3.1/auth0.min.js?ver=4.9.2"></script>