<div class="profile-content">
    <div class="projects-grid row">

      <div *ngFor="let project of profile_projects" class="project col-md-4" (click)="ShowProjectDetails(project.nid)">
        <div class="project-title">
          <p>{{project.project_name}}</p>
        </div>
        <div class="project-image">
          <img src="{{project.cover_photo}}" alt="" class="img-responsive">
        </div>
      </div>

    </div><!-- End project grid -->
    <div class="col-xs-4 col-xs-offset-4 load-more">
      <a href="#" class="btn btn-white">Load more</a>
    </div>
  </div><!-- End profile content -->
