<div class="region region-content col-sm-8" [formGroup]="HowToForm">
  <div class="how-to">
    <div class="form-group projectOtherVideo">
      <label for="projectOtherVideo">Other project video</label>
      <input type="text" class="form-control" id="projectOtherVideo" placeholder="Enter a URL for video" formControlName='OtherProjctVideo'>
      <div *ngIf="formErrors.OtherProjctVideo" class="alert alert-danger">
        {{ formErrors.OtherProjctVideo }}
      </div>
    </div>
    <div class="form-group projectSteps">
      <div class="form-group project-steps">
        <label for="how-to-make">How to make this project:</label>
        <ckeditor id="how-to-make" rows="5" [config]="{extraPlugins: 'divarea'}"></ckeditor>
      </div>
    </div>
    <div class="form-group projectHelp">
      <label for="projectHelp">Would you like help with this project?</label>
      <textarea class="form-control" rows="5" id="projectHelp" placeholder="Tell the Community about what you are looking for help with." formControlName='HelpLookingFor'></textarea>
    </div>
    <div class="form-group tools">
      <label>Tools</label>
      <div formArrayName="Tools" dnd-sortable-container [sortableData]="HowToForm.controls.Tools.controls" dnd-draggable [dropZones]="['ToolsZone']">
        <div *ngFor="let Tool of HowToForm.controls.Tools.controls; let i=index" class="panel panel-default" dnd-sortable [sortableIndex]="i" (dragenter)="SortElements('Tools')" dnd-draggable [dropZones]="['ToolsZone']">
          <div class="panel-heading">
            <span>Tool {{i + 1}}</span>
            <span class="glyphicon glyphicon-remove pull-right" *ngIf="HowToForm.controls.Tools.controls.length > 1" (click)="RemoveRow(i,'Tools')"></span>
          </div>
          <div class="panel-body" [formGroupName]="i">
            <div class="form-group col-xs-6">
              <label>Name</label>
              <input type="text" id="tool-name-{{i + 1}}" placeholder="Name of tool" class="form-control" [formControl]="Tool.controls.Name">
              <small *ngIf="formErrors.Tools[i].Name" class="text-danger">
                {{formErrors.Tools[i].Name}}
              </small>
            </div>
            <div class="form-group col-xs-4">
              <label>URL</label>
              <input id="tool-url-{{i + 1}}" type="text" placeholder="URL (optional)" class="form-control" [formControl]="Tool.controls.Url">
              <small *ngIf="formErrors.Tools[i].Url" class="text-danger">
                {{formErrors.Tools[i].Url}}
              </small>
            </div>
            <div class="form-group col-xs-2">
              <label>Sort order</label>
              <input id="tool-sort-{{i + 1}}" type="text" placeholder="{{i + 1}}" value='{{i + 1}}' class="form-control sort" [formControl]="Tool.controls.SortOrder" readonly />
              <div class="carets">
                <i *ngIf="i > 0" class="fa fa-2x fa-caret-up sort-up" (click)="ChangeOrder(i,i-1,'Tools')"></i>
                <i *ngIf="i < HowToForm.controls.Tools.controls.length - 1" class="fa fa-2x fa-caret-down sort-down" (click)="ChangeOrder(i,i+1,'Tools')"></i>
              </div>
              <small *ngIf="formErrors.Tools[i].SortOrder" class="text-danger">
                {{formErrors.Tools[i].SortOrder}}
              </small>
            </div>
          </div>
        </div>
      </div>
      <a (click)="AddRow('Tools')" class="btn btn-white btn-sharp"><i class="fa fa-lg fa-plus"></i> Add more</a>
    </div>
    <div class="form-group materials">
      <label>Materials</label>
      <div formArrayName="Materials" dnd-sortable-container [sortableData]="HowToForm.controls.Materials.controls" dnd-draggable [dropZones]="['MaterialsZone']">
        <div *ngFor="let Material of HowToForm.controls.Materials.controls; let i=index" class="panel panel-default" dnd-sortable [sortableIndex]="i" (dragenter)="SortElements('Materials')" dnd-droppable [dropZones]="['MaterialsZone', 'zone2']">
          <div class="panel-heading">
            <span>Material {{i + 1}}</span>
            <span class="glyphicon glyphicon-remove pull-right" *ngIf="HowToForm.controls.Materials.controls.length > 1" (click)="RemoveRow(i,'Materials')"></span>
          </div>
          <div class="panel-body" [formGroupName]="i">
            <div class="form-group col-xs-2">
              <label>Quantity</label>
              <input type="number" id="material-quantity-{{i + 1}}" placeholder="1" class="form-control" [formControl]="Material.controls.Quantity">
              <small *ngIf="formErrors.Materials[i].Quantity" class="text-danger">
                {{formErrors.Materials[i].Quantity}}
              </small>
            </div>
            <div class="form-group col-xs-8">
              <label>Name</label>
              <input type="text" id="material-name-{{i + 1}}" placeholder="Name of material" class="form-control" [formControl]="Material.controls.Name">
              <small *ngIf="formErrors.Materials[i].Name" class="text-danger">
                {{formErrors.Materials[i].Name}}
              </small>
            </div>
            <div class="form-group col-xs-2">
              <label>Sort order</label>
              <input id="material-sort-{{i + 1}}" type="text" placeholder="{{i + 1}}" value='{{i + 1}}' class="form-control sort" [formControl]="Material.controls.SortOrder" />
              <div class="carets">
                <i *ngIf="i > 0" class="fa fa-2x fa-caret-up sort-up" (click)="ChangeOrder(i,i-1,'Materials')"></i>
                <i *ngIf="i < HowToForm.controls.Materials.controls.length - 1" class="fa fa-2x fa-caret-down sort-down" (click)="ChangeOrder(i,i+1,'Materials')"></i>
              </div>
              <small *ngIf="formErrors.Materials[i].SortOrder" class="text-danger">
                {{formErrors.Materials[i].SortOrder}}
              </small>
            </div>
          </div>
        </div>
      </div>
      <a (click)="AddRow('Materials')" class="btn btn-white btn-sharp"><i class="fa fa-lg fa-plus"></i> Add more</a>
    </div>
    <div class="form-group parts">
      <label>Parts</label>
      <div formArrayName="Parts" dnd-sortable-container [sortableData]="HowToForm.controls.Parts.controls">
        <div *ngFor="let Part of HowToForm.controls.Parts.controls; let i=index" class="panel panel-default" dnd-sortable [sortableIndex]="i" (dragenter)="SortElements('Parts')">
          <div class="panel-heading">
            <span>Part {{i + 1}}</span>
            <span class="glyphicon glyphicon-remove pull-right" *ngIf="HowToForm.controls.Parts.controls.length > 1" (click)="RemoveRow(i,'Parts')"></span>
          </div>
          <div class="panel-body" [formGroupName]="i">
            <div class="form-group col-xs-2">
              <label>Number</label>
              <input type="number" id="part-number-{{i + 1}}" placeholder="1" class="form-control" [formControl]="Part.controls.Number">
              <small *ngIf="formErrors.Parts[i].Number" class="text-danger">
                {{formErrors.Parts[i].Number}}
              </small>
            </div>
            <div class="form-group col-xs-4">
              <label>Name</label>
              <input type="text" id="part-name-{{i + 1}}" placeholder="Name of part" class="form-control" [formControl]="Part.controls.Name">
              <small *ngIf="formErrors.Parts[i].Name" class="text-danger">
                {{formErrors.Parts[i].Name}}
              </small>
            </div>
            <div class="form-group col-xs-4">
              <label>Link to buy</label>
              <input id="part-link-{{i + 1}}" type="text" placeholder="URL (optional)" class="form-control" [formControl]="Part.controls.Link">
              <small *ngIf="formErrors.Parts[i].Link" class="text-danger">
                {{formErrors.Parts[i].Link}}
              </small>
            </div>
            <div class="form-group col-xs-2">
              <label>Sort order</label>
              <input id="part-sort-{{i + 1}}" type="text" placeholder="{{i + 1}}" value='{{i + 1}}' class="form-control sort" [formControl]="Part.controls.SortOrder" />
              <div class="carets">
                <i *ngIf="i > 0" class="fa fa-2x fa-caret-up" (click)="ChangeOrder(i,i-1,'Parts')"></i>
                <i *ngIf="i < HowToForm.controls.Parts.controls.length - 1" class="fa fa-2x fa-caret-down" (click)="ChangeOrder(i,i+1,'Parts')"></i>
              </div>
              <small *ngIf="formErrors.Parts[i].SortOrder" class="text-danger">
                {{formErrors.Parts[i].SortOrder}}
              </small>
            </div>
          </div>
        </div>
      </div>
      <a (click)="AddRow('Parts')" class="btn btn-white btn-sharp"><i class="fa fa-lg fa-plus"></i> Add more</a>
    </div>
      <div class="form-group difficulty">
        <label for="">Difficulty</label>
        <br>
        <select class="form-control" title="Select one">
        <option value="1">Easy</option>
        <option value="2">Moderate</option>
        <option value="3">Hard</option>
      </select>
    </div>
      <div class="form-group duration">
        <label for="">Duration</label>
        <br>
        <select class="form-control" title="Select one">
        <option value="1">1-3 hours</option>
        <option value="2">3-8 hours</option>
        <option value="3">8-16 hours (a weekend)</option>
        <option value="4">&gt;16 hours</option>
      </select>
    </div>
  </div><!-- End how-to -->
</div>

<aside class="col-md-4">
  <div class="how-to-guide">
    <div class="guideline">
      <div class="pull-left question-mark"><i class="fa fa-2x fa-question-circle"></i></div>
      <div class="pull-left content">
        <h4>Tags</h4>
        <p>These will be used to help others find your project. Select up to 10.</p>
      </div>
    </div>
    <div class="guideline">
      <div class="pull-left question-mark"><i class="fa fa-2x fa-question-circle"></i></div>
      <div class="pull-left content">
        <h4>Guidelines regarding How-To</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
    </div>
    <div class="guideline">
      <div class="pull-left question-mark"><i class="fa fa-2x fa-question-circle"></i></div>
      <div class="pull-left content">
        <h4>Helper Text about Project Help</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
    </div>
  </div><!-- End how-to-guideline -->
</aside>