<div class="region region-content col-sm-8" [formGroup]="HowToForm">
  <div class="how-to">
    <div class="form-group projectOtherVideo">
      <label for="projectOtherVideo">Other project video</label>
      <input type="text" class="form-control" id="projectOtherVideo" placeholder="Enter a URL for video" formControlName='OtherProjctVideo'>
      <div *ngIf="formErrors.OtherProjctVideo" class="alert alert-danger">
        {{ formErrors.OtherProjctVideo }}
      </div>
    </div>
    <div class="form-group projectSteps">
      <div class="form-group project-steps">
        <label for="how-to-make">How to make this project:</label>
        <ckeditor id="how-to-make" class="form-control" rows="5"></ckeditor>
      </div>
    </div>
    <div class="form-group projectHelp">
      <label for="projectHelp">Would you like help with this project?</label>
      <textarea class="form-control" rows="5" id="projectHelp" placeholder="Tell the Community about what you are looking for help with."></textarea>
    </div>
    <div class="form-group tools">
      <label>Tools</label>
      <div class="table-responsive">
            <table class="table borderedless">
                <thead>
                    <th>Name</th>
                    <th>URL</th>
                    <th>Sort order</th>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="text" placeholder="Name of tool" class="form-control" /></td>
                        <td><input type="text" placeholder="URL (optional)" class="form-control" /></td>
                        <td><input type="text" placeholder="1" class="form-control sort" />
                <div class="carets">
                  <i class="fa fa-2x fa-caret-up"></i>
                              <i class="fa fa-2x fa-caret-down"></i>
                </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div><!-- End tools table -->
        <a class="btn btn-white btn-sharp"><i class="fa fa-lg fa-plus"></i> Add more</a>
    </div>
      <div class="form-group materials">
          <label>Materials</label>
      <div class="table-responsive">
            <table class="table borderedless">
                <thead>
                    <th>Quantity</th>
                    <th>Name</th>
                    <th>Sort order</th>
                </thead>
                <tbody>
                    <tr>
                        <td class="quantity"><input type="text" placeholder="1" class="form-control" /></td>
                        <td><input type="text" placeholder="Name of tool" class="form-control" /></td>
                        <td><input type="text" placeholder="1" class="form-control sort" />
                <div class="carets">
                  <i class="fa fa-2x fa-caret-up"></i>
                              <i class="fa fa-2x fa-caret-down"></i>
                </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div><!-- End materials table -->
        <a class="btn btn-white btn-sharp"><i class="fa fa-lg fa-plus"></i> Add more</a>
      </div>
      <div class="form-group parts">
        <label>Parts</label>
      <div class="table-responsive">
            <table class="table borderedless">
                <thead>
                    <th>Number</th>
                    <th>Name</th>
                    <th>Link to buy</th>
                    <th>Sort order</th>
                </thead>
                <tbody>
                    <tr>
                        <td class="quantity"><input type="text" placeholder="1" class="form-control" /></td>
                        <td><input type="text" placeholder="Name of tool" class="form-control" /></td>
                        <td><input type="text" placeholder="URL (optional)" class="form-control" /></td>
                        <td><input type="text" placeholder="1" class="form-control sort" />
                <div class="carets">
                  <i class="fa fa-2x fa-caret-up"></i>
                              <i class="fa fa-2x fa-caret-down"></i>
                </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div><!-- End parts table -->
        <a class="btn btn-white btn-sharp"><i class="fa fa-lg fa-plus"></i> Add more</a>
      </div>
      <div class="form-group difficulty">
        <label for="">Difficulty</label>
        <br>
        <select class="form-control" title="Select one">
        <option value="1">Easy</option>
        <option value="2">Moderate</option>
        <option value="3">Hard</option>
      </select>
    </div>
      <div class="form-group duration">
        <label for="">Duration</label>
        <br>
        <select class="form-control" title="Select one">
        <option value="1">1-3 hours</option>
        <option value="2">3-8 hours</option>
        <option value="3">8-16 hours (a weekend)</option>
        <option value="4">&gt;16 hours</option>
      </select>
    </div>
  </div><!-- End how-to -->
</div>

<aside class="col-md-4">
  <div class="how-to-guide">
    <div class="guideline">
      <div class="pull-left question-mark"><i class="fa fa-2x fa-question-circle"></i></div>
      <div class="pull-left content">
        <h4>Tags</h4>
        <p>These will be used to help others find your project. Select up to 10.</p>
      </div>
    </div>
    <div class="guideline">
      <div class="pull-left question-mark"><i class="fa fa-2x fa-question-circle"></i></div>
      <div class="pull-left content">
        <h4>Guidelines regarding How-To</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
    </div>
    <div class="guideline">
      <div class="pull-left question-mark"><i class="fa fa-2x fa-question-circle"></i></div>
      <div class="pull-left content">
        <h4>Helper Text about Project Help</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
    </div>
  </div><!-- End how-to-guideline -->
</aside>