<div class="followers conatiner" *ngIf="followers">
  <div class="followers-cards row">
    <div class="col-md-4" *ngFor="let follower of followers">
      <div class="follower-card">
        <!-- Start User Card -->
        <app-user-card [uid]="follower.uid"></app-user-card>
        <!-- End User Card -->
      </div>
      <!-- End follower-card -->
    </div>
    <!-- End col-md-4 -->
  </div>
  <div class="text-center">
    <div class="button-container-sec-3" *ngIf="!hideloadmorefollower">
      <a class="btn btn-grey" *ngIf="!hideloadmorefollower" (click)="loadMoreFollower($event)">Load more</a>
    </div>
  </div>
</div>
<!-- End followers -->