<div class="followers" *ngIf="followers">
  <div class="followers-cards">
    <div class="col-md-4">

    </div>
    <!-- End col-md-4 -->
    <div class="col-md-4">

    </div>
    <!-- End col-md-4 -->
    <div class="col-md-4">

    </div>
    <!-- End col-md-4 -->
    <div class="col-md-4" *ngFor="let follower of followers">

      <div class="follower-card">
        <app-user-card [uid]="follower.uid"></app-user-card>

      </div>
      <!-- End follower-card -->
    </div>
    <!-- End col-md-4 -->
  </div>
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4 load-more">
      <a *ngIf="!hideloadmorefollower" class="btn btn-white" (click)="loadMoreFollower()">Load more</a>

    </div>
  </div>
</div>
<!-- End followers -->