<div class="portfolio-public">
  <div class="portfolio-header">
    <p class="pull-left">The order will be the same in Grid and Showcase mode</p>
    <div class=" pull-right view">
      <p *ngIf="DefaultView == 'grid'" class="grid">Default View: Grid &nbsp; <i class="fa fa-lg fa-th"></i></p>
      <p *ngIf="DefaultView == 'showcase'" class="showcase">Default View: Showcase &nbsp; <i class="fa fa-lg fa-square"></i></p>
    </div>
  </div>
  <!-- End portfolio-header -->
  <div *ngIf="Projects" class="projects-grid row">
    <project-card-portfolio *ngFor="let project of Projects;let i = index" [type]="DefaultView" [Project]="project" [Visibility]="status" (emitter)="UpdateProjects()" [ngClass]="{'col-md-3': DefaultView == 'grid','col-md-12': DefaultView == 'showcase' }" ></project-card-portfolio>
  </div>
  <!-- End project-grid -->
</div>
<!-- End portfolio-public -->