<div [formGroup]="organizationForm">
    <div>
      <label>Organization Info</label>
      <textarea maxlength="250" rows="5" formControlName='field_breif_info'></textarea>
    </div>

    <div>
      <label>Motto</label>
      <input type="text" maxlength="50" formControlName='field_maker_motto'>
    </div>

    <div>
      <label>About Us</label>
      <textarea maxlength="250" formControlName='body'></textarea>
    </div>

    <div formArrayName="field_maker_memberships">
      <label>Team</label>
      <div *ngFor="let user of team;let i = index;" [formGroupName]="i">
        <app-maker-card *ngIf="!user.anonymous" [showFlag]="false" [uid]="user.usernameOrUID"></app-maker-card>
        <div *ngIf="user.anonymous">{{user.usernameOrUID}}</div>
        <label>Role</label>
        <input type="text" formControlName="field_membership_role">
        <a (click)="removeRow(i, 'field_maker_memberships')" *ngIf="i != 0">Remove</a>
      </div>
      <div [formGroupName]="organizationForm.value.field_maker_memberships.length - 1" *ngIf="fixFormReady">
        <label>Member name</label>
        <input #username type="text" [ngbTypeahead]="search" [resultTemplate]='rt' (selectItem)="selectedUser = $event.item" [inputFormatter]="formatter">
          <div *ngIf="searchFailed">
            User not registered
             <button type="button" class="btn btn-primary" (click)="setAnonymous(username.value, i)">
              Add as anonymous member
            </button>
          </div>
        <label>Role</label>
        <input type="text" formControlName="field_membership_role">
        <a *ngIf="selectedUser" (click)="setMember()">+add</a>
      </div>
    </div>
</div>

<ng-template #rt let-r="result" let-t="term">
  <img *ngIf="r.profile_pic_typeahead" [src]="r.profile_pic_typeahead">
  <img *ngIf="!r.profile_pic_typeahead" src="./assets/images/Gears-Grey.svg">
  <p *ngIf="r.first_name && r.last_name">{{r.first_name}} {{r.last_name}} </p>
  <p *ngIf="!r.first_name && !r.last_name">{{r.name}} </p>
</ng-template>