<div *ngIf="project">
<div class="page-project">
  <div class="main-container container-fluid">
    <div class="row">
      <section class="col-sm-12 width-fix">
        <div class="top-content-wrapper">
          <header *ngIf="showcase.uid" class="showcase-project">
              <ul class="container list-unstyled">
                <li>
                  <a [hidden]="projectIndex == 0" (click)="getProject()" class="btn btn-white btn-sharp prev">&lt; Previous</a>
                </li>
                <li>
                  <h3><a href="">Showcase - {{showcase.showcase_name}}</a></h3>
                </li>
                <li>
                  <a [hidden]="projectIndex == projects.length-1" (click)="getProject()" class="btn btn-white btn-sharp next">Next &gt;</a>
                </li>
              </ul>
            </header>
          <div class="container">
            <div class="col-md-12">
              <ul class="list-unstyled project-actions pull-right">
                <li><a href="#" class="btn btn-transparent btn-fit">Report this</a></li>
                <li><a href="#" class="btn btn-light-grey btn-fit" (click)="forkThis($event)">Fork this project &nbsp;<i class="fa fa-lg fa-retweet"></i></a></li>
                <li><a href="#" class="btn btn-light-grey btn-fit" (click)="likeThis($event)" [class.active]="isLiked"><i class="fa fa-lg fa-thumbs-o-up"></i></a></li>
                <li><a href="#" class="btn btn-light-grey btn-fit" (click)="bookmarkThis($event)" [class.active]="isBookmarked"><i class="fa fa-lg fa-bookmark-o"></i></a></li>
                <li><a href="#" class="btn btn-light-grey btn-fit" (click)="shareThis($event)">Share &nbsp;<i class="fa fa-lg fa-share-alt"></i></a></li>
              </ul>
              <ul class="list-unstyled project-tags pull-left">
                <li><a href="#" class="btn btn-grey">electronics</a></li>
                <li><a href="#" class="btn btn-grey">Arduino</a></li>
                <li><a href="#" class="btn btn-grey">microcontrollers</a></li>
              </ul>
              <div class="clearfix"></div>
              <h2 class="project-title" *ngIf="project.title.value">{{project.title.value}}</h2>
              <ul class="list-unstyled project-aside">
                <li id="project-story-tab" class="active"><a href="" (click)="changeProjectTab('project-story')" class="btn btn-light-grey" [ngClass]="{'active': current_active_tab == 'project-story' }">Project Story</a></li>
                <li id="how-to-tab"><a href="" class="btn btn-light-grey" (click)="changeProjectTab('project-how-to')" [ngClass]="{'active': current_active_tab == 'project-how-to' }">How To</a></li>
              </ul>
              <div class="clearfix"></div>
            </div>
          </div><!-- End container -->
        </div><!-- End top-content-wrapper -->
        <div class="container">
            <app-project-story [project]="projectDetails" *ngIf="current_active_tab == 'project-story'"></app-project-story>
            <app-project-how-to [project]="projectDetails" *ngIf="current_active_tab == 'project-how-to'"></app-project-how-to>
        </div>
      </section>
    </div><!-- End row -->
  </div><!-- End main-container -->
</div><!--{{project|json}}-->
</div>
