<div *ngIf="projectdata">
  <div *ngIf="project">
    <div class="page-project">
      <div class="row">
        <section class="col width-fix">
          <div class="top-content-wrapper">
            <div class="container">
              <div class="col-md-12">
                <ul class="list-unstyled project-aside">
                  <li id="project-story-tab"><a class="btn btn-tabs active" (click)="changeProjectTab('project-story',$event)" [ngClass]="{'active': current_active_tab == 'project-story' }">Project Story</a></li>
                  <li id="how-to-tab"><a class="btn btn-tabs" (click)="changeProjectTab('project-how-to',$event)" [ngClass]="{'active': current_active_tab == 'project-how-to' }">How To</a></li>
                </ul>
                <div class="clearfix"></div>
              </div>
            </div>
            <!-- End container -->
          </div>
          <!-- End top-content-wrapper -->
          <div class="container">
            <app-project-story [project]="projectDetails" [projectInfo]="projectdata" *ngIf="current_active_tab == 'project-story'"></app-project-story>
            <app-project-how-to [project]="projectDetails" [projectInfo]="projectdata" *ngIf="current_active_tab == 'project-how-to'"></app-project-how-to>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>