<div class="page-showcase">
  <div class="main-container container-fluid">
    <div class="row">
      <section class="col-sm-12 width-fix">
        <div class="region region-content">
          <header class="showcase-header">
            <div class="container">
              <div class="row">
                <div class="showcase-title col-md-12">
                  <h3>{{showcase.showcase_name}}</h3>
                </div>
                <div class="showcase-description col-md-6">
                  <p class="timestamp">Last updated: {{showcase.last_updated}}</p>
                  <p [innerHTML]="showcase.description"></p>
                  <p>Enjoy !</p>
                </div>
                <div class="showcase-curated col-md-6">
                  <app-user-card *ngIf="showcase.uid" [uid]="showcase.uid"></app-user-card>
                </div>
              </div>
            </div>
            <!-- End container -->
          </header>
          <!--/header -->
          <div class="container">
            <div class="filters">
              <div class="container">
                <div class="row justify-content-center align-items-center">
                  <div class="entries-count btn">
                    <p *ngIf="projectsCount==1">{{projectsCount}} Project</p>
                    <p *ngIf="projectsCount>1">{{projectsCount}} Projects</p>
                  </div>
                  <showcase-sorting (sortType)="getSortType($event)"> </showcase-sorting>
                </div>
              </div>
            </div>
            <!-- End filters -->
            <div class="container">
              <div class="projects-grid row">
                <div *ngFor="let project of projects; let i = index;" class="col-md-4">
                  <div class="project">
                    <app-project-card [projectCard]="project"></app-project-card>
                  </div>
                </div>
                <!-- End col -->
              </div>
              <!-- End projects-grid row -->
            </div>
            <div class="text-center">
              <div *ngIf="!hideloadmore" class="button-container-main-2">
                <a *ngIf="!hideloadmore" class="btn btn-main-2" (click)="loadmore()">Load more</a>
              </div>
            </div>
          </div>
        </div>
        <!-- End region-content -->
      </section>
    </div>
    <!-- End row -->
  </div>
  <!-- End main-container -->
</div>