<section class="page-single-showcase">
  <div class="region region-content">
    <div class="container showcases-container">
      <div class="showcase-card-backlayer container">
        <div class="showcase-card row">
          <div class="col-lg-4 col-md-6 col-sm-12 left-side">
            <div class="image-container">
              <img src="{{showcase.cover_photo}}" *ngIf="showcase.cover_photo" alt="" class="img-responsive" (click)="ShowSingleShowcase(showcase.nid)">
              <img *ngIf="!showcase.cover_photo" src="./assets/images/placeholder.png" alt="">
              <div class="card-type-blue">
                <div class="type-layer-2">
                  Showcase
                </div>
              </div>
            </div>
            <div class="showcase-card-footer-3">
              <app-user-card *ngIf="showcase.uid" [uid]="showcase.uid" [showMessage]="false"></app-user-card>
            </div>
          </div>
          <div class="col-lg-8 col-md-6 col-sm-12 content-container">
            <div class="card-container">
              <div class="card">
                <h3 class="card-title" (click)="ShowSingleShowcase(showcase.nid)">{{showcase.showcase_name}}</h3>
                <div class="card-description">
                  <p [innerHTML]="showcase.description" *ngIf="showcase.description"></p>
                </div>
                <div class="showcase-card-footer d-flex mt-auto">
                  <div class="showcase-card-footer-2">
                    <div class="showcase-card-count  d-flex flex-row">
                      <div class="showcase-like" *ngIf="showcase.nid">
                        <app-like [nodeNid]="showcase.nid" [user]="userId" [showcase]="true" (countNumber)="likesCounter($event)"></app-like>
                      </div>
                      <div class="views-count-div">
                        <img src="./assets/images/icons/views.png" class="showcase-views" alt="">
                        <span class="views-count">{{showcase.views_count}}</span>
                      </div>
                      <div class="views-count-div">
                        <app-bookmark [nodeNid]="showcase.nid" [nodeType]="'showcase'"></app-bookmark>
                      </div>
                      <div class="profile-share">
                        <app-shared-buttons [PageTitle]="'Maker Portfolio'" [PageDescription]="customDescription" [PageImage]="showcase.cover_photo"></app-shared-buttons>
                      </div>
                      <!--<div class="projects-count-div">
                        <span class="projects-count">{{projectsCount}}
                           <span *ngIf="projectsCount>1">projects</span>
                        <span *ngIf="projectsCount<=1">project</span>
                        </span>
                      </div>-->
                    </div>
                    <div class="showcase-date w-100" *ngIf="showcase.last_updated">
                      <span class="update-date">Last updated: {{showcase.last_updated}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="filters">
          <div class="container">
            <div class="row d-flex justify-content-end align-items-center">
              <div class="entries-count btn">
                <p *ngIf="projectsCount==1">{{projectsCount}} Project</p>
                <p *ngIf="projectsCount>1">{{projectsCount}} Projects</p>
              </div>
              <showcase-sorting (sortType)="getSortType($event)"> </showcase-sorting>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="projects-grid row">
          <div class="project col-lg-4 col-md-6 col-xs-12" *ngFor="let project of projects; let i = index;">
            <app-project-card [view]="view" [nid]="project.nid"></app-project-card>
            <div class="showcase-wrapper" (click)="ShowcasePojectNav(project.nid, showcaseNid)"></div>
          </div>
        </div>
      </div>
      <div class="text-center pt-3 pb-5">
        <div *ngIf="!hideloadmore">
          <a *ngIf="!hideloadmore" class="btn btn-load-more" (click)="loadmore()">Load more</a>
        </div>
      </div>
    </div>
  </div>
  <section>