<div class="page-explore mb-5">
  <div class="container page-header mb-5">
    <h3>Makers</h3>
  </div>

  <div class="container clearfix mb-5">
    <div class="filters-group mb-3">
      <app-filters [data]="categories"
                   [type]="'maker'"
                   [ref]="this"></app-filters>

      <div class="dropdown-group">
        <i class="dropdownIcon lnr lnr-chevron-down"></i>
        <select class="shadowed explore-tags sorting-filter"
                id="filter-projects"
                (change)="sortMakers($event.target.value)">
          <option value="_none" class="btn" disabled>Sort By</option>
          <option value="random_seed" class="btn">Mix 'Em Up</option>
          <option value="php_1" class="btn">Most projects</option>
          <option value="created" class="btn">Newest</option>
          <option value="field_first_name_value_1" class="btn">Name A-Z</option>
          <option value="field_first_name_value" class="btn">Name Z-A</option>
          <option value="php_2" class="btn">Most likes</option>
          <option value="php" class="btn">Most views</option>
          <option value="timestamp" class="btn">Featured</option>
        </select>
      </div>

      <div class="filters projects-counter">
        <div *ngIf="makersCount"
             class="entries-count btn">
          <p>{{makersCount}} Maker{{ makersCount > 1 ? 's': '' }}</p>
        </div>
      </div>
    </div>

    <div class="cat-filters controls mt-5 mb-5"
         *ngIf="filteredSubCategories.length > 0">
      <button *ngFor="let term of filteredSubCategories"
              (click)="selectSubCategory(term)"
              class="button -big {{subCategoryId == term.tid ? 'active':''}}"
              data-id="{{term.tid}}"
              [innerHTML]="term.name"></button>
    </div>
  </div>

  <div class="container items-container p-414">
    <h4 *ngIf="makers.length == 0"
        class="text-center mt-5 mb-5">There are no makers to show</h4>
    <div class="row">
    <div class="card-wrapper col-md-6 col-lg-4"
                      *ngFor="let maker of makers">
      <app-maker-card 
                      [uid]="maker.uid"
                      [state]="'tall'"></app-maker-card>
    </div>
    </div>
  </div>

  <div class="text-center"
       *ngIf="showLoadMoreBtn && makers.length > 0">
    <button class="grey -no-bg -big -border -slim"
            (click)="loadMoreMakers()">Load more
    </button>
  </div>
</div>