<div class="msg-bookmarks" *ngIf="showcases.length==0">
  <h3>There doesn't seem to be any bookmarks here yet.</h3><br>
  <p>Look for the <i class="lnr lnr-bookmark"></i> icon on a Showcase page you're interested in.<br> Click it and the <a [routerLink]="['/showcases']">Showcase</a>    will appear here.</p>
</div>
<div *ngIf="showcases.length>0">
  <!--<input type="checkbox" name="all" [checked]="isAllChecked()" (change)="checkAll($event)"> Select all
  <a class="btn btn-transparent delete" (click)=" deleteMessages()">Delete</a>-->
  <table class="table">
    <thead>
      <!--<tr>
        <th></th>
        <th>showcase Name</th>
        <th>showcase Image</th>
        <th>Delete</th>

      </tr>-->
    </thead>
    <tbody>

      <tr *ngFor="let showcase of showcases let i=index;">
        <div class="select" *ngIf="showcase">
          <!--<input type="checkbox" value="{{showcase.nid}}" [(ngModel)]="showcase.state" (change)="valueChanged(showcase.nid,$event)">-->
        </div>
        <td *ngIf="showcase"><img class="d-flex mr-3" src="{{showcase.showcase_cover_photo}}" alt="" class="img-responsive"></td>
          <td *ngIf="showcase">{{showcase.project_name}}</td>
          <!--<td class="delete">-->
          <!--<a class="fa fa-2x fa-trash delete-message" (click)="deleteMessage(i)"></a>-->
          <!--</td>-->

      </tr>
    </tbody>
  </table>
</div>
<div class="text-center">
  <div class="button-container-main-2" *ngIf="!hideloadmoreshowcase">
    <a class="btn btn-main-2" (click)="loadMoreshowcase()">Load more</a>
  </div>
</div>