<div class="msg-bookmarks" *ngIf="showcases.length==0">
  <h3>There Don't seem to be any bookmarks here yet.</h3><br>
  <p>Look for the <i class="lnr lnr-bookmark"></i> icon on a Showcase page you're interested in.<br> Click it and the <a [routerLink]="['/makers']">Showcase</a>    will appear here.</p>
</div>
<div *ngIf="showcases.length>0">
  <!--<input type="checkbox" name="all" [checked]="isAllChecked()" (change)="checkAll($event)"> Select all
  <a class="btn btn-transparent delete" (click)=" deleteMessages()">Delete</a>-->
  <div class="media bookmark-item bookmark-showcase" *ngFor="let showcase of showcases let i=index;">
    <div class="media-left">
      <div class="book-img" [routerLink]="['/makers/',showcase.nid]" *ngIf="showcase"><img class="d-flex mr-3" src="{{showcase.showcase_cover_photo}}" alt="" class="img-responsive"></div>
    </div>
    <div class="media-body">
      <!--<div class="select" *ngIf="showcase">-->
      <!--<input type="checkbox" value="{{showcase.nid}}" [(ngModel)]="showcase.state" (change)="valueChanged(showcase.nid,$event)">-->
      <!--</div>-->
      <div class="title" [routerLink]="['/makers/',showcase.nid]" *ngIf="showcase"><span>{{showcase.project_name}}</span></div>
    </div>
    <div class="media-right">
      <div class="delete">
        <a class="lnr lnr-trash delete-message" (click)="deleteMessage(i)"></a>
      </div>
    </div>
  </div>
</div>
<div class="text-center">
  <div class="button-container-main-2" *ngIf="!hideloadmoreshowcase">
    <a class="btn btn-main-2" (click)="loadMoreshowcase()">Load more</a>
  </div>
</div>