<div *ngIf="userReportId != userId">
<a class="report" *ngIf="!isReported" (click)="open(content)">Report this user</a>
</div>
<template id="model" #content let-c="close" let-d="dismiss" ngbModalContainer>
  <div class="modal-header">
  </div>
  <div class="modal-body">
    <div>
    <p>Select an reason for repported  portfolio.</p>
                  <form [formGroup]="reportForm" >
                    <div class="form-group">
                      <select class="form-control" #item (change)="updateSelectedReason($event)" formControlName="field_reason_for_reporting">
                      <option [value]="none" disabled>Select a reason</option>
                      <option value="annoying">This person is annoying me</option>
                      <option value="pretending">They're pretending to be me or someone </option>
                      <option value="safe">This profile Isn't safe for work</option>
                     </select>
                    </div>
                    <div class="form-group">
                      <textarea placeholder="write a reason" cols="40" rows="6" formControlName="field_appropriate_response" ></textarea>
                    </div>
                    <div class="enter-form-buttons d-flex">
                      <div class="button-container-sec-2 w-50">
				<span class="" (click)="c('Close click')">Cancel</span>
                      </div>

                      <div class="button-container-main-1 w-50" *ngIf="selectedReasonName">
                        <span class="" (click)="onSubmit($event)"  >Submit</span>
                      </div>
                    </div>
                  </form>
  
      <div *ngIf="error" class="alert alert-danger error-msg">
        {{error}}
      </div>


    </div>
  </div>
  <div class="modal-footer">
    <ul class="list-unstyled actions">
      <li>
        <!--<a style="color: black" (click)="c('Close click')" >Cancel</a>-->
      </li>
    </ul>
  </div>

</template>