<div *ngIf="userReportId != userId">
  <a class="report" *ngIf="!isReported" (click)="open(content)">Report this user</a>
  <p *ngIf="isReported"> User has been reported </p>
</div>
<template id="model" #content let-c="close" let-d="dismiss" ngbModalContainer>
  <div class="modal-report">
    <div class="modal-header">
    </div>
    <div class="modal-body container">
      <div class="row">
        <div class="col-md-12">
          <h4 class="modal-title">Select a reason for reporting this portfolio:</h4>
        </div>
        <div class="col-md-12">
          <form class="row" [formGroup]="reportForm">
            <div class="form-group col-md-6">
              <select ng-selected="none" class="form-control" #item (change)="updateSelectedReason($event)" formControlName="field_reason_for_reporting">
                <option value="none" selected disabled>Select a reason</option>
                <option value="annoying">This person is annoying me</option>
                <option value="pretending">They're pretending to be me or someone </option>
                <option value="safe">This profile Isn't safe for work</option>
            </select>
            </div>
            <div class="form-group col-md-12 form-textarea">
              <textarea class="w-100 p-2" placeholder="Explain the problem in more details." cols="42" rows="6" formControlName="field_appropriate_response"></textarea>
              <button class="send-comment" type="submit" [disabled]="!reportForm.valid" (click)="onSubmit($event)" (click)="c('Close click')">
                  <i class="lnr lnr-chevron-right" aria-hidden="true"></i>
              </button>
            </div>
          </form>
        </div>
        <div *ngIf="error" class="alert alert-danger error-msg">
          {{error}}
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <ul class="list-unstyled actions">
        <li>
          <div class="enter-form-buttons d-flex">
            <div class="ml-auto mr-1">
              <a (click)="c('Close click')">Cancel</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>