<div *ngIf="userReportId != userId">
  <a class="report" *ngIf="!isReported" (click)="open(content)">Report this user</a>
  <p *ngIf="isReported"> User has been reported </p>
</div>
<template id="model" #content let-c="close" let-d="dismiss" ngbModalContainer>
  <div class="modal-report">
    <div class="modal-header">
      <button type="button" class="close ml-auto" aria-label="Close" (click)="d('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
    </div>
    <div class="modal-body container">
      <div class="row">
        <div class="col-md-12">
        <h4 class="modal-title">Select an reason for reported portfolio.</h4>
        </div>
        <div class="col-md-12">
        <form class="row" [formGroup]="reportForm">
          <div class="form-group col-md-6">
            <select class="form-control" #item (change)="updateSelectedReason($event)" formControlName="field_reason_for_reporting">
                <option [value]="none" selected disabled>Select a reason</option>
                <option value="annoying">This person is annoying me</option>
                <option value="pretending">They're pretending to be me or someone </option>
                <option value="safe">This profile Isn't safe for work</option>
            </select>
          </div>
          <div class="form-group col-md-12">
            <textarea class="w-100 p-2" placeholder="write a reason" cols="42" rows="6" formControlName="field_appropriate_response"></textarea>
          </div>
        </form>
        </div>
        <div *ngIf="error" class="alert alert-danger error-msg">
          {{error}}
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <ul class="list-unstyled actions">
        <li>
          <!--<a style="color: black" (click)="c('Close click')" >Cancel</a>-->
          <div class="enter-form-buttons d-flex">
            <div class="ml-auto">
              <button #closebtn type="button" class="btn btn-load-more" (click)="c('Close click')">Close</button>
              <button *ngIf="selectedReasonName" type="button" class="btn btn-load-more" [disabled]="!reportForm.valid" (click)="onSubmit($event)"
                (click)="c('Close click')">Submit</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>