  <div class="page-inbox">
    <div class="inbox-title mx-auto" >
     <h1>Inbox</h1>
    </div>
  <header class="inbox-header container d-flex justify-content-center">
   
    <ul class="list-unstyled d-flex flex-row aling-self-center align-content-lg-center">
      <li><a  (click)="current_active_tab = 'messages'" class="btn btn-create-tab"  [ngClass]="{'active': current_active_tab == 'messages' }">Messages</a></li>
      <li><a  (click)="current_active_tab = 'notifications'" class="btn btn-create-tab"  [ngClass]="{'active': current_active_tab == 'notifications' }">Notificatoins</a></li>
    </ul>
  </header>
  <div class="nav-create">
    <div class="container">
      <app-inbox *ngIf="current_active_tab == 'messages'" class="row"></app-inbox>
      <app-notifications *ngIf="current_active_tab == 'notifications'" class="row"></app-notifications>
    </div>
  </div>
  </div>