<div *ngIf="company">
  <div class="org-hero">
    <div class="org-feature-photo" [style.background-image]="'url('+company.company_cover_photo+')'"></div>
    <div class="container flexer">
      <div class="row center-self">
        <div class="col-md-12">
          <div class="container">
            <div class="row justify-content-center">
              <img class="org-logo" height="100" src="{{company.company_logo}}">
            </div>
            <div class="row justify-content-center" height="10">
              <img src="{{company.field_badges}}" style="width: 30px;height: 35px;margin-bottom: 20px;" ngbTooltip="Charter Member " alt="">
            </div>
            <div class="row justify-content-center org-name">
              <span>{{company.company_name}}</span>
            </div>
          </div>

          <div>
            <p class="text-center text-white org-description">{{company.breif_info}} - {{company.address.locality}},
              {{company.address.administrative_area}}
            </p>
          </div>
          <div class="row justify-content-center org-tabber">
            <ul class="list-unstyled d-flex flex-row flex-wrap aling-self-center align-content-lg-center text-center">
              <li>
                <a (click)="current_active_tab = 'about-us'" class="btn btn-tab"
                   [ngClass]="{'active': current_active_tab == 'about-us' }">
                  <h5>About Us</h5>
                </a>
              </li>
              <li>
                <a (click)="current_active_tab = 'projects'" class="btn btn-tab"
                   [ngClass]="{'active': current_active_tab == 'projects' }">
                  <h5>Projects</h5>
                </a>
              </li>
            </ul>
          </div>
        </div>

      </div>
    
    </div>
  </div>


  <!-- org body content -->
  <div class="org-content">
    <div class="container">

      <!-- <div class="row">
        <header class="mr-auto col-lg-6">
          
        </header>
      </div> -->
      <div class="row main-org-content">
        <div class="col-md-8">
          <app-orgs-about-us *ngIf="current_active_tab == 'about-us'"
                             [description]="company.company_description"></app-orgs-about-us>
          <app-orgs-projects *ngIf="current_active_tab == 'projects'"></app-orgs-projects>
        </div>
        <div class="col-md-4" *ngIf="company">
          <!-- About Us Side Bar  -->

          <h2 class="text-left -secondary">Contact</h2>
          <ul class="org-contact-list">
            <li *ngIf="company.phone_number"><span class="org-contact-key">Phone:</span> {{company.phone_number}}</li>
            <li><span class="org-contact-key">Location:</span> {{company.address.locality}},
              {{company.address.administrative_area}}
            </li>
            <!-- <li><span class="org-contact-key"># of employees:</span> {{company.employees}}</li> -->
            <li><span class="org-contact-key">Founder:</span> {{company.founder_name}}</li>
            <li><span class="org-contact-key">Founded:</span> {{company.founded_date}}</li>
            <li><span class="org-contact-key">Type of business:</span> {{company.business}}</li>
          </ul>
          <p class="push mt-5">
            <a href="mailto:{{company.contact}}" target="_top"><i class="fa fa-envelope-o"></i> <span>Send Email</span></a>
          </p>
          <div *ngIf="company.website_or_blog">
           <h2 class="text-left -secondary">Websites</h2>
              <p class="push mt-5">
                <a *ngFor="let website of company.website_or_blog" target="_blank" href="{{website}}">{{website}}</a>
              </p>
          </div>
          <div *ngIf="company.field_social_accounts">
            <h2 class="text-left -secondary">Social</h2>
            <div class="row justify-content-end org-social">
                <a class="profile-share">
                    <app-btn-share class="text-white" [showLabel]="false" [PageTitle]="company.company_name"
                       [PageDescription]="company.company_description.text"
                       [PageImage]="company.company_cover_photo"></app-btn-share>
                    </a>
                <!--<app-bookmark [nodeNid]="nid" [nodeType]="'company_profile'"></app-bookmark>-->
            </div>
            <div class="social-links d-flex flex-wrap">
              <div class="social-container" *ngIf="company.field_social_accounts[0].field_facebook != '' ">
                <a class="nav-link social fb" target="_blank"
                   href="{{company.field_social_accounts[0].field_facebook}}">
                  <i class="fa fa-facebook fa-lg"></i>
                </a>
              </div>
              <div class="social-container" *ngIf="company.field_social_accounts[0].field_twitter != '' ">
                <a class="nav-link social tw" target="_blank" href="{{company.field_social_accounts[0].field_twitter}}">
                  <i class="fa fa-twitter fa-lg"></i>
                </a>
              </div>
              <div class="social-container" *ngIf="company.field_social_accounts[0].field_instagram != '' ">
                <a class="nav-link social in" target="_blank"
                   href="{{company.field_social_accounts[0].field_instagram}}">
                  <i class="fa fa-instagram fa-lg"></i>
                </a>
              </div>
              <div class="social-container" *ngIf="company.field_social_accounts[0].field_linkedin != '' ">
                <a class="nav-link social ln" target="_blank"
                   href="{{company.field_social_accounts[0].field_linkedin}}">
                  <i class="fa fa-linkedin fa-lg"></i>
                </a>
              </div>
              <div class="social-container" *ngIf="company.field_social_accounts[0].field_pinterest != '' ">
                <a class="nav-link social pin" target="_blank"
                   href="{{company.field_social_accounts[0].field_pinterest}}">
                  <i class="fa fa-pinterest-p fa-lg"></i>
                </a>
              </div>
              <div class="social-container" *ngIf="company.field_social_accounts[0].field_youtube != '' ">
                <a class="nav-link social ut" target="_blank" href="{{company.field_social_accounts[0].field_youtube}}">
                  <i class="fa fa-youtube fa-lg"></i>
                </a>
              </div>
              <div class="social-container" *ngIf="company.field_social_accounts[0].field_hackster_io != '' ">
                <a class="nav-link social hackster" target="_blank"
                   href="{{company.field_social_accounts[0].field_hackster_io}}">
                  <img src="./assets/images/icons/hackster_white.svg" *ngIf="currentHover != 'hackster'" alt="">
                </a>
              </div>
              <div class="social-container" *ngIf="company.field_social_accounts[0].field_instructables != '' ">
                <a class="nav-link social instruct" target="_blank"
                   href="{{company.field_social_accounts[0].field_instructables}}">
                  <img src="./assets/images/icons/instructables_white.svg" *ngIf="currentHover != 'instructables'"
                       alt="">
                </a>
              </div>
              <div class="social-container" *ngIf="company.field_social_accounts[0].field_hackday != '' ">
                <a class="nav-link social hackday" target="_blank"
                   href="{{company.field_social_accounts[0].field_hackday}}">
                  <img src="./assets/images/icons/hackaday_white.svg" alt="">
                </a>
              </div>
              <div class="social-container" *ngIf="company.field_social_accounts[0].field_github != '' ">
                <a class="nav-link social github" target="_blank"
                   href="{{company.field_social_accounts[0].field_github}}">
                  <img src="./assets/images/icons/github.svg" alt="">
                </a>
              </div>
              <div class="social-container" *ngIf="company.field_social_accounts[0].field_twitch != '' ">
                <a class="nav-link social twitch" target="_blank"
                   href="{{company.field_social_accounts[0].field_twitch}}">
                  <img src="./assets/images/icons/twitch.svg" alt="">
                </a>
              </div>
              <div class="social-container" *ngIf="company.field_social_accounts[0].field_gitlabs != '' ">
                <a class="nav-link social gitlab" target="_blank"
                   href="{{company.field_social_accounts[0].field_gitlabs}}">
                  <img src="./assets/images/icons/gitlab.svg" alt="">
                </a>
              </div>
              <div class="social-container" *ngIf="company.field_social_accounts[0].field_thingyverse != '' ">
                <a class="nav-link social thingy" target="_blank"
                   href="{{company.field_social_accounts[0].field_thingyverse}}">
                  <img src="./assets/images/icons/thingiverse.svg" alt="">
                </a>
              </div>
              <div class="social-container" *ngIf="company.field_social_accounts[0].field_stackoverflow	 != '' ">
                <a class="nav-link social stack" target="_blank"
                   href="{{company.field_social_accounts[0].field_stackoverflow}}">
                  <img src="./assets/images/icons/stackoverflow.svg" alt="">
                </a>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
          <div *ngIf="followers && company.minimum_followers <= followersCount">
            <h2 class="text-left -secondary">Followers</h2>
            <div *ngFor="let maker of followers;" class="d-inline">
              <img *ngIf="maker.user_photo" width="50" height="50" src="{{maker.user_photo}}">
            </div>
            <span *ngIf="followersCount"><span (click)="open(content)" *ngIf="followersCount > 3">+ {{followersCount-3}} loadmore</span></span>
          </div>
          <a *ngIf="CurrentLoggedUserId != company.admin">
            <app-follow-orgs *ngIf="nid" (countNumber)="followersCounter($event)" [nodeNid]="nid"></app-follow-orgs>
            <app-report *ngIf="nid" [EntityId]="nid" [EntityType]="'node'" [typeOfNode]="'orgs'"></app-report>
          </a>
        </div>
      </div>

      <div class="text-center">
        <h1 class="p-2">Our Team</h1>
        <h1 class="p-2" *ngIf="!team">No team members in organization yet</h1>
      </div>
      <div class="row p-2" *ngIf="team">
        <div class="col-md-4 card-wrapper" *ngFor="let teams of team">
          <div *ngIf="teams.field_membership_role">
            <p class="team-role">Role: {{teams.field_membership_role}}</p>
          </div>
          <app-maker-card [uid]="teams.field_team_member" [state]="'tall'"></app-maker-card>
        </div>
      </div>
      <ng-template #content let-c="close" let-d="dismiss" class="like-modal">
        <div class="modal-header">
          <span *ngIf="followersCount">{{followersCount}} Followers</span>
          <button type="button" class="close ml-auto" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" *ngIf="allFollwers">
          <ul class="model-likes list-unstyled">
            <li *ngFor="let follower of allFollwers; ">
              <img *ngIf="follower?.portfolio_photo && follower.profile_url " class="like-photo w-50"
                   src="{{follower?.portfolio_photo}}"
                   [routerLink]="['/portfolio/',follower.profile_url]" (click)="d('Cross click')">
              <img *ngIf="!follower?.portfolio_photo && follower.profile_url " class="like-photo w-50"
                   src="./assets/images/Gears-Grey.svg"
                   [routerLink]="['/portfolio/',follower.profile_url]" (click)="d('Cross click')">
              <span [routerLink]="['/portfolio/',follower.profile_url]" (click)="d('Cross click')"
                    class="new-tooltiptext like-name"> {{follower?.first_name}} {{follower?.last_name}} </span>
            </li>
          </ul>
          <div class="text-center pt-3 pb-5" *ngIf="showloadmoreFollowers">
            <a class="btn btn-load-more" (click)="getAllFollowers(true)">Load more</a>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>
