<div class="page-portfolio">
  <div class="top-content-wrapper">
    <div class="portfolio-controls">
      <div class="container d-flex flex-row align-items-center">
        <h3 class="mr-auto">You are editing your portfolio</h3>
        <ul class="list-unstyled contorls">
          <li><a href="" class="btn btn-main btn-sharp">Save</a></li>
          <li><a href="" class="btn btn-transparent">Cancel</a></li>
        </ul>
      </div>
    </div>
    <div class="nav-portfolio">
      <div class="container">
        <ul class="list-unstyled">
          <li><a href="#" class="btn btn-grey-inverse active" id="public">Portfolio</a></li>
          <li><a href="#" class="btn btn-grey-inverse" id="private">Private Projects</a></li>
          <li><a href="#" class="btn btn-grey-inverse" id="drafts">Drafts</a></li>
          <li><a href="#" class="btn btn-grey-inverse" id="photos">Photos</a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- End top-content-wrapper -->
  <div class="container">
    <div class="region region-content col-sm-12">
      <div class="portfolio-public">
        <div class="portfolio-header">
          <p class="pull-left">The order will be the same in Grid and Showcase mode</p>
          <div class=" pull-right view">
            <p class="th">Default View: Grid &nbsp; <i class="fa fa-lg fa-th"></i></p>
            <p class="square">Default View: Square &nbsp; <i class="fa fa-lg fa-square"></i></p>
          </div>
        </div>
        <!-- End portfolio-header -->
        <div class="projects-grid row">
          <div class="col-md-3">
            <div class="project">
              <div class="project-title">
                <p>Flaming Simon</p>
              </div>
              <div class="project-image">
                <img src="./assets/images/flaming-simon.jpg" alt="" class="img-responsive">
                <div class="overlay">
                  <a href="" class="btn btn-white"><i class="fa fa-lg fa-eye-slash"></i> Set to private</a>
                  <a href="" class="btn btn-white"><i class="fa fa-lg fa-pencil"></i> Edit Project</a>
                  <a href="" class="btn btn-white"><i class="fa fa-lg fa-caret-left"></i> Drag to reorder <i class="fa fa-lg fa-caret-right"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="project">
              <div class="project-title">
                <p>Xylobot - They Might Be Giants Version</p>
              </div>
              <div class="project-image">
                <img src="./assets/images/XyloBot.jpg" alt="" class="img-responsive">
                <div class="overlay">
                  <a href="" class="btn btn-white"><i class="fa fa-lg fa-eye-slash"></i> Set to private</a>
                  <a href="" class="btn btn-white"><i class="fa fa-lg fa-pencil"></i> Edit Project</a>
                  <a href="" class="btn btn-white"><i class="fa fa-lg fa-caret-left"></i> Drag to reorder <i class="fa fa-lg fa-caret-right"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="project">
              <div class="project-title">
                <p>LEMUR-tron</p>
              </div>
              <div class="project-image">
                <img src="./assets/images/LEMUR.jpg" alt="" class="img-responsive">
                <div class="overlay">
                  <a href="" class="btn btn-white"><i class="fa fa-lg fa-eye-slash"></i> Set to private</a>
                  <a href="" class="btn btn-white"><i class="fa fa-lg fa-pencil"></i> Edit Project</a>
                  <a href="" class="btn btn-white"><i class="fa fa-lg fa-caret-left"></i> Drag to reorder <i class="fa fa-lg fa-caret-right"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="project">
              <div class="project-title">
                <p>Flaming Simon</p>
              </div>
              <div class="project-image">
                <img src="./assets/images/flaming-simon.jpg" alt="" class="img-responsive">
                <div class="overlay">
                  <a href="" class="btn btn-white"><i class="fa fa-lg fa-eye-slash"></i> Set to private</a>
                  <a href="" class="btn btn-white"><i class="fa fa-lg fa-pencil"></i> Edit Project</a>
                  <a href="" class="btn btn-white"><i class="fa fa-lg fa-caret-left"></i> Drag to reorder <i class="fa fa-lg fa-caret-right"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="project">
              <div class="project-title">
                <p>Flaming Simon</p>
              </div>
              <div class="project-image">
                <img src="./assets/images/flaming-simon.jpg" alt="" class="img-responsive">
                <div class="overlay">
                  <a href="" class="btn btn-white"><i class="fa fa-lg fa-eye-slash"></i> Set to private</a>
                  <a href="" class="btn btn-white"><i class="fa fa-lg fa-pencil"></i> Edit Project</a>
                  <a href="" class="btn btn-white"><i class="fa fa-lg fa-caret-left"></i> Drag to reorder <i class="fa fa-lg fa-caret-right"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="project">
              <div class="project-title">
                <p>Flaming Simon</p>
              </div>
              <div class="project-image">
                <img src="./assets/images/flaming-simon.jpg" alt="" class="img-responsive">
                <div class="overlay">
                  <a href="" class="btn btn-white"><i class="fa fa-lg fa-eye-slash"></i> Set to private</a>
                  <a href="" class="btn btn-white"><i class="fa fa-lg fa-pencil"></i> Edit Project</a>
                  <a href="" class="btn btn-white"><i class="fa fa-lg fa-caret-left"></i> Drag to reorder <i class="fa fa-lg fa-caret-right"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="project">
              <div class="project-title">
                <p>Flaming Simon</p>
              </div>
              <div class="project-image">
                <img src="./assets/images/flaming-simon.jpg" alt="" class="img-responsive">
                <div class="overlay">
                  <a href="" class="btn btn-white"><i class="fa fa-lg fa-eye-slash"></i> Set to private</a>
                  <a href="" class="btn btn-white"><i class="fa fa-lg fa-pencil"></i> Edit Project</a>
                  <a href="" class="btn btn-white"><i class="fa fa-lg fa-caret-left"></i> Drag to reorder <i class="fa fa-lg fa-caret-right"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="project">
              <div class="project-title">
                <p>Xylobot - They Might Be Giants Version</p>
              </div>
              <div class="project-image">
                <img src="./assets/images/XyloBot.jpg" alt="" class="img-responsive">
                <div class="overlay">
                  <a href="" class="btn btn-white"><i class="fa fa-lg fa-eye-slash"></i> Set to private</a>
                  <a href="" class="btn btn-white"><i class="fa fa-lg fa-pencil"></i> Edit Project</a>
                  <a href="" class="btn btn-white"><i class="fa fa-lg fa-caret-left"></i> Drag to reorder <i class="fa fa-lg fa-caret-right"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="project">
              <div class="project-title">
                <p>LEMUR-tron</p>
              </div>
              <div class="project-image">
                <img src="./assets/images/LEMUR.jpg" alt="" class="img-responsive">
                <div class="overlay">
                  <a href="" class="btn btn-white"><i class="fa fa-lg fa-eye-slash"></i> Set to private</a>
                  <a href="" class="btn btn-white"><i class="fa fa-lg fa-pencil"></i> Edit Project</a>
                  <a href="" class="btn btn-white"><i class="fa fa-lg fa-caret-left"></i> Drag to reorder <i class="fa fa-lg fa-caret-right"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="project">
              <div class="project-title">
                <p>Flaming Simon</p>
              </div>
              <div class="project-image">
                <img src="./assets/images/flaming-simon.jpg" alt="" class="img-responsive">
                <div class="overlay">
                  <a href="" class="btn btn-white"><i class="fa fa-lg fa-eye-slash"></i> Set to private</a>
                  <a href="" class="btn btn-white"><i class="fa fa-lg fa-pencil"></i> Edit Project</a>
                  <a href="" class="btn btn-white"><i class="fa fa-lg fa-caret-left"></i> Drag to reorder <i class="fa fa-lg fa-caret-right"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="project">
              <div class="project-title">
                <p>Flaming Simon</p>
              </div>
              <div class="project-image">
                <img src="./assets/images/flaming-simon.jpg" alt="" class="img-responsive">
                <div class="overlay">
                  <a href="" class="btn btn-white"><i class="fa fa-lg fa-eye-slash"></i> Set to private</a>
                  <a href="" class="btn btn-white"><i class="fa fa-lg fa-pencil"></i> Edit Project</a>
                  <a href="" class="btn btn-white"><i class="fa fa-lg fa-caret-left"></i> Drag to reorder <i class="fa fa-lg fa-caret-right"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="project">
              <div class="project-title">
                <p>Flaming Simon</p>
              </div>
              <div class="project-image">
                <img src="./assets/images/flaming-simon.jpg" alt="" class="img-responsive">
                <div class="overlay">
                  <a href="" class="btn btn-white"><i class="fa fa-lg fa-eye-slash"></i> Set to private</a>
                  <a href="" class="btn btn-white"><i class="fa fa-lg fa-pencil"></i> Edit Project</a>
                  <a href="" class="btn btn-white"><i class="fa fa-lg fa-caret-left"></i> Drag to reorder <i class="fa fa-lg fa-caret-right"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End project-grid -->
      </div>
      <!-- End portfolio-public -->
      <div class="portfolio-private">
        <div class="portfolio-header">
          <p class="">These do not show in your public portfolio. Set to public to move them to your portfolio so other people can see
            them.
          </p>
        </div>
        <!-- End portfolio-header -->
        <div class="projects-grid row">
          <div class="col-md-3">
            <div class="project">
              <div class="project-title">
                <p>Flaming Simon</p>
              </div>
              <div class="project-image">
                <img src="./assets/images/flaming-simon.jpg" alt="" class="img-responsive">
                <div class="overlay">
                  <a href="" class="btn btn-white"><i class="fa fa-lg fa-eye"></i> Set to public</a>
                  <a href="" class="btn btn-white"><i class="fa fa-lg fa-pencil"></i> Edit Project</a>
                  <a href="" class="btn btn-white"><i class="fa fa-lg fa-caret-left"></i> Drag to reorder <i class="fa fa-lg fa-caret-right"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="project">
              <div class="project-title">
                <p>Xylobot - They Might Be Giants Version</p>
              </div>
              <div class="project-image">
                <img src="./assets/images/XyloBot.jpg" alt="" class="img-responsive">
                <div class="overlay">
                  <a href="" class="btn btn-white"><i class="fa fa-lg fa-eye"></i> Set to public</a>
                  <a href="" class="btn btn-white"><i class="fa fa-lg fa-pencil"></i> Edit Project</a>
                  <a href="" class="btn btn-white"><i class="fa fa-lg fa-caret-left"></i> Drag to reorder <i class="fa fa-lg fa-caret-right"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="project">
              <div class="project-title">
                <p>LEMUR-tron</p>
              </div>
              <div class="project-image">
                <img src="./assets/images/LEMUR.jpg" alt="" class="img-responsive">
                <div class="overlay">
                  <a href="" class="btn btn-white"><i class="fa fa-lg fa-eye"></i> Set to public</a>
                  <a href="" class="btn btn-white"><i class="fa fa-lg fa-pencil"></i> Edit Project</a>
                  <a href="" class="btn btn-white"><i class="fa fa-lg fa-caret-left"></i> Drag to reorder <i class="fa fa-lg fa-caret-right"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="project">
              <div class="project-title">
                <p>Flaming Simon</p>
              </div>
              <div class="project-image">
                <img src="./assets/images/flaming-simon.jpg" alt="" class="img-responsive">
                <div class="overlay">
                  <a href="" class="btn btn-white"><i class="fa fa-lg fa-eye"></i> Set to public</a>
                  <a href="" class="btn btn-white"><i class="fa fa-lg fa-pencil"></i> Edit Project</a>
                  <a href="" class="btn btn-white"><i class="fa fa-lg fa-caret-left"></i> Drag to reorder <i class="fa fa-lg fa-caret-right"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="project">
              <div class="project-title">
                <p>Flaming Simon</p>
              </div>
              <div class="project-image">
                <img src="./assets/images/flaming-simon.jpg" alt="" class="img-responsive">
                <div class="overlay">
                  <a href="" class="btn btn-white"><i class="fa fa-lg fa-eye"></i> Set to public</a>
                  <a href="" class="btn btn-white"><i class="fa fa-lg fa-pencil"></i> Edit Project</a>
                  <a href="" class="btn btn-white"><i class="fa fa-lg fa-caret-left"></i> Drag to reorder <i class="fa fa-lg fa-caret-right"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="project">
              <div class="project-title">
                <p>Flaming Simon</p>
              </div>
              <div class="project-image">
                <img src="./assets/images/flaming-simon.jpg" alt="" class="img-responsive">
                <div class="overlay">
                  <a href="" class="btn btn-white"><i class="fa fa-lg fa-eye"></i> Set to public</a>
                  <a href="" class="btn btn-white"><i class="fa fa-lg fa-pencil"></i> Edit Project</a>
                  <a href="" class="btn btn-white"><i class="fa fa-lg fa-caret-left"></i> Drag to reorder <i class="fa fa-lg fa-caret-right"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="project">
              <div class="project-title">
                <p>Flaming Simon</p>
              </div>
              <div class="project-image">
                <img src="./assets/images/flaming-simon.jpg" alt="" class="img-responsive">
                <div class="overlay">
                  <a href="" class="btn btn-white"><i class="fa fa-lg fa-eye"></i> Set to public</a>
                  <a href="" class="btn btn-white"><i class="fa fa-lg fa-pencil"></i> Edit Project</a>
                  <a href="" class="btn btn-white"><i class="fa fa-lg fa-caret-left"></i> Drag to reorder <i class="fa fa-lg fa-caret-right"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="project">
              <div class="project-title">
                <p>Xylobot - They Might Be Giants Version</p>
              </div>
              <div class="project-image">
                <img src="./assets/images/XyloBot.jpg" alt="" class="img-responsive">
                <div class="overlay">
                  <a href="" class="btn btn-white"><i class="fa fa-lg fa-eye"></i> Set to public</a>
                  <a href="" class="btn btn-white"><i class="fa fa-lg fa-pencil"></i> Edit Project</a>
                  <a href="" class="btn btn-white"><i class="fa fa-lg fa-caret-left"></i> Drag to reorder <i class="fa fa-lg fa-caret-right"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="project">
              <div class="project-title">
                <p>LEMUR-tron</p>
              </div>
              <div class="project-image">
                <img src="./assets/images/LEMUR.jpg" alt="" class="img-responsive">
                <div class="overlay">
                  <a href="" class="btn btn-white"><i class="fa fa-lg fa-eye"></i> Set to public</a>
                  <a href="" class="btn btn-white"><i class="fa fa-lg fa-pencil"></i> Edit Project</a>
                  <a href="" class="btn btn-white"><i class="fa fa-lg fa-caret-left"></i> Drag to reorder <i class="fa fa-lg fa-caret-right"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="project">
              <div class="project-title">
                <p>Flaming Simon</p>
              </div>
              <div class="project-image">
                <img src="./assets/images/flaming-simon.jpg" alt="" class="img-responsive">
                <div class="overlay">
                  <a href="" class="btn btn-white"><i class="fa fa-lg fa-eye"></i> Set to public</a>
                  <a href="" class="btn btn-white"><i class="fa fa-lg fa-pencil"></i> Edit Project</a>
                  <a href="" class="btn btn-white"><i class="fa fa-lg fa-caret-left"></i> Drag to reorder <i class="fa fa-lg fa-caret-right"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="project">
              <div class="project-title">
                <p>Flaming Simon</p>
              </div>
              <div class="project-image">
                <img src="./assets/images/flaming-simon.jpg" alt="" class="img-responsive">
                <div class="overlay">
                  <a href="" class="btn btn-white"><i class="fa fa-lg fa-eye"></i> Set to public</a>
                  <a href="" class="btn btn-white"><i class="fa fa-lg fa-pencil"></i> Edit Project</a>
                  <a href="" class="btn btn-white"><i class="fa fa-lg fa-caret-left"></i> Drag to reorder <i class="fa fa-lg fa-caret-right"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="project">
              <div class="project-title">
                <p>Flaming Simon</p>
              </div>
              <div class="project-image">
                <img src="./assets/images/flaming-simon.jpg" alt="" class="img-responsive">
                <div class="overlay">
                  <a href="" class="btn btn-white"><i class="fa fa-lg fa-eye"></i> Set to public</a>
                  <a href="" class="btn btn-white"><i class="fa fa-lg fa-pencil"></i> Edit Project</a>
                  <a href="" class="btn btn-white"><i class="fa fa-lg fa-caret-left"></i> Drag to reorder <i class="fa fa-lg fa-caret-right"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End project-grid -->
      </div>
      <!-- End portfolio-public -->
      <div class="portfolio-photos">
        <div class="photos-header row">
          <div class="col-md-4">
            <h3>Your Photos (12)</h3>
            <div class="storage-limit">
              <p>Percent of storage used (3.2 MB of 100 MB)</p>
            </div>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width:10%;">
                <span class="profile-progress">10%</span>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-md-offset-6">
            <a href="" class="btn btn-white btn-sharp">
              <i class="fa fa-lg fa-plus"></i>Upload photos
            </a>
          </div>
          <div class="clearfix"></div>
        </div>
        <!-- End photos-header -->
        <div class="photos-grid row">
          <div class="col-md-3">
            <div class="image-container">
              <img src="http://placehold.it/200x300" alt="">
              <a href=""><i class="fa fa-lg fa-times"></i></a>
            </div>
            <p>Filename.jpg</p>
          </div>
          <div class="col-md-3">
            <div class="image-container">
              <img src="http://placehold.it/200x300" alt="">
              <a href=""><i class="fa fa-lg fa-times"></i></a>
            </div>
            <p>Filename.jpg</p>
          </div>
          <div class="col-md-3">
            <div class="image-container">
              <img src="http://placehold.it/200x300" alt="">
              <a href=""><i class="fa fa-lg fa-times"></i></a>
            </div>
            <p>Filename.jpg</p>
          </div>
          <div class="col-md-3">
            <div class="image-container">
              <img src="http://placehold.it/200x300" alt="">
              <a href=""><i class="fa fa-lg fa-times"></i></a>
            </div>
            <p>Filename.jpg</p>
          </div>
          <div class="col-md-3">
            <div class="image-container">
              <img src="http://placehold.it/200x300" alt="">
              <a href=""><i class="fa fa-lg fa-times"></i></a>
            </div>
            <p>Filename.jpg</p>
          </div>
          <div class="col-md-3">
            <div class="image-container">
              <img src="http://placehold.it/200x300" alt="">
              <a href=""><i class="fa fa-lg fa-times"></i></a>
            </div>
            <p>Filename.jpg</p>
          </div>
          <div class="col-md-3">
            <div class="image-container">
              <img src="http://placehold.it/200x300" alt="">
              <a href=""><i class="fa fa-lg fa-times"></i></a>
            </div>
            <p>Filename.jpg</p>
          </div>
          <div class="col-md-3">
            <div class="image-container">
              <img src="http://placehold.it/200x300" alt="">
              <a href=""><i class="fa fa-lg fa-times"></i></a>
            </div>
            <p>Filename.jpg</p>
          </div>
          <div class="col-md-3">
            <div class="image-container">
              <img src="http://placehold.it/200x300" alt="">
              <a href=""><i class="fa fa-lg fa-times"></i></a>
            </div>
            <p>Filename.jpg</p>
          </div>
          <div class="col-md-3">
            <div class="image-container">
              <img src="http://placehold.it/200x300" alt="">
              <a href=""><i class="fa fa-lg fa-times"></i></a>
            </div>
            <p>Filename.jpg</p>
          </div>
          <div class="col-md-3">
            <div class="image-container">
              <img src="http://placehold.it/200x300" alt="">
              <a href=""><i class="fa fa-lg fa-times"></i></a>
            </div>
            <p>Filename.jpg</p>
          </div>
        </div>
        <!-- End images-grid -->
        <div class="text-center">
          <div class="button-container-sec-3">
            <a href="#" class="btn btn-grey">Load more</a>
          </div>
        </div>
      </div>
    </div>
    <!-- End region-content -->
  </div>
  <!-- End container -->
  <div class="custom-footer">
    <div class="portfolio-controls">
      <div class="container d-flex flex-row align-items-center">
        <h3 class="mr-auto">You are editing your portfolio</h3>
        <ul class="list-unstyled contorls">
          <li><a href="" class="btn btn-main btn-sharp">Save</a></li>
          <li><a href="" class="btn btn-transparent">Cancel</a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- End custom-footer -->
</div>