<ul class="social-stat-group">
  <li class="social-stat">
    <i class="lnr lnr-users"></i>
    <span class="info" *ngIf="followerCount > 0">{{followerCount}}</span>
  </li>
  <li class="social-stat">
    <i class="fa fa-wrench"></i>
    <span class="info" *ngIf="projectsCount > 0">{{projectsCount}}</span>
  </li>
  <li class="social-stat" *ngIf="like && nid">
    <app-likes [nodeNid]="nid"></app-likes> <!--[project]="true"-->
  </li>
  <li class="social-stat">
    <i class="fa fa-eye"></i>
    <span class="info" *ngIf="profileViews > 0">{{profileViews}}</span>
  </li>

  <!-- profile view -->
  <li class="right social-stat" *ngIf="profileView">
    <app-message-modal class="profile-message" [uid]="uid"></app-message-modal>
  </li>
  <li class="right social-stat" *ngIf="profileView">
    <!-- <app-btn-share [PageTitle]="'Maker Portfolio'"></app-btn-share> -->
    <app-btn-share 
                           [PageTitle]="'Maker Share'"
                           [PageDescription]="'Maker Share Portfolio'"
                           [PageImage]="'https://makershare.comassets/images/logos/maker-share-logo-clr@2x-100.jpg'"></app-btn-share>
  </li>
</ul>