 <button (click)="open(content)" (click)="getUserData()" class="message-btn">
   <i  ngbTooltip="Send Message"></i>
   <img src="./assets/images/icons/mail.svg" alt="">
 </button>
<template #content let-c="close" let-d="dismiss" ngbModalContainer>
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true" (click)="resetForm($event)">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="messageForm" *ngIf="active" (ngSubmit)="onSubmit($event)" (ngSubmit)="c('Close click')" id="createMsg" class="form-horizontal">
      <!--<div class="form-group" *ngIf="card">
              <div class="result">
                <div class="user-image-container">
                  <img *ngIf="card.photo" src="{{card.photo}}">
                  <img *ngIf="!card.photo" src="{{card.default_photo}}">
                </div>
                <div class="data-container">
                  <p  *ngIf="(card.first_name) && (card.last_name)">{{card.first_name}} {{card.last_name}}</p>
                </div>
              </div>
            </div>-->

      <div class="form-group subject">
              <label class="control-label">Subject</label>
              <input type="text" class="form-control" name="subject" id="subject" formControlName="subject">
            </div>
      <div *ngIf="formErrors.subject" class="alert alert-danger">
        {{ formErrors.subject }}
      </div>
      <div class="form-group message-text">
        <label class="control-label">Message</label>
        <textarea name="body" id="body" cols="30" rows="10" formControlName="body"></textarea>
      </div>
      <div *ngIf="formErrors.body" class="alert alert-danger">
        {{ formErrors.body }}
      </div>
      <ul class="list-unstyled actions">
        <li><a href="" class="btn btn-transparent" (click)="c('Close click')" (click)="resetForm($event)">Cancel</a></li>
        <li><button type="submit" class="btn btn-blue btn-sharp" [disabled]="!messageForm.valid">Send</button></li>
      </ul>
    </form>
  </div>
</template>