.btns-container {
  text-align: center;
  .button, button {
    &:first-child {
      margin-right: 1rem;
    }
  }
}

.button, button {
  -webkit-appearance: none;
  background: $highlight-bright-blue;
  color: $white;
  padding: 1rem 1.5rem;
  border: 0;
  font-size: 1.2rem;
  line-height: normal;
  transition: background 0.3s ease;
  cursor: pointer;

  &:focus {
    border: 0;
    box-shadow: none;
  }

  &:hover, &:active {
    background: darken($highlight-bright-blue, 20%);
  }

  &.grey {
    &:hover, &:active {
      background-color: $xtra-dark-grey;
    }
  }

  &.grey, &.disabled {
    background-color: $medium-grey;

    &.-border {
      border: .1rem $dark-grey solid;
    }

    &.-no-bg {
      color: $dark-grey;
      &:hover {
        color: $white;
      }
    }
  }

  &.disabled {
    &:hover, &:active {
      background-color: $medium-grey; // no hover for disabled
    }
  }

  &.disabled {
    cursor: not-allowed;
  }

  &.red, &.warning {
    background: $highlight-red;

    &:hover, &:active {
      background: darken($highlight-red, 20%);
    }
  }

  &.-no-bg {
    background-color: transparent;
  }

  &.-big {
    font-size: 1.6rem;
  }

  &.-slim {
    padding: .5rem 1.5rem;
  }

  &.-icon {
    background-color: transparent;
    border: none;
    i {
      font-size: 1.73rem;
    }
    &:hover {
      i {
        color: $highlight-bright-blue;
      }
    }
  }

  &.-link {
    padding: .8rem 1.5rem;
    border: none;
    margin-right: .2rem;
    margin-top: .2rem;
    background: none;
    font-size: 1.6rem;
    display: inline-block;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    clear: both;

    &:hover {
      color: $highlight-bright-blue !important;
    }
  }

  &.-vote {
    font-family: $font-messina-modern-regular;
    font-size: 2rem;
    font-weight: 500;
    line-height: 120%;
    color: $dark-grey;
    background: $white;
    border: .5px solid $dark-grey;
    padding: 1.5rem 0;
    width: 18rem;
    margin: 0 auto;
    text-align: center;
    transition: background-color 0.5s ease;

    &:hover,
    &.active {
      color: $white;
      background-color: $highlight-red;
      box-shadow: none;
      border: .1rem solid;
    }

    i {
      span {
        font-family: $font-messina-modern-regular;
      }
    }
  }

  &.close {
    float: right;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1;
    color: $black;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    &:hover {
      background-color: transparent;
      text-decoration: none;
      cursor: pointer;
      opacity: .75;
    }
  }

  &.btn-load-more {
    font-size: 1.6rem;
    white-space: nowrap;
    width: 12rem;
    padding: 1.2rem;
    background-color: $white !important;
  }

  &.btn-simple-large {
    height: 3.5rem;
    min-width: 18rem;
    font-size: 2rem;
    color: $dark-grey;
    text-align: center;
    border: .02rem solid $dark-grey;
    background-color: $white;
    padding: 5px 15px;
  }
}

a:not([href]):not([tabindex]) {
  cursor: pointer;
}

.btn-soft-grey,
a:not([href]):not([tabindex]).btn-soft-grey {
  color: #757575 !important;
  border-radius: 0;
  font-size: 1.3rem;
}

.btn-load-more,
a:not([href]):not([tabindex]).btn-load-more {
  background-color: $lighter-grey;
  border: .1rem solid $medium-grey;
  color: $dark-grey;
  margin-bottom: 3rem;
}

.btn-fit,
a:not([href]):not([tabindex]).btn-fit {
  padding: .5rem 1rem;
}

.btn, a:not([href]):not([tabindex]).btn {
  padding: .5rem 1.5rem;
  border: none;
  border-radius: 0;
}

.btn-white,
a:not([href]):not([tabindex]).btn-white {
  background-color: $white;
  border: .1rem solid $highlight-bright-blue;
  font-size: 2rem;
  &:hover, &:focus, &:active {
    color: $highlight-bright-blue;
    border: .1rem solid $highlight-bright-blue*1.3;
  }
}

.btn-white-2, a:not([href]):not([tabindex]).btn-white-2 {
  color: $darker-grey;
  background: linear-gradient(to bottom, #999 0, $white .7rem, $white 100%);
  border-radius: 0;
  font-size: 1.6rem;
  border: .1rem solid #999;
  &:focus {
    color: $white;
    background: $highlight-red*1.3;
    border-color: transparent;
  }

  &:active, &:hover, &.active {
    color: $white;
    background: $highlight-red;
    border-color: transparent;
  }
}