// default blue
.button, button {
	-webkit-appearance: none;
	background: $highlight-bright-blue;
	color: $white;
	padding: 1rem 1.5rem;
	border: 0;
	font-size: 1.2rem;
	transition: background 0.3s ease;
	cursor: pointer;

	&:focus {
		border: 0;
		box-shadow: none;
	}

	&:hover, &:active {
		background: darken($highlight-bright-blue, 20%);
	}


	&.grey, &.disabled {
		background: $medium-grey;
		cursor: not-allowed;

		&:hover, &:active {
			background: $medium-grey; // no hover for disabled
		}
	}

	&.red, &.warning {
		background: $highlight-red;

		&:hover, &:active {
			background: darken($highlight-red, 20%);
		}
	}

}