.form-group {
  margin-top: 3rem;

  .form-label {
    label {
      @include card-header-font-md();
      color: $dark-grey;
      &.selected-topic {
        font-size: 1.1rem;
      }
    }
    span {
      font-size: 1.08rem;
      display: inline-block;
      margin-bottom: 0;
      margin-left: .5rem;
    }
  }

  &.required {
    .form-label {
      label::after {
        content: " *";
        color: red;
      }
    }
  }

  .form-ctl {
    background: transparent;
    width: auto;
    border-radius: 0;
    font-size: 1.6rem;
    line-height: 1.25;
    input,
    textarea {
      padding: .8rem 1.2rem;
      display: block;
      width: 100%;
      border: 1px solid rgba(0,0,0,.15);
      background-color: $white;
      color: $dark-grey;
      &[type=radio] {
        display: inline-block;
        width: auto;
        margin: .5rem;
        border: none;
        background-color: transparent;
      }
    }

    input::-webkit-input-placeholder {
      color: $light-grey;
    }
    input::-moz-placeholder {
      color: $light-grey;
    }
    input:-ms-input-placeholder {
      color: $light-grey;
    }
    textarea::-webkit-input-placeholder {
      color: $light-grey;
    }
    textarea::-moz-placeholder {
      color: $light-grey;
    }
    textarea:-ms-input-placeholder {
      color: $light-grey;
    }

    .image-preview {
      width: 50%;
      .img-responsive {
        max-width: 100%;
      }
    }
  }

  input,
  textarea {
    &.ng-dirty.ng-invalid {
      border: .1rem solid $vivid-red;
    }
  }

  .form-subform {
    .form-subform-group {
      margin: 1rem 0;
      label,
      input {
        width: 100%;
      }

      &.required {
        label::after {
          content: " *";
          color: red;
        }
      }
    }
  }
}