.make-logo {
	min-width: 90px; // default desktop width
	height: 77px;
	display: block;
	margin-right: 3rem;
	background-image: url('../images/logos/Maker-Share-Logo-BETA.svg');
	background-repeat: no-repeat;
	background-size: cover;

	@include tablet() {
		min-width: 50px;
    	height: 41px;
    	margin-right: 1rem;
	}
}