.make-logo {
	width: 80px; // default desktop width
	height: 67px;
	display: block;
	margin-right: 3rem;
	background-image: url('../images/logos/Maker-Share-Logo-BETA.svg');
	background-repeat: no-repeat;
	background-size: cover;
}