<!--<div  *ngIf="company">
    
    <section class="container">
      <div class="row ">
          <img src={{company.company_cover_photo}} class="w-100 h-25 p-2" alt="Responsive image">
      </div>
    </section>

    <div> Company Logo
      <img src={{company.company_logo}} class="p-2" alt="Responsive image">
    </div>
    <div> Company Name
      <p>{{company.company_name}}</p>
    </div>
    <div *ngIf="company.field_company_tags">
      <div *ngFor="let tags of  company.field_company_tags">
        <p *ngIf="!tags.is_parent">
          {{tags.name}}
        </p>
      </div>
    </div>
    <div> About us
      <p [innerHTML]="trustedLink"></p>
    </div>
    <div *ngIf="company.field_maker_memberships"> Our Team
      <div *ngFor="let team of company.field_maker_memberships">
        <p>{{team.full_name}} </p>
        <p>{{team.field_membership_role}} </p>
      </div>
    </div>
    <div> Social
      <p>Facebook: {{company.field_facebook}}</p>
      <p>Linkedin: {{company.field_linkedin}}</p>
      <p>Twitter: {{company.field_twitter}}</p>
    </div>
    <div> Websites
      <a href="{{company.field_website_or_blog}}"></a>
    </div>
  </div>-->

<div *ngIf="company">
  <div class="card card-inverse">
    <img class="card-img" src="{{company.company_cover_photo}}">
    <div class="card-img-overlay">
      <div class="card-block text-nowrap w-25 p-3">
        <h2 class="text-center bg-inverse text-white">{{company.company_name}}</h2>
      </div>
      <div class="text-center" style="display:-webkit-box;" *ngIf="company.field_company_tags">
        <div *ngFor="let tags of  company.field_company_tags">
          <p class="text-white" *ngIf="!tags.is_parent">
            {{tags.name}},
          </p>
        </div>
      </div>
      <div>
        <p class="text-center text-white card-text"><small class="text-muted text-center">{{company.company_name}}</small></p>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <!-- Oraganization Header  -->
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <!-- About Us Text Area  -->
      </div>
      <div class="col-md-4">
        <!-- About Us Side Bar  -->
      </div>
      <div class="col-md-12">
        <!-- Our Team  -->
      </div>
    </div>
  </div>