
      
<div *ngIf="company">
  <div class="container-fluid">
    <!-- Oraganization Header  -->
    <img class="card-img" src="{{company.company_cover_photo}}">

    <div>
      <h2 class="text-center">{{company.company_name}}</h2>
    </div>
    <div>
      <p class="text-center text-white card-text"><small class="text-muted text-center">{{company.breif_info}} - {{company.address.locality}}, 
          {{company.address.administrative_area}}</small></p>
    </div>


    <header class="mr-auto col-lg-6">
      <ul class="list-unstyled d-flex flex-row flex-wrap aling-self-center align-content-lg-center">
        <li><a (click)="current_active_tab = 'about-us'" class="btn btn-tab" [ngClass]="{'active': current_active_tab == 'about-us' }">About Us</a></li>
        <li><a (click)="current_active_tab = 'projects'" class="btn btn-tab" [ngClass]="{'active': current_active_tab == 'projects' }">Projects</a></li>
      </ul>
    </header>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <a href="" class="btn button-item" (click)="changeOrgsTab('followers',$event)">Followers</a>

      <app-orgs-about-us *ngIf="current_active_tab == 'about-us'"></app-orgs-about-us>
      <app-orgs-projects *ngIf="current_active_tab == 'projects'"></app-orgs-projects>
    </div>
    <div class="col-md-4" *ngIf="company">
      <!-- About Us Side Bar  -->

      <ul>
        <h1>Contact</h1>
        <li> Phone: {{company.phone_number}}</li>
        <li> Location: {{company.address.locality}}, {{company.address.administrative_area}}</li>
        <li> # of employees: {{company.employees}}</li>
        <li> Founder: {{company.founder_name}}</li>
        <li> Founded: {{company.founded_date}}</li>
        <li> Type of business: {{company.business}}</li>
      </ul>
    </div>
    <div class="col-md-12">
      <!-- Our Team  -->
    </div>
 </div>
</div>