<div [formGroup]="organizationForm">
  
  <div *ngIf="!organizationForm.value.field_orgs_projects">
    Your organization has no projects yet.<br>
You can import a project from your personal portfolio or add a new one.<br>
Changes you make to a project will be reflected in both places.<br>
  </div>

  <div *ngIf="organizationForm.value.field_orgs_projects">
      <app-project-card class="card-wrapper col-md-6 col-lg-4 pull-left"
                        *ngFor="let nid of organizationForm.value.field_orgs_projects"
                        [view]="view"
                        [nid]="nid"
                        [state]="'tall'"></app-project-card>

  </div>

  <div>Select an existing project from your portfolio.</div>

  <select *ngIf="userProjects" (change)="tmpSelectedProject = $event.target.value">
    <option [value]="" disabled>Select an existing project</option>
    <option *ngFor="let project of userProjects" [value]="project.nid">{{project.project_name}}</option>
  </select>

  <button type="button" (click)="insertSelectedProject()">Submit</button>
  <div> OR </div>
  <a href="/projects/create" target="_blank">+ Add a Project</a>


</div>