<template #rt let-r="result" let-t="term">
  {{ r.name}}
</template>

<div class="region region-content col-sm-8" [formGroup]="HowToForm">
  <div class="how-to">
    <div class="form-group tools">
      <label>Tools</label>
      <div formArrayName="field_tools">
        <div class="container p-0">
          <div class="row" [formGroupName]="HowToForm.controls.field_tools.controls.length-1">
            <div class="col-md-6 inputs-container flex-column flex-md-row">
              <div class="form-group w-100">
                <!--<label>Name</label>-->
                <input [inputFormatter]="formatter" [ngClass]="{valError: formErrors.field_tools[HowToForm.controls.field_tools.controls.length-1].field_tool_name}"
                  *ngIf="!HowToForm.controls.field_tools.controls[HowToForm.controls.field_tools.controls.length-1]['controls'].field_tool_name.value"
                  type="text" id="tool-name-{{HowToForm.controls.field_tools.controls.length-1 + 1}}" placeholder="Tools used to create this project."
                  class="tool form-control" [resultTemplate]="rt" [ngbTypeahead]="search" (selectItem)="TempSelectedToolMaterialPart['tool'] = $event.item"
                  ngbTooltip="{{TooltipText.tool_name.guide}}">
                <div class="item-notfound item-notfound d-flex flex-row pt-2" *ngIf="!HowToForm.controls.field_tools.controls[HowToForm.controls.field_tools.controls.length-1]['controls'].field_tool_name.value && searchFailed['tool']">
                  <span>Tool not found</span><a class="btn btn-load-more edit" (click)="OpenAddModal(addmodal,'tool')">Create New</a>
                </div>
                <small *ngIf="formErrors.field_tools[HowToForm.controls.field_tools.controls.length-1].field_tool_name" class="text-danger">
                  {{formErrors.field_tools[HowToForm.controls.field_tools.controls.length-1].field_tool_name}}
                </small>
              </div>
            </div>
            <div class="col-md-6 inputs-container flex-column flex-md-row">
              <div class="form-group w-100">
                <!--<label>Quantity</label>-->
                <input id="tool-quantity-{{HowToForm.controls.field_tools.controls.length-1 + 1}}" min="1" type="number" placeholder="Quantity"
                  class="form-control" [formControl]="HowToForm.controls.field_tools.controls[HowToForm.controls.field_tools.controls.length-1]['controls'].field_quantity">
              </div>
            </div>
            <a *ngIf="TempSelectedToolMaterialPart['tool']" (click)="SetToolMaterialPart('tool','field_tools',TempSelectedToolMaterialPart['tool'],HowToForm.controls.field_tools.controls.length-1);"><i class="fa fa-plus-square"></i>Add</a>
          </div>
        </div>
        <span *ngIf="HowToForm.controls.field_tools.controls.length > 1" class="p-2 tool-list">PROJECT SUPPLY LIST:</span>
        <div *ngFor="let Tool of HowToForm.controls.field_tools.controls; let i=index" class="result col-md-6">
          <div class="d-flex flex-row p-1" *ngIf="i != HowToForm.controls.field_tools.controls.length-1">
            <div>{{Tool.value.field_tool_name|EntityReferenceNoNid}}, Quantity: {{Tool.value.field_quantity}}</div>
            <i class="lnr lnr-cross-circle ml-auto pt-1" (click)="RemoveRow(i,'field_tools')"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group parts">
      <label>Boards and Kits</label>
      <div formArrayName="field_parts">
        <div class="container p-0">
          <div class="row" [formGroupName]="HowToForm.controls.field_parts.controls.length-1">
            <div class="col-md-6 inputs-container flex-column flex-md-row">
              <div class="form-group w-100">
                <!--<label>Name</label>-->
                <input [inputFormatter]="formatter" [ngClass]="{valError: formErrors.field_parts[HowToForm.controls.field_parts.controls.length-1].field_part_name}"
                  *ngIf="!HowToForm.controls.field_parts.controls[HowToForm.controls.field_parts.controls.length-1]['controls'].field_part_name.value"
                  type="text" id="part-name-{{HowToForm.controls.field_parts.controls.length-1 + 1}}" placeholder="Boards and Kits recommended"
                  class="part form-control" [resultTemplate]="rt" [ngbTypeahead]="search" (selectItem)="TempSelectedToolMaterialPart['part'] = $event.item">
                <div class="item-notfound item-notfound d-flex flex-row pt-2" *ngIf="!HowToForm.controls.field_parts.controls[HowToForm.controls.field_parts.controls.length-1]['controls'].field_part_name.value && searchFailed['part']">
                  <span>Part not found</span><a class="btn btn-load-more edit" (click)="OpenAddModal(addmodal,'part')">Create New</a>
                </div>
                <small *ngIf="formErrors.field_parts[HowToForm.controls.field_parts.controls.length-1].field_part_name" class="text-danger">
                  {{formErrors.field_parts[HowToForm.controls.field_parts.controls.length-1].field_part_name}}
                </small>
              </div>
            </div>
            <div class="col-md-6 inputs-container flex-column flex-md-row">
              <div class="form-group w-100">
                <!--<label>Quantity</label>-->
                <input id="part-quantity-{{HowToForm.controls.field_parts.controls.length-1 + 1}}" min="1" type="number" placeholder="Quantity"
                  class="form-control" [formControl]="HowToForm.controls.field_parts.controls[HowToForm.controls.field_parts.controls.length-1]['controls'].field_quantity">
              </div>
            </div>
            <a *ngIf="TempSelectedToolMaterialPart['part']" (click)="SetToolMaterialPart('part','field_parts',TempSelectedToolMaterialPart['part'],HowToForm.controls.field_parts.controls.length-1);"><i class="fa fa-plus-square"></i>Add</a>
          </div>
        </div>
        <div *ngFor="let Part of HowToForm.controls.field_parts.controls; let i=index" class="result col-md-6">
          <div class="d-flex flex-row p-1" *ngIf="i != HowToForm.controls.field_parts.controls.length-1">
            <div>{{Part.value.field_part_name|EntityReferenceNoNid}},Quantity:{{Part.value.field_quantity}}</div>
            <i class="lnr lnr-cross-circle ml-auto pt-1" (click)="RemoveRow(i,'field_parts')"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group materials">
      <label>Parts and Materials</label>
      <div formArrayName="field_materials">
        <div class="container p-0">
          <div class="row" [formGroupName]="HowToForm.controls.field_materials.controls.length-1">
            <div class="col-md-6 inputs-container flex-column flex-md-row">
              <div class="form-group w-100">
                <!--<label>Name</label>-->
                <input [inputFormatter]="formatter" [ngClass]="{valError: formErrors.field_materials[HowToForm.controls.field_materials.controls.length-1].field_material_name}"
                  *ngIf="!HowToForm.controls.field_materials.controls[HowToForm.controls.field_materials.controls.length-1]['controls'].field_material_name.value"
                  type="text" id="material-name-{{HowToForm.controls.field_materials.controls.length-1 + 1}}" placeholder="Parts and Material recommended"
                  class="material form-control" [resultTemplate]="rt" [ngbTypeahead]="search" (selectItem)="TempSelectedToolMaterialPart['material'] = $event.item">
                <div class="item-notfound item-notfound d-flex flex-row pt-2" *ngIf="!HowToForm.controls.field_materials.controls[HowToForm.controls.field_materials.controls.length-1]['controls'].field_material_name.value && searchFailed['material']">
                  <span>Material not found</span><a class="btn btn-load-more edit" (click)="OpenAddModal(addmodal,'material')">Create New</a>
                </div>
                <small *ngIf="formErrors.field_materials[HowToForm.controls.field_materials.controls.length-1].field_material_name" class="text-danger">
                  {{formErrors.field_materials[HowToForm.controls.field_materials.controls.length-1].field_material_name}}
                </small>
              </div>
            </div>
            <div class="col-md-6 inputs-container flex-column flex-md-row">
              <div class="form-group w-100">
                <!--<label>Quantity</label>-->
                <input id="material-quantity-{{HowToForm.controls.field_materials.controls.length-1 + 1}}" min="1" type="number" placeholder="Quantity or Amount"
                  class="form-control" [formControl]="HowToForm.controls.field_materials.controls[HowToForm.controls.field_materials.controls.length-1]['controls'].field_material_quantity">
              </div>
            </div>
            <a *ngIf="TempSelectedToolMaterialPart['material']" (click)="SetToolMaterialPart('material','field_materials',TempSelectedToolMaterialPart['material'],HowToForm.controls.field_materials.controls.length-1);"><i class="fa fa-plus-square"></i>Add</a>
          </div>
        </div>
        <div *ngFor="let Material of HowToForm.controls.field_materials.controls; let i=index" class="result col-md-6">
          <div class="d-flex flex-row p-1" *ngIf="i != HowToForm.controls.field_materials.controls.length-1">
            <div>{{Material.value.field_material_name|EntityReferenceNoNid}},Quantity:{{Material.value.field_material_quantity}}</div>
            <i class="lnr lnr-cross-circle ml-auto pt-1" (click)="RemoveRow(i,'field_materials')"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="container form-group p-0">
      <div class="row">
        <div *ngIf="Difficulties" class="form-group difficulties col-md-6">
          <label for="">Difficulty</label>
          <select *ngIf="HowToForm.controls.field_difficulty.value == '_none'" class="form-control col-md-6" title="Select one" formControlName='field_difficulty'>
            <option value="_none">Choose one</option>
            <option *ngFor="let Difficulty of Difficulties; let i=index" value="{{Difficulty.tid}}" >{{Difficulty.name}}</option>
          </select>
          <div *ngIf="HowToForm.controls.field_difficulty.value != '_none'">
            <div *ngFor="let Difficulty of Difficulties; let i=index">
              <div class="how-to-select d-flex flex-row" *ngIf="Difficulty.tid == HowToForm.controls.field_difficulty.value">
                <span>{{Difficulty.name}}</span>
                <i class="lnr lnr-cross-circle ml-auto pt-1" (click)="HowToForm.controls.field_difficulty.patchValue('_none')"></i>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="Durations" class="form-group durations col-md-6">
          <label for="">Duration</label>
          <select *ngIf="HowToForm.controls.field_duration.value == '_none'" class="form-control col-md-6" title="Select one" formControlName='field_duration'>
            <option value="_none">Choose one</option>
            <option *ngFor="let Duration of Durations; let i=index" value="{{Duration.tid}}" >{{Duration.name}}</option>
          </select>
          <div *ngIf="HowToForm.controls.field_duration.value != '_none'">
            <div *ngFor="let Duration of Durations; let i=index">
              <div class="how-to-select d-flex flex-row" *ngIf="Duration.tid == HowToForm.controls.field_duration.value">
                <span>{{Duration.name}}</span>
                <i class="lnr lnr-cross-circle ml-auto pt-1" (click)="HowToForm.controls.field_duration.patchValue('_none')"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--<div class="form-group resources-row">
      <label>Resources</label>
      <div formArrayName="field_resources">
        <div>
          <div class="card-block" [formGroupName]="HowToForm.controls.field_resources.controls.length-1">
            <div class="form-group col-xs-12">
              <input type="text" class="form-control" formControlName="field_label">
						</div>
            <div class="form-group col-xs-12">
              <input type="file" (change)="TempSelectedToolMaterialPart['resource'] = $event.target.files[0]">
            </div>
						<div class="form-group col-xs-10">
              <input [ngClass]="{valError: formErrors.field_resources[HowToForm.controls.field_resources.controls.length-1].field_repository_link}" type="text" class="form-control" placeholder="Enter a repository in" formControlName="field_repository_link">
              <small *ngIf="formErrors.field_resources[HowToForm.controls.field_resources.controls.length-1].field_repository_link" class="text-danger">
                {{formErrors.field_resources[HowToForm.controls.field_resources.controls.length-1].field_repository_link}}
              </small>
						</div>
          </div>
        </div>
        <div *ngFor="let Resource of HowToForm.controls.field_resources.controls; let i=index" class="card">
          <div *ngIf="i != HowToForm.controls.field_resources.controls.length-1">
            <div>{{Resource.value.field_label}}</div>
            <span class="fa fa-lg fa-times pull-right"(click)="RemoveRow(i,'field_resources')"></span>
          </div>
        </div>
        <a *ngIf="TempSelectedToolMaterialPart['resource']" (click)="FileUpdated(TempSelectedToolMaterialPart['resource'],HowToForm.controls.field_resources.controls.length-1);TempSelectedToolMaterialPart['resource'] = ''" class="btn btn-white btn-sharp"><i class="fa fa-lg fa-plus"></i>Add</a>
        <a *ngIf="HowToForm.value.field_resources[HowToForm.controls.field_resources.controls.length-1].field_repository_link && HowToForm.controls.field_resources.controls[HowToForm.controls.field_resources.controls.length-1].valid" (click)="SetResourceByRepoLink(HowToForm.value.field_resources[HowToForm.controls.field_resources.controls.length-1],HowToForm.controls.field_resources.controls.length-1)" class="btn btn-white btn-sharp"><i class="fa fa-lg fa-plus"></i>Add</a>
      </div>-->
  <label for="resource">Resources</label><br>
  <span class="mb-2">--FIELD RESOURCES IN PROGRESS--</span>
  <div class="form-group projectSteps">
    <div class="form-group project-steps">
      <label for="how-to-make">Steps</label>
      <ckeditor #ckeditor id="how-to-make" rows="5" [config]="CKEditorConfig" formControlName='field_how_to' [(ngModel)]="project.field_how_to.und[0].value"></ckeditor>
    </div>
  </div>
    </div>
  <!-- End how-to -->
</div>
<aside class="col-md-4">
  <div class="how-to-guide">
    <h2 class="col-12">Helpful Hints</h2>
    <br>
    <div class="guideline">
      <div class="pull-left question-mark"><i class="fa fa-2x fa-question-circle"></i></div>
      <div class="pull-left content">
        <h4>{{sidebarText.how_to.title}}</h4>
        <p>{{sidebarText.how_to.guide}}</p>
      </div>
    </div>
  </div>
</aside>

<!-- MODALS -->

<!-- Add Modal -->
<template #addmodal let-c="close" let-d="dismiss" ngbModalContainer>
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Add new {{CurrentModal}}</h4>
  </div>
  <div class="modal-body">
    <label for="name">{{CurrentModal}} name:</label>
    <input #Name type="text" class="form-control" id="name">
  </div>
  <div class="modal-footer">
    <button #CloseButton type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
    <button type="button" class="btn btn-primary" (click)="AddNewToolMaterialPart(CloseButton,Name)">Save</button>
  </div>
</template>