<template #rt let-r="result" let-t="term">
  {{ r.name}}
</template>

<div class="region region-content col-sm-8" [formGroup]="HowToForm">
  <div class="how-to">
    <div class="form-group projectSteps">
      <div class="form-group project-steps">
        <label for="how-to-make">How to make this project:</label>
        <ckeditor #ckeditor id="how-to-make" rows="5" [config]="CKEditorConfig" formControlName='field_how_to' [(ngModel)]="project.field_how_to.und[0].value"></ckeditor>
      </div>
    </div>
    <div class="form-group tools">
      <label>Tools</label>
      <div formArrayName="field_tools">
        <div *ngFor="let Tool of HowToForm.controls.field_tools.controls; let i=index" class="card">
          <div class="card-header">
            <span class="fa fa-lg fa-times pull-right" *ngIf="HowToForm.controls.field_tools.controls.length > 0" (click)="RemoveRow(i,'field_tools')"></span>
          </div>
          <div class="card-block d-flex flex-column" [formGroupName]="i">
            <div class="row inputs-container flex-column flex-md-row">
              <div class="form-group col-12 col-md-5 d-flex flex-column">
                <label>Name</label>
                <div *ngIf="HowToForm.controls.field_tools.controls[i]['controls'].field_tool_name.value">{{HowToForm.controls.field_tools.controls[i]['controls'].field_tool_name.value|EntityReferenceNoNid}}</div>
                <input [ngClass]="{valError: formErrors.field_tools[i].field_tool_name}" *ngIf="!HowToForm.controls.field_tools.controls[i]['controls'].field_tool_name.value" type="text" id="tool-name-{{i + 1}}" placeholder="Tool name" class="tool form-control" [resultTemplate]="rt" [ngbTypeahead]="search" (selectItem)="SetToolMaterialPart('tool','field_tools', $event.item, i)" ngbTooltip="{{TooltipText.tool_name.guide}}">
                <div *ngIf="!HowToForm.controls.field_tools.controls[i]['controls'].field_tool_name.value && searchFailed['tool']">
                  Tool not found <a class="btn btn-light-grey edit" (click)="OpenAddModal(addmodal,'tool')">Create New</a>
                </div>
                <small *ngIf="formErrors.field_tools[i].field_tool_name" class="text-danger">
                  {{formErrors.field_tools[i].field_tool_name}}
                </small>
              </div>
              <!--<div class="form-group col-12 col-md-4 d-flex flex-column">
                <label>URL</label>
                <input [ngClass]="{valError: formErrors.field_tools[i].field_tool_url}" id="tool-url-{{i + 1}}" type="text" placeholder="URL (optional)" class="form-control" [formControl]="Tool.controls.field_tool_url">
                <small *ngIf="formErrors.field_tools[i].field_tool_url" class="text-danger">
                  {{formErrors.field_tools[i].field_tool_url}}
                </small>
              </div>-->
              <!--<div class="form-group col-12 col-md-3 d-flex flex-row flex-md-column align-items-center">
                <label>Sort order</label>
                <div class="d-flex flex-row align-items-stretch">
                  <input [ngClass]="{valError: formErrors.field_tools[i].field_sort_order}" id="tool-sort-{{i + 1}}" type="text" placeholder="{{i + 1}}" value='{{i + 1}}' class="form-control sort" [formControl]="Tool.controls.field_sort_order" readonly />
                  <div class="carets d-flex flex-column">
                    <i *ngIf="i > 0" class="fa fa-2x fa-caret-up sort-up mb-auto" (click)="ChangeOrder(i,i-1,'field_tools')"></i>
                    <i *ngIf="i < HowToForm.controls.field_tools.controls.length - 1" class="fa fa-2x fa-caret-down sort-down mt-auto" (click)="ChangeOrder(i,i+1,'field_tools')"></i>
                  </div>
                  <small *ngIf="formErrors.field_tools[i].field_sort_order" class="text-danger">
                    {{formErrors.field_tools[i].field_sort_order}}
                  </small>
                </div>
              </div>-->
            </div>
            <div class="row inputs-container flex-column flex-md-row">
              <div class="form-group col-md-4">
                <label>Quantity</label>
                <input id="tool-quantity-{{i + 1}}" min="1" type="number" placeholder="How many?" class="form-control" [formControl]="Tool.controls.field_quantity">
              </div>
              <!--<div class="form-group col-12 col-md-8">
                <label for="tool-desc-{{i + 1}}">Description</label>
                <textarea class="form-control" rows="5" id="tool-desc-{{i + 1}}" [formControl]='Tool.controls.field_description'></textarea>
              </div>-->
            </div>
          </div>
        </div>
      </div>
      <a *ngIf="HowToForm.controls.field_tools.valid" (click)="AddRow('field_tools')" class="btn btn-white btn-sharp"><i class="fa fa-lg fa-plus"></i> Add more</a>
    </div>
    <div class="form-group parts">
      <label>Boards & Kits</label>
      <div formArrayName="field_parts">
        <div *ngFor="let Part of HowToForm.controls.field_parts.controls; let i=index" class="card">
          <div class="card-header">
            <span class="fa fa-lg fa-times pull-right" *ngIf="HowToForm.controls.field_parts.controls.length > 0" (click)="RemoveRow(i,'field_parts')"></span>
          </div>
          <div class="card-block d-flex flex-column" [formGroupName]="i">
            <div class="row inputs-container flex-column flex-md-row">
              <div class="form-group col-12 col-md-5 d-flex flex-column">
                <label>Name</label>
                <div *ngIf="HowToForm.controls.field_parts.controls[i]['controls'].field_part_name.value">{{HowToForm.controls.field_parts.controls[i]['controls'].field_part_name.value|EntityReferenceNoNid}}</div>
                <input [ngClass]="{valError: formErrors.field_parts[i].field_part_name}" *ngIf="!HowToForm.controls.field_parts.controls[i]['controls'].field_part_name.value" type="text" id="part-name-{{i + 1}}" placeholder="Board/Kit name" class="part form-control" [resultTemplate]="rt" [ngbTypeahead]="search" (selectItem)="SetToolMaterialPart('part','field_parts', $event.item, i)">
                <div *ngIf="!HowToForm.controls.field_parts.controls[i]['controls'].field_part_name.value && searchFailed['part']">
                  Part not found <a class="btn btn-light-grey edit" (click)="OpenAddModal(addmodal,'part')">Create New</a>
                </div>
                <small *ngIf="formErrors.field_parts[i].field_part_name" class="text-danger">
                  {{formErrors.field_parts[i].field_part_name}}
                </small>
              </div>
              <div class="form-group col-12 col-md-4 d-flex flex-column">
                <label>Quantity</label>
                <input id="part-quantity-{{i + 1}}" min="1" type="number" placeholder="How many?" class="form-control" [formControl]="Part.controls.field_quantity">
              </div>
              <!--<div class="form-group col-12 col-md-3 d-flex flex-row flex-md-column align-items-center">
                <label>Sort order</label>
                <input [ngClass]="{valError: formErrors.field_parts[i].field_sort_order}" id="part-sort-{{i + 1}}" type="text" placeholder="{{i + 1}}" value='{{i + 1}}' class="form-control sort" [formControl]="Part.controls.field_sort_order" readonly />
                <div class="carets d-flex flex-column">
                  <i *ngIf="i > 0" class="fa fa-2x fa-caret-up sort-up mb-auto" (click)="ChangeOrder(i,i-1,'field_parts')"></i>
                  <i *ngIf="i < HowToForm.controls.field_parts.controls.length - 1" class="fa fa-2x fa-caret-down sort-down mt-auto" (click)="ChangeOrder(i,i+1,'field_parts')"></i>
                </div>
                <small *ngIf="formErrors.field_parts[i].field_sort_order" class="text-danger">
                  {{formErrors.field_parts[i].field_sort_order}}
                </small>
              </div>-->
            </div>
          </div>
        </div>
      </div>
      <a *ngIf="HowToForm.controls.field_parts.valid" (click)="AddRow('field_parts')" class="btn btn-white btn-sharp"><i class="fa fa-lg fa-plus"></i> Add more</a>
    </div>
    <div class="form-group materials">
      <label>Parts & Materials</label>
      <div formArrayName="field_materials">
        <div *ngFor="let Material of HowToForm.controls.field_materials.controls; let i=index" class="card">
          <div class="card-header">
            <span class="fa fa-lg fa-times pull-right" *ngIf="HowToForm.controls.field_materials.controls.length > 0" (click)="RemoveRow(i,'field_materials')"></span>
          </div>
          <div class="card-block" [formGroupName]="i">
            <div class="row inputs-container flex-column flex-md-row">
              <div class="form-group col-12 col-md-5 d-flex flex-column">
                <label>Name</label>
                <div *ngIf="HowToForm.controls.field_materials.controls[i]['controls'].field_material_name.value">{{HowToForm.controls.field_materials.controls[i]['controls'].field_material_name.value|EntityReferenceNoNid}}</div>
                <input [ngClass]="{valError: formErrors.field_materials[i].field_material_name}" *ngIf="!HowToForm.controls.field_materials.controls[i]['controls'].field_material_name.value" type="text" id="material-name-{{i + 1}}" placeholder="Material name" class="material form-control" [resultTemplate]="rt" [ngbTypeahead]="search" (selectItem)="SetToolMaterialPart('material','field_materials', $event.item, i)">
                <div *ngIf="!HowToForm.controls.field_materials.controls[i]['controls'].field_material_name.value && searchFailed['material']">
                  Material not found <a class="btn btn-light-grey edit" (click)="OpenAddModal(addmodal,'material')">Create New</a>
                </div>
                <small *ngIf="formErrors.field_materials[i].field_material_name" class="text-danger">
                  {{formErrors.field_materials[i].field_material_name}}
                </small>
              </div>
              <div class="form-group col-12 col-md-4 d-flex flex-column">
                <label>Quantity</label>
                <input id="material-quantity-{{i + 1}}" min="1" type="number" placeholder="How many?" class="form-control" [formControl]="Material.controls.field_material_quantity">
              </div>
              <!--<div class="form-group col-md-3 d-flex flex-row flex-md-column align-items-center">
                <label>Sort order</label>
                <input [ngClass]="{valError: formErrors.field_materials[i].field_sort_order}" id="material-sort-{{i + 1}}" type="text" placeholder="{{i + 1}}" value='{{i + 1}}' class="form-control sort" [formControl]="Material.controls.field_sort_order" readonly />
                <div class="carets d-flex flex-column">
                  <i *ngIf="i > 0" class="fa fa-2x fa-caret-up sort-up mb-auto" (click)="ChangeOrder(i,i-1,'field_materials')"></i>
                  <i *ngIf="i < HowToForm.controls.field_materials.controls.length - 1" class="fa fa-2x fa-caret-down sort-down mt-auto" (click)="ChangeOrder(i,i+1,'field_materials')"></i>
                </div>
                <small *ngIf="formErrors.field_materials[i].field_sort_order" class="text-danger">
                  {{formErrors.field_materials[i].field_sort_order}}
                </small>
              </div>-->
            </div>
          </div>
        </div>
      </div>
      <a *ngIf="HowToForm.controls.field_materials.valid" (click)="AddRow('field_materials')" class="btn btn-white btn-sharp"><i class="fa fa-lg fa-plus"></i> Add more</a>
    </div>
    <div *ngIf="Difficulties" class="form-group difficulties">
      <label for="">Project Difficulty</label>
      <br>
      <select class="form-control" title="Select one" formControlName='field_difficulty'>
        <option *ngFor="let Difficulty of Difficulties; let i=index" value="{{Difficulty.tid}}" >{{Difficulty.name}}</option>
      </select>
    </div>
    <div *ngIf="Durations" class="form-group durations">
      <label for="">Project Duration</label>
      <br>
      <select class="form-control" title="Select one" formControlName='field_duration'>
        <option *ngFor="let Duration of Durations; let i=index" value="{{Duration.tid}}" >{{Duration.name}}</option>
      </select>
    </div>
    <div class="form-group resources">
      <label>Resources</label>
      <div formArrayName="field_resources">
        <div *ngFor="let Resource of HowToForm.controls.field_resources.controls; let i=index" class="card">
          <div class="card-header">
            <span>Resource {{i + 1}}</span>
            <span class="fa fa-lg fa-times pull-right" *ngIf="HowToForm.controls.field_resources.controls.length > 0" (click)="RemoveRow(i,'field_resources')"></span>
          </div>
          <div class="card-block" [formGroupName]="i">
            <div class="form-group col-xs-12">
              <label class="control-label" for="file-upload-{{i + 1}}"></label><br>
              <a id="file-upload-link-{{i + 1}}" class="btn btn-white btn-sharp resource-file">Choose a File</a>
              <input id="file-upload-{{i + 1}}" type="file" class="file" placeholder="Upload File" (change)="FileUpdated($event,i)">
              <div *ngIf="Resource.controls.field_resources_filename.value">{{Resource.controls.field_resources_filename.value}}</div>
            </div>
						<div class="form-group col-xs-10">
              <label for="repo-{{i + 1}}">Link a Repository</label>
              <input [ngClass]="{valError: formErrors.field_resources[i].field_repository_link}" type="text" class="form-control" id="repo-{{i + 1}}" placeholder="Enter a repository URL" [formControl]="Resource.controls.field_repository_link">
              <small *ngIf="formErrors.field_resources[i].field_repository_link" class="text-danger">
                {{formErrors.field_resources[i].field_repository_link}}
              </small>
						</div>
            <div class="form-group col-xs-12">
              <label for="resource-tag-{{i + 1}}">Label</label>
              <select id="resources-tag-{{i + 1}}" class="form-control" title="- None -" [formControl]="Resource.controls.field_label">
                <option *ngFor="let Label of ResourceLabels; let i=index" value="{{Label.tid}}">{{Label.name}}</option>
              </select>
						</div>
          </div>
        </div>
        <a *ngIf="HowToForm.controls.field_resources.valid" (click)="AddRow('field_resources')" class="btn btn-white btn-sharp another-resource" ngbTooltip="{{TooltipText.resources.guide}}"><i class="fa fa-lg fa-plus"></i> Add more</a>
      </div>
    </div>
    <div class="form-group col-xs-12 credit-your-inspiration">
      <label for="credit-your-inspiration">Credit Your Inspiration</label>
      <input [ngClass]="{valError: formErrors.field_credit_your_inspiration}" maxlength="140" type="text" class="form-control" id="credit-your-inspiration" formControlName="field_credit_your_inspiration" [(ngModel)]="project.field_credit_your_inspiration.und[0].value" novalidate placeholder="Credit Your Inspiration" ngbTooltip="{{TooltipText.inspiration.guide}}">
      {{HowToForm.value.field_credit_your_inspiration.length}}\140
    </div>
    <div *ngIf="formErrors.field_credit_your_inspiration" class="alert alert-danger error-msg">
      {{ formErrors.field_credit_your_inspiration }}
    </div>

  </div><!-- End how-to -->
</div>
<aside class="col-md-4">
  <div class="how-to-guide">
    <br>
    <br>
    <br>
    <h2>Helpful Hints</h2>
    <br>
    <div class="guideline">
      <div class="pull-left question-mark"><i class="fa fa-2x fa-question-circle"></i></div>
      <div class="pull-left content">
        <h4>{{sidebarText.how_to.title}}</h4>
        <p>{{sidebarText.how_to.guide}}</p>
      </div>
    </div>
  </div>
</aside>

<!-- MODALS -->

<!-- Add Modal -->
<template #addmodal let-c="close" let-d="dismiss" ngbModalContainer>
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Add new {{CurrentModal}}</h4>
  </div>
  <div class="modal-body">
    <label for="name">{{CurrentModal}} name:</label>
    <input #Name type="text" class="form-control"  id="name">
  </div>
  <div class="modal-footer">
    <button #CloseButton type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
    <button type="button" class="btn btn-primary" (click)="AddNewToolMaterialPart(CloseButton,Name)">Save</button>
  </div>
</template>
