       <div class="showcase-card row d-flex align-items-stretch">
          <div class="col-md-4 col-sm-12 col-xs-12 image-container">
            <img src="{{showcase.cover_photo}}" *ngIf="showcase.cover_photo" alt="" class="img-responsive" (click)="ShowSingleShowcase(showcase.nid)">
          </div>
          <!--End image-container -->
          <div class="col-md-8 content-container h-100">
            <div class="card-container h-100">
              <div class="card h-100">
                <div class="showcase-type-badge">
                  <p>Showcase</p>
                </div>
                <h3 class="card-title" (click)="ShowSingleShowcase(showcase.nid)">{{showcase.showcase_name}}</h3>
                <div class="card-description">
                  <p [innerHTML]="showcase.description_trim" *ngIf="showcase.description"></p>
                </div>
                <div class="showcase-card-footer mt-auto d-flex">
                  <div class="showcase-card-footer-1">
                    <div class="button-container-main-1">
                      <span class="btn btn-main" (click)="ShowSingleShowcase(showcase.nid)">See Showcase</span>
                    </div>
                  </div>
                  <div class="showcase-card-footer-2 ml-4">
                    <div class="showcase-card-count d-felx">
                      <div class="views-count-div">
                        <img src="./assets/images/icons/views.png" class="showcase-views" alt="">
                        <span class="views-count">1129</span>
                      </div>
                      <div class="projects-count-div">
                        <span class="projects-count">{{showcase.number_of_project}}
                           <span *ngIf="showcase.number_of_project>1">projects</span>
                        <span *ngIf="showcase.number_of_project<=1">project</span>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--End card-container -->
          </div>
        </div>