<div class="showcase-card-backlayer hidden-xs-down" *ngIf="showcaseCard">
  <div class="showcase-card row">
    <div class="col-md-4 col-sm-12 col-xs-12 image-container">
      <img *ngIf="showcaseCard.Cover_Photo" src="{{showcaseCard.Cover_Photo}}" alt="" class="img-responsive" (click)="ShowSingleShowcase(showcaseCard.path)">
      <img *ngIf="!showcaseCard.Cover_Photo" src="./assets/images/placeholder.png" alt="">
    </div>
    <!--End image-container -->
    <div class="col-md-8 content-container">
      <div class="card-container h-100">
        <div class="card h-100">
          <h3 class="card-title">{{showcaseCard.showcase_name}}</h3>
          <!-- Start Feature Showcase -->
          <app-feature *ngIf="Manager && showcaseCard.nid" [id]="showcaseCard.nid" [type]="'node'"> </app-feature>
          <!-- End Feature Showcase -->
          <div class="card-description">
            <p [innerHTML]="showcaseCard.description" *ngIf="showcaseCard.description"></p>
          </div>
          <div class="projects-count-div" style="color: #4f4f4f;">
            <span class="projects-count">
            <span *ngIf="projects_makers_count !=1">{{showcaseCard.projects_makers_count}} {{showcaseCard.showcase_type}}s</span>
            <span *ngIf="projects_makers_count ==1">{{showcaseCard.projects_makers_count}} {{showcaseCard.showcase_type}}</span>
            </span>
          </div>
          <div class="showcase-card-footer mt-auto d-flex">
            <div class="showcase-card-footer-1 hidden-xs-down">
              <div class="button-container-main-1">
                <span class="btn btn-main" (click)="ShowSingleShowcase(showcaseCard.path)">See Showcase</span>
              </div>
            </div>
            <div class="showcase-card-footer-2 ml-4">
              <div class="showcase-card-count">
                <div class=" d-flex flex-row">
                  <div class="showcase-likes">
                    <div class="likes-count-div" *ngIf="showcaseCard.nid && userId">
                      <app-like [nodeNid]="showcaseCard.nid" [user]="userId" [showcase]="true"></app-like>
                    </div>
                  </div>
                  <div class="views-count">
                    <img src="./assets/images/icons/views.png" class="showcase-views" alt="">
                    <span class="views-count">{{showcaseCard.views_count}}</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="showcase-card-footer-1 hidden-sm-up mt-3">
              <div class="button-container-main-1 w-100">
                <span class="btn btn-main w-100" (click)="ShowSingleShowcase(showcaseCard.path)">See Showcase</span>
              </div>
            </div>
          </div>
        </div>
        <!--End card-container -->
      </div>
    </div>
  </div>
</div>

<!--showcase card for mobile-->
<div class="showcase-card-backlayer-mobile hidden-sm-up">
  <div class="showcase-card-backlayer-mobile-2">
    <div class="showcase-card " *ngIf="showcase" (click)="ShowSingleShowcase(showcaseCard.path)">
      <div class="content-container h-100">
        <div class="card-container">
          <div class="card">
            <div class="showcase-type">
              <p>Showcase</p>
            </div>
            <h2 class="card-title">{{showcaseCard.showcase_name}}</h2>
            <div class="card-description" *ngIf="showcaseCard.description_trim">
              <p [innerHTML]="showcaseCard.description_trim"></p>
            </div>
            <div class="showcase-card-footer mt-auto mb-3 d-flex">
              <div class="showcase-card-footer-2">
                <div class="showcase-card-count d-felx">
                  <div class="projects-count-div">
                    <span class="projects-count" *ngIf="projects_makers_count !=1">{{showcaseCard.projects_makers_count}} {{showcaseCard.showcase_type}}s</span>
                    <span class="projects-count" *ngIf="projects_makers_count ==1">{{showcaseCard.projects_makers_count}} {{showcaseCard.showcase_type}}</span>
                  </div>
                  <div class="likes-count-div">
                    <img class="showcase-likes" *ngIf="numLikes >0" src="./assets/images/icons/light-selected.png" alt="">
                    <span class="likes-count" *ngIf="numLikes >0">{{numLikes}} </span>
                    <img class="showcase-likes" *ngIf="numLikes == 0" src="./assets/images/icons/light-not-selected.png" alt="">
                    <span class="likes-count" *ngIf="numLikes == 0">{{numLikes}}</span>
                  </div>
                  <div class="views-count-div">
                    <img src="./assets/images/icons/views.png" class="showcase-views" alt="">
                    <span class="views-count">{{showcaseCard.views_count}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--End card-container -->
      </div>
    </div>
  </div>
</div>