<div class="showcase-card row" (click)="ShowSingleShowcase(showcase.nid)">
  <div class="col-md-4 col-sm-12 col-xs-12 image-container">
    <img src="{{showcase.cover_photo}}" *ngIf="showcase.cover_photo" alt="" class="img-responsive" (click)="ShowSingleShowcase(showcase.nid)">
    <img *ngIf="!showcase.cover_photo" src="./assets/images/placeholder.png" alt="">
    <div class="card-type-blue">
      <div class="type-layer-2">
        Showcase
      </div>
    </div>
  </div>
  <!--End image-container -->
  <div class="col-md-8 content-container">
    <div class="card-container h-100">
      <div class="card h-100">
        <h3 class="card-title">{{showcase.showcase_name}}</h3>
        <div class="card-description">
          <p [innerHTML]="showcase.description_trim" *ngIf="showcase.description"></p>
        </div>
        <div class="showcase-card-footer mt-auto d-flex">
          <div class="showcase-card-footer-1 hidden-xs-down">
            <div class="button-container-main-1">
              <span class="btn btn-main" (click)="ShowSingleShowcase(showcase.nid)">See Showcase</span>
            </div>
          </div>
          <div class="showcase-card-footer-2 ml-4">
            <div class="showcase-card-count d-felx">
              <div class="views-count-div">
                <div class="showcase-likes">
                  <img *ngIf="numLikes" src="./assets/images/icons/light-selected.png" alt="">
                  <span *ngIf="numLikes">{{numLikes.count}}</span>
                  <img *ngIf="!numLikes" src="./assets/images/icons/light-not-selected.png" alt="">
                  <span *ngIf="!numLikes">0</span>
                </div>
                <img src="./assets/images/icons/views.png" class="showcase-views" alt="">
                <span class="views-count">{{showcase.views_count}}</span>
              </div>
              <div class="projects-count-div">
                <span class="projects-count">{{showcase.number_of_project}}
                           <span *ngIf="showcase.number_of_project>1">projects</span>
                <span *ngIf="showcase.number_of_project<=1">project</span>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="showcase-card-footer-1 hidden-sm-up mt-3">
          <div class="button-container-main-1 w-100">
            <span class="btn btn-main w-100" (click)="ShowSingleShowcase(showcase.nid)">See Showcase</span>
          </div>
        </div>
      </div>
    </div>
    <!--End card-container -->
  </div>
</div>