<!--<div class="container">
  <div class="learn-card row">
    <div class="image-container col-lg-4 col-md-12 col-sm-12 col-xs-12">
      <img src="{{learn.cover_photo}}" alt="" class="img-responsive" (click)="WorkshopDetails(learn.nid)">
    </div>
    <div class="content-container col-lg-8 col-md-12 col-sm-12 col-xs-12">
      <div class="card-container">
        <div class="card">
          <div class="learn-type-badge">
            <p>Workshop</p>
          </div>
          <div class="card-partership">
            <p *ngIf="learn.brought_by"> Brought to you by {{learn.brought_by}} </p>
          </div>
          <h3 class="card-title" [innerHTML]="learn.workshop_title" (click)="WorkshopDetails(learn.nid)"></h3>
          <div class="workshop-count mt-auto">
            <p *ngIf="countlessons==1">{{countlessons}} Lesson </p>
            <p *ngIf="countlessons>1">{{countlessons}} Lessons</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>-->


<div class="search-learn-card">
  <div class="learn-card">
    <div class="image-container hidden-md-down">
      <img *ngIf="learn.cover_photo" src="{{learn.search_image}}" alt="" class="img-responsive" (click)="WorkshopDetails(learn.nid)">
      <img *ngIf="!learn.cover_photo" src="http://placehold.it/345x195" alt="">
      <div class="card-type-grey-2">
        <div class="type-layer-2">
          Learning
        </div>
      </div>
    </div>
    <div class="container-content">
      <div class="card-container h-100">
        <div class="card h-100">
          <div class="tablet-type-sponser d-flex hidden-lg-up">
            <div class="card-type-grey-2">
              <div class="type-layer-2">
                Learning
              </div>
            </div>
            <div class="card-partership ml-auto pt-2" *ngIf="learn.brought_by">
              <p *ngIf="learn.brought_by"> Brought to you by {{learn.brought_by}} </p>
            </div>
          </div>
          <div class="card-partership hidden-md-down" *ngIf="learn.brought_by">
            <p *ngIf="learn.brought_by"> Brought to you by {{learn.brought_by}} </p>
          </div>
          <h3 class="card-title hidden-md-down" *ngIf="learn.workshop_title" [innerHTML]="learn.workshop_title" (click)="WorkshopDetails(learn.nid)"></h3>
          <h4 class="card-title pt-2 hidden-lg-up" *ngIf="learn.workshop_title" [innerHTML]="learn.workshop_title" (click)="WorkshopDetails(learn.nid)"></h4>
          <div class="card-description  hidden-md-down">
            <p [innerHTML]="learn.brief_description"></p>
          </div>
          <div class="learn-card-footer d-flex mt-auto">
            <div class="learn-card-footer-1">
              <div class="button-container-main-1">
                <span class="btn btn-main" (click)="WorkshopDetails(learn.nid)">Get Started</span>
              </div>
            </div>
            <div class="learn-card-footer-2 ml-md-5 d-flex hidden-md-down">
              <div class="learn-card-count align-self-center">
                <span class="entries-count">{{countlessons}}
                <span *ngIf="countlessons != 1"> Lessons</span>
                <span *ngIf="countlessons == 1">Lesson</span>
                </span>
              </div>
            </div>
            <div class="learn-card-footer-2 ml-5 d-flex hidden-lg-up">
              <div class="learn-card-count align-self-center">
                <span class="entries-count">{{countlessons}}
                <span *ngIf="countlessons != 1"> Lessons</span>
                <span *ngIf="countlessons == 1">Lesson</span>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End card-container -->
    </div>
  </div>
</div>