<form [formGroup]="commentForm" (ngSubmit)="onSubmit($event)" id="postComment" class="form-horizontal" >
<div class="form-group col-lg-10">
   <div class="form-group subject">
      <label class="control-label" >Subject</label>
      <input type="text" class="form-control" name="subject" id="subject" formControlName="subject" >
   </div>
   <label class="control-label" >Comment</label>
   <textarea class="form-control" rows="5" id="comment" formControlName="comment_body"></textarea>
   <input type="submit" class="btn btn-info" value="Submit">
</div>
</form>

<div *ngIf="comments">
   <div  *ngFor="let comment of comments">
      <div class="col-lg-10" [innerHTML]="comment.author"> </div>
      <div class="col-lg-10" [innerHTML]="comment.comment"> </div>
   </div>
</div>
