<div class="why-portfolio-page container">
  <section class="page-header row pl-4 pr-4 pb-4">
    <div class="header-part part-1 col-lg-4 col-md-6 col-sm-12">
      <img class="mb-4" src="assets/images/static_pages/maker_share_engineering-5.jpg" alt="" />
      <img src="assets/images/static_pages/maker_share_electronics.jpg" alt="" />
    </div>
    <div class="header-part part-2 col-lg-4 col-md-6 col-sm-12">
      <img class="mb-4" src="assets/images/static_pages/lIght_mural_boy.jpg" alt="" />
      <img src="assets/images/static_pages/maker_share_biology-4.jpg" alt="" />
    </div>
    <div class="header-part part-3 col-lg-4 col-md-12 col-sm-12">
      <div class="header-info-card">
        <h2>WHY?</h2>
        <h3>Create a Maker Portfolio</h3>
        <p>A portfolio tells the stories behind your projects and helps you find new opportunities in the community. Artists,
          designers, photographers use portfolios to demonstrate their skills to schools, jobs and clients. Online code repositories
          like Github lets software engineers showcase their work in a similar fashion. Portfolios are useful because they
          focus not on personal connections, or paper credentials, or unverified claims...but show what the owner has really
          accomplished. A Maker Portfolio is the same. Your Maker Portfolio also connects the dots in your creative process
          from Point A (I had this idea) to Point B (I made this thing) to Point X (here’s what I learned).</p>
      </div>
    </div>
  </section>
</div>
<div class="why-portfolio-page">
  <section class="parallax-scroll">
    <div id="parallax-bg-div" class="info-w-parallax parallax-bg">
      <img src="assets/images/Home-Page-Science-Drawing.jpg" alt="Science drawing background" />
      <div class="parallax-container">
        <div class="container">
          <div class="row">
            <div id="div1height" class="col-12 offset-lg-1 col-lg-10 offset-xl-2 col-xl-8 add-animation">
              <div class="info-card">
                <h2>CREATE. CONNECT. LEARN.</h2>
                <!--<h3>From Passion to Profession</h3>-->
                <p>Makers learn by doing. The sharing of projects that harness creative insight, technical skill, and a ‘hands-on’
                  approach is critical to Maker culture.</p>
                <p>Your Maker Portfolio is a curated representation of your interests, skills, processes, and projects.</p>
                <p>It shows growth and progress and is a rich source of insight into your ability and development. </p>
                <p>Most importantly, it initiates conversations within the Maker community, connecting you to fellow makers
                  but also with potential employers, commissions, consulting, educational and other opportunities.</p>
                <p>For student Makers, a portfolio reflects a depth of understanding not captured by the traditional grading
                  process.
                </p>
                <p>A Maker Portfolio demonstrates to parents, teachers, peers and even school admissions officials knowledge,
                  technical skills and “soft” skills like project management and the ability to articulate an idea.</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div id="div2height" class="col-12 offset-lg-1 col-lg-10 offset-xl-2 col-xl-8 add-animation">
              <div class="info-card">
                <h2>WHAT DO YOU MEAN BY SHOW & TELL?</h2>
                <h3>Your portfolio tells your story as a maker.</h3>
                <p>We call Maker Faire the Greatest Show & Tell on Earth because makers come to show their work and talk about
                  their projects...that’s how they get to know each other. You can do the same on Maker Share. </p>
                <p>One of the most important aspects of a portfolio is that it shows others how you think - through thumbnails,
                  sketchbooks, snapshots, bills of materials, helpful tips, and even your notes.</p>
                <p>You can show a final product and explain how you made it and that is a valuable contribution to the Maker
                  community. It is even richer to also share your experience of developing that project.</p>
                <p>By answering these simple questions in your Project Story -- or better yet your Show & Tell video! -- you
                  bring your whole self to the work and help people relate.</p>
                <p>What is your project? How did you make it and why? What inspired you? Who helped you? What went right? What
                  went wrong? What did you learn from this project?</p>
                <!--videos here-->
                <div class="embed-responsive">
                  <video-viewer [link]="'https://www.youtube.com/watch?v=56i0M49rhtU'"></video-viewer>
                </div>
                <p class="vedio-caption p-2 mb-2">Here's some tips on creating a Show & Tell video</p>
                <!--videos here-->
                <div class="embed-responsive">
                  <video-viewer [link]="'https://www.youtube.com/watch?v=56i0M49rhtU'"></video-viewer>
                </div>
                <p class="vedio-caption pt-2 mb-2">Here's an example from Make:</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div id="div3height" class="col-12 offset-lg-1 col-lg-10 offset-xl-2 col-xl-8 add-animation">
              <div class="info-card">
                <h2>WHAT GOES INTO YOUR PORTFOLIO?</h2>
                <h3>In developing a Maker Portfolio, the process Is the product.</h3>
                <p>For an artist or photographer, the focus is usually on the finished product. Many Makers also create visually
                  stunning artifacts or projects that can be replicated or hacked by others. Your Maker Portfolio supports
                  that by including a robust How-to section.</p>
                <p>For some, however, a photo of the finished product may be less interesting than the Behind the Scenes story.
                  Even “failed” projects can belong in a Portfolio if they explain what you learned from your failure.</p>
                <p>Bottom line: Your Maker Portfolio is a curated collection of your work.</p>
                <p><strong>1. SELECT.</strong> Choose the projects you’re most proud of, and/or which you think represent your
                  best or most interesting work...even if the final product didn’t come out as planned. Do you want people
                  to see you as a poly-Maker or would you prefer your portfolio focused on just one or two things, to really
                  highlight these skills and abilities?</p>
                <p><strong>2. MIX IT UP.</strong> Make sure you have some variety, if not in the type of project, then in how you
                  showcase it visually and how you tell the story so your portfolio itself looks interesting and varied.</p>
                <p><strong>3. REVIEW, ADD AND EDIT.</strong> Keep your portfolio fresh by reviewing it and editing frequently.</p>
                <p><strong>4. SHARE.</strong> We’ve given you a link for your portfolio that clearly states what it is, where it
                  lives, and -- most importantly -- that it’s yours. Link to it from your other social profiles, include
                  it in any websites or blogs you keep about your work and use it to connect to other Makers in the community.
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div id="div4height" class="col-12 offset-lg-1 col-lg-10 offset-xl-2 col-xl-8 add-animation">
              <div class="info-card">
                <p>For more about portfolios and their use, especially in an educational setting, read about the Maker Education
                  Initiative’s Open Portfolio Project </p>
                <!--<h3>Create Your Maker Portfolio</h3>-->
                <div class="button-container-onboarding">
                  <!--<div (click)="auth.login()" *ngIf="!auth.authenticated()" class="project-add button-container-main-1">
                    <a class="btn btn-main btn-sharp" (click)="auth.login()">Add a Project</a>
                  </div>
                  <div [routerLink]="['projects/create']" *ngIf="auth.authenticated()" class="project-add button-container-main-1">
                    <a class="btn btn-main btn-sharp" [routerLink]="['projects/create']">Add a Project</a>
                  </div>-->
                  <div class="project-add button-container-main-1">
                    <a class="btn btn-main btn-sharp" href="http://makered.org/opp/overview/">Portfolio Project</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>




















<!--<section class="page-node">
      <div class="container">
        <h3 class="page-title" *ngIf="title" [innerHTML]="title"></h3>
        <div class="page-body" *ngIf="body" [innerHTML]="body"></div>
      </div>
    </section> -->