<section class="page-challenge mb-5">
  <div class="container page-header mb-5">
    <h3>Missions</h3>
    <p>Missions bring makers together to build with a purpose. Find a mission that allows you to focus your making
      skills on an objective.</p>
  </div>

  <div class="container clearfix mb-5">
    <div class="filters-group mb-3">

      <div class="dropdown-group">
        <i class="dropdownIcon lnr lnr-chevron-down"></i>
        <select class="shadowed explore-tags sorting-filter"
                id="filter-projects"
                (change)="SetCurrentStatus($event.target.value)">
          <option value="_none"
                  disabled
                  class="btn">Filter By
          </option>
          <option *ngFor="let status of allstatuses"
                  value="{{status.tid}}"
                  class="btn">{{status.name}}
          </option>
        </select>
      </div>

      <div class="filters projects-counter">
        <div *ngIf="currentCount"
             class="entries-count btn">
          <p>{{currentCount}} Mission{{ currentCount > 1 ? 's': '' }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="mb-5"
         *ngFor="let challenge of challenges">
      <app-challenge-card class="card-wrapper"
                          [challengeNid]="challenge.nid"
                          [challenge]="challenge"
                          [state]="'full'"></app-challenge-card>
    </div>

    <div *ngIf="challenges.length == 0">
      <h4 class="text-center mt-5 mb-5">There are no missions to show</h4>
    </div>
  </div>
  <div class="text-center pt-3 pb-5"
       *ngIf="!hideloadmore">
    <div>
      <button (click)="loadmore()"
              class="button -grey -no-bg -slim">Load more
      </button>
    </div>
  </div>
</section>