<div class="page-portfolio">
  <div class="top-content-wrapper">
    <div class="nav-portfolio" style="overflow: hidden;">
      <div class="container d-flex justify-content-center">
        <div class="nav">
          <a (click)="CurrentTab = 'public'" [ngClass]="{'active': CurrentTab == 'public'}" class="nav-item btn btn-white" id="public">
            <p>Portfolio</p>
          </a>
          <a (click)="CurrentTab = 'private'" [ngClass]="{'active': CurrentTab == 'private'}" class="nav-item btn btn-white" id="private">
            <p>Private Projects</p>
          </a>
          <a (click)="CurrentTab = 'draft'" [ngClass]="{'active': CurrentTab == 'draft'}" class="nav-item btn btn-white" id="drafts">
            <p>Drafts</p>
          </a>
          <a (click)="CurrentTab = 'file'" [ngClass]="{'active': CurrentTab == 'file'}" class="nav-item btn btn-white" id="photos">
            <p>File manager</p>
          </a>
        </div>
        <div class="display-style d-flex ml-auto">
          <p [ngClass]="{'active': ActiveView == 'showcase'}" (click)="ChangeDefaultView('grid')" class="grid-view"><img src="./assets/images/icons/dark-squares.png" alt="">Grid view</p>
          <p [ngClass]="{'active': ActiveView == 'grid'}" (click)="ChangeDefaultView('showcase')" class="square-view"><img src="./assets/images/icons/hamburger.png" alt=""> Expanded view</p>
        </div>
      </div>
    </div>
  </div>
  <!-- End top-content-wrapper -->
  <div class="region region-content">
    <portfolio-tab *ngIf="CurrentTab === 'public'" [status]="370" [DefaultView]="DefaultView"></portfolio-tab>
    <portfolio-tab *ngIf="CurrentTab === 'private'" [status]="371" [DefaultView]="DefaultView"></portfolio-tab>
    <portfolio-tab *ngIf="CurrentTab === 'draft'" [status]="1115" [DefaultView]="DefaultView"></portfolio-tab>
    <div *ngIf="CurrentTab === 'file'">file manager</div>
  </div>
  <!-- End container -->
</div>