<div class="page-portfolio">
  <div class="top-content-wrapper">
    <div class="nav-portfolio" style="overflow: hidden;">
      <!--<div class="d-flex flex-row w-100 hidden-xl-up">
        <p class="titles  m-0 pt-2" *ngIf="projectsCount > 0">CHOOSE PUBLIC VIEW</p>
        <div class="display-style d-flex ml-auto">
          <p [ngClass]="{'not_active': DefaultView != 'grid'}" (click)="ChangeDefaultView('grid')" class="grid-view"><img src="./assets/images/icons/dark-squares.png" alt="">Grid view</p>
          <p [ngClass]="{'not_active': DefaultView != 'showcase'}" (click)="ChangeDefaultView('showcase')" class="square-view"><img src="./assets/images/icons/hamburger.png" alt=""> Expanded view</p>
        </div>
      </div>-->
      <div class="d-flex flex-row align-items-start justify-content-md-between hidden-sm-down">
        <!--<p class="titles" *ngIf="projectsCount > 0">CHOOSE PUBLIC VIEW</p>-->
        <div class="display-style d-flex  hidden-md-down">
          <p [ngClass]="{'not_active': DefaultView != 'grid'}" (click)="ChangeDefaultView('grid')" class="grid-view"><img src="./assets/images/icons/dark-squares.png" alt="">Grid view</p>
          <p [ngClass]="{'not_active': DefaultView != 'showcase'}" (click)="ChangeDefaultView('showcase')" class="square-view"><img src="./assets/images/icons/hamburger.png" alt=""> Expanded view</p>
        </div>
        <div class="profile-header justify-content-end d-flex">
          <ul class="list-unstyled stats d-flex flex-row justify-content-end">
            <li *ngIf="projectsCountPublic && CurrentTab == 'public'">
              <p><span class="number" >{{projectsCountPublic}}</span> projects</p>
            </li>
             <li *ngIf="projectsCountPrivate && CurrentTab == 'private'">
              <p><span class="number" >{{projectsCountPrivate}}</span> projects</p>
            </li>
              <li *ngIf="projectsCountDraft && CurrentTab == 'draft'">
              <p><span class="number" >{{projectsCountDraft}}</span> projects</p>
            </li>
            <li *ngIf="LikesCount != 0">
              <p><span class="number">{{LikesCount}}</span> project likes</p>
            </li>
            <li *ngIf="ViewsCount">
              <p *ngIf="ViewsCount > 1"><span class="number">{{ViewsCount}}</span> views</p>
              <p *ngIf="ViewsCount == 1"><span class="number">{{ViewsCount}}</span> view</p>
            </li>
            <!-- Start Bookmsrk-section -->
            <!--<li>
              <a><i class="fa fa-lg fa-bookmark-o"></i></a>
            </li>-->
          </ul>
          <!-- End Bookmark-section -->
        </div>
      </div>
      <div class="d-flex flex-column" *ngIf="projectsCountPublic > 0">
        <p class="titles">EDIT YOUR PORTFOLIO</p>
        <div class="d-flex flex-wrap nav">
          <a (click)="CurrentTab = 'public'" [ngClass]="{'active': CurrentTab == 'public'}" class="nav-item btn btn-white-2" id="public">
            <p>Portfolio</p>
          </a>
          <a (click)="CurrentTab = 'private'" [ngClass]="{'active': CurrentTab == 'private'}" class="nav-item btn btn-white-2" id="private">
            <p>Private Projects</p>
          </a>
          <a (click)="CurrentTab = 'draft'" [ngClass]="{'active': CurrentTab == 'draft'}" class="nav-item btn btn-white-2" id="drafts">
            <p>Drafts</p>
          </a>
          <a (click)="CurrentTab = 'file'" [ngClass]="{'active': CurrentTab == 'file'}" class="nav-item btn btn-white-2" id="photos">
            <p>File manager</p>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- End top-content-wrapper -->
  <div class="region region-content" *ngIf="projectsCountPublic > 0">
    <portfolio-tab *ngIf="CurrentTab === 'public'" [status]="370" [DefaultView]="DefaultView"  [projectsCountPublic]="projectsCountPublic"></portfolio-tab>
    <portfolio-tab *ngIf="CurrentTab === 'private'" [status]="371" [DefaultView]="DefaultView" [projectsCountPrivate]="projectsCountPrivate"></portfolio-tab>
    <portfolio-tab *ngIf="CurrentTab === 'draft'" [status]="1115" [DefaultView]="DefaultView"  [projectsCountDraft]="projectsCountDraft"></portfolio-tab>
    <app-file-manager *ngIf="CurrentTab === 'file'"></app-file-manager>
  </div>
  <div *ngIf="projectsCountPublic == 0" class="empty-profile text-center mx-auto">
    <p class="text-red">Hello Maker</p>
    <h2>Your Portfolio needs projects.</h2>
    <p class="empty-text">The world wants to see what you've been making.</p>
    <p class="empty-text">Get started today by adding your first project.</p>
    <div class="project-button button-container-main-1">
      <a class="btn btn-main btn-sharp" [routerLink]="['/projects/create']">
        <i class="fa fa-lg fa-plus"></i> Add a Project
      </a>
    </div>
  </div>
  <!-- End container -->
</div>