<template #rt let-r="result" let-t="term">
  <div class="user-image-container">
    <img *ngIf="r.photo" src="{{r.photo}}">
    <img *ngIf="!r.photo" src="http://placehold.it/140x140">
  </div>
  <div class="data-container">
    <p>{{r.first_name}} {{r.last_name}}</p>
    <p>{{r.nickname}}</p> 
  </div>
</template>

<div class="region region-content col-sm-10" [formGroup]="TeamForm">
  <div class="team" formArrayName="field_maker_memberships">
    <div class="add-sortable" *ngFor="let Member of TeamForm.controls.field_maker_memberships.controls; let i=index;" class="card add-collaborate">
      <div>
        <div class="card-block inputs-container flex-column flex-md-row row" [formGroupName]="i">
          <div class="col-md-7">
            <div *ngIf="SelectedUser && SelectedUser[i]">
              <label>Name</label>
              <app-user-card [uid]="SelectedUser[i].uid"></app-user-card>
            </div>
            <div class="clearfix"></div>
            <div class="form-group" *ngIf="!SelectedUser || !SelectedUser[i]" >
              <label for="collab-name-{{i + 1}}">Name</label>
              <input type="text" class="form-control" id="collab-name-{{i + 1}}" placeholder="Start typing a name, then select" [ngbTypeahead]="search" [resultTemplate]="rt" (selectItem)="SetMember($event.item.uid, i)">
              <div *ngIf="searchFailed">
                User not found <a>Invite now</a>
              </div>
              <small *ngIf="formErrors.field_maker_memberships[i].field_team_member" class="text-danger">
                {{formErrors.field_maker_memberships[i].field_team_member}}
              </small>
            </div>
            <div class="form-group">
              <label for="collab-role-{{i + 1}}">Role</label>
              <input type="text" class="form-control" id="collab-role-{{i + 1}}" placeholder="Start typing a name, then select" [formControl]="Member.controls.field_membership_role">
              <small *ngIf="formErrors.field_maker_memberships[i].field_membership_role" class="text-danger">
                {{formErrors.field_maker_memberships[i].field_membership_role}}
              </small>
            </div>	
          </div>
          <div class="col-md-3">
            <div class="form-group sort d-flex flex-row flex-md-column align-items-center">
              <label for="collab-order-{{i + 1}}">Sort Order</label>
              <div class="d-flex flex-row">
                <input type="text" id="collab-order-{{i + 1}}" placeholder="{{i + 1}}" value='{{i + 1}}' class="form-control sort" [formControl]="Member.controls.field_sort_order" readonly />
                <div class="carets d-flex flex-column">
                  <i *ngIf="i > 1 && TeamForm.controls.field_maker_memberships.valid" class="fa fa-3x fa-caret-up sort-up mb-auto" (click)="ChangeOrder(i,i-1,'field_maker_memberships')"></i>
                  <i *ngIf="(i < TeamForm.controls.field_maker_memberships.controls.length - 1) && i != 0 && TeamForm.controls.field_maker_memberships.valid" class="fa fa-3x fa-caret-down sort-down mt-auto" (click)="ChangeOrder(i,i+1,'field_maker_memberships')"></i>
                </div>
                <small *ngIf="formErrors.field_maker_memberships[i].field_sort_order" class="text-danger">
                  {{formErrors.field_maker_memberships[i].field_sort_order}}
                </small>
              </div>
            </div>
          </div>
          <div *ngIf="i==0" class="col-md-2 admin d-flex flex-column">
              <label>Admin</label>
              <i class="fa fa-check-square" aria-hidden="true"></i>
          </div>
        </div>
        <a *ngIf="(i > 0)" (click)="RemoveRow(i, 'field_maker_memberships')" class="btn btn-transparent remove">Remove</a>
      </div><!-- End add-collaborate -->
    </div>   
    <a *ngIf="TeamForm.controls.field_maker_memberships.controls.length < 7 && TeamForm.controls.field_maker_memberships.valid" (click)="AddRow('field_maker_memberships')" class="btn btn-white btn-sharp"><i class="fa fa-lg fa-plus"></i> Add more</a>
  </div>
</div>
<!--
<aside class="col-md-4">
  <div class="team-guide">
    <div class="guideline">
      <div class="pull-left question-mark"><i class="fa fa-2x fa-question-circle"></i></div>
      <div class="pull-left content">
        <h4>Helper text about teams</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia ullam reprehenderit minus molestiae minima nihil quibusdam hic ut, sint tenetur, esse iure consequatur, quasi quo.</p>
      </div>
    </div>
  </div>
</aside>
-->