
  <section class="challenge-page-data">
    <div class="region region-content page-challenge">
      <header class="challenge-header">
        <div class="container">
          <h3>Missions</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam quis eos cum ipsa deleniti tenetur possimus,
            consequatur id ipsam fugiat hic. Quae id odit minima, tempora consectetur eaque dolor fuga possimus praesentium
            et illum, magnam sed quia ad rem nulla.</p>
        </div>
      </header>
      <!--/header -->
      <div class="filters">
        <div class="container">
          <div class="row justify-content-center align-items-center">
            <div class="entries-count btn">
              <p *ngIf="currentCount==1">{{currentCount}} Challenge</p>
              <p *ngIf="currentCount>1">{{currentCount}} Challenges</p>
            </div>
            <div ngbDropdown class="d-inline-block sorting-filter dropdown">
              <button class="btn btn-transparent dropdown-toggle" id="dropdownMenu1" ngbDropdownToggle>{{currentStatusName}} <i class="fa fa-lg fa-angle-down"></i></button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <button class="dropdown-item" *ngFor="let status of allstatuses" (click)="SetCurrentStatus($event)" data-id="{{status.tid}}"
                  data-name="{{status.name}}">
                  {{status.name}}
                  </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End filters -->
      <div class="container challenges-container">
        <div *ngFor="let challenge of challenges" >
          <!-- Start Shared Challenge Card -->
         <app-challenge-card [challengeNid]="challenge.nid" ></app-challenge-card>
         <!-- End Shared  Challenge Card-->
        </div>
        <!-- End challenge-card -->
      </div>
      <div class="text-center">
        <div class="button-container-sec-3" *ngIf="hideloadmore">
          <a *ngIf="hideloadmore" (click)="loadmore()" class="btn btn-grey">Load more</a>
        </div>
      </div>
    </div>
    <!-- End region-content -->
  </section>