<div class="row project-body" *ngIf="project">
  <div class="region region-content col-lg-8 col-md-8">
    <div class="project-story-tab">
      <div class="project-body-content">
        <p [innerHTML]="project.field_teaser?.value"></p>
        <p [innerHTML]="project.field_story?.value"></p>
      </div>
      <!-- End body -->
    </div>
    <div class="feedback-group">
      <app-comment [nid]="project.nid"></app-comment>
    </div>
  </div>
  <aside class="side-bar col-lg-4 col-md-4">
    <div class="sidebar-container">
      <div class="project-story-tab">
        <div class="card aha" *ngIf="project.field_aha_moment">
          <div class="card-heading">
            <p>AHA! Moment</p>
          </div>
          <div class="card-block">
            <p>{{project.field_aha_moment?.value}}</p>
          </div>
        </div>
        <div class="card uh-oh" *ngIf="project.field_aha_moment">
          <div class="card-heading">
            <p>UH-OH! Moment</p>
          </div>
          <div class="card-block">
            <p>{{project.field_uh_oh_moment?.value}}</p>
          </div>
        </div>
        <div class="project-collaborates" *ngIf="project.field_maker_memberships">
          <div class="collaborate" *ngFor="let collaborator of project.field_maker_memberships; let i=index">
            <app-user-card-small [uid]="collaborator.membership_team"></app-user-card-small>
            <div class="collaborate-role">
              <p>ROLE IN PROJECT</p>
              <p>{{collaborator.membership_role}}</p>
            </div>
          </div>
          <!-- End Collaborate -->
        </div>
        <!-- End project-collaborates -->
      </div>
    </div>

    <div class="license-report">
      <a class="license" href="https://creativecommons.org/licenses/by-sa/4.0/">LICENSE: Creative Commons</a>
      <hr>
      <a class="report" href="#">Report This Project</a>
    </div>

  </aside>
</div>