<div *ngIf="fileManageService">
  <input type="file" (change)="UploadFile($event.target.files[0])" accept=".jpeg,.jpg,.png,.gif,.pdf,.epub,.xls,.ppt,.pptx,.sxls,.doc,.docx,.txt">
  <ngb-progressbar [value]="fileManageService.quota"><i>{{fileManageService.quota}}% Full</i></ngb-progressbar>
  <div *ngFor="let file of files">
    <img [src]="file.url">
    <button (click)="CheckFileBeforeDelete(ConfirmDelete,file)"> delete </button>
  </div>
  <div *ngIf="!fileManageService.files">You have no files yet, please upload some files first</div>
  <button (click)="LoadMore()" *ngIf="files.length < fileManageService.files.length">Load more</button>
</div>

<!-- Add Description Modal -->
<template #ConfirmDelete let-c="close" let-d="dismiss" ngbModalContainer>
	<div class="modal-body">
    <div>This file cannot be deleted because it is used in:</div>
    <div *ngIf="fileCard.usage.profile2">* Your profile picture</div>
    <div *ngIf="fileCard.usage.node">* The following projects cover image:
      <div *ngFor="let node of fileCard.usage.node; let i = index;">
        <a [routerLink]="['/project/edit',node.nid]">{{i+1}}-{{node.title}}</a>
      </div>
    </div>
    <div *ngIf="fileCard.usage.field_collection_item">* The following projects as a resource file:
      <div *ngFor="let node of fileCard.usage.field_collection_item; let i = index;">
        <a [routerLink]="['/project/edit',node.nid]">{{i+1}}-{{node.title}}</a>
      </div>
    </div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
	</div>
</template>