<div class="container file-manager" *ngIf="fileManageService">
  <div class="row file-manager-header mb-3">
    <div class="col-md-4 upload-file pt-1">
      <input type="file" (change)="UploadFile($event.target.files[0])" accept=".jpeg,.jpg,.png,.gif,.pdf,.epub,.xls,.ppt,.pptx,.sxls,.doc,.docx,.txt">
    </div>
    <div class="col-md-8 storge-progressbar">
      YOUR STORGE
      <ngb-progressbar [value]="fileManageService.quota"><i>{{fileManageService.quota}}% Full</i></ngb-progressbar>
    </div>
  </div>
  <div class="row file-manager-contnet">
    <h2 class="col-md-12 file-manager-title">Manage Your Files</h2>
    <div *ngFor="let file of files" class="col-md-4 mb-4">
      <div class="file-item">
        <img *ngIf="file.thumbnail" [src]="file.thumbnail">
        <img *ngIf="!file.thumbnail" src="/assets/images/no-image-available.png">
        <p class="btn mb-0 d-flex flex-column" (click)="CheckFileBeforeDelete(ConfirmDelete,file)"><i class="fa fa-lg fa-times"></i><span>Delete</span></p>
      </div>
    </div>
    <div *ngIf="!fileManageService.files">You have no files yet, please upload some files first</div>
  </div>
  <div class="file-manager-footer">
    <a class="btn btn-load-more m-0" (click)="LoadMore()" *ngIf="files.length < fileManageService.files.length">Load more</a>
  </div>
</div>

<!-- Add Description Modal -->
<template #ConfirmDelete let-c="close" let-d="dismiss">
  <div class="file-manager-modal">
    <div class="modal-body">
      <div>This file cannot be deleted because it is used in:</div>
      <div *ngIf="fileCard.usage.profile2">* Your profile picture</div>
      <div *ngIf="fileCard.usage.node">* The following projects cover image:
        <div *ngFor="let node of fileCard.usage.node; let i = index;">
          <a [routerLink]="['/project/edit',node.nid]">{{i+1}}-{{node.title}}</a>
        </div>
      </div>
      <div *ngIf="fileCard.usage.field_collection_item">* The following projects as a resource file:
        <div *ngFor="let node of fileCard.usage.field_collection_item; let i = index;">
          <a [routerLink]="['/project/edit',node.nid]">{{i+1}}-{{node.title}}</a>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-load-more" (click)="c('Close click')">Close</button>
    </div>
  </div>
</template>