.profile-container {
  padding: 0;
  float: left;
  font-size: 12px;
  width: 100%;
  .spotlight-item {
    border: none;
    background-color: transparent;

    .user-card {
      padding: 1.6rem;

      .media {
        .profile-pic-container {
          width: 80px;
          .maker-photo {
            display: block;
            width: 8rem;
            height: 8rem;
          }
        }

        .media-body {
          width: calc(100% - 8rem);

          .icons-side-user {
            width: auto;
            .user-icon {
              margin: 0 1rem;
              width: auto;
              img {
                width: 2.3rem;
              }
            }
          }

          .maker-info {
            .user-name {
              text-align: left;
              font-family: $font-messina-modern-regular;
              font-size: 2rem;
              font-weight: 500;
              line-height: 120%;
              color: $darker-grey;
              margin-bottom: .2rem;
            }
            .user-city {
              color: $medium-grey;
              min-height: 21px;
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }

  .page-single-showcase & {
    .user-card {
      .profile-tag {
        display: none;
      }
      .user-city {
        font-size: 1.4rem;
      }
    }
  }
}
