app-follow-user {
	display: flex;
}
.follow-control {
	flex: 0 20%;
	display: flex;
	&.action {
		flex: 0 60%;
		background: $blue;
		color: white;
		border-right: 0px;
		cursor: pointer;
	}
	&:last-child {
		border-right: 0px;
	}
	border-right: 1px solid #333;
	text-align: center;
	// padding: 1rem 0;
	align-content: center;
	.follow-item {
		align-self: center;
		margin: auto;
		display: block;
	}
}