.dropdown-notification {
  overflow-y: auto;
  max-width: 35rem;
  max-height: 40.8rem;
  .no-notfy{
    padding-top: 2rem;
  }
  ul {
    position: relative;
    padding-top: 1.2rem;
    li {
      padding: .8rem 1.2rem;
      position: absolute;
      display: block;
      background-color: #fff;
      top: 0;
      left: 0;
      right: 0;
      .view-all {
        padding: .64rem 0;
        color: $highlight-bright-blue;
      }
      .notf-gear {
        i {
          font-size: 1.9rem;
        }
      }
      .notf-Cancel {
        i {
          font-size: 2rem;
        }
      }
    }
    notification-tpl {
      &:last-child {
        .notification-item {
          border-bottom: none;
        }
      }
    }
    .notification-container {
      padding: 0 1.2rem;
      .notification-item {
        white-space: normal;
        border-bottom: .05rem solid $medium-grey;
        @include desc-font-1 ();
        padding: .8rem 0;
        font-size: 1.344rem !important;
        .media-left {
          width: 4rem;
          height: auto;
          margin-right: .6rem;
          img {
            width: 100%;
            height: auto;
            max-width: 100%;
          }
        }
        .media-body {
          padding: 0 .2rem;
          span {
            margin-bottom: .1rem;
            line-height: 1.2;
          }
          p {
            margin: .5rem 0 0 0;
          }
        }
        .delete {
          padding-top: 1.4rem;
          display: none;
        }
        .link {
          color: $highlight-bright-blue;
          cursor: pointer;
          &:hover {
            text-decoration: none !important;
            color: $highlight-bright-blue !important;
          }
        }
        .notf-date {
          color: $medium-grey;
          @include desc-font-2 ();
          font-size: 1.2rem !important;
          margin-top: .5rem;
        }
      }
      .inner-text {
        color: $dark-grey;
        padding: .2rem 0;
        line-height: 1.7rem;
      }
    }
    .not-seen {
      .notification-container {
        background-color: rgba(241, 241, 241, 0.53);
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}