.profile-social-links {
    margin-top: 15px;
    .social-container {
        width: 20%;
    }
    li {
        display: inline-block;
        text-align: center;
        vertical-align: top;
    }
    i.fa-star {
        font-size: 12px;
        color: $blue;
        display: none;
        margin-top: 5px;
    }




    // this all needs major cleanup
     a.social {
        position:relative;
        text-align:center;
        padding:15px;
        width: 35px;
        height: 35px;
        color:#FFFFFF;
        border-top-right-radius:    20px;
        border-top-left-radius:     20px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius:  20px; 
        -moz-border-radius:         20px 20px 20px 20px;
        -webkit-border-radius:      20px 20px 20px 20px;
        -khtml-border-radius:       20px 20px 20px 20px;    
        i {
            font-size:1.1rem;
            position:absolute;
            // left:5px;
            // top:11px;
        }
    }
   
    a.social {
        margin: 5px 0;
        cursor:pointer;
        background:$shade-4;
        color:#fff;
        &.hackster,
        &.instruct,
        &.hackday {
            padding: 5px;
        }
        &.github,
        &.gitlab,
        &.twitch,
        &.stack
         {
            padding: 5px;   
            img {
                -webkit-filter: invert(1);
                filter: invert(1);
            }
        }
        &.twitch {
            img {
                width: 80%;
                padding-top: 3px;
            }
        }
        &.thingy {
            padding: 5px;
        }
    
    }
    a.social:hover {
        &.fb {
            background-color: #014c8c;
        }
        &.tw {
            background-color: #33ccff;
        }
        &.pin {
            background-color: #cc2127;
        }
        &.ut {
            background-color: #cc2127;            
        }
        &.ln {
            background-color: #014c8c;
        }
        &.in {
            background:
            radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%),
            radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
            radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
            radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%),
            radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
            radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%),
            radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),
            linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
        }
        &.ext {
            background-color: #fff;
            border: 0.5px solid $shade-4;
        }
        &.github,
        &.gitlab,
        &.twitch,
        &.stack {
            background-color: #fff;
            border: 0.5px solid $shade-4;  
            img {
                -webkit-filter: invert(0);
                filter: invert(0);
            }
        }
        &.hackster,
        &.instruct,
        &.hackday,
        &.thingy {
            background-color: #fff;
            border: 0.5px solid $shade-4;  
            img {
                -webkit-filter: invert(1);
                filter: invert(1);
            }
        }
    }
}