social-stats {
  position: absolute;
  bottom: 0;
}
.social-stat-group {
  .showcase-date {
    .update-date {
      color: $light-grey;
    }
  }

  .social-stat, li {
    display: inline-block;
    margin-right: 1rem;

    &.fl-r {
      float: right;
      margin-right: 0;
      margin-left: 1rem;
    }
  }
}