<!--<div class="mark-unseen" (click)="MarkAsSeen(0)" *ngIf="notification.seen && notification.seen == 1">
    Mark as unseen
</div>
<div class="mark-seen" (click)="MarkAsSeen(1)" *ngIf="!notification.seen || notification.seen != 1">
    Mark as seen
</div>-->
<!--(click)="OpenNotification()"-->
<div class="notification-container" *ngIf="notification">
    <div class="notification-item wrapper d-flex d-row" *ngIf="notification.type == 'project_is_featured_on_the_home_page'">
        <div class="media wrapper d-flex d-row message-info w-100">
            <div class="media-left">
                <a>
                    <img class="d-flex mr-3" src="{{notification.profile_photo}}" alt="" class="img-responsive">
                </a>
            </div>
            <div class="media-body">
                <span>We featured your project </span>
                <span class="link">{{notification.title}}</span>
                <span> on the home page.</span><br>
                <p class="notf-date">{{notification.date}}</p>
            </div>
            <div class="delete">
                <a class="lnr lnr-trash delete-message" (click)="deleteNotifications()"></a>
            </div>
        </div>
    </div>
    <div class="notification-item wrapper d-flex d-row" *ngIf="notification.type == 'new_project_likes'">
        <div class="media wrapper d-flex d-row message-info w-100">
            <div class="media-left">
                <a>
                    <img class="d-flex mr-3" src="{{notification.profile_photo}}" alt="" class="img-responsive">
                </a>
            </div>
            <div class="media-body">
                <span class="link" (click)="OpenNotification(notification.uid)">{{notification.username}}</span>
                <span> added a lightbulb to </span>
                <span class="link">{{notification.title}}</span>.
            </div>
            <div class="delete">
                <a class="lnr lnr-trash delete-message" (click)="deleteNotifications()"></a>
            </div>
        </div>
    </div>
    <div class="notification-item wrapper d-flex d-row" *ngIf="notification.type == 'new_comment_project'">
        <div class="media wrapper d-flex d-row message-info w-100">
            <div class="media-left">
                <a>
                    <img class="d-flex mr-3" src="{{notification.profile_photo}}" alt="" class="img-responsive">
                </a>
            </div>
            <div class="media-body">
                <span class="link" (click)="OpenNotification(notification.uid)">{{notification.username}}</span>
                <span> you some feedback on </span>
                <span class="link">{{notification.title}}</span>.<br>
                <p class="notf-date">{{notification.date}}</p>
            </div>
            <div class="delete">
                <a class="lnr lnr-trash delete-message" (click)="deleteNotifications()"></a>
            </div>
        </div>
    </div>
    <div class="notification-item wrapper d-flex d-row" *ngIf="notification.type == 'project_added_to_showcase'">
        <div class="media wrapper d-flex d-row message-info w-100">
            <div class="media-left">
                <a>
                    <img class="d-flex mr-3" src="{{notification.profile_photo}}" alt="" class="img-responsive">
                </a>
            </div>
            <div class="media-body">
                <span> We featured your</span>
                <span class="link">{{notification.title}}</span>
                <span> in</span>
                <span class="link" (click)="OpenNotification(notification.showcase_nid)"> {{notification.showcase_title}}</span>.<br>
                <p class="notf-date">{{notification.date}}</p>
            </div>
            <div class="delete">
                <a class="lnr lnr-trash delete-message" (click)="deleteNotifications()"></a>
            </div>
        </div>
    </div>
    <div class="notification-item wrapper d-flex d-row" *ngIf="notification.type == 'challenge_follow_deadline'">
        <div class="media wrapper d-flex d-row message-info w-100">
            <div class="media-left">
                <a>
                    <img class="d-flex mr-3" src="{{notification.profile_photo}}" alt="" class="img-responsive">
                </a>
            </div>
            <div class="media-body">
                <span class="link">{{notification.title}}</span>
                <span> will close in 5 days.</span>
            </div>
            <div class="delete">
                <a class="lnr lnr-trash delete-message" (click)="deleteNotifications()"></a>
            </div>
        </div>
    </div>
    <div class="notification-item wrapper d-flex d-row" *ngIf="notification.type == 'project_collaborator_added'">
        <div class="media wrapper d-flex d-row message-info w-100">
            <div class="media-left">
                <a>
                    <img class="d-flex mr-3" src="{{notification.profile_photo}}" alt="" class="img-responsive">
                </a>
            </div>
            <div class="media-body">
                <span class="link" (click)="OpenNotification(notification.uid)">{{notification.username}}</span>
                <span>&nbsp;added you as a collaborator on </span>
                <span class="link">{{notification.title}}</span>.<br>
                <p class="notf-date">{{notification.date}}</p>
            </div>
            <div class="delete">
                <a class="lnr lnr-trash delete-message" (click)="deleteNotifications()"></a>
            </div>
        </div>
    </div>
    <div class="notification-item wrapper d-flex d-row" *ngIf="notification.type == 'new_entry_challenge_follow'">
        <div class="media wrapper d-flex d-row message-info w-100">
            <div class="media-left">
                <a>
                    <img class="d-flex mr-3" src="{{notification.profile_photo}}" alt="" class="img-responsive">
                </a>
            </div>
            <div class="media-body">
                <span class="link" (click)="OpenNotification(notification.uid)">{{notification.username}}</span>
                <span>just entered a project in </span>
                <span class="link">{{notification.title}}</span>.<br>
                <p class="notf-date">{{notification.date}}</p>
            </div>
            <div class="delete">
                <a class="lnr lnr-trash delete-message" (click)="deleteNotifications()"></a>
            </div>
        </div>
    </div>
    <div class="notification-item wrapper d-flex d-row" *ngIf="notification.type == 'new_message_sent'">
        <div class="media wrapper d-flex d-row message-info w-100">
            <div class="media-left">
                <a>
                    <img class="d-flex mr-3" src="{{notification.profile_photo}}" alt="" class="img-responsive">
                </a>
            </div>
            <div class="media-body">
                <span class="link" (click)="OpenNotification(notification.uid)">{{notification.username}}</span>
                <span> sent you a </span>
                <span class="link">message</span>.<br>
                <p class="notf-date">{{notification.date}}</p>
            </div>
            <div class="delete">
                <a class="lnr lnr-trash delete-message" (click)="deleteNotifications()"></a>
            </div>
        </div>
    </div>
</div>