<div *ngIf="challenges.length==0">
  <h3>You haven't entered any missions yet.</h3><br>
  <p>Head over to <a [routerLink]="['/missions']">the missions page</a>, and see if you find anything of interest.<br> As soon
    as you enter any missions, they will show up here.</p>
</div>
<div *ngIf="challenges.length>0">

  <table class="table">
    <thead>
      <tr>
        <th>Project Name</th>
        <th>Challenge Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let challenge of challenges">
        <td [routerLink]="['/projects/',challenge.project_nid]" *ngIf="challenge.project_name"><span>{{challenge.project_name}}</span></td>
        <td [routerLink]="['/missions/',challenge.challenge_nid]" *ngIf="challenge.challenge_name"><span>{{challenge.challenge_name}}</span></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="text-center">
  <div class="button-container-main-2" *ngIf="!hideloadmoreentries">
    <a class="btn btn-main-2" (click)="loadMoreEntries()">Load more</a>
  </div>
</div>