<section class="carousel-slider">
  <div class="carousel-slider-slick">
    <div class="carousel-img-container" *ngFor="let image of images">
      <img class="img-fluid" src="{{image.src}}" alt="" />
    </div>
    <div class="carousel-img-container">
      <img class="img-fluid" src="./assets/images/slider/Maker-Share-Intro-2.jpg" alt="" />
    </div>
    <div class="carousel-img-container">
      <img class="img-fluid" src="./assets/images/slider/Maker-Share-Intro-3.jpg" alt="" />
    </div>
    <div class="carousel-img-container">
      <img class="img-fluid" src="./assets/images/slider/Maker-Share-Intro-4.jpg" alt="" />
    </div>
    <div class="carousel-img-container">
      <img class="img-fluid" src="./assets/images/slider/Maker-Share-Intro-7.jpg" alt="" />
    </div>
    <div class="carousel-img-container">
      <img class="img-fluid" src="./assets/images/slider/Maker-Share-Intro-8.jpg" alt="" />
    </div>
    <div class="carousel-img-container">
      <img class="img-fluid" src="./assets/images/slider/Maker-Share-Intro-9.jpg" alt="" />
    </div>
    <div class="carousel-img-container">
      <img class="img-fluid" src="./assets/images/slider/Maker-Share-Intro-10.jpg" alt="" />
    </div>
    <div class="carousel-img-container">
      <img class="img-fluid" src="./assets/images/slider/Maker-Share-Intro-13.jpg" alt="" />
    </div>
    <div class="carousel-img-container">
      <img class="img-fluid" src="./assets/images/slider/Maker-Share-Intro-16.jpg" alt="" />
    </div>
    <div class="carousel-img-container">
      <img class="img-fluid" src="./assets/images/slider/Maker-Share-Intro-18.jpg" alt="" />
    </div>
    <div class="carousel-img-container">
      <img class="img-fluid" src="./assets/images/slider/Maker-Share-Intro-19.jpg" alt="" />
    </div>
    <div class="carousel-img-container">
      <img class="img-fluid" src="./assets/images/slider/Maker-Share-Intro-20.jpg" alt="" />
    </div>
    <div class="carousel-img-container">
      <img class="img-fluid" src="./assets/images/slider/Maker-Share-Intro-21.jpg" alt="" />
    </div>
    <div class="carousel-img-container">
      <img class="img-fluid" src="./assets/images/slider/Maker-Share-Intro-22.jpg" alt="" />
    </div>
    <div class="carousel-img-container">
      <img class="img-fluid" src="./assets/images/slider/Maker-Share-Intro-25.jpg" alt="" />
    </div>
    <div class="carousel-img-container">
      <img class="img-fluid" src="./assets/images/slider/Maker-Share-Intro-26.jpg" alt="" />
    </div>
    <div class="carousel-img-container">
      <img class="img-fluid" src="./assets/images/slider/Maker-Share-Intro-30.jpg" alt="" />
    </div>
    <div class="carousel-img-container">
      <img class="img-fluid" src="./assets/images/slider/Maker-Share-Intro-31.jpg" alt="" />
    </div>
    <div class="carousel-img-container">
      <img class="img-fluid" src="./assets/images/slider/Maker-Share-Intro-35.jpg" alt="" />
    </div>
  </div>
</section>