<section class="banner">
  <div *ngIf="sliders">
    <ngb-carousel>
      <template ngbSlide *ngFor="let slider of sliders">
        <img *ngIf="slider.cover_photo" class="first-slide" src="{{slider.cover_photo}}" alt="First slide">
        <img *ngIf="slider.promo_image" class="first-slide" src="{{slider.promo_image}}" alt="First slide">
        <div class="card-container">
          <div class="carousel-caption d-none d-md-block card">
            <h2 *ngIf="slider.title" [innerHTML]="slider.title"></h2>
            <h2 *ngIf="slider.promo_headline">{{slider.promo_headline}}</h2>
            <p *ngIf="slider.promo_description">{{slider.promo_description}}</p>
            <div class="card-buttons button-container-main-1">
              <a class="btn btn-main" (click)="loadMoreData(slider.nid,slider.type)">Read more </a>

            </div>
          </div>
        </div>
      </template>
    </ngb-carousel>
  </div>
</section>

