<section class="page-showcase">
  <div class="region region-content">
    <header class="showcase-header">
      <div class="container">
        <h3 class="page-header">Showcases</h3>
      </div>
    </header>
    <div class="filters">
      <div class="container">
        <div class="row justify-content-end align-items-center">
          <div class="entries-count btn">
            <p *ngIf="showcaseCount==1">{{showcaseCount}} Showcase</p>
            <p *ngIf="showcaseCount>1">{{showcaseCount}} Showcases</p>
          </div>
          <showcase-sorting (sortType)="getSortType($event)"> </showcase-sorting>
        </div>
      </div>
    </div>
    <!-- End filters -->
    <div class="container showcases-container">
      <div class="showcase-card-backlayer container" *ngFor="let showcase of showcases">
      <app-showcase-card [showcaseNid]="showcase.nid"></app-showcase-card>
      </div>
      <!-- End col-md-6 -->
    </div>
  </div>
  <div class="text-center">
    <div *ngIf="!hideloadmore" class="button-container-main-2">
      <a *ngIf="!hideloadmore" class="btn btn-main-2" (click)="loadmore()">Load more</a>
    </div>
  </div>
</section>