            <a class="btn btn-transparent delete" (click)=" deleteMessages()">Delete</a>

<table class="table">
  <thead>
    <tr>
      <th>Project Name</th>
    </tr>
  </thead>
  <tbody>

    <tr *ngFor="let project of projects let i=index;">
             <div class="select" *ngIf="project">
          <input type="checkbox" value="{{project.nid}}" (change)="valueChanged(project.nid,$event)">
        </div>
      <td *ngIf="project">{{project.project_name}}</td>
       <div class="delete">
            <a  class="fa fa-2x fa-trash delete-message" (click)="deleteMessage(i)"></a>
          </div>
    </tr>
  </tbody>
</table>