<div>
  <div (click)="currentFormTab = 'Basic Info'">Basic Info</div>
  <div (click)="currentFormTab = 'About Us'">About Us</div>
  <div (click)="currentFormTab = 'Products'">Products</div>
</div>

<button class="btn-primaty" (click)="publishButtonClick()">Publish</button>

<div *ngIf="organizationReady">
  <app-org-form-basic-info *ngIf="currentFormTab == 'Basic Info'" [organizationForm]="organizationForm"></app-org-form-basic-info>
  <app-org-form-about-us *ngIf="currentFormTab == 'About Us'" [organizationForm]="organizationForm"></app-org-form-about-us>
  <app-org-form-projects *ngIf="currentFormTab == 'Products'" [organizationForm]="organizationForm"></app-org-form-projects>
</div>