<div id="search-box-layer">
  <span (click)="closeSearchBox()" class="lnr lnr-cross close-search-layer" aria-hidden="true"></span>
  <div class="text-center" id="search-box-form" (click)="searchbox.focus()">
    <h3>Search Anything</h3>
    <div class="search-form-group">
      <form (keydown)="keyDownFunction($event)">
        <input [(ngModel)]="searchQuery" type="text" (input)="searchQuery = $event.target.value" name="searchQuery" #searchBox id="search-box-input"/>
        <span (click)="goSearch()" class="lnr lnr-chevron-right go-search" aria-hidden="true"></span>
      </form>
    </div>
  </div>
</div>