<div class="row project-body">
  <div class="region region-content col-lg-8 col-md-12">
    <div class="how-to-tab">
      <div class="project-body-content">
        <p *ngIf="project.field_how_to?.value" [innerHTML]="project.field_how_to?.value" ></p>
        <p *ngIf="!project.field_how_to?.value" class="text-center" >There is no content available!</p>
      </div>
    </div>
  </div>
  <aside class="side-bar col-lg-4 col-md-12">
    <div class="sidebar-container">
      <div class="how-to-sidebar">
        <div class="difficulty-duration" *ngIf="project.field_difficulty || project.field_duration">
          <p>Difficulty + Duration</p>
          <span>{{project.field_difficulty}} - {{project.field_duration}}</span>
        </div>
        <div class="tools-kits" *ngIf="project.field_tools || project.field_parts || project.field_materials || project.field_resources.length != 0">
          <ul class="list-group tools" *ngIf="project.field_tools">
            <p>Tools</p>
            <li class="list-group-item" *ngFor="let tool of project.field_tools; let i=index">
              <span class="count">{{tool.tool_quantity}}</span>
              <span class="item">
                <a *ngIf="tool.tool_url" href="{{tool.tool_url}}">{{tool.tool_name}}</a>
                <span *ngIf="!tool.tool_url">{{tool.tool_name}}</span>
              </span>
            </li>
          </ul>
          <hr *ngIf="project.field_parts">
          <ul class="list-group boards-kits" *ngIf="project.field_parts">
            <p>Boards + Kits</p>
            <li class="list-group-item" *ngFor="let part of project.field_parts; let i=index">
              <span class="count">{{part.part_quantity}}</span>
              <span class="item">
                <a *ngIf="part.part_url" href="">{{part.part_name}}</a>
                <span *ngIf="!part.part_url">{{part.part_name}}</span>
              </span>
            </li>
          </ul>
          <hr *ngIf="project.field_materials">
          <ul class="list-group materials" *ngIf="project.field_materials">
            <p>Materials</p>
            <li class="list-group-item" *ngFor="let material of project.field_materials; let i=index">
              <span class="count">{{material.material_quantity}}</span>
              <span class="item"> {{material.material_id}}</span>
            </li>
          </ul>
          <hr *ngIf="project.field_resources.length != 0">
          <ul *ngIf="project.field_resources.length != 0" class="list-group resources">
            <p>Resources</p>
            <li class="list-group-item" *ngFor="let resource of project.field_resources; let i=index">
              <a href="{{resource.resource_file}}">{{resource.term_name}} - {{resource.extension}} - {{resource.filesize}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </aside>
</div>