<div class="region region-content col-sm-8" [formGroup]="YourStoryForm">
  <div class="your-story">
    <div class="form-group projectName">
      <label for="projectName">Project Name</label>
      <input type="text" class="form-control" id="projectName" formControlName="title" novalidate placeholder="What do you call your project?"
        ngbTooltip="{{TooltipText.project_name.guide}}" validate-onfocusout>
      <div *ngIf="formErrors.title && YourStoryForm.controls.title.touched" class="alert alert-danger error-msg">
        {{ formErrors.title }}
      </div>
    </div>
    <div class="form-group">
      <label for="teaser">Teaser</label>
      <textarea maxlength="250" class="form-control" rows="5" id="teaser" formControlName='field_teaser' ngbTooltip="{{TooltipText.teaser.guide}}"></textarea>
    </div>
    <span class="words-count">{{YourStoryForm.value.field_teaser.length}}\250</span>
    <div *ngIf="formErrors.field_teaser" class="alert alert-danger error-msg">
      {{ formErrors.field_teaser }}
    </div>
    <div class="form-group cover d-flex flex-column">
      <label class="control-label">Cover photo</label><br>
      <div class="align-items-start">
        <a (click)="OpenCoverImageModal(coverimagemodal)" id="cover-upload-link" class="btn btn-white btn-sharp" ngbTooltip="{{TooltipText.cover_image.guide}}">Choose</a>
        <!--<input id="cover-upload" type="file" class="file" placeholder="Cover" (change)="ImageUpdated($event)" >-->
        <div class="image-preview">
          <p *ngIf="!YourStoryForm.value.field_cover_photo.file">choose a photo that is at least 600 x 400 px</p>
          <img *ngIf="YourStoryForm.value.field_cover_photo.file" [src]="YourStoryForm.value.field_cover_photo.file" class="img-responsive">
        </div>
      </div>
      <div *ngIf="formErrors.field_cover_photo" class="alert alert-danger error-msg">
        {{ formErrors.field_cover_photo }}
      </div>
    </div>
    <div class="form-group projectCategory d-flex flex-column">
      <label for="projectCategory" class="">Categories</label>
      <div class="categories-group d-flex flex-row row">
        <div class="col-md-4">
          <select #parentcategory class="form-control" type="text" class="form-control" id="projectCategoryParent" (change)="SelectTerm($event.target.value,'parent')">
            <option disabled selected value="_none_" > -- select an option -- </option>
            <option *ngFor="let parent_category of project_categories_parents; let i=index" value="{{parent_category.tid}}" [innerHTML]="parent_category.name"></option>
          </select>
        </div>
        <div class="col-md-4">
          <select *ngIf="current_parent_category" class="form-control" type="text" class="form-control" id="projectCategoryChildren"
            (change)="SelectTerm($event.target.value,'child')" ngbTooltip="{{TooltipText.category.guide}}">
            <option disabled selected value > -- select an option -- </option>
            <option *ngFor="let child_category of child_categories; let i=index" value="{{child_category.tid}}" [innerHTML]="child_category.name"></option>
            </select>
        </div>
        <div *ngIf="current_child_category" (click)="SetCategories(parentcategory)" class="btn btn-main add-cate col-md-2">add</div>
      </div>
    </div>
    <div class="d-flex flex-column cate-list row">
      <div *ngIf="formErrors.field_categories" class="alert alert-danger error-msg col-md-12">
        {{ formErrors.field_categories }}
      </div>
      <div *ngIf="project.field_categories.und" class="cate-list">
        <div *ngFor="let selected_cate of project.field_categories.und; let i=index">
          <div *ngFor="let cate of all_categories" class="">
            <p *ngIf="cate.parent_tid && selected_cate == cate.tid" class="cate-name list-group-item">
              <span [innerHTML]="cate.parentName"></span> &nbsp; > &nbsp; <span [innerHTML]="cate.name"></span>
              <i class="remove-cate ml-auto fa fa-lg fa-times" (click)="RemoveCategory(cate.tid,cate.parent_tid)" aria-hidden="true"></i>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group project-story">
      <label for="project-story">Story</label>
      <ckeditor rows="5" id="project-story" [config]="{extraPlugins: 'divarea'}" formControlName='field_story' ngbTooltip="{{TooltipText.story.guide}}"></ckeditor>
      <div *ngIf="formErrors.field_story" class="alert alert-danger error-msg">
        {{ formErrors.field_story }}
      </div>
    </div>
    <div class="form-group show-tell">
      <label for="show-tell">{{TooltipText.show_tell.guide}} (Optional)</label>
      <input type="text" class="form-control" id="show-tell" placeholder="Share a 'Show \& Tell' video." formControlName='field_show_tell_video'>
      <div *ngIf="formErrors.field_show_tell_video" class="alert alert-danger error-msg">
        {{ formErrors.field_show_tell_video }}
      </div>
    </div>
    <div class="form-group aha">
      <label for="aha">{{TooltipText.aha_moment.guide}} (optional)</label>
      <input maxlength="350" type="text" class="form-control" id="aha" placeholder="Aha! moment" formControlName='field_aha_moment'>
      <span class="words-count">{{YourStoryForm.value.field_aha_moment.length}}\350</span>
      <div *ngIf="formErrors.field_aha_moment" class="alert alert-danger error-msg">
        {{ formErrors.field_aha_moment }}
      </div>
    </div>

    <div class="form-group uh-oh">
      <label for="uh-oh">{{TooltipText.uh_oh_moment.guide}} (optional)</label>
      <input maxlength="350" type="text" class="form-control" id="uh-h" placeholder="Uh-oh! moment" formControlName='field_uh_oh_moment'>
      <span class="words-count">{{YourStoryForm.value.field_uh_oh_moment.length}}\350</span>

      <div *ngIf="formErrors.field_uh_oh_moment" class="alert alert-danger error-msg">
        {{ formErrors.field_aha_moment }}
      </div>
    </div>

    <div class="form-group projectTags">
      <label for="projectTags">Tags</label>
      <tag-input type="text" class="form-control" id="projectTags" placeholder="Tags" formControlName='field_tags' [modelAsStrings]="true"
        [(ngModel)]="tags" ngbTooltip="{{TooltipText.tags.guide}}"></tag-input>
    </div>
  </div>
  <!-- End your-story -->
</div>
<!--side bar help text-->
<aside class="col-md-4">
  <div class="your-story-guide">
    <br>
    <div class="guideline">
      <div class="pull-left question-mark"><i class="fa fa-2x fa-question-circle"></i></div>
      <div class="pull-left content">
        <h4>{{sidebarText.projectName.title}}</h4>
        <p>{{sidebarText.projectName.guide}}</p>
      </div>
    </div>
    <div class="guideline">
      <div class="pull-left question-mark"><i class="fa fa-2x fa-question-circle"></i></div>
      <div class="pull-left content">
        <h4>{{sidebarText.teaser.title}}</h4>
        <p>{{sidebarText.teaser.guide}}</p>
      </div>
    </div>
    <div class="guideline">
      <div class="pull-left question-mark"><i class="fa fa-2x fa-question-circle"></i></div>
      <div class="pull-left content">
        <h4>{{sidebarText.cover_image.title}}</h4>
        <p>{{sidebarText.cover_image.guide}}</p>
      </div>
    </div>
    <div class="guideline">
      <div class="pull-left question-mark"><i class="fa fa-2x fa-question-circle"></i></div>
      <div class="pull-left content">
        <h4>{{sidebarText.category.title}}</h4>
        <p>{{sidebarText.category.guide}}</p>
      </div>
    </div>
    <div class="guideline">
      <div class="pull-left question-mark"><i class="fa fa-2x fa-question-circle"></i></div>
      <div class="pull-left content">
        <h4>{{sidebarText.story.title}}</h4>
        <p>{{sidebarText.story.guide}}</p>
      </div>
    </div>
    <div class="guideline">
      <div class="pull-left question-mark"><i class="fa fa-2x fa-question-circle"></i></div>
      <div class="pull-left content">
        <h4>{{sidebarText.show_tell.title}}</h4>
        <video width="250" height="150" controls>
          <source src="/assets/videos/show_tell_video.mp4" type="video/mp4">
        </video>
      </div>
    </div>
    <div class="guideline">
      <div class="pull-left question-mark"><i class="fa fa-2x fa-question-circle"></i></div>
      <div class="pull-left content">
        <h4>{{sidebarText.aha.title}}</h4>
        <p>{{sidebarText.aha.guide}}</p>
      </div>
    </div>
    <div class="guideline">
      <div class="pull-left question-mark"><i class="fa fa-2x fa-question-circle"></i></div>
      <div class="pull-left content">
        <h4>{{sidebarText.uh.title}}</h4>
        <p>{{sidebarText.uh.guide}}</p>
      </div>
    </div>
    <div class="guideline">
      <div class="pull-left question-mark"><i class="fa fa-2x fa-question-circle"></i></div>
      <div class="pull-left content">
        <h4>{{sidebarText.tags.title}}</h4>
        <p>{{sidebarText.tags.guide}}</p>
      </div>
    </div>
  </div>
</aside>


<!--Cover image modal-->
<template #coverimagemodal let-c="close" let-d="dismiss" ngbModalContainer>
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
		<ul class="list-unstyled">
			<li class="upload" (click)="PhotoModalTab = 'upload'"><a class="btn btn-transparent" [ngClass]="{'active':PhotoModalTab == 'upload'}">Upload</a></li>
			<li class="your-photos" (click)="PhotoModalTab = 'filemanager'"><a class="btn btn-transparent" [ngClass]="{'active':PhotoModalTab == 'filemanager'}">Your Photos</a></li>
		</ul>
		<span class="info uplad">
      <p>DID YOU KNOW?</p>
      <p>You can also add images from your phone and they will be available here under "Your Photos"</p>
		</span>
  </div>
  <div class="modal-body">
    <div [hidden]="PhotoModalTab != 'upload'" ng2FileDrop class="upload-tab pull-left" (ng2FileDropFileAccepted)="dragFileAccepted($event,cropper)">
			<!--<img *ngIf="!imagedata.original" src="./assets/images/Drag_Drop.png" alt="">-->
			<img-cropper #imagecropper [image]="imagedata" [settings]="cropperSettings"></img-cropper><br>
			<div>
				<p>Drag a photo here</p>
				<p>or</p>
			</div>
			<a class="btn btn-white" (click)="file.click()">
				Select a photo from your computer
				<input id="custom-upload" class="hidden-xs-up" type="file" #file (change)="UploadBtn($event,imagecropper)">
			</a>
		</div>
		<app-file-browser *ngIf="PhotoModalTab == 'filemanager'" (emitter)="SelectFileAndSave(closebtn,$event)"></app-file-browser>
  </div>
  <div class="modal-footer">
    <button #closebtn type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
    <button *ngIf="PhotoModalTab == 'upload'" type="button" class="btn btn-primary" (click)="ImageUpdated(closebtn,true)">Skip</button>
    <button *ngIf="PhotoModalTab == 'upload'" type="button" class="btn btn-primary" (click)="ImageUpdated(closebtn,false)">Save</button>
  </div>
</template>