<div class="container conversation-container">
      <i class="fa fa-lg fa-close close"></i>
      <div class="delete-actions">
        <a href="" class="btn btn-transparent">Block</a> - 
        <a href="" class="btn btn-transparent">Delete</a>
      </div>
      <h3 class="message-subject">Message Subject</h3>
      <ul class="list-unstyled conversation">
        <li class="single-message">
          <div class="media message-info">
            <div class="media-left">
              <a href="#">
                <img class="media-object" src="http://placehold.it/150x150" alt="" class="img-responsive">
              </a>
            </div>
            <div class="media-body">
              <p class="sender"><a href="">First Lastname</a> sent you a message</p>
              <p class="timestamp">3 days ago</p>
            </div>
          </div>
          <div class="message-body">
            <p>Flexitarian sustainable chia tacos. Ethical tacos glossier hexagon, asymmetrical activated charcoal gentrify church-key crucifix fap sriracha pop-up ugh squid bicycle rights. Photo booth food truck before they sold out, franzen  exillologist butcher swag keytar.</p>
            <p>Occupy hella post-ironic franzen disrupt mumblecore blog, plaid iceland fixie flannel tofu  elvage direct trade hot chicken. Raclette etsy yr hammock, skateboard brooklyn pabst celiac pop-up pickled bushwick istillery aesthetic.</p>
          </div>
        </li>
        <li class="single-message">
          <div class="media message-info">
            <div class="media-left">
              <a href="#">
                <img class="media-object" src="http://placehold.it/150x150" alt="" class="img-responsive">
              </a>
            </div>
            <div class="media-body">
              <p class="sender"><a href="">First Lastname</a> sent you a message</p>
              <p class="timestamp">3 days ago</p>
            </div>
          </div>
          <div class="message-body">
            <p>Flexitarian sustainable chia tacos. Ethical tacos glossier hexagon, asymmetrical activated charcoal gentrify church-key crucifix fap sriracha pop-up ugh squid bicycle rights. Photo booth food truck before they sold out, franzen  exillologist butcher swag keytar.</p>
            <p>Occupy hella post-ironic franzen disrupt mumblecore blog, plaid iceland fixie flannel tofu  elvage direct trade hot chicken. Raclette etsy yr hammock, skateboard brooklyn pabst celiac pop-up pickled bushwick istillery aesthetic.</p>
          </div>
        </li>
      </ul>
      <div class="reply-area">
        <p class="reply">Reply</p>
        <textarea name="" id="" cols="30" rows="5"></textarea>
        <ul class="list-unstyled send-actions">
          <li><a href="" class="btn btn-transparent">Cancel</a></li>
          <li><a href="" class="btn btn-blue btn-sharp">Send</a></li>
        </ul>
      </div>
    </div>