<div class="container conversation-container" *ngIf="msg">
      <i class="fa fa-lg fa-close close" (click)="previousUrl()"></i>
      <div class="delete-actions">
        <a class="btn btn-transparent" *ngIf="!blockedUser" (click) = "blockUser()">Block</a> 
        <a class="btn btn-transparent" *ngIf="!unBlockedUser" (click) = "unBlockUser()">UnBlock</a> - 
        <a class="btn btn-transparent" (click)="previousUrl()" (click)="deleteThread()">Delete</a>
      </div>
      <h3 class="message-subject">{{msg.subject}}</h3>
        <ul class="list-unstyled conversation">
          <div>
            <li class="single-message" *ngFor="let message of messages">
              <div class="media message-info">
                <div class="media-left">
                  <a href="#">
                    <img class="media-object" src="{{message.user_photo}}" alt="" >
                  </a>
                </div>
                <div class="media-body">
                  <p class="sender"><a href="">{{message?.first_name}} {{message?.last_name}}</a> </p>
                  <p class="timestamp" *ngIf="message.timestamp < 1" > a few seconds ago  </p>
                  <p class="timestamp" *ngIf="message.timestamp >= 1 && message.timestamp < 60" >{{message.timestamp}} minutes ago </p>
                  <p class="timestamp" *ngIf="message.timestamp >= 60 && message.timestamp < 1440 " >{{message.timestamp/60 | number : '1.0-0'}} hours ago</p>
                  <p class="timestamp" *ngIf="message.timestamp < 10080 && message.timestamp >= 1440 " >{{message.timestamp/(24*60) | number : '1.0-0'}} days ago</p>
                  <!--<p class="timestamp" *ngIf="message.timestamp >168 " >{{message.timestamp | date}} </p>-->
                  
                </div>
              </div>
              <div class="message-body">
                <p>{{message?.body}}</p>
              </div>
            </li>
          </div>
        </ul>
        <form [formGroup]="messageForm" (ngSubmit)="onSubmit($event)">
          <div class="reply-area">
            <p class="reply">Reply</p>
            <div>
                <textarea name="body" id="" cols="30" rows="5" formControlName="body"></textarea>
            </div>
            <div *ngIf="formErrors.body" class="alert alert-danger">
                          {{ formErrors.body }}
                        </div>
            <ul class="list-unstyled send-actions">
              <li><button type="button" class="btn btn-transparent" (click)="cancel()">Cancel</button></li>
              <li><button  type="submit" class="btn btn-blue btn-sharp">Send</button></li>
            </ul>
          </div>
        </form>
    </div>