<div class="container" *ngIf="!IsLoading">
  <div class="row  single-object-page ">
    <div class="col-md-12">
      <div class="navigation d-flex align-items-center flex-row w-100">
        <div class="mr-auto ">
          <button class="button-pre" style="vertical-align:middle" *ngIf="CurrentObjectIndex != 0" (click)="GoToIndex(CurrentObjectIndex-1)"> <span> Previous </span> </button>
        </div>

        <ul class="nav-item dropdown hamburger-menu">
          <a href="#" class="nav-link dropdown-toggle navbar-left flex-column" data-toggle="dropdown" data-target="makerMenu" role="button"
            aria-haspopup="true" aria-expanded="false">
            <img src="./assets/images/icons/hamburger.png" alt="">
          </a>
          <div class="dropdown-menu " id="makerMenu" aria-labelledby="makerMenu">
            <!--<a class="close-hamburger"><img src="./assets/images/icons/close.png"></a>-->
            <ul class="list-unstyled content-list">
              <li class="dropdown-item" *ngFor="let object of ObjectsList;let i = index" (click)="GoToIndex(i)">
                <a *ngIf="object.lesson_name" [ngClass]="{'highlight':CurrentObjectIndex == i}" [innerHTML]="object.lesson_name"></a>
              </li>
            </ul>
          </div>
        </ul>

        <div *ngIf="CurrentObject" class="nav-title">
          <div [innerHTML]="CurrentObject.object_title"> </div>
        </div>

        <div class="ml-auto">
          <button class="button" style="vertical-align:middle" *ngIf="CurrentObjectIndex != ObjectsList.length-1" (click)="GoToIndex(CurrentObjectIndex+1)"> <span> Next </span> </button>
        </div>
      </div>
      <div class="object-view-container">
      <app-object-view *ngIf="CurrentObject" [CurrentObject]="CurrentObject"></app-object-view>
      </div>
    </div>
    <aside class="col-md-3 object-title-list ml-auto">

    </aside>
  </div>
</div>