<div class="row" *ngIf="!IsLoading">
  <div class="container">
    
    <div *ngIf="CurrentObjectIndex != 0" (click)="GoToIndex(CurrentObjectIndex-1)">
      previous
    </div>
    <div *ngIf="CurrentObjectIndex != ObjectsList.length-1" (click)="GoToIndex(CurrentObjectIndex+1)">
      next
    </div>

    <app-object-view *ngIf="CurrentObject" [CurrentObject]="CurrentObject"></app-object-view>

  <!--<aside class="col-md-2 list-position">-->
            <!---->
            <!--<ul class="list-unstyled content-list">-->
              <!--Contents:-->
              <!--<div *ngFor="let object of objectsList;">-->
                <!--<li>-->
                  <!---->
                    <!--<div [innerHTML]="objectsList.object_title"></div>-->
                  <!---->
                <!--</li>-->
              <!--</div>-->
            <!--</ul>-->
          <!--</aside>-->-->

</div>
 </div>


 